@import '../../../css/variables';

// TODO: Make this names following convention
$button-padding: 0.5rem 1.7rem !default;
$button-color: $c-text-on-dark !default;
$button-background-color: $c-green-primary !default;
$button-text-transform: uppercase !default;
$button-desktop-font-size: 1.125rem !default;
$button-mobile-font-size: 0.75rem !default;

$button--secondary-color: $c-text-on-dark !default;
$button--secondary-background-color: $c-dark-primary !default;

.sf-button {
  padding: $button-padding;
  font-size: $button-desktop-font-size;
  text-align: center;
  color: $button-color;
  background-color: $button-background-color;
  outline: none;
  border: none;
  text-transform: $button-text-transform;
  @media (min-width: $mobile-max) {
    padding: 0.9375rem 2.5rem;
    font-size: $button-mobile-font-size;
  }
  &--secondary {
    color: $button--secondary-color;
    background-color: $button--secondary-background-color; 
  }
  &--full-width {
    width: 100%;
  }
}
