@mixin color-modifiers($prefix: '-', $property: 'color') {
  @each $name, $hex in $colors {
    &#{$prefix}#{$name} {
      #{$property}: $hex;
    }
  }
}

@mixin space-modifiers($properties...) {
  @each $name, $space in $spaces {
    &#{$name}#{"--s"} {
      @for $i from 0 to length($properties) {
        @include for-mobile {
          #{nth($properties, $i + 1)}: $space;
        }
      }
    }
    &#{$name}#{"--t"} {
      @for $i from 0 to length($properties) {
        @include for-tablet {
          #{nth($properties, $i + 1)}: $space;
        }
      }
    }
    &#{$name}#{"--d"} {
      @for $i from 0 to length($properties) {
        @include for-desktop {
          #{nth($properties, $i + 1)}: $space;
        }
      }
    }
  }
}