<nav class="sf-pagination">
  <ul class="sf-pagination__list">
    <li class="sf-pagination__item">
      <a class="sf-pagination__link sf-pagination__link--prev"
        aria-label="Go to previous page"
        :disabled="currentPage < 2"
        @click="setCurrentPage(currentPage - 1)">
        <slot name="prev">
          <img src="../../../assets/chevron_left.svg" alt="Go to previous page" class="sf-pagination__icon"/>
        </slot>
      </a>
    </li>

    <template v-if="showFirst">
      <li class="sf-pagination__item">
        <a class="sf-pagination__link" @click="setCurrentPage(1)">
          1
        </a>
      </li>
      <li class="sf-pagination__item">
        ...
      </li>
    </template>

    <li v-for="number in limitedPageNumbers"
      :key="number"
      :class="[
        'sf-pagination__item',
        { 'sf-pagination__item--current': currentPage === number }
      ]">
      <a
        class="sf-pagination__link"
        @click="setCurrentPage(number)" v-if="currentPage !== number">
        {{ number }}
      </a>
      <slot name="current" v-else>
        {{ number }}
      </slot>
    </li>

    <template v-if="showLast">
      <li class="sf-pagination__item">
        ...
      </li>
      <li class="sf-pagination__item">
        <a class="sf-pagination__link" @click="setCurrentPage(numberOfPages)">
          {{ numberOfPages }}
        </a>
      </li>
    </template>

    <li class="sf-pagination__item">
      <a class="sf-pagination__link sf-pagination__link--next"
        aria-label="Go to next page"
        :disabled="currentPage > numberOfPages - 1"
        @click="setCurrentPage(currentPage + 1)">
        <slot name="next">
          <img src="../../../assets/chevron_right.svg" alt="Go to next page" class="sf-pagination__icon"/>
        </slot>
      </a>
    </li>
  </ul>
</nav>
