
// General color names
$c-green-primary: #5ECE7B;
$c-green-seconday: #9EE2B0;
$c-dark-primary: #1D1F22;
$c-dark-secondary: #737680;
$c-gray-primary: #A3A5AD;
$c-gray-secondary: #BEBFC4;
$c-light-primary: #F1F2F3;
$c-light-secondary: #FFFFFF;
$c-pink-primary: #F08C7D;
$c-pink-secondary: #FFF8F7;
$c-yellow-primary: #FFDE3B;
$c-yellow-secondary:#FFFCED;
$c-blue-primary: #6699CC;
$c-blue-secondary: #F5F7FA;
$c-black: #000000;
$c-white: #FFFFFF;

// Accent 
$c-accent-primary: $c-green-primary;
$c-accent-secondary: $c-green-seconday;

// Alerts
$c-info-text: $c-blue-primary;
$c-info-bg: $c-blue-secondary;
$c-warning-text: $c-yellow-primary;
$c-warning-bg: $c-yellow-secondary;
$c-error-text: $c-pink-primary;
$c-error-bg: $c-pink-secondary;

// Text
$c-text-primary: $c-dark-primary;
$c-text-secondary: $c-gray-secondary; 
$c-text-on-light: $c-black;
$c-text-on-dark: $c-white;

// Background
$c-bg-primary: $c-light-primary;
$c-bg-secondary: $c-light-secondary;

// Button 
$c-button-text-primary: $c-text-on-dark;
$c-button-bg-primary: $c-green-primary;
$c-button-text-secondary: $c-text-on-dark;
$c-button-bg-secondary: $c-dark-primary;