// Font family
$body-font-family-primary: 'Lora', serif;
$body-font-family-secondary: 'Roboto', sans-serif;

// Font weight

$body-font-weight-primary: 400;

// Base font size
$body-font-size-desktop: 1.125rem;
$body-font-size-mobile: 0.875rem;

// Heading font size
$h1-font-size-desktop: 2.25rem;
$h2-font-size-desktop: 1.5rem;
$h3-font-size-desktop: 1.125rem;
$h4-font-size-desktop: 1.125rem;
$h1-font-size-mobile: 1.125rem;
$h2-font-size-mobile: 1rem;
$h3-font-size-mobile: 1rem;
$h4-font-size-mobile: 1rem;

// Heading font weight
$h1-font-weight-mobile: 'medium';
$h2-font-weight-mobile: 'medium';
$h3-font-weight-mobile: 'regular';
$h4-font-weight-mobile: 'regular';

// Button
$button-font-size-desktop: 1.125rem;
$button-font-size-big-mobile: 0.875rem;
$button-font-size-small-mobile: 0.75rem;
