@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700&family=Red+Hat+Text:wght@400;500;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply caret-primary-500;
  }
  h1 {
    @apply font-bold font-headings extra-small:text-3xl sm:text-6xl;
  }
  h2 {
    @apply font-bold font-headings extra-small:text-2xl sm:text-4xl;
  }
  h3 {
    @apply font-medium font-headings extra-small:text-xl sm:text-2xl;
  }
  h4 {
    @apply font-bold uppercase font-headings extra-small:text-base sm:text-base;
  }
}

@layer components {
    .link-lg {
        @apply text-lg font-normal underline;
    }
    .link-base {
        @apply text-base font-normal underline;
    }
    .link-sm {
        @apply text-sm font-normal underline;
    }
    .link-xs {
        @apply text-xs font-normal underline;
    }
    .icon-xs {
        @apply w-4 h-4;
    }
    .icon-sm {
        @apply w-5 h-5;
    }
    .icon-base {
        @apply w-6 h-6;
    }
    .icon-lg {
        @apply w-10 h-10;
    }
    .icon-xl {
        @apply w-14 h-14;
    }
    .icon-2xl {
        @apply w-24 h-24;
    }
    .icon-3xl {
        @apply w-48 h-48;
    }
    .outline-violet:focus {
        @apply outline outline-4 outline-offset-2 outline-violet-400;
    }
    .remove-default-styling,
    .remove-default-styling::-webkit-search-cancel-button,
    .remove-default-styling input[type=number]::-webkit-inner-spin-button,
    .remove-default-styling input[type=number]::-webkit-outer-spin-button {
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;    
    }
    .is-animation-stopped {
        @media screen and (prefers-reduced-motion: reduce) {
            animation-play-state: paused !important;
        }
    }
    .animation-delay-1 {
        animation-delay: -0.45s !important;
    }
    .animation-delay-2 {
        animation-delay: -0.30s !important;
    }
    .animation-delay-3 {
        animation-delay: -0.15s !important;
    }
    .progress-linear::-webkit-progress-bar {
        @apply bg-gray-200;
    }
    .progress-linear::-webkit-progress-value {
        @apply bg-primary-600 transition-[width] ease-[cubic-bezier(.4,0,.6,1)] duration-200;
    }
    .progress-linear::-moz-progress-bar {
        @apply bg-primary-600;
      }
    .star-input {
        background-color: #71717A;
        -webkit-mask:  url("../star-outline.svg");
        mask: url("../star-outline.svg");
        opacity: 0.5;
    }
    .star-input:hover, 
    .star-input:checked,
    .rating:hover .star-input:not(.rating .star-input:hover ~ .star-input), 
    .rating .star-input:not(.rating .star-input:checked ~ .star-input) {
        background-color: #02BB4D;
        -webkit-mask:  url("../star.svg");
        mask: url("../star.svg");
        opacity: 1;
    }
    .breadcrumb-item:nth-of-type(1n+3) {
        @apply before:content-['/'] before:mx-2;
    }
    .breadcrumb-item:last-child > a {
        @apply font-medium text-gray-900 no-underline;
     }
    .quantity-selector-base {
        @apply w-40 h-10;
    }
    .quantity-selector-base button {
        @apply w-10 h-10;
    }
     .quantity-selector-large {
        @apply w-40 h-12;
     }
    .quantity-selector-large button {
        @apply w-12 h-12;
    }
    .button-primary {
        @apply font-medium text-white uppercase bg-primary-500 hover:bg-primary-600 active:bg-primary-700 disabled:bg-gray-200 disabled:text-gray-500 disabled:opacity-50 shadow-base hover:shadow-medium disabled:shadow-none;
    }
    .button-secondary {
        @apply font-medium uppercase bg-white border border-gray-200 hover:border-primary-300 active:border-primary-400 disabled:border-0 hover:bg-green-100 active:bg-green-200 disabled:bg-gray-200 text-primary-500 hover:text-primary-600 active:text-primary-700 disabled:text-gray-500 disabled:opacity-50 shadow-base hover:shadow-medium disabled:shadow-none;
    }
    .button-tertiary {
        @apply font-normal bg-transparent text-primary-500 hover:bg-green-100 active:bg-green-200 disabled:bg-transparent hover:text-primary-600 active:text-primary-700 disabled:text-gray-500 disabled:opacity-50;
    }
    .button-destroy-primary {
        @apply text-base font-medium text-white uppercase bg-rose-600 hover:bg-rose-700 active:bg-rose-800 disabled:bg-gray-200 disabled:text-gray-500 disabled:opacity-50 shadow-base hover:shadow-medium disabled:shadow-none;
    }
    .button-destroy-secondary {
        @apply text-base font-medium uppercase bg-white border border-rose-400 disabled:border-0 hover:bg-rose-100 active:bg-rose-200 disabled:bg-gray-200 text-rose-600 hover:text-rose-600 active:text-rose-700 disabled:text-gray-500 disabled:opacity-50 shadow-base hover:shadow-medium disabled:shadow-none;
    }
    .button-destroy-tertiary {
        @apply text-base font-medium bg-transparent hover:bg-rose-100 active:bg-rose-200 disabled:bg-transparent text-rose-600 hover:text-rose-700 active:text-rose-800 disabled:text-gray-500 disabled:opacity-50;
    }
    .button-small {
        @apply leading-5 px-3 py-[6px] text-sm;
    }
    .button-medium {
        @apply px-4 py-2;
    }
    .button-large {
        @apply px-6 py-3;
    }
    .button-small-tertiary {
        @apply leading-5 p-[6px] text-sm;
    }
    .button-medium-tertiary {
        @apply p-2;
    }
    .button-large-tertiary {
        @apply p-3;
    }
}
