@import '../../../css/variables';

$sf-menu-item-icon-spacing: 0.75rem;
$sf-menu-item-padding: $spacing-big $spacing-extra-big;
$sf-menu-item-font-size: $font-size-big-mobile;
$sf-menu-item-font-family: $body-font-family-secondary;

.sf-menu-item {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: $sf-menu-item-padding;
    font-size: $sf-menu-item-font-size;
    font-family: $sf-menu-item-font-family;
    
    &__group {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
    }

    &--left {
        justify-content: flex-start;
    }
    &--right {
        justify-content: flex-end;
    }
    &--around {
        justify-content: space-around;
    }
    &--evenly {
        justify-content: space-evenly;
    }
    &--center {
        justify-content: center;
    }
}

.sf-menu-item-arrow {
    width: 6px;
    height: 12px;
    background: url("../../../assets/arrow-alt_right.svg") center no-repeat;
}

.sf-menu-item-icon--left {
    margin-right: $sf-menu-item-icon-spacing;
}

.sf-menu-item-icon--right {
    margin-left: $sf-menu-item-icon-spacing;
}