@import '../../../css/variables';

$sf-circle-button-background-primary: $c-green-primary !default;
$sf-circle-button-background-secondary: $c-dark-primary !default;
$sf-circle-button-icon-color: $c-white !default;
$sf-circle-button-size: 3.25rem !default;
$sf-circle-button-background-small: $c-gray-secondary !default;
$sf-circle-button-background-small-hover: $c-dark-secondary !default;

.sf-circle-button {
    padding: 5px;
    border-radius: 50%;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    width: $sf-circle-button-size;
    height: $sf-circle-button-size;
    transition: box-shadow .3s ease;
    outline: none;
    background-color: $sf-circle-button-background-primary;
    &:hover {
        box-shadow: 0 0 0 0.3125rem rgba($sf-circle-button-background-primary, 0.4);
    }
    &:active {
        box-shadow: 0 0 0 0.625rem rgba($sf-circle-button-background-primary, 0.4);
    }
    &__icon {
        height: 45%
    }
    &--secondary {
        background-color: $sf-circle-button-background-secondary;
        &:hover {
            box-shadow: 0 0 0 0.3125rem rgba($sf-circle-button-background-secondary, 0.4);
        }
        &:active {
            box-shadow: 0 0 0 0.625rem rgba($sf-circle-button-background-secondary, 0.4);
        }
    }
    &--small {
        $sf-circle-button-size: 1.625rem;
        width: $sf-circle-button-size;
        height: $sf-circle-button-size;
        background-color: $sf-circle-button-background-small;
        &:hover {
            background-color: $sf-circle-button-background-small-hover;
            box-shadow: none;
        }
        &:active {
            background-color: $sf-circle-button-background-secondary;
            box-shadow: none;
        }
  }
}