# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
node_modules
.pnp
.pnp.js

# testing
coverage
.nyc_output
apps/preview/next/sfui
apps/preview/vue/src/components/sfui/

# next.js
.next/
out/
build

# misc
.DS_Store
.idea
*.pem
.idea
.vscode

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# local env files
.env.local
.env.development.local
.env.test.local
.env.production.local

# turbo and others
.turbo
.output
.nuxt
lib/
dist

# Yarn
.yarn/*
*/.yarn
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks

# docs
apps/docs/components/react/components
apps/docs/components/vue/components
apps/docs/components/react/showcases
apps/docs/components/vue/showcases
apps/docs/components/utils/components.json
apps/docs/components/utils/showcases.json
