@import '../../css/variables';

.vsf-button {
  padding: 0.9375rem 2.5rem;
  font-size: $button-font-size-desktop;
  text-align: center;
  color: $c-button-text-primary;
  background-color: $c-button-bg-primary;
  padding: 0.9375rem 2.5rem;
  outline: none;
  text-transform: uppercase;
  @media (max-width: $mobile-max) {
    padding: 0.9375rem 1.25rem;
    font-size: $button-font-size-small-mobile;
  }
  &--secondary {
    color: $c-button-text-secondary;
    background-color: $c-button-bg-secondary;
  }
  &--full-width {
    width: 100%;
  }
}