@import '../../css/variables';

$button-padding: 0.5rem 1.7rem;
$button-c-text-primary: $c-text-on-dark;
$button-c-bg-primary: $c-green-primary;
$button-c-text-secondary: $c-text-on-dark;
$button-c-bg-secondary: $c-dark-primary;
.sf-button {
  padding: $button-padding;
  font-size: $button-font-size-desktop;
  text-align: center;
  color: $button-c-text-primary;
  background-color: $button-c-bg-primary;
  outline: none;
  border: none;
  text-transform: uppercase;
  @media (min-width: $mobile-max) {
    padding: 0.9375rem 2.5rem;
    font-size: $button-font-size-small-mobile;
  }
  &--secondary {
    color: $button-c-text-secondary;
    background-color: $button-c-bg-secondary;
  }
  &--full-width {
    width: 100%;
  }
}