@import "../../../css/helpers";
.sf-loader {
  position: relative;
  width: 100%;
  height: 100%;
  &__overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--loader-overlay-background, var(--c-white));
  }
  &__spinner {
    stroke: var(--loader-spinner-stroke, var(--c-primary));
  }
}
