<div class="sf-input-number sf-input-number--large">
  <input type="tel"
    class="sf-input-number__field"
    v-model="currentValue"
    @keyup.up="increase"
    @keyup.down="decrease"
    @keypress="keypress" />

  <div class="sf-input-number__controls">
    <slot name="up">
      <img src="/assets/chevron_down.svg"
        alt="Increase"
        class="sf-input-number__control sf-input-number__control--up"
        @click="increase" />
    </slot>
    <slot name="down">
      <img src="/assets/chevron_down.svg"
        alt="Decrease"
        class="sf-input-number__control sf-input-number__control--down"
        @click="decrease" />
    </slot>
  </div>
</div>
