@import '../../../css/variables';

$input-number-background: $c-white !default;
$input-number-color: $c-dark-primary !default;
$input-number-width: 4.5rem !default;
$input-number-border: none !default;
$input-number--large-width: $input-number-width * 2 !default;

.sf-input-number {
  background: $input-number-background;
  color: $input-number-color;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: left;
  border: $input-number-border;
  width: $input-number-width;
  box-sizing: border-box;

  &--large {
    width: $input-number--large-width;
  }

  &__field {
    border-radius: 0;
    border: none;
    background: none;
    padding: 0.75rem 0.25rem;
    flex: 1 1 auto;
    width: 1%;
    height: auto;
    text-align: center;
    font-size: $font-size-regular-desktop;
    color: inherit;
    line-height: 1;

    @media (max-width: $mobile-max) {
      font-size: $font-size-regular-mobile;
    }
  }

  &__control {
    cursor: pointer;
    width: 0.75rem;
    padding: .2rem;
    display: flex;
    user-select: none;

    img {
      width: 100%;
      margin: 0;
    }

    &--up img[src="/assets/chevron_down.svg"] {
      transform: rotate(180deg);
    }
  }
}
