<div class="sf-input-number sf-input-number--large">
  <slot v-bind:value="currentValue">
    <input type="tel"
      class="sf-input-number__field"
      v-model="stringValue"
      @keyup.up="increase"
      @keyup.down="decrease"
      @keypress="keypress" />
  </slot>

  <div class="sf-input-number__controls">
    <slot name="up">
      <img src="/assets/chevron_down.svg"
        alt="Increase"
        class="sf-input-number__control sf-input-number__control--up"
        @click="increase" />
    </slot>
    <slot name="down">
      <img src="/assets/chevron_down.svg"
        alt="Decrease"
        class="sf-input-number__control sf-input-number__control--down"
        @click="decrease" />
    </slot>
  </div>
</div>
