@import "../../helpers";
.sf-arrow {
  --button-width: 2.75rem;
  --button-height: 2.75rem;
  --button-padding: 0 0.625rem;
  --button-background: var(--c-light);
  --button-transition: background 150ms linear;
  --icon-width: 1.5rem;
  --icon-height: 0.75rem;
  --icon-color: var(--c-dark);
  display: flex;
  align-items: center;
  justify-content: var(--arrow-justify-content, center);
  box-shadow: var(--arrow-box-shadow);
  @include box-shadow(
    --arrow-box-shadow, 0px 4px 4px, var(--c-black), 0.25, scale(0.7)
  );
  --arrow-box-shadow-transition-duration: 150ms;
  &:hover {
    --button-background: var(--c-dark);
    --icon-color: var(--c-light);  
    --arrow-box-shadow-transform: scale(1);
  }
  &__icon {
    transform: var(--arrow-icon-transform);
  }
  &--long {
    --button-width: 3.75rem;
    --button-height: 1.875rem;
    --button-background: var(--c-white);
    --button-transition: transform 150ms linear;
    --arrow-justify-content: flex-start;
    --arrow-icon-transform: scale(0.855, 0.75);
    &:hover {
      transform: scale(1.17, 1.34);
      transform-origin: center left;
    }
    &.sf-arrow--right {
      --arrow-justify-content: flex-end;
      --arrow-icon-transform: rotate(180deg) scale(0.855, 0.75);
      &:hover {
        transform-origin: center right;
      }
    }
  }
  &--transparent {
    --button-background: transparent;
    &:hover {
      --button-background: transparent;
      --icon-color: var(--c-dark);
      --arrow-box-shadow: none;
    }
  }
  &--rounded {
    --button-border-radius: 100%;
  }
  &--no-shadow {
    &:hover {
      --arrow-box-shadow: none;
    }
  }
  &--right {
    --arrow-icon-transform: rotate(180deg);
  }
  &--top {
    --arrow-icon-transform: rotate(90deg);
  }
  &--down {
    --arrow-icon-transform: rotate(270deg);
  }
}
