@import "../../helpers";
.sf-badge {
  display: var(--badge-display, inline-block);
  align-items: var(--badge-align-items, center);
  justify-content: var(--badge-justify-content, center);
  box-sizing: border-box;
  width: var(--badge-width);
  height: var(--badge-height);
  padding: var(--badge-padding, var(--spacer-xs) var(--spacer-sm));
  background: var(--badge-background, var(--c-primary));
  border: var(--badge-border);
  border-radius: var(--badge-border-radius);
  color: var(--badge-color, var(--c-light-variant));
  text-align: var(--badge-text-align, center);
  @include font(
    --badge-font,
    var(--font-medium),
    var(--font-xs),
    1.6,
    var(--font-family-secondary)
  );
  &--full-width {
    --badge-width: 100%;
  }
  &--rounded {
    --badge-border-radius: 50%;
  }
  @each $color, $map in $colors-map {
    $primary: map-get($map, "primary");
    &.color-#{$color} {
      --badge-background: #{$primary};
    }
  }
}
