:root{
  --badge-c-primary: var(--c-primary);
}
.sf-badge{
  display: inline-block;
  box-sizing: border-box;
  padding: var(--badge-padding, (var(--spacer) var(--spacer-medium)));
  background: var(--badge-background, var(--badge-c-primary));
  color: var(--badge-color, var(--c-white));
  font: var(--badge-font-weight, 500) var(--badge-font-size, var(--font-size-small))/var(--badge-line-height, 1.6) var(--badge-font-family, var(--body-font-family-secondary));
  text-align: center;
  &--full-width{
    width: 100%;
  }
  $colors-map: ('primary', 'secondary', 'waring', 'danger', 'info', 'success');
  @each $color in $colors-map {
    &.color-#{$color}{
      --badge-c-primary: var(--c-#{$color});
    }
  }
}
