@import '../../variables';

:root {
  --badge-padding: .3125rem .625rem;
  --badge-color: var(--c-white);
  --badge-background-color: var(--c-primary);
  --badge-font-family: var(--body-font-family-secondary);
  --badge-font-size: var(--font-size-regular);
  --badge-font-weight: 500;
  --badge-line-height: 1.6;

  @media screen and (min-width: $desktop-min) {
    --badge-font-size: var(--font-size-small);
  }
}

.sf-badge {
  box-sizing: border-box;
  display: inline-block;
  padding: var(--badge-padding);
  background-color: var(--badge-background-color);
  color: var(--badge-color);
  font-family: var(--badge-font-family);
  font-size: var(--badge-font-size);
  font-weight: var(--badge-font-weight);
  line-height: var(--badge-line-height);
  text-align: center;
  cursor: default;

  &--full-width {
    width: 100%;
  }

  @include color-modifiers('--badge');
}
