@import "../../helpers";
.sf-breadcrumbs {
  &__list {
    display: flex;
    padding: 0;
    margin: 0;
    list-style: none;
  }
  &__list-item {
    &:not(:first-child) {
      &::before {
        padding: var(
          --breadcrumbs-list-item-before-padding,
          0 var(--spacer-sm)
        );
        content: var(--breadcrumbs-list-item-seperator, "|");
        color: var(--breadcrumbs-list-item-brfore-color, var(--c-text-muted));
      }
    }
  }
  &__breadcrumb {
    @include font(
      --breadcrumbs-font,
      var(--font-normal),
      var(--font-sm),
      1.6,
      var(--font-family-secondary)
    );
    --link-color: var(--c-text-muted);
    --link-text-decoration: none;
    &--current {
      --breadcrumbs-breadcrumb-color: var(--c-text);
      cursor: default;
    }
  }
}
