@import "../../helpers";

.sf-breadcrumbs {
  @include font(
    --breadcrumbs-font,
    var(--font-weight-regular),
    var(--font-size-small),
    1.6,
    var(--body-font-family-secondary)
  );
  &__list {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
  }
  &__item {
    &:not(:first-child) {
      &::before {
        padding: var(--breadcrumbs-item-before-padding, 0 var(--spacer-small));
        content: var(--breadcrumbs-item-seperator, "|");
      }
    }
  }
  &__link {
    color: var(--breadcrumbs-link, var(--c-link));
    cursor: pointer;
    &:hover {
      color: var(--breadcrumbs-hover, var(--c-link-hover));
    }
  }
  &__current {
    color: var(--breadcrumbs-current, var(--c-primary));
    cursor: default;
  }
}
