@import "../../helpers";
.sf-button {
  box-sizing: border-box;
  width: var(--button-size, var(--button-width));
  height: var(--button-size, var(--button-height));
  display: flex;
  align-items: center;
  justify-content: center;
  padding: var(--button-padding, var(--spacer-sm) calc(var(--spacer-sm) * 2));
  color: var(--button-color, var(--c-light-variant));
  background: var(--button-background, var(--c-primary));
  box-shadow: var(--button-box-shadow);
  text-transform: var(--button-text-transform, uppercase);
  text-decoration: var(--button-text-decoration);
  transition: var(--button-transition, box-shadow 150ms ease-in-out);
  cursor: var(--button-cursor, pointer);
  border-radius: var(--button-border-radius, 0);
  white-space: var(--button-wrap, nowrap);
  @include font(
    --button-font,
    var(--font-semibold),
    var(--font-base),
    1.2,
    var(--font-family-secondary)
  );
  @include border(--button-border, 0, solid, var(--c-primary));
  @each $color, $map in $colors-map {
    $primary: map-get($map, "primary");
    $variant: map-get($map, "variant");
    &.color-#{$color} {
      --button-background: #{$primary};
      &:active {
        --button-background: #{$variant};
      }
    }
  }
  &:hover {
    --button-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }
  &:active {
    --button-box-shadow: none;
    --button-background: var(--c-primary-variant);
    --button-transition: background 150ms linear;
  }
  &:disabled {
    --button-background: var(--c-light);
    --button-color: var(--c-text-muted);
    --button-cursor: default;
    --button-box-shadow: none;
  }
  &--full-width {
    --button-width: 100%;
  }
  &--outline {
    --button-border-width: 2px 2px 2px 2px;
    --button-background: transparent;
    --button-color: var(--c-text);
    &:active {
      --button-border-color: var(--c-primary-variant);
      --button-background: transparent;
      --button-color: var(--c-text-muted);
      --button-transition: color 150ms linear;
    }
    &:disabled {
      --button-border-color: var(--c-light);
      --button-background: transparent;
      --button-color: var(--c-text-muted);
    }
    @each $color, $map in $colors-map {
      $primary: map-get($map, "primary");
      &.color-#{$color} {
        --button-border-color: #{$primary};
        --button-background: transparent;
        &:active {
          --button-background: transparent;
        }
      }
    }
  }
  &--text {
    --button-border-width: 0;
    --button-padding: 0;
    --button-background: transparent;
    --button-color: var(--c-text);
    --button-text-transform: none;
    --button-text-decoration: underline;
    --button-font-size: var(--font-xs);
    --button-font-weight: var(--font-medium);
    display: inline;
    &:hover {
      --button-box-shadow: none;
      --button-background: transparent;
      --button-color: var(--c-primary);
    }
    &:active {
      --button-color: var(--c-gray);
    }
    &:disabled {
      --button-background: transparent;
      --button-color: var(--c-text-muted);
    }
    @each $color, $map in $colors-map {
      $primary: map-get($map, "primary");
      &.color-#{$color} {
        --button-background: transparent;
        &:hover {
          --button-color: #{$primary};
        }
        &:active {
          --button-color: var(--c-gray);
          --button-background: transparent;
        }
        &:disabled {
          &:hover {
            --button-color: var(--c-text-muted);
          }
        }
      }
    }
  }
  &--underlined {
    --button-border-width: 0 0 1px 0;
    --button-border-color: var(--c-light);
    --button-background: transparent;
    --button-color: var(--c-text-muted);
    &:hover {
      --button-box-shadow: none;
    }
    &:active {
      --button-background: var(--c-gray-variant);
      --button-color: var(--c-light-variant);
    }
    @each $color, $map in $colors-map {
      $primary: map-get($map, "primary");
      &.color-#{$color} {
        --button-background: transparent;
        &:active {
          --button-background: #{$primary};
          --button-border-width: 0 0 1px 0;
          --button-border-color: var(--c-light);
        }
      }
    }
  }
}
