@import "../../helpers";

.sf-button {
  box-sizing: border-box;
  width: var(--button-size, var(--button-width));
  height: var(--button-size, var(--button-height));
  padding: var(--button-padding, var(--spacer-medium) var(--spacer-extra-big));
  border: var(--button-border, 0);
  border-radius: var(--button-border-radius, 0);
  color: var(--button-color, var(--c-white));
  background: var(--button-background, var(--c-primary));
  font: var(
    --button-font,
    font(
      --button,
      300,
      var(--font-size-small),
      1.6,
      var(--body-font-family-secondary)
    )
  );
  text-transform: var(--button-text-transform, uppercase);
  text-decoration: var(--button-text-decoration);
  transition: var(--button-transition, background 150ms linear);
  cursor: pointer;
  outline: none;
  &:hover {
    --button-background: var(--c-primary-variant);
  }
  @each $color, $map in $colors-map {
    $primary: map-get($map, "primary");
    $variant: map-get($map, "variant");
    &.color-#{$color} {
      --button-background: #{$primary};
      &:hover {
        --button-background: #{$variant};
      }
    }
  }
  &:disabled {
    --button-background: var(--c-gray);
    cursor: default;
    &:hover {
      --button-background: var(--c-gray);
    }
  }
  &--full-width {
    --button-width: 100%;
  }
  &--outline {
    --button-padding: calc(var(--spacer-medium) - 1px)
      calc(var(--spacer-extra-big) - 1px);
    --button-border: 1px solid var(--c-primary);
    --button-background: transparent;
    --button-color: var(--c-primary);
    &:hover {
      --button-background: var(--c-primary);
      --button-color: inherit;
    }
    @each $color, $map in $colors-map {
      $primary: map-get($map, "primary");
      &.color-#{$color} {
        --button-border: 1px solid #{$primary};
        --button-color: #{$primary};
        &:hover {
          --button-background: #{$primary};
          --button-color: inherit;
        }
      }
    }
    &:disabled {
      --button-border: 1px solid var(--c-gray);
      --button-background: transparent;
      --button-color: var(--c-gray);
    }
  }
  &--text {
    --button-border: 0;
    --button-padding: var(--spacer-small) 0;
    --button-background: transparent;
    --button-color: var(--c-primary);
    --button-text-transform: none;
    --button-text-decoration: underline;
    --button-font-weight: 400;
    &:hover {
      --button-background: transparent;
      --button-color: var(--c-primary);
    }
    @each $color, $map in $colors-map {
      $primary: map-get($map, "primary");
      &.color-#{$color} {
        --button-background: transparent;
        --button-color: #{$primary};
        &:hover {
          --button-background: transparent;
        }
      }
    }
    &:disabled {
      --button-background: transparent;
      --button-color: var(--c-gray);
      &:hover {
        --button-background: transparent;
      }
    }
  }
}
