@import "../../variables/scss/functions";
$bullet-c-accent: css(bullet, c-accent, var(--c-primary));
$bullet-c-default: css(bullet, c-default, var(--c-gray));

$bullet-size: css(bullet, size, 8px);
$bullet-margin: var(--spacer-small);
$bullet-border-radius: 100%;

.sf-bullet {
  box-sizing: border-box;
  width: css(bullet, width, $bullet-size);
  height: css(bullet, height, $bullet-size);
  margin: css(bullet, margin, $bullet-margin);
  border-radius: css(button, border-radius, $bullet-border-radius);
  background: css(bullet, background, $bullet-c-default);
  cursor: pointer;
  &--active {
    --bullet-size: 10px;
    --bullet-background: #{$bullet-c-accent};
    cursor: default;
  }
}
.sf-bullets {
  display: flex;
  align-items: center;
  padding: 0;
  margin: 0;
  list-style-type: none;
}
