@import "../../variables/scss/functions";
$chevron-c-default: css(chevron, c-default, var(--c-black));

$chevron-size: css(chevron, size, 1.25rem);
$chevron-rotate: css(chevron, rotate, 45deg);

.sf-chevron {
  position: relative;
  width: $chevron-size;
  height: $chevron-size;
  cursor: pointer;
  &__bar {
    position: absolute;
    top: 50%;
    background: transparent;
    transition: all 500ms cubic-bezier(0.25, 1.7, 0.35, 0.8);
    &:after {
      content: "";
      display: block;
      width: calc(#{$chevron-size} / 2);
      height: calc(#{$chevron-size} / 10);
      background: css(chevron, background, $chevron-c-default);
    }
    &--left {
      left: calc(#{$chevron-size} / 10);
      transform: translateY(-50%) rotate(#{$chevron-rotate});
    }
    &--right {
      right: calc(#{$chevron-size} / 10);
      transform: translateY(-50%) rotate(calc(#{$chevron-rotate} * -1));
    }
  }
  &--top {
    --chevron-rotate: -45deg;
  }
}
