@import "../../helpers";

.sf-chevron {
  position: relative;
  width: var(--chevron-size, 1.25rem);
  height: var(--chevron-size, 1.25rem);
  cursor: pointer;
  &__bar {
    position: absolute;
    top: 50%;
    background: transparent;
    transition: all 500ms cubic-bezier(0.25, 1.7, 0.35, 0.8);
    &:after {
      content: "";
      display: block;
      width: calc(var(--chevron-size, 1.25rem) / 2);
      height: calc(var(--chevron-size, 1.25rem) / 10);
      background: var(--chevron-background, var(--c-black));
    }
    &--left {
      left: calc(var(--chevron-size, 1.25rem) / 10);
      transform: translateY(-50%) rotate(var(--chevron-rotate, 45deg));
    }
    &--right {
      right: calc(var(--chevron-size, 1.25rem) / 10);
      transform: translateY(-50%)
        rotate(calc(var(--chevron-rotate, 45deg) * -1));
    }
  }
  &--top {
    --chevron-rotate: -45deg;
  }
}
