@import '../../variables';

:root {
  --checkbox-font-family: var(--body-font-family-secondary);
  --checkbox-font-size: var(--font-size-big);
  --checkbox-font-weight: var(--body-font-weight-primary);
  --checkbox-line-height: 1.6;
  --checkbox__checkmark-size: 1.25rem;
  --checkbox__checkmark-primary-color: var(--c-primary);
  --checkbox__checkmark-secondary-color: var(--c-gray-variant);
  --checkbox__checkmark-transition: background-color .25s cubic-bezier(1, .5, .8, 1),
  border-color .25s cubic-bezier(1, .5, .8, 1),
  opacity .25s cubic-bezier(1, .5, .8, 1);

  @media screen and (min-width: $desktop-min) {
    --checkbox__checkmark-size: 1.5rem;
  }
}

.sf-checkbox {
  font-family: var(--checkbox-font-family);
  font-size: var(--checkbox-font-size);
  font-weight: var(--checkbox-font-weight);
  line-height: var(--checkbox-line-height);

  &__input {
    position: absolute;
    border: 0;
    margin: -1px;
    padding: 0;
    width: 1px;
    height: 1px;
    overflow: hidden;
    clip: rect(0px, 0px, 0px, 0px);
  }

  &__container {
    display: flex;
    align-items: center;
    cursor: pointer;
  }

  &__checkmark {
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    width: var(--checkbox__checkmark-size);
    height: var(--checkbox__checkmark-size);
    border: 1px solid var(--checkbox__checkmark-secondary-color);
    transition: var(--checkbox__checkmark-transition);

    &:hover {
      border-color: var(--checkbox__checkmark-primary-color);
      transition: var(--checkbox__checkmark-transition);
    }

    .is-active & {
      background-color: var(--checkbox__checkmark-primary-color);
      border-color: transparent;
    }

    .is-disabled & {
      border-color: var(--c-dark-variant);
      transition: var(--checkbox__checkmark-transition);
      opacity: .25;
    }

    .is-active.is-disabled & {
      background-color: var(--c-dark-variant);
      border-color: transparent;
      opacity: .25;
    }
  }

  &__label {
    margin-left: var(--spacer-big);
  }
}

@media screen and (min-width: $desktop-min) {
  .sf-checkbox {
    &__checkmark {
      width: var(--checkbox__checkmark-size);
    }
  }
}