@import "../../helpers";

.sf-checkbox {
  &__container {
    display: flex;
    align-items: center;
    width: var(--checkbox-container-width);
    cursor: var(--checkbox-cursor, pointer);
  }
  &__checkmark {
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    width: var(--checkbox-width, var(--checkbox-size, 1.25rem));
    height: var(--checkbox-height, var(--checkbox-size, 1.25rem));
    border: var(--checkbox-border, 1px solid var(--c-gray-variant));
    border-radius: var(--checkbox-border-radius);
    background: var(--checkbox-background, transparent);
    transition: background 150ms linear, border-color 150ms linear;
    @include for-desktop {
      --checkbox-size: 1.5rem;
    }
    &:hover {
      --checkbox-border: 1px solid var(--c-primary);
      .sf-checkbox--is-disabled & {
        --checkbox-border: 1px solid var(--c-text-muted);
      }
    }
  }
  &__label {
    margin: var(--checkbox-label-margin, 0 0 0 var(--spacer-big));
    color: var(--checkbox-label-color, var(--c-text));
    font: var(
      --checkbox-font,
      font(
        --checkbox,
        300,
        var(--font-size-big),
        1.6,
        var(--body-font-family-secondary)
      )
    );
  }
  &--is-active {
    --checkbox-border: 1px solid var(--c-primary);
    --checkbox-background: var(--c-primary);
    &.sf-checkbox--is-disabled {
      --checkbox-border: 1px solid var(--c-text-muted);
      --checkbox-background: var(--c-text-muted);
    }
  }
  &--is-disabled {
    --checkbox-label-color: var(--c-text-muted);
    --checkbox-border: 1px solid var(--c-text-muted);
  }
  input {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    overflow: hidden;
    clip: rect(0px, 0px, 0px, 0px);
  }
}
