@import '../../variables';
:root{
  --checkbox-c-primary: var(--c-primary);
  --checkbox-c-secondary: var(--c-gray-variant);
}
.sf-checkbox{
  font: var(--checkbox-font-weight, 300) var(--checkbox-font-size, var(--font-size-big))/var(--checkbox-line-height, 1.6) var(--checkbox-font-family, var(--body-font-family-secondary));
  &__input{
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    overflow: hidden;
    clip: rect(0px, 0px, 0px, 0px);
  }
  &__container{
    display: flex;
    align-items: center;
    cursor: var(--checkbox-cursor, pointer);
  }
  &__checkmark{
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    width: var(--chekcbox-size, 1.25rem);
    height: var(--chekcbox-size, 1.25rem);
    border: var(--chekcbox-border, 1px solid var(--checkbox-c-secondary));
    background: var(--checkbox-background, transparent);
    transition: background 150ms cubic-bezier(1, .5, .8, 1), border 150ms cubic-bezier(1, .5, .8, 1);
    @media screen and (min-width: $desktop-min) {
      --chekcbox-size: 1.5rem;
    }
    &:hover{
      --chekcbox-border: 1px solid var(--checkbox-c-primary);
    }
  }
  &__label{
    margin: var(--checkbox__label-margin, 0 0 0 var(--spacer-big));
  }
  &--is-active{
    --chekcbox-border: var(--checkbox-c-primary);
    --checkbox-background: var(--checkbox-c-primary);
  }
  &--is-disabled{
    --chekcbox-border: var(--c-gray);
    --checkbox-background: var(--c-gray);
    --checkbox-cursor: default;
  }
}
