@import '../../variables';

:root {
    --chevron-duration: 0.5s;
    --chevron-easing: cubic-bezier(.25, 1.7, .35, .8);
    --chevron-size: 20px;
    --chevron__bar-color: var(--c-black);
}

@mixin chevron-bar($half-name) {
    $direction: 1;
    $this: &;

    @if $half-name == "right" {
        $direction: -1;
    }

    &__#{$half-name}-bar {
        position: absolute;
        top: calc(calc(var(--chevron-size) / 2) - calc(calc(calc(var(--chevron-size) / 2) / 5) / 2));
        #{$half-name}: calc(var(--chevron-size) / 10);
        display: block;
        width: calc(var(--chevron-size) / 2);
        height: calc(calc(var(--chevron-size) / 2) / 5);
        background-color: transparent;
        transform: rotate(45deg * $direction);

        @at-root #{$this}--top & {
            &:after {
                transform-origin: center center;
                transform: rotate(-2 * 45deg * $direction);
            }
        }

        &:after {
            content: "";
            display: block;
            width: calc(var(--chevron-size) / 2);
            height: calc(calc(var(--chevron-size) / 2) / 5);
            background-color: var(--chevron__bar-color);
            transition: all var(--chevron-duration) var(--chevron-easing);
        }
    }
}

.sf-chevron {
    cursor: pointer;
    position: relative;
    display: block;
    height: var(--chevron-size);
    width: var(--chevron-size);
    @include chevron-bar($half-name: left);
    @include chevron-bar($half-name: right);
}
