@import "../../helpers";

.sf-circle-icon {
  --button-padding: var(--spacer-big);
  --button-border-radius: 100%;
  --button-background: var(--c-primary);
  --button-transition: box-shadow 300ms ease;

  position: var(--circle-icon-position, relative);
  box-shadow: var(--circle-icon-box-shadow);
  &:hover {
    --button-background: var(--c-primary-lighten);
    --circle-icon-box-shadow: 0 0 0 0.3124rem rgba(var(--c-primary-base), 0.4);
  }
  &:active {
    --circle-icon-box-shadow: 0 0 0 0.625rem rgba(var(--c-primary-bases), 0.4);
  }
  &:disabled {
    --circle-icon-box-shadow: 0;
  }
  &__badge {
    position: absolute;
    top: var(--circle-icon-badge-top, 0);
    right: var(--circle-icon-badge-right, 0);
    box-sizing: border-box;
    min-width: var(
      --circle-icon-badge-width,
      var(--circle-icon-badge-size, 1.1rem)
    );
    min-height: var(
      --circle-icon-badge-height,
      var(--circle-icon-badge-size, 1.1rem)
    );
    padding: var(--circle-icon-badge-padding, 0 3px);
    border-radius: var(--circle-icon-badge-border-radius, 0.625rem);
    background: var(--circle-icon-badge-background, var(--c-danger));
    font: var(
      --circle-icon-badge-font,
      font(
        --circle-icon-bage,
        300,
        var(--font-size-small),
        1.6,
        var(--body-font-family-secondary)
      )
    );
    &-enter-active {
      animation: bounce-in 300ms;
    }
    &-leave-active {
      animation: bounce-in 300ms reverse;
    }
  }
  @each $color, $map in $colors-map {
    $primary: map-get($map, "primary");
    $variant: map-get($map, "variant");
    &.color-#{$color} {
      --button-background: var(--c-#{$color});
      &:hover {
        --button-background: var(--c-#{$color}-lighten);
        --circle-icon-box-shadow: 0
          0
          0
          0.3124rem
          rgba(var(--c-#{$color}-base), 0.4);
      }
      &:active {
        --circle-icon-box-shadow: 0
          0
          0
          0.625rem
          rgba(var(--c-#{$color}-base), 0.4);
      }
    }
  }
}

@keyframes bounce-in {
  0% {
    transform: scale(0);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}
