:root{
  --circle-icon-c-primary: var(--c-primary);
  --circle-icon-c-primary-base: var(--c-primary-base);
  --circle-icon-c-primary-lighten: var(--c-primary-lighten);
}
.sf-circle-icon{
  --button-padding: var(--circle-icon-padding, var(--spacer-big));
  --button-background: var(--circle-icon-background, var(--circle-icon-c-primary));
  position: relative;
  border-radius: var(--circle-icon-border-radius, 100%);
  box-shadow: var(--circle-icon-box-shadow);
  transition: box-shadow 300ms ease;
  &:hover{
    --button-background: var(--circle-icon-background, var(--circle-icon-c-primary-lighten));
    --circle-icon-box-shadow: 0 0 0 .3125rem rgba(var(--circle-icon-c-primary-base), .4);
  }
  &:active{
    --circle-icon-box-shadow: 0 0 0 .625rem rgba(var(--circle-icon-c-primary-base), .4);
  }
  &__badge{
    position: absolute;
    top: var(--circle-icon__badge-top, 0);
    right: var(--circle-icon__badge-right, 0);
    box-sizing: border-box;
    min-width: var(--circle-icon__badge-size, 1.1rem);
    min-height: var(--circle-icon__badge-size, 1.1rem);
    padding: var(--circle-icon__badge-padding, 0 3px);
    border-radius: var(--circle-icon__badge-border-radius, 10px);
    background: var(--circle-icon__badge-background, var(--c-danger));
    font: var(--circle-icon__badg-font-weight, 300)
      var(--circle-icon__badg-font-size, var(--font-size-extra-small))/var(--circle-icon__badg-line-height, 1.6)
      var(--circle-icon__badg-font-family, var(--body-font-family-primary));
    &-enter-active{
      animation: bounce-in 300ms;
    }
    &-leave-active{
      animation: bounce-in 300ms reverse;
    }
  }
  $colors-map: ('primary', 'secondary', 'waring', 'danger', 'info', 'success');
  @each $color in $colors-map {
    &.color-#{$color}{
      --circle-icon-c-primary: var(--c-#{$color});
      --circle-icon-c-primary-base: var(--c-#{$color}-base);
      --circle-icon-c-primary-lighten: var(--c-#{$color}-lighten);
    }
  }
}
@keyframes bounce-in {
  0% {
    transform: scale(0);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}
