@import "../../helpers";
.sf-circle-icon {
  --icon-color: var(--c-white);
  --button-padding: 0;
  --icon-size: 1.25rem;
  --button-size: 3.25rem;
  --button-background: var(--c-primary);
  --button-border-radius: 100%;
  position: var(--circle-icon-position, relative);
  --button-box-shadow: 0 0 0 0.3125rem var(--c-primary);
  &:hover {
    --button-background: var(--c-primary);
    --button-box-shadow-opacity: 0.3;
  }
  &:active {
    --button-box-shadow: 0 0 0 0.5rem var(--c-primary);
  }
  &:disabled {
    --button-box-shadow: none;
    --icon-color: var(--c-text-disabled);
    &:hover {
      --button-background: var(--c-light);
    }
  }
  &__icon {
    --icon-position: static;
  }
  @each $color, $map in $colors-map {
    $primary: map-get($map, "primary");
    $variant: map-get($map, "variant");
    &.color-#{$color} {
      --button-background: var(--c-#{$color});
      --button-box-shadow: 0 0 0 0.3125rem var(--c-#{$color});

      &:hover {
        --button-background: var(--c-#{$color}-lighten);
        --button-box-shadow-opacity: 0.08;
      }
      &:active {
        --button-box-shadow: 0 0 0 0.5rem var(--c-#{$color});
      }
    }
  }
  &--small {
    --icon-size: 8px;
    --button-size: 1.625rem;
    --button-transition: background 150ms ease;
    &:hover {
      --button-background: var(--c-primary);
      --button-box-shadow: none;
    }
    &:active {
      --button-background: var(--c-primary-variant);
    }
    @each $color, $map in $colors-map {
      $primary: map-get($map, "primary");
      $variant: map-get($map, "variant");
      &.color-#{$color} {
        &:hover {
          --button-background: var(--c-#{$color});
          --button-box-shadow: none;
        }
        &:active {
          --button-background: var(--c-#{$color}-variant);
          --button-box-shadow: none;
        }
      }
    }
  }
}
@keyframes bounce-in {
  0% {
    transform: scale(0);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}
