@import "../../helpers";

.sf-circle-icon {
  --icon-color: var(--c-white);
  --button-padding: 0;
  --icon-size: 1.25rem;
  --button-size: 3.25rem;
  --button-background: var(--c-primary);
  --button-transition: box-shadow 300ms ease;
  border-radius: 100%;
  position: var(--circle-icon-position, relative);
  &:hover {
    --button-background: var(--c-primary);
    --button-box-shadow: 0 0 0 0.3125rem rgba(var(--c-primary-base), 0.3);
  }
  &:active {
    --button-transition: box-shadow 150ms linear;
    --button-box-shadow: 0 0 0 0.5rem rgba(var(--c-primary-base), 0.3);
  }
  &:disabled {
    --button-box-shadow: 0;
    --icon-color: var(--c-text-disabled);
    &:hover {
      --button-background: var(--c-light);
    }
  }

  &__badge {
    position: absolute;
    top: var(--circle-icon-badge-top, 0);
    right: var(--circle-icon-badge-right, 0);
    box-sizing: border-box;
    min-width: var(
      --circle-icon-badge-width,
      var(--circle-icon-badge-size, 1.125rem)
    );
    min-height: var(
      --circle-icon-badge-height,
      var(--circle-icon-badge-size, 1.125rem)
    );
    border-radius: var(--circle-icon-badge-border-radius, 0.625rem);
    background: var(--circle-icon-badge-background, var(--c-danger));

    @include font(
      --circle-icon-badge-font,
      var(--font-base),
      var(--font-sm),
      1.4,
      var(--font-family-secondary)
    );

    &-enter-active {
      animation: bounce-in 300ms;
    }
    &-leave-active {
      animation: bounce-in 300ms reverse;
    }
  }

  @each $color, $map in $colors-map {
    $primary: map-get($map, "primary");
    $variant: map-get($map, "variant");
    &.color-#{$color} {
      --button-background: var(--c-#{$color});
      &:hover {
        --button-background: var(--c-#{$color}-lighten);
        --button-box-shadow: 0
          0
          0
          0.3125rem
          rgba(var(--c-#{$color}-base), 0.08);
      }
      &:active {
        --button-box-shadow: 0 0 0 0.5rem rgba(var(--c-#{$color}-base), 0.08);
      }
    }
  }

  &--small {
    --icon-size: 0.5rem;
    --button-size: 1.625rem;
    --button-transition: background 150ms linear;
    &:hover {
      --button-background: var(--c-primary);
      --button-box-shadow: 0;
    }
    &:active {
      --button-background: var(--c-primary-variant);
    }
    @each $color, $map in $colors-map {
      $primary: map-get($map, "primary");
      $variant: map-get($map, "variant");
      &.color-#{$color} {
        &:hover {
          --button-background: var(--c-#{$color});
          --button-box-shadow: 0;
        }
        &:active {
          --button-background: var(--c-#{$color}-variant);
          --button-box-shadow: 0;
        }
      }
    }
  }
}

@keyframes bounce-in {
  0% {
    transform: scale(0);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}
