@import "../../variables/scss/functions";

$color-c-active: css(color, c-active, var(--c-white));

$color-size: css(color, size, 2.5rem);
$color-fill-border: 2px solid transparent;

.sf-color {
  box-sizing: border-box;
  width: css(color, width, $color-size);
  height: css(color, height, $color-size);
  padding: css(color, padding, 3px);
  background: css(color, background);
  border: 0;
  border-radius: css(color, border-radius, 0);
  outline: 0;
  &__fill {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    border: css(color-fill, border, #{$color-fill-border});
    border-radius: css(color, border-radius, 0);
    transition: border-color 150ms linear;
  }
  &--active {
    --color-fill-border: 2px solid #{$color-c-active};
  }
  &--rounded {
    --color-border-radius: 100%;
  }
}
