@import "../../helpers";

.sf-color {
  box-sizing: border-box;
  position: relative;
  width: var(--color-width, var(--color-size, 2.5rem));
  height: var(--color-height, var(--color-size, 2.5rem));
  background: var(--color-background);
  border: 0;
  border-radius: var(--color-border-radius);
  box-shadow: var(--color-box-shadow);
  transition: transform 150ms linear, box-shadow 150ms linear;
  cursor: pointer;

  &__badge {
    --badge-padding: var(--spacer-extra-small);
    --badge-border-radius: 100%;
    position: absolute;
    top: -25%;
    right: -25%;

    &-enter-active {
      animation: bounce-in 300ms;
    }

    &-leave-active {
      animation: bounce-in 300ms reverse;
    }
  }

  @include for-desktop {
    --color-width: 0.75rem;
    --color-height: 0.75rem;

    &:hover,
    &--active {
      transform: scale(1.667);
    }
    &:hover {
      --color-box-shadow: 0px 4px 4px rgba(var(--c-dark-base), 0.25);
    }
    &:active {
      --color-box-shadow: none;
    }
  }

  &--rounded {
    --color-border-radius: 100%;
  }
}
