@import "../../variables";
:root {
  --color-size: 2.5rem;
  --color-padding: 3px;
}
.sf-color {
  $this: &;
  box-sizing: border-box;
  width: var(--color-size);
  height: var(--color-size);
  padding: var(--color-padding);
  border: 2px solid transparent;
  background-color: var(--color);
  transition: opacity 150ms ease;
  &:hover {
    #{$this}__fill {
      border: 2px solid var(--c-white);
      transition: border 150ms ease-in-out;
    }
  }
  &:focus {
    outline: none;
  }
  &__fill {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    background-color: var(--color);
  }
  &--active {
    #{$this}__fill {
      border: 2px solid var(--c-white);
      transition: border 150ms ease-in-out;
    }
  }
  &--rounded {
    &, #{$this}__fill {
      border-radius: 50%;
    }
  }
}
