@import "../../helpers";
.sf-color {
  box-sizing: border-box;
  width: var(--color-width, var(--color-size, 2.5rem));
  height: var(--color-height, var(--color-size, 2.5rem));
  padding: var(--color-padding, 3px);
  background: var(--color-background);
  border: 0;
  border-radius: var(--color-border-radius);
  &__fill {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    border: var(--color-fill-border, 2px solid transparent);
    border-radius: var(--color-border-radius);
    transition: border-color 150ms linear;
  }
  &--active {
    --color-fill-border: 2px solid var(--c-white);
  }
  &--rounded {
    --color-border-radius: 100%;
  }
}
