@import "../../helpers";

.sf-dropdown {
  &__container {
    position: var(--dropdown-position, fixed);
    top: var(--dropdown-top);
    bottom: var(--dropdown-bottom, 0);
    z-index: 1;
    width: var(--dropdown-width, 100%);
    background: var(--dropdown-background, var(--c-white));
    transform: var(--dropdown-transform);
    box-shadow: 0px 4px 11px rgba(29, 31, 34, 0.1);
    @include for-desktop {
      position: var(--dropdown-position, absolute);
      transform: var(--dropdown-transform, translate(0, 100%));
    }
  }
  &__overlay {
    @include for-desktop {
      display: none;
    }
  }
  &__title {
    padding: var(--button-padding, var(--spacer-sm) var(--spacer-lg));
    color: var(--c-primary);
    @include font(
      --dropdown-title-font,
      var(--font-normal),
      var(--font-sm),
      1.2,
      var(--font-family-secondary)
    );
    text-align: center;
  }
  &__cancel,
  &__title {
    @include for-desktop {
      display: none;
    }
  }
  &--up {
    --dropdown-top: 0;
    --dropdown-bottom: unset;
    --dropdown-transform: translate(0, -100%);
  }
}
