@import "../../helpers";

.sf-dropdown {
  position: var(--dropdown-position, fixed);
  width: var(--dropdown-width, 100%);
  top: var(--dropdown-top);
  bottom: var(--dropdown-bottom, 0);
  transform: var(--dropdown-transform);
  @include for-desktop {
    position: var(--dropdown-position, absolute);
    transform: var(--dropdown-transform, translate(0, 100%))
  }
  &__container {
    position: relative;
    z-index: 1;
    background: var(--dropdown-background, var(--c-white));
    box-shadow: var(--dropdown-box-shadow);
    @include for-desktop {
    box-shadow: var(--dropdown-box-shadow, 0px 4px 11px rgba(var(--c-dark-base), 0.1));
    }
  }
  &__overlay {
    @include for-desktop {
      display: none;
    }
  }
  &__title {
    padding: var(--button-padding, var(--spacer-sm) var(--spacer-lg));
    color: var(--c-primary);
    @include font(
      --dropdown-title-font,
      var(--font-normal),
      var(--font-sm),
      1.2,
      var(--font-family-secondary)
    );
    text-align: center;
  }
  &__cancel {
    --button-background: var(--c-light);
    --button-color: var(--c-text-muted);
    &:hover {
      --button-background: var(--_c-light-primary);
    }
  }
  &__cancel,
  &__title {
    @include for-desktop {
      display: none;
    }
  }
  &--up {
    --dropdown-top: 0;
    --dropdown-bottom: auto;
    --dropdown-transform: translate(0, -100%);
    --dropdown-box-shadow: 0px -4px 11px rgba(var(--c-dark-base), 0.1)
  }
}
