@import '../../variables';

:root {
    --heading-padding: 10px 0 0 0;
    --heading-border-color: #f1f2f4;
    --heading-line-height: 1.6;

    --heading__title-font-family: var(--body-font-family-secondary);
    --heading__title-font-size: var(--font-size-extra-big);
    --heading__title-font-weight: 500;

    --heading__subtitle-font-family: var(--body-font-family-secondary);
    --heading__subtitle-font-size: var(--font-size-regular);
    --heading__subtitle-font-weight: 400;
    --heading__subtitle-margin: 5px 0 0 0;

    @media screen and (min-width: $desktop-min) {
        --heading__subtitle-font-size: var(--font-size-big);
    }
}

.sf-heading {
    padding: var(--heading-padding);
    border-bottom: 1px solid var(--heading-border-color);
    line-height: var(--heading-line-height);
    text-align: left;

    &__title {
        font-family: var(--heading__title-font-family);
        font-size: var(--heading__title-font-size);
        font-weight: var(--heading__title-font-weight);
    }

    &__subtitle {
        margin: var(--heading__subtitle-margin);
        font-family: var(--heading__subtitle-font-family);
        font-size: var(--heading__subtitle-font-size);
        font-weight: var(--heading__subtitle-font-weight);
    }

    &--no-underline {
        padding-bottom: 0;
        border-bottom: 0;
    }

    &--left {
        text-align: left;
    }

    &--right {
        text-align: right;
    }
}

@media screen and (min-width: $desktop-min) {
    .sf-heading {
        padding-bottom: 0;
        border: 0;
        text-align: center;

        &--left {
            text-align: left;
        }

        &--right {
            text-align: right;
        }
    }
}
