@import "../../helpers";

.sf-heading {
  box-sizing: border-box;
  padding: var(--heading-padding, 0 0 0.625rem 0);
  border: var(--heading-border, 1px solid var(--c-light));
  border-width: var(--heading-border-width, 0 0 1px 0);
  text-align: var(--heading-text-align, left);
  @include for-desktop {
    --heading-padding: 0;
    --heading-border: 0;
    --heading-text-align: center;
  }
  &__title {
    font: var(
      --heading-title-font,
      font(
        --heading-title,
        500,
        var(--font-size-extra-big),
        1.6,
        var(--body-font-family-secondary)
      )
    );
  }
  &__subtitle {
    font: var(
      --heading-subtitle-font,
      font(
        --heading-subtitle,
        300,
        var(--font-size-regular),
        1.6,
        var(--body-font-family-secondary)
      )
    );
  }
  &--no-underline {
    --heading-border: 0;
  }
  &--left {
    --heading-text-align: left;
  }
  &--right {
    --heading-text-align: right;
  }
}
