@import '../../variables';
.sf-heading{
  box-sizing: border-box;
  padding: var(--heading-padding, 0 0 10px 0);
  border: var(--heading-border, 1px solid var(--c-light));
  border-width: var(--heading-border-width, 0 0 1px 0);
  text-align: var(--heading-text-align, left);
  @media screen and (min-width: $desktop-min) {
    --heading-padding: 0;
    --heading-border: 0;
    --heading-text-align: center;
  }
  &__title{
    font: var(--heading__title-font-weight, 500) var(--heading__title-font-size, var(--font-size-extra-big))/var(--heading__title-line-height, 1.6) var(--heading__title-font-family, var(--body-font-family-secondary));
  }
  &__subtitle{
    font: var(--heading__subtitle-font-weight, 300) var(--heading__subtitle-font-size, var(--font-size-regular))/var(--heading__subtitle-line-height, 1.6) var(--heading__subtitle-font-family, var(--body-font-family-secondary));
  }
  &--no-underline{
    --heading-padding: 0;
    --heading-border: 0;
  }
  &--left{
    --heading-text-align: left;
  }
  &--right{
    --heading-text-align: right;
  }
}
