@import "../../variables";

$heading-c-border: css(heading, c-border, var(--c-light));

$heading-padding: 0 0 10px 0;
$heading-border: 1px solid #{$heading-c-border};
$heading-border-width: 0 0 1px 0;
$heading-title-font: font(
  heading-title,
  500,
  var(--font-size-extra-big),
  1.6,
  var(--body-font-family-secondary)
);
$heading-subtitle-font: font(
  heading-subtitle,
  300,
  var(--font-size-regular),
  1.6,
  var(--body-font-family-secondary)
);

.sf-heading {
  box-sizing: border-box;
  padding: css(heading, padding, $heading-padding);
  border: css(heading, border, $heading-border);
  border-width: css(heading, border-width, $heading-border-width);
  text-align: css(heading, text-align, left);
  @include for-desktop {
    --heading-padding: 0;
    --heading-border: 0;
    --heading-text-align: center;
  }
  &__title {
    font: css(heading-title, font, $heading-title-font);
  }
  &__subtitle {
    font: css(heading-subtitble, font, #{$heading-subtitle-font});
  }
  &--no-underline {
    --heading-border: 0;
  }
  &--left {
    --heading-text-align: left;
  }
  &--right {
    --heading-text-align: right;
  }
}
