@import "../../variables";

$icon-size: var(--icon-size, #{map-get($sizes, "sm")});
$icon-color: var(--icon-color, #{map-get($icon-colors, "black")});

.sf-icon {
  display: flex;
  box-sizing: border-box;
  width: var(--icon-width, #{$icon-size});
  height: var(--icon-height, #{$icon-size});
  background: transparent;
  fill: #{$icon-color};
  outline: 0;
  svg,
  img {
    width: inherit;
    height: inherit;
  }
  @each $pallete, $color in $icon-colors {
    &.color-#{$pallete} {
      --icon-color: #{$color};
    }
  }
  @each $profile, $size in $sizes {
    &.size-#{$profile} {
      --icon-size: #{$size};
    }
  }
}
