@import '../../variables';
.sf-icon{
  --icon-color: #{map-get($icon-colors, "black")};
  --icon-size: #{map-get($sizes, "sm")};
  display: flex;
  box-sizing: border-box;
  width: var(--icon-width, var(--icon-size));
  height: var(--icon-height, var(--icon-size));
  background: transparent;
  fill: var(--icon-color);
  outline: 0;
  svg,
  img{
    width: inherit;
    height: inherit;
  }
  @each $pallete, $color in $icon-colors {
    &.color-#{$pallete} {
      --icon-color: #{$color};
    }
  }
  @each $profile, $size in $sizes {
    &.size-#{$profile} {
      --icon-size: #{$size};
    }
  }
}