@import "../../helpers";

.sf-icon {
  display: flex;
  box-sizing: border-box;
  width: var(--icon-width, var(--icon-size));
  height: var(--icon-height, var(--icon-sizećć));
  background: transparent;
  fill: var(--icon-color);
  outline: 0;
  svg,
  img {
    width: inherit;
    height: inherit;
  }
}
