@import '../../variables';
.sf-icon {
  --icon-color: #{map-get($icon-colors, "black")};
  --icon-size: #{map-get($sizes, "sm")};
  outline: none;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  fill: var(--icon-color);
  width: var(--icon-size);
  height: var(--icon-size);
  @each $pallete, $color in $icon-colors {
    &--color-#{$pallete} {
      --icon-color: #{$color};
    }
  }
  @each $profile, $size in $sizes {
    &--size-#{$profile} {
      --icon-size: #{$size};
    }
  }
  svg,
  img {
    width: inherit;
    height: inherit;
  }
}
