@import "../../helpers";
.sf-image {
  position: relative;
  display: inline-block;
  line-height: 0;
  img {
    width: var(--image-width);
    max-width: 100%;
    height: var(--image-height, auto);
  }
  &--has-size {
    width: 100%;
    max-width: calc(var(--_image-width) * 1px);
    img {
      position: absolute;
      top: 50%;
      left: 0;
      transform: translate3d(0, -50%, 0);
    }
    &::after {
      display: block;
      content: "";
      padding-bottom: calc(var(--_image-height) / var(--_image-width) * 100%);
    }
  }
  &__overlay {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: var(--image-ovarlay-padding, var(--spacer-big));
    background: var(--image-ovarlay-background, rgba(29, 31, 34, 0.8));
    color: var(--image-overlay-color, var(--c-white));
    font: var(
      --image-overlay-font,
      font(
        --image-overlay,
        300,
        var(--font-size-small),
        1.6,
        var(--body-font-family-secondary)
      )
    );
  }
}
