@import "../../helpers";

.sf-image {
  position: relative;
  overflow: var(--image-overflow, hidden);
  width: var(--image-width, 100%);
  max-width: calc(var(--image-max-width) * 1px);
  &::before {
    display: block;
    padding-top: calc(var(--image-height) / var(--image-max-width) * 100%);
    content: var(--image-content, "");
  }
  img {
    position: var(--image-img-position, absolute);
    top: 50%;
    left: 0;
    display: block;
    width: var(--image-img-width, 100%);
    max-width: var(--image-img-max-width, 100%);
    height: 100%;
    transform: var(--image-img-transform, translate3d(0, -50%, 0));
  }
  &__overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: var(--image-overlay-padding, var(--spacer-big));
    background: var(--image-overlay-background, rgba(29, 31, 34, 0.8));
    color: var(--image-overlay-color, var(--c-white));
    font: var(
      --image-overlay-font,
      font(
        --image-overlay,
        300,
        var(--font-size-small),
        1.6,
        var(--body-font-family-secondary)
      )
    );
  }
  &--no-size {
    --image-width: auto;
    --image-img-position: static;
    --image-img-transform: translate3d(0, 0, 0);
  }
}
