@import "../../helpers";

.sf-link {
  color: var(--link-color, var(--c-info));
  @include font(
    --link-font,
    var(--font-weight--medium),
    var(--font-size--sm),
    1.4,
    var(--font-family--secondary)
  );
  text-decoration: var(--link-text-decoration, underline);
  &:visited {
    --link-color: var(--c-text-muted);
  }
  &:hover {
    --link-color: var(--c-black);
  }
}
