$loader-c-accent: var(--loader-c-accent, var(--c-primary));
$loader-c-overlay: var(--loader-c-overlay, var(--c-white));

.sf-loader {
  position: relative;
  width: 100%;
  height: 100%;
  &__overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--loader-overlay-background, #{$loader-c-overlay});
  }
  &__spinner {
    stroke: var(--loader-spiner-stroke, #{$loader-c-accent});
  }
}
