$overlay-c-default: var(--overlay-c-default, var(--c-black));

.sf-overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: var(--overlay-z-index, 1);
  background: var(--overlay-background, #{$overlay-c-default});
  opacity: var(--overlay-opacity, 0.8);
}
