@import '../../variables';

:root {
  --overlay__background-color: var(--c-black);
  --overlay__opacity: .8;
  --overlay__z-index: 1;
}

.sf-overlay {
  background: var(--overlay__background-color);
  opacity: var(--overlay__opacity);
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: var(--overlay-z-index);
}
