@import "../../helpers";
@mixin _price($type, $margin: 0, $color: var(--c-text), $weight: var(--font-medium), $text-decoration: none) {
  margin: var(--price-#{$type}-margin, $margin );
  color: var(--price-#{$type}-color, $color);
  @include font(
    --price-#{$type}-font,
    $weight,
    var(--font-lg),
    1.6,
    var(--font-family-secondary)
  );
  text-decoration: var(--price-#{$type}-text-decoration, $text-decoration);
}
.sf-price {
  display: flex;
  flex-direction: var(--price-flex-direction, row);
  align-items: var(--price-align-items, center);
  justify-content: var(--price-justify-content);
  &__regular {
    @include _price($type: regular)
  }
  &__special {
    @include _price($type: special)
  }
  &__old {
    @include _price(
      $type: old,
      $margin: 0 var(--spacer-xs) 0 0,
      $color: var(--c-danger),
      $weight: var(--font-light),
      $text-decoration: line-through
    )
  }
}
