$property-c-default: var(--property-c-default, var(--c-text));
$property-c-secondary:  var(--property-c-secondary, var(--c-text-muted));

$property-font-width: 400;
$property-front-size: var(--font-size-regular);
$property-line-height: 1.6;
$property-font-family: var(--body-font-family-secondary);
$property-font: var(--property-font-weight, #{$property-font-width})
  var(--property-font-size, #{$property-front-size})/var(--property-line-height, #{$property-line-height})
  var(--property-font-family, #{$property-font-family});
$property-name-margin: 0 var(--spacer) 0 0;

.sf-property{
  display: flex;
  align-items: center;
  color: var(--property-color, #{$property-c-default});
  font: var(--property-font, #{$property-font});
  &__name{
    display: flex;
    align-items: center;
    margin: var(--property-name-margin, #{$property-name-margin} );
    color: var(--property-name-color, #{$property-c-secondary});
    text-transform: var(property-name-text-transform);
    &::after{
      content: var(--property-name-suffix, ":");
    }
  }
  &__value{
    font-weight: var(--propert-value-font-weight, 500);
  }
  &--full-width {
    --property-name-text-transform: uppercase;
    justify-content: space-between;
  }
  &--without-suffix{
    --property-name-suffix: none;
  }
}
