@import "../../helpers";
.sf-property {
  display: flex;
  align-items: center;
  color: var(--property-color, var(--c-text));
  &__name {
    display: flex;
    align-items: center;
    margin: var(--property-name-margin, 0 var(--spacer) 0 0);
    color: var(--property-name-color, var(--c-text-muted));
    font: var(
      --property-name-font,
      font(
        --property-name,
        400,
        var(--font-size-regular),
        1.6,
        var(--body-font-family-secondary)
      )
    );
    text-transform: var(--property-name-text-transform);
    &::after {
      content: var(--property-name-content, ":");
    }
  }
  &__value {
    font: var(
      --property-value-font,
      font(
        --property-value-font,
        400,
        var(--font-size-regular),
        1.6,
        var(--body-font-family-secondary)
      )
    );
  }
  &--full-width {
    --property-name-text-transform: uppercase;
    justify-content: space-between;
  }
  &--without-suffix {
    --property-name-content: none;
  }
}
