@import "../../helpers";

.sf-quantity-selector {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  box-sizing: border-box;
  height: var(--quantity-selector-height, 2.5rem);
  width: var(--quantity-selector-width, 6.75rem);
  padding: var(--quantity-selector-padding, 0 var(--spacer-xs));
  background: var(--quantity-selector-background, var(--c-white));
  &__button {
    --button-height: var(--quantity-selector-height, auto);
    --button-padding: 0;
    --button-color: var(--c-text);
    --button-background: transparent;
    --button-font-size: var(--font-xl);
    --button-font-line-height: 1;
    --button-font-weight: var(--font-light);
    align-items: center;
    &:hover {
      --button-background: transparent;
      --button-box-shadow: none;
    }
  }
  &__input {
    --input-bar-display: none;
    --input-margin: 0;
    --input-padding: 0;
    --input-border: none;
    --input-height: 2.5rem;
    --input-background: transparent;
    --input-text-align: center;
    --input-font-size: var(--font-xl);
    --input-font-weight: var(--font-light);
  }
  @include for-mobile {
    &--secondary {
      --quantity-selector-height: 3.5rem;
      --quantity-selector-width: 23.4375rem;
      .sf-quantity-selector__button {
        --button-size: 1.625rem;
        --button-padding: 0;
        --button-border-radius: 50%;
        --button-background: var(--c-light);
        --button-font-size: var(--font-xl);
        --button-font-line-height: 1;
      }
      &::before {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 1px;
        background: var(--c-light);
        transition: none;
        content: "";
      }
    }
  }
  @include for-desktop {
    --quantity-selector-height: 3.25rem;
    --quantity-selector-background: var(--c-light);
    &__button {
      --button-height: var(--quantity-selector-height, auto);
      &:hover {
        text-shadow: 0 4px 4px var(--c-dark);
      }
    }
  }
}
