@import "../../helpers";

.sf-quantity-selector {
  --input-width: 1.875rem;
  --input-height: 1.6875rem;
  input {
    --input-padding: 0;
    --input-margin: 0;
    --input-border-width: 1px;
    text-align: center;
    transition: border-color 150ms linear;
    &:focus {
      --input-border: 1px solid var(--c-primary);
      --input-border-width: 1px 1px 0 1px;
      --input-padding: 0 0 1px 0;
    }
  }
  @include for-desktop {
    --input-width: 3.125rem;
    --input-background: var(--c-light);
  }
}
