@import "../../helpers";

.sf-quantity-selector {
  box-sizing: border-box;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  height: var(--quantity-selector-height, 3.5rem);
  width: var(--quantity-selector-width, 23.4375rem);
  padding: var(--quantity-selector-padding, 0);
  background: var(--quantity-selector-background);
  &__button {
    --button-color: var(--c-text);
    --button-background: var(--c-light);
    --button-padding: 0;
    --button-size: 1.625rem;
    --button-font-size: var(--font-xl);
    --button-font-line-height: 1.5rem;
    border-radius: var(--quantity-selector-button-border-radius, 50%);
    &:hover {
      --button-background: var(--c-light);
      box-shadow: none;
    }
  }
  &__input {
    --input-margin: 0;
    --input-padding: 0;
    --input-border: none;
    --input-height: 3.5rem;
    --input-text-align: center;
    --input-bar-display: none;
    --input-font-size: var(--font-xl);
    --input-font-line-height: 1.2;
  }
  &::before {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background: var(--c-light);
    transition: none;
    content: "";
  }
  @include for-desktop {
    --quantity-selector-background: var(--c-light);
    --quantity-selector-width: 6.75rem;
    --quantity-selector-height: 3.25rem;
    --quantity-selector-padding: 0 var(--spacer-xs);
    --quantity-selector-button-border-radius: 0;
    &__button {
      --button-height: var(--quantity-selector-height, auto);
      --button-font-line-height: 1.5rem;
      &:hover {
        text-shadow: var(--dark-base);
        --button-background: transparent;
      }
    }
    &--small {
      --quantity-selector-background: var(--c-white);
      --quantity-selector-height: 2.5rem;
      --button-background: var(--c-white);
    }
    &::before {
      display: none;
    }
  }
  @include font(
    --quantity-selector-font,
    var(--font-light),
    var(--h2-font-size),
    1.2,
    var(--font-family-secondary)
  );
}
