:root{
  --rating-c-primary: var(--c-primary);
}
.sf-rating{
  display: flex;
  &__icon{
    --icon-color: var(--rating__icon-color, var(--rating-c-primary));
    &--negative{
      --icon-color: var(--rating__icon-color, var(--c-dark));
    }
  }
}
