@import "../../helpers";
.sf-rating {
  display: flex;
  &__icon {
    --icon-size: 0.875rem;
    --icon-color: var(--c-primary);
    &--negative {
      --icon-color: var(--c-text-disabled);
    }
  }
}
