$_darken-value: 5;
$_lighten-value: 5;
// Map theme colors palette
$colors-map: (
  'primary': (
    'bg': var(--c-primary),
    'bg-base': var(--c-primary-base),
    'bg-darken': var(--c-primary-darken),
    'bg-lighten': var(--c-primary-lighten),
    'bg-hover': var(--c-primary-hover),
    'variant': var(--c-primary-variant),
    'text': var(--c-on-primary),
    'text-hover': var(--c-on-primary-hover)
  ),
  'secondary': (
    'bg': var(--c-secondary),
    'bg-base': var(--c-secondary-base),
    'bg-darken': var(--c-secondary-darken),
    'bg-lighten': var(--c-secondary-lighten),
    'bg-hover': var(--c-secondary-hover),
    'variant': var(--c-secondary-variant),
    'text': var(--c-on-secondary),
    'text-hover': var(--c-on-secondary-hover)
  ),
  'light': (
    'bg': var(--c-light),
    'bg-base': var(--c-light-base),
    'bg-darken': var(--c-light-darken),
    'bg-lighten': var(--c-light-lighten),
    'bg-hover': var(--c-light-hover),
    'variant': var(--c-light-variant),
    'text': var(--c-on-light),
    'text-hover': var(--c-on-light-hover)
  ),
  'dark': (
    'bg': var(--c-dark),
    'bg-base': var(--c-dark-base),
    'bg-darken': var(--c-dark-darken),
    'bg-lighten': var(--c-dark-lighten),
    'bg-hover': var(--c-dark-hover),
    'variant': var(--c-dark-variant),
    'text': var(--c-on-dark),
    'text-hover': var(--c-on-dark-hover)
  ),
  'info': (
    'bg': var(--c-info),
    'bg-base': var(--c-info-base),
    'bg-darken': var(--c-info-darken),
    'bg-lighten': var(--c-info-lighten),
    'bg-hover': var(--c-info-hover),
    'variant': var(--c-info-variant),
    'text': var(--c-on-info),
    'text-hover': var(--c-on-info-hover)
  ),
  'success': (
    'bg': var(--c-success),
    'bg-base': var(--c-success-base),
    'bg-darken': var(--c-success-darken),
    'bg-lighten': var(--c-success-lighten),
    'bg-hover': var(--c-success-hover),
    'variant': var(--c-success-variant),
    'text': var(--c-on-success),
    'text-hover': var(--c-on-success-hover)
  ),
  'warning': (
    'bg': var(--c-warning),
    'bg-base': var(--c-warning-base),
    'bg-darken': var(--c-warning-darken),
    'bg-lighten': var(--c-warning-lighten),
    'bg-hover': var(--c-warning-hover),
    'variant': var(--c-warning-variant),
    'text': var(--c-on-warning),
    'text-hover': var(--c-on-warning-hover)
  ),
  'danger': (
    'bg': var(--c-danger),
    'bg-base': var(--c-danger-base),
    'bg-darken': var(--c-danger-darken),
    'bg-lighten': var(--c-danger-lighten),
    'bg-hover': var(--c-danger-hover),
    'variant': var(--c-danger-variant),
    'text': var(--c-on-danger),
    'text-hover': var(--c-on-danger-hover)
  )
);
$icon-colors: (
  "white": var(--c-white),
  "black": var(--c-black),
  "accent": var(--_c-green-primary),
  "dark-secondary": var(--_c-dark-secondary),
  "green-primary": var(--_c-green-primary),
  "green-secondary": var(--_c-green-secondary),
  "gray-primary": var(--_c-gray-primary),
  "gray-secondary": var(--_c-gray-secondary),
  "light-primary": var(--_c-light-primary),
  "light-secondary": var(--_c-light-secondary),
  "pink-primary": var(--_c-pink-primary),
  "pink-secondary": var(--_c-pink-secondary),
  "red-primary": var(--_c-red-primary),
  "red-secondary": var(--_c-red-secondary),
  "yellow-primary": var(--_c-yellow-primary),
  "yellow-secondary": var(--_c-yellow-secondary),
  "blue-primary": var(--_c-blue-primary),
  "blue-secondary": var(--_c-blue-secondar) y
);
