// Color contrast
// Ref.: https://github.com/twbs/bootstrap/blob/master/scss/_functions.scss ;)
@function color-yiq($color, $dark: var(--c-black), $light: var(--c-white)) {
  $r: red($color);
  $g: green($color);
  $b: blue($color);
  $yiq: (($r * 299) + ($g * 587) + ($b * 114)) / 1000;
  @return if($yiq >= 150, $dark, $light);
}
@function rgbColor($hexColor) {
  @return #{red($hexColor), green($hexColor), blue($hexColor)};
}
@mixin generate-color-variants($name, $value) {
  #{$name}: #{$value};
  #{$name}-base: rgbColor($value);
  #{$name}-lighten: #{lighten($value, $_lighten-value)};
  #{$name}-darken: #{darken($value, $_darken-value)};
}
@mixin assign-color-variants($variable, $value) {
  #{$variable}: var(#{$value});
  #{$variable}-base: var(#{$value}-base);
  #{$variable}-lighten: var(#{$value}-lighten);
  #{$variable}-darken: var(#{$value}-darken);
}
@mixin color-modifiers($var) {
  //  @each $color, $map in $colors-map {
  //  $background: map-get($map, 'bg');
  //  $hover: map-get($map, 'bg-hover');
  //  $text: map-get($map, 'text');
  //  $text-hover: map-get($map, 'text-hover');
  //  &.color-#{$color} {
  //    #{$var}-color: $text;
  //    #{$var}-background-color: $background;
  //    #{$var}-border-color: $background;
  //    #{$var}-hover-color: $text-hover;
  //    #{$var}-hover-background-color: $hover;
  //    #{$var}-hover-border-color: $hover;
  //  }
  //}
}
@mixin for-desktop {
  @media screen and (min-width: $desktop-min) {
    @content;
  }
}

@mixin for-mobile {
  @media screen and (max-width: $desktop-min) {
    @content;
  }
}

@function css($name, $property, $default: "") {
  @return var(--#{$name}-#{$property}, #{$default});
}

@function font($element, $font-width, $font-size, $line-height, $font-family) {
  @return var(#{$element}-font-width, $font-width)
    var(#{$element}-font-size, $font-size) /
    var(#{$element}-line-height, $line-height)
    var(#{$element}-font-family, $font-family);
}
