$typography-map: (
        "desktop": (
                "extra-small": var(--font-size-extra-small-desktop),
                "small": var(--font-size-small-desktop),
                "regular": var(--font-size-regular-desktop),
                "big": var(--font-size-big-desktop),
                "extra-big": var(--font-size-extra-big-desktop),
        ),
        "mobile": (
                "extra-small": var(--font-size-extra-small-mobile),
                "small": var(--font-size-small-mobile),
                "regular": var(--font-size-regular-mobile),
                "big": var(--font-size-big-mobile),
                "extra-big": var(--font-size-extra-big-mobile),
        )
);
