@import '../../css/variables';

.sf-bottom-navigation {
  position: fixed;
  bottom: 0;
  display: flex;
  justify-content: space-between;
  width: 100%;
  background-color: $c-white;

  @media ( min-width: $tablet-min ) {
    display: none
  }

  .sf-bottom-navigation__elements {
    display: flex;
  }
  
  .sf-bottom-navigation__element {
    padding: 0 0.7rem;
    opacity: 0.5;
    transition: 0.3s all;

    &.active,
    &.cart-button {
      opacity: 1;
    }
  }

  .sf-bottom-navigation__element img {
    width: 1.5rem;
    height: auto;
    padding: 0.5rem;
  }

  .sf-bottom-navigation-cart-button {
    background-color: $c-green-primary;
    border-radius: 50%;
    box-shadow: 0px 4px 6px rgba(66, 66, 66, 0.2);

  }
}