@import '../../../css/variables';

$sf-alert-padding                   : 0.625rem !default;
$sf-alert-font-size                 : 0.875rem !default;

$sf-alert__text-margin              : 0 !default;

$sf-alert__icon-padding-right       : 0.625rem !default;

$sf-alert--info-background-color    : $c-yellow-secondary !default;
$sf-alert--info-color               : $c-yellow-primary !default;

$sf-alert--warning-background-color : $c-pink-secondary !default;
$sf-alert--warning-color            : $c-pink-primary !default;

$sf-alert--alert-background-color   : $c-blue-secondary !default;
$sf-alert--alert-color              : $c-blue-primary !default;

.sf-alert {
    display: flex;
    align-items: center;
    padding: $sf-alert-padding;
    font-size: $sf-alert-font-size;

    &__text {
        margin: $sf-alert__text-margin;
    }
    
    &__icon {
        padding-right: $sf-alert__icon-padding-right;
    }

    &--info {
        background-color: $sf-alert--info-background-color;
        color: $sf-alert--info-color;
        fill: $sf-alert--info-color;
     
    }
    &--alert {
        background-color: $sf-alert--alert-background-color;
        color: $sf-alert--alert-color;
        fill: $sf-alert--alert-color;
    }
    &--warning {
        background-color: $sf-alert--warning-background-color;
        color: $sf-alert--warning-color;
        fill: $sf-alert--warning-color;
    }
}
