<section class="sf-banner">
  <div class="sf-banner__container">
    <h2 class="sf-banner__subtitle" v-if="$slots.subtitle">
      <slot name="subtitle" />
    </h2>
    <h1 class="sf-banner__title" v-if="$slots.title">
      <slot name="title" />
    </h1>
    <p class="sf-banner__description" v-if="$slots.description">
      <slot name="description" />
    </p>
    <SfButton class="sf-banner__call-to-action"  v-if="$slots['call-to-action']">
      <slot name="call-to-action" />
    </SfButton>
    <slot />
  </div>
</section>
