.vsf-button {
  $self: &;
  @apply inline-flex items-center justify-center cursor-pointer font-body outline-violet font-medium text-base;

  &:not(.vsf-button--tile, .vsf-button--rounded) {
    @apply rounded-md;
  }

  &__prefix {
    @apply mr-2;
  }

  &__suffix {
    @apply ml-2;
  }

  &--block {
    @apply flex flex-1 w-full;
  }

  &--rounded {
    @apply rounded-full;
  }

  &--icon,
  &--variant-tertiary {
    &#{$self}--sm {
      @apply px-1.5;
    }
    &#{$self}--base {
      @apply px-2;
    }
    &#{$self}--lg {
      @apply px-3;
    }
  }

  /* disabled */
  &#{$self}--disabled,
  &:disabled {
    @apply text-gray-500 opacity-50 bg-gray-200 shadow-none pointer-events-none ring-0;
    &#{$self}--variant-tertiary {
      @apply bg-transparent;
    }
  }

  /* sizes */
  &--sm {
    @apply leading-5 text-sm h-8 px-2;
  }

  &--base {
    @apply h-10 px-4;
  }

  &--lg {
    @apply h-12 px-6;
  }

  /* variants */
  &--variant-primary {
    &:not(.vsf-button--disabled) {
      @apply text-white hover:shadow-medium shadow-base bg-primary-700 hover:bg-primary-800 active:bg-primary-900;
    }
  }

  &--variant-secondary:not(.vsf-button--disabled),
  &--variant-tertiary:not(.vsf-button--disabled) {
    @apply text-primary-800 hover:bg-primary-100 active:bg-primary-200 active:text-primary-900;
  }

  &--variant-secondary:not(.vsf-button--disabled) {
    @apply ring-1 ring-gray-200 hover:shadow-medium active:shadow shadow hover:ring-primary-200 active:ring-primary-300;
  }
}
