.vsf-chips-filter {
  $parent: &;
  @apply relative inline-block items-center cursor-pointer bg-white;

  &__input {
    @apply appearance-none outline-none absolute w-0;
  }

  &__peer-wrapper {
    @apply ring-1 ring-gray-200 ring-inset rounded-full flex items-center transition duration-300 justify-center outline-offset-2 outline-violet;
    @apply peer-checked:ring-2 peer-checked:ring-primary-500;
    @apply peer-hover:bg-primary-100 peer-hover:ring-primary-500;
    @apply peer-active:bg-primary-200 peer-active:ring-primary-500;
    @apply peer-disabled:cursor-not-allowed peer-disabled:bg-gray-100/50 peer-disabled:ring-1 peer-disabled:ring-gray-200/50;
    @apply peer-focus:outline;

    #{$parent}__thumbnail {
      @apply transition duration-300 rounded-full h-5 w-5 opacity-50;
      @apply peer-checked:opacity-100;
      @apply peer-disabled:opacity-20;
    }

    #{$parent}__label {
      @apply peer-disabled:text-opacity-40;
    }
  }

  &__label {
    @apply relative font-normal text-gray-900;
  }

  &--primary {
    @apply ring-2 ring-primary-500;
  }

  &--size-sm {
    #{$parent}__peer-wrapper {
      @apply text-sm h-7 p-1.5 min-w-[1.75rem];

      #{$parent}__thumbnail {
        @apply h-4 w-4;
      }
      #{$parent}__label {
        @apply px-2;
      }
    }
  }

  &--size-base {
    #{$parent}__peer-wrapper {
      @apply text-sm h-8 p-1.5 gap-0.5 min-w-[2rem];
    }

    #{$parent}__label {
      @apply px-1.5;
    }
  }

  &--size-lg {
    #{$parent}__peer-wrapper {
      @apply text-base h-10 p-2 gap-0.5 min-w-[2.5rem];
    }
    #{$parent}__label {
      @apply px-2;
    }
  }
}
