.vsf-checkbox {
  $self: &;

  &__wrapper {
    @apply flex items-center;
    
    &--alignment {
      &-leading {
        @apply flex-row;
      }
  
      &-trailing {
        @apply flex-row-reverse justify-between;

        #{$self}__label {
          @apply ml-0;
        }
      }
    }
  }

  &__label {
    @apply text-gray-900 font-body text-base ml-3;
  }

  &__input {
    @apply flex self-center w-[18px] h-[18px] border-2 rounded-sm appearance-none cursor-pointer text-gray-500 hover:border-primary-800 active:border-primary-900 hover:checked:text-primary-800 hover:indeterminate:text-primary-800 active:checked:text-primary-900 checked:text-primary-700 checked:bg-checked-checkbox-current border-current indeterminate:bg-indeterminate-checkbox-current indeterminate:text-primary-700;

    &--invalid, &:invalid {
      @apply border-negative-700 hover:border-negative-800 active:border-negative-900;
    }
  }

  &__text-wrapper {
    @apply ml-8 font-body;

    &-trailing {
     @apply ml-0;
    }
  }
  
  &__error-text, &__help-text, &__required-text {
    @apply text-sm;
  }

  &__error-text {
    @apply text-negative-700 font-medium mt-0.5;
  }

  &__help-text {
    @apply text-xs mt-0.5 text-gray-500;
  }

  &__required-text {
    @apply text-gray-500 mt-2;
  }
  

  &--disabled {
    #{$self}__input {
      @apply text-gray-300 hover:text-gray-300 hover:border-current cursor-not-allowed;
    }

    #{$self}__text-wrapper, #{$self}__help-text {
      @apply opacity-50;
    }

    #{$self}__label, #{$self}__required-text  {
      @apply text-opacity-40;
    }
  }

  &--required {
    #{$self}__label {
      @apply after:content-['*'];
    }
  }
}
