.vsf-footer {
  @apply pt-10 bg-gray-100;

  &__section {
    &--top {
      @apply grid justify-center grid-cols-[1fr_1fr] medium:grid-cols-[repeat(4,1fr)] px-4 medium:px-6 pb-10 4-extra-large:max-w-[96rem] mx-auto;
    }

    &--middle {
      @apply py-10 large:flex 4-extra-large:max-w-[96rem] large:mx-auto;
    }

    &--bottom {
      @apply bg-gray-900;

      &__wrapper {
        @apply justify-end px-4 py-10 bg-gray-900 large:flex large:py-6 4-extra-large:max-w-[96rem] mx-auto;
      }
    }
  }

  &__column {
    &--top {
      @apply min-w-[120px] extra-small:min-w-[172px];
    }

    &--middle {
      @apply mx-auto my-4 text-center;
    }
  }

  &__social-media {
    @apply flex justify-center py-2 large:self-start;
  }

  &__bottom-links {
    @apply flex justify-center gap-6 py-2 my-4 large:ml-auto large:my-0;
  }

  &__label {
    &--category {
      @apply block pb-2 text-lg font-medium leading-7 text-gray-900 font-body;
    }

    &--subcategory {
      @apply block py-2 text-sm font-normal leading-5 text-gray-600 font-body;
    }

    &--contact {
      @apply block py-1 my-2 text-lg font-medium leading-7 text-gray-900 underline font-body;
    }

    &--social-media {
      @apply mr-4 text-white;
    }

    &--bottom-links {
      @apply text-sm font-normal leading-5 text-center text-white font-body;
    }

    &--company-name {
      @apply block py-2 text-sm font-normal leading-5 text-center text-white/50 font-body large:ml-6;
    }

    &--contact-description {
      @apply block text-sm font-normal leading-5 text-gray-600 font-body;
    }
  }
}
