.vsf-icon {
    fill: currentColor;

    &-xs {
        width: 1rem;
        height: 1rem;
    }

    &-sm {
        width: 1.25rem;
        height: 1.25rem;
    }

    &-base {
        width: 1.5rem;
        height: 1.5rem;
    }

    &-lg {
        width: 2rem;
        height: 2rem;
    }

    &-xl {
        width: 2.5rem;
        height: 2.5rem;
    }

    &-2xl {
        width: 3.5rem;
        height: 3.5rem;
    }

    &-3xl {
        width: 6rem;
        height: 6rem;
    }

    &-4xl {
        width: 12rem;
        height: 12rem;
    }

    &-full {
        width: 100%;
        height: 100%;
    }
}

