.vsf-list-item-menu {
  $self: &;
  @apply relative inline-flex text-left items-center font-normal font-body text-base w-full bg-white hover:bg-gray-100 active:bg-gray-100 disabled:opacity-40 disabled:bg-white disabled:cursor-not-allowed;

  &__content {
    @apply flex flex-col w-full min-w-0;
  }

  &__title {
    @apply inline-block break-words;
  }

  &__counter {
    @apply ml-2;
  }

  &__secondary-text {
    @apply text-xs text-gray-500 break-words;

    &--truncated {
      @apply truncate;
    }
  }

  &__icon {
    @apply flex-grow-0 text-gray-500;

    &--preffix {
      @apply mr-2.5;
    }
  }

  &--selected {
    @apply bg-primary-50;

    #{$self}__label {
      @apply font-medium;
    }

    #{$self}__icon--preffix {
      @apply text-primary-700;
    }
  }

  &--disabled {

    #{$self}__icon--preffix {
      @apply text-gray-500;
    }
  }

  &--size-sm {
    @apply text-xs px-4 py-1.5;

    #{$self}__counter {
      @apply text-xs;
    }
  }

  &--size-base {
      @apply px-4 py-2;
  }

  &--size-lg {
      @apply px-4 py-4;
  }
}
