.vsf-navbar-bottom {
  $root: &;
  @apply bottom-0 w-full;
  &--absolute {
    @apply absolute;
  }

  &#{&}--no-labels {
    #{$root}-item {
      &__label {
        @apply hidden;
      }
      &__content {
        @apply pt-0;
      }
    }
  }
  &#{&}--filled {
    #{$root}-item {
      @apply bg-primary-500 text-white;
      @apply hover:text-white hover:bg-primary-600;
      &--active,
      &:active {
        @apply text-white bg-primary-700;
      }
    }
  }
  &__root {
    @apply flex flex-row items-stretch;
  }

  &-item {
    @apply py-1 flex-1 h-full;
    @apply bg-white text-gray-900 hover:text-primary-600  hover:bg-primary-100;
    &--active,
    &:active {
      @apply text-primary-700 bg-primary-200;
    }
    &__content {
      @apply flex flex-col items-center justify-center min-h-[40px] pt-2 bg-inherit;
    }
    &__icon {
      @apply m-auto inline-flex bg-inherit;
    }
    &__label {
      @apply font-medium text-xs mt-0.5;
    }
  }
}
