.vsf-review {
  @apply w-full p-4 border rounded-md font-body;

  &__title {
    @apply font-medium text-base mb-2;
  }

  &__data {
    @apply flex flex-col space-y-2 mb-2 md:flex-row md:justify-between md:space-y-0;

    &-leading,
    &-trailing {
      @apply flex space-x-4 items-center;
    }

    &-date,
    &-author {
      @apply text-gray-500 text-xs font-normal truncate;
    }

    &-date {
      @apply pr-2;
    }
  }

  &__expand-button {
    @apply w-fit my-2 text-sm font-normal cursor-pointer border-b-2 border-black;
  }
}
