.scrollbar-hidden {
  -ms-overflow-style: none; /* for Internet Explorer, Edge */
  scrollbar-width: none; /* for Firefox */
  /* overflow-y: scroll; */
}

.scrollbar-hidden::-webkit-scrollbar {
  display: none; /* for Chrome, Safari, and Opera */
}
.vsf-slider {
  $root: &;
  @apply relative w-full flex items-center;
  &__container {
    @apply scroll-smooth flex gap-4 h-full overflow-x-auto scroll-p-7;
    @media (prefers-reduced-motion: reduce) {
      scroll-behavior: auto !important;
    }

    &._dragging {
      @apply cursor-grab;
    }

    &--scroll {
      @apply overflow-x-scroll;
    }
    > * {
      @apply relative w-full h-full min-h-[60px] flex items-center; // FF is not able to smooth-scrolling (css or with scrollIntoView()) on shorter elements
    }
  }
  &__nav {
    @apply transition-opacity md:block hidden;
    &-prev {
      @apply mr-4;
    }
    &-next {
      @apply ml-4;
    }
  }
  &--snap-scroll {
    #{$root}__container {
      @apply snap-x snap-mandatory;

      > * {
        @apply snap-start last:snap-end;
      }
    }
  }
  &--mobile-nav {
    #{$root}__nav {
      @apply block;
    }
  }

  &--floating-nav {
    #{$root}__nav {
      @apply absolute top-1/2 z-10 -translate-y-1/2;
      &-prev {
        @apply left-4;
      }
      &-next {
        @apply right-4;
      }
    }
  }
}
