.remove-default-styling,
.remove-default-styling::-webkit-search-cancel-button,
.remove-default-styling input[type=number]::-webkit-inner-spin-button,
.remove-default-styling input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}