.scrollbar-hidden {
  -ms-overflow-style: none; /* for Internet Explorer, Edge */
  scrollbar-width: none; /* for Firefox */
  /* overflow-y: scroll; */
}

.scrollbar-hidden::-webkit-scrollbar {
  display: none; /* for Chrome, Safari, and Opera */
}
.vsf-slider {
  $root: &;
  @apply relative w-full flex items-center;
  &__container {
    @apply scroll-smooth flex gap-4 h-full overflow-x-auto scroll-p-7;
    &--scroll {
      @apply overflow-x-scroll;
    }
  }
  &__item {
    @apply relative w-full h-full min-h-[60px] flex items-center; // FF is not able to smooth-scrolling (css or with scrollIntoView()) on shorter elements
  }
  &__nav {
    @apply transition-opacity bg-white md:block hidden;
    &-prev {
      @apply mr-4;
    }
    &-next {
      @apply ml-4;
    }
  }
  &--snap-scroll {
    #{$root}__container {
      @apply snap-x snap-mandatory;
    }
    #{$root}__item {
      @apply snap-start;
    }
  }
  &--mobile-nav {
    #{$root}__nav {
      @apply block;
    }
  }
  &--floating-nav {
    &.slider-item-first-visible {
      #{$root}__nav-prev {
        @apply opacity-0 pointer-events-none;
      }
    }
    &.slider-item-last-visible {
      #{$root}__nav-next {
        @apply opacity-0 pointer-events-none;
      }
    }
    #{$root}__nav {
      @apply absolute top-1/2 z-10 -translate-y-1/2;
      &-prev {
        @apply left-4;
      }
      &-next {
        @apply right-4;
      }
    }
  }
}
