<div class="sf-price">
    <!--@slot Custom old price (value from regularPrice)-->
    <slot name="oldPrice">
      <span
        v-if="specialPrice"
        :aria-label="oldPriceAriaLabel"
        class="sf-price__old"
        >
        {{ regularPrice }}
      </span>
    </slot>
    <!--@slot Custom regular price -->
    <slot name="regularPrice">
        <span
          v-if="!specialPrice"
          :aria-label="regularPriceAriaLabel"
          class="sf-price__regular"
          >
          {{ regularPrice }}
        </span>
      </slot>
    <!--@slot Custom special price-->
    <slot name="specialPrice">
      <ins
        v-if="specialPrice"
        :aria-label="specialPriceAriaLabel"
        class="sf-price__special"
      >
        {{ specialPrice }}
      </ins>
    </slot>
  </div>