@import '../../../css/variables';

$sf-select-padding: $spacer;
$sf-select-font-size: $font-size-big-mobile;
$sf-select-font-family: $body-font-family-secondary;

.sf-select {
  position: relative;
  user-select: none;
  &:focus{
    outline: 0;
  }
  &__selected {
    border: 1px solid #F1F2F3;
    background-color: #FFF;
    @at-root :focus &{
      border  : 1px solid #5ECE7B;
    }
  }
  &__options {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100%;
    background-color: #FFF;
    box-shadow: 0px 4px 11px rgba(157, 157, 157, 0.21);
  }
}
