<div class="sf-select">
  <!-- <select 
    :value="selected" 
    @input="changed($event)"
    @blur="blured($event)" 
    ref="selector"
    class="sf-select__default">
    <option 
      v-for="option in options" 
      :key="option.value" 
      :value="option.value">{{option.label}}</option>
  </select> -->
  <div 
    @click="clicked($event)"
    @blur="blured($event)"
    class="sf-select__selected sf-select-option" 
    v-html="html"
    tabindex="0"
    ></div>
  <transition name="fade">
    <ul 
      v-show="open"
      class="sf-select__options" 
      style="list-style-type:none; padding: 0; margin: 0;">
      <slot/>
    </ul>
  </transition>
</div>