@import '../../variables';

:root {
  --accordion-font-family: var(--body-font-family-secondary);
  --accordion-font-size: var(--font-size-regular);
  --accordion-font-weight: var(--body-font-weight-secondary);
  --accordion-line-height: 1.6;
  --accordion__title-padding-y: .625rem;
  --accordion__title-font-size: var(--font-size-big);
  --accordion__content-padding-y: 1.875rem;

  @media screen and (min-width: $desktop-min) {
    --accordion-font-size: var(--font-size-regular);
    --accordion__title-font-size: var(--font-size-big);
  }
}

.sf-accordion-item {
  $this: &;
  font-family: var(--accordion-font-family);
  font-size: var(--accordion-font-size);
  font-weight: var(--accordion-font-weight);
  line-height: var(--accordion-line-height);

  &__header {
    display: flex;
    justify-content: space-between;
    padding: var(--accordion__title-padding-y) 0;
    color: var(--c-dark);
    cursor: pointer;
    font-size: var(--accordion__title-font-size);
  }

  &__content {
    padding: var(--accordion__content-padding-y) 0;
  }

  &__chevron {
    display: none;
  }
}

.sf-accordion {
  $this: &;

  &--has-chevron {
    #{$this}-item__chevron {
      display: flex;
      align-items: center;
      max-height: calc(var(--accordion-font-size) * var(--accordion-line-height));
    }
  }
}
