@import "../../helpers";

.sf-accordion-item {
  font: var(
    --accordion-item-font,
    font(
      --accordion-item,
      var(--body-font-weight-secondary),
      var(--font-size-regular),
      1.6,
      var(--body-font-family-secondary)
    )
  );
  &__header {
    display: flex;
    justify-content: var(--accordion-item-header-justify, space-between);
    padding: var(--accordion-item-padding, 0.625rem 0);
    color: var(--accordion-item-color, var(--c-dark));
    font: var(
      --accordion-item-header-font,
      font(
        --accordion-item-header,
        var(--body-font-weight-secondary),
        var(--font-size-big),
        1.6,
        var(--body-font-family-secondary)
      )
    );
    cursor: pointer;
  }
  &__content {
    padding: var(--accordion-item-content, 1.875rem 0);
  }
  &__chevron {
    display: var(--accordion-item-chevron-display, none);
    align-items: var(--accordion-item-chevron-align-items, auto);
    max-height: var(--accordion-item-chevron-max-height, none);
  }
  @include for-desktop {
    --accordion-item-header-font-size: var(--font-size-regular);
    --acordion-item-font-size: var(--font-size-big);
  }
}
.sf-accordion {
  &--has-chevron {
    --accordion-item-chevron-display: flex;
    --accordion-item-chevron-align-items: center;
    --accordion-item-chevron-max-height: calc(
      var(--accordion-font-size) * var(--accordion-line-height)
    );
  }
}
