@import "../../helpers";

.sf-banner-grid {
  &__row {
    display: var(--banner-grid-row-display);
    flex: var(--banner-grid-row-flex);
    margin: var(--banner-grid-row-margin, 0);
  }
  &__col {
    display: var(--banner-grid-col-display);
    flex: var(--banner-grid-col-flex);
    margin: var(--banner-grid-col-margin, 0);
    & + & {
      --banner-grid-col-margin: 0.625rem 0 0 0;
    }
  }
  @include for-desktop {
    --banner-grid-row-display: flex;
    --banner-grid-row-flex: 0 0 100%;
    --banner-grid-col-display: flex;
    &__row {
      --banner-grid-row-margin: 0;
      & + & {
        --banner-grid-row-margin: var(--spacer-extra-big) 0 0 0;
      }
    }
    &__col {
      --banner-grid-col-flex: 1;
      flex-wrap: wrap;
      --banner-grid-col-margin: 0;
      & + & {
        --banner-grid-col-margin: 0 0 0 var(--spacer-extra-big);
      }
      & > .sf-banner,
      & > a {
        display: flex;
        flex: 1;
      }
      &--small {
        --banner-grid-col-flex: 0 1 28.125rem;
      }
      &--medium {
        --banner-grid-col-flex: 0 1 31.25rem;
      }
    }
  }
}
