@import '../../variables';

.sf-banner-grid {
  &__row {
    .grid > &:first-of-type > .grid__col:first-of-type {
      margin-top: 0;
    }
  }
  &__col {
    margin-top: calc(var(--spacer-big) / 2);
  }
}

@media screen and (min-width: $desktop-min) {
  .sf-banner-grid {
    &__row {
      display: flex;
      flex: 0 0 100%;
      & + & {
        margin-top: var(--spacer-extra-big);
      }
    }
    &__col {
      flex-wrap: wrap;
      display: flex;
      flex: 1;
      margin-top: 0;
      & + & {
        margin-left: var(--spacer-extra-big);
      }
      & > a {
        display: flex;
        flex: 1;
      }
      &--small {
        flex-basis: 450px;
        flex-grow: 0;
      }
      &--medium {
        flex-basis: 500px;
        flex-grow: 0;
      }
      .sf-banner{
        flex: 1
      }
    }
  }
}
