@import "../../helpers";
.sf-bottom-navigation {
  box-sizing: border-box;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 1;
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  width: 100%;
  height: 3.75rem;
  background: var(--c-white);
  box-shadow: 0px -2px 10px rgba(var(--_c-gray-secondary-base), 0.15);
}
.sf-bottom-navigation-item {
  --icon-color: var(--c-link);
  background: transparent;
  border: 0;
  flex: 1;
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: var(--spacer-xs) 0 var(--spacer-xs) 0;
  color: var(--c-link);
  font-weight: var(--font-weight--light);
  font-size: var(--font-size--xs);
  font-family: var(--font-family--primary);

  & .sf-circle-icon {
    --button-size: 4.125rem;
  }
  &.is-active {
    color: var(--c-primary);
    font-weight: var(--font-weight--normal);
    --icon-color: var(--c-primary);
  }
  &__label {
    &.has-margin {
      margin: var(--spacer-xs) 0 0 0;
    }
  }
  &__icon {
    background: transparent;
    padding: 0;
  }
  &.is-floating {
    --icon-color: var(--c-white);
    & .sf-circle-icon {
      --circle-icon-position: absolute;
      top: 0;
      transform: translate3d(0, -50%, 0);
    }
  }
  &.center {
    align-self: center;
  }
}
