@import "../../helpers";

.sf-bottom-navigation-item {
  --icon-color: var(--c-gray-variant);
  position: relative;
  top: var(--bottom-navigation-item-top);
  margin: var(--bottom-navigation-item-margin);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font: var(
    --bottom-navigation-item-font,
    font(
      --bottom-navigation-item,
      var(--body-font-weight-primary),
      var(--font-size-small),
      1.6,
      var(--body-font-family-primary)
    )
  );
  color: var(--bottom-navigation-item-color, var(--c-gray-variant));
  &__label {
    line-height: 1.6;
  }
  &--active {
    --bottom-navigation-item-color: var(--c-black);
    --bottom-navigation-item-font-weight: var(--body-font-weight-secondary);
    --icon-color: var(--bottom-navigation-item-color--active);
  }
  &--has-margin {
    --bottom-navigation-item-margin: 6px 0 0 0;
  }
  &--floating {
    --bottom-navigation-item-top: -1.5rem;
    --icon-color: var(--c-white);
    &:not(:hover) {
      --circle-icon-box-shadow: 0 4px 6px rgba(66, 66, 66, 0.2);
    }
  }
}
.sf-bottom-navigation {
  box-sizing: border-box;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: var(--bottom-navigation-z-index, 1);
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: var(--bottom-navigation-height, 3.75rem);
  width: 100%;
  padding: var(--bottom-navigation-padding, 0 1rem);
  background: var(--bottom-navigation-background, var(--c-white));
  box-shadow: var(
    --bottom-navigation-box-shadow,
    0px -2px 10px rgba(154, 154, 154, 0.15)
  );
}
