@import "../../helpers";

:root {
  --bottom-navigation-item-color: var(--c-gray-variant);
  --bottom-navigation-item-color--active: var(--c-black);
  --bottom-navigation-item-font-size: 12px;
  --bottom-navigation-z-index: 1;
}
.sf-bottom-navigation-item {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: var(--bottom-navigation-item-font-size);
  color: var(--c-gray);
  & > .sf-icon {
    --icon-color: var(--bottom-navigation-item-color);
  }
  &__label {
    line-height: 1.6;
  }
  &--active {
    color: var(--c-black);
    font-weight: var(--body-font-weight-secondary);
    & > .sf-icon {
      --icon-color: var(--bottom-navigation-item-color--active);
    }
  }
  &--has-margin {
    margin-top: 6px;
  }
  &--floating {
    top: -1.5rem;
    & > .sf-button {
      &:not(:hover) {
        box-shadow: 0 4px 6px rgba(66, 66, 66, 0.2);
      }
    }
  }
}
.sf-bottom-navigation {
  $this: &;
  box-sizing: border-box;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: var(--bottom-navigation-z-index);
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 60px;
  width: 100%;
  padding: 0 1rem;
  background: white;
  box-shadow: 0px -2px 10px rgba(154, 154, 154, 0.15);
}
