@import "../../helpers";
.sf-bottom-navigation {
  box-sizing: border-box;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: var(--bottom-navigation-z-index, 1);
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  width: 100%;
  height: var(--bottom-navigation-height, 3.75rem);
  padding: var(--bottom-navigation-padding, 0 var(--spacer-sm));
  background: var(--bottom-navigation-background, var(--c-white));
  box-shadow: var(
    --bottom-navigation-box-shadow,
    0px -2px 10px rgba(var(--_c-gray-secondary-base), 0.15)
  );
}
.sf-bottom-navigation-item {
  --icon-color: var(--c-link);
  background: transparent;
  border: 0;
  top: var(--bottom-navigation-item-top);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-self: var(--bottom-navigation-item-align-self);
  margin: var(--bottom-navigation-item-margin);
  padding: var(
    --bottom-navigation-item-padding,
    var(--spacer-xs) 0 var(--spacer-xs) 0
  );
  color: var(--bottom-navigation-item-color, var(--c-link));
  @include font(
    --bottom-navigation-item-font,
    var(--font-weight--light),
    var(--font-size--xs),
    1,
    var(--font-family--primary)
  );
  & .sf-circle-icon {
    --button-size: 4.125rem;
  }
  &__label {
    margin: var(--bottom-navigation-item-label-margin);
  }
  &.is-active {
    --icon-color: var(--c-primary);
    --bottom-navigation-item-color: var(--c-primary);
    --bottom-navigation-item-font-weight: var(--font-weight--normal);
  }
  & .has-margin {
    --bottom-navigation-item-label-margin: var(--spacer-xs) 0 0 0;
  }
  &__icon {
    background: transparent;
    padding: 0;
  }
  &.is-floating {
    --icon-color: var(--c-white);
    & .sf-circle-icon {
      --circle-icon-position: absolute;
      top: 0;
      transform: translate3d(0, -50%, 0);
    }
  }
  &.center {
    --bottom-navigation-item-align-self: center;
  }
}
