@import "../../helpers";

.sf-carousel {
  position: relative;
  max-width: var(--carousel-max-width, 71.25rem);
  margin: auto;
  &__wrapper {
    max-width: var(
      --carousel-max-width,
      calc(100% - var(--carousel-controls-size))
    );
    padding: var(--carousel-padding);
    margin: auto;
    overflow: hidden;
  }
  &__slides {
    margin: 0;
  }
  &__controls {
    position: var(--carousel-controls-position);
    display: var(--carousel-controls-display, none);
    justify-content: var(--carousel-controls-justify-content);
    width: var(--carousel-controls-width);
    top: var(--carousel-controls-top);
    left: var(--carousel-controls-left);
    transform: var(--carousel-controls-transform);
  }
  .glide {
    &__track,
    &__slides,
    &__slide {
      overflow: unset;
    }
  }
  @include for-desktop {
    --carousel-controls-size: 240px;
    --carousel-controls-position: absolute;
    --carousel-controls-top: 50%;
    --carousel-controls-left: 0;
    --carousel-controls-display: flex;
    --carousel-controls-transform: translate3d(0, -50%, 0);
    --carousel-controls-width: 100%;
    --carousel-controls-justify-content: space-between;
  }
}
