@import "../../helpers";

.sf-collected-product {
  position: relative;
  box-sizing: border-box;
  display: flex;
  max-width: var(--collected-product-width);
  padding: var(--collected-product-padding, var(--spacer-xs));
  background: var(--collected-product-background);
  z-index: var(--collected-product-z-index);
  &::after {
    content: "";
  }
  &:hover {
    --collected-product-background: var(--c-white);
  }
  &__remove {
    --icon-size: 8px;
    --icon-color: var(--c-white);
    --button-background: transparent;
    position: absolute;
    opacity: var(--collected-product-remove-opacity);
    top: var(--collected-product-remove-top);
    right: var(--collected-product-remove-right, 0);
    transform: var(--collected-product-remove-transform);
    transition: var(--collected-product-remove-transition);
    &:hover {
      --button-background: var(--c-primary-variant);
    }
  }
  &__more-actions {
    --icon-width: 4px;
    --icon-height: 0.9375rem;
    position: absolute;
    top: var(--collected-product-remove-top);
    right: var(--collected-product-remove-right, 0);
  }
  &__aside {
    position: relative;
    flex: 0 0 8.75rem;
    line-height: 0;
  }
  &__image {
    background: var(--collected-product-image-background, var(--c-light));
  }
  &__quantity-wrapper {
    position: absolute;
    box-sizing: border-box;
    right: 0;
    bottom: 0;
    z-index: 1;
    padding: var(--spacer-sm);
  }
  &__quantity-selector {
    --quantity-selector-background: var(--c-white);
    --quantity-selector-width: 100%;
    --quantity-selector-height: 2.5rem;
  }
  &__main {
    flex: 1;
    margin: var(--collected-product-main-margin, 0 0 0 var(--spacer-base));
    display: flex;
    flex-direction: column;
  }
  &__title {
    margin-bottom: var(--spacer-base);
    @include font(
      --collected-product-title-font,
      var(--font-normal),
      var(--font-2xs),
      1.6,
      var(--font-family-secondary)
    );
  }
  &__details {
    margin: auto 0 0 0;
    display: flex;
    justify-content: flex-end;
  }
  @include for-desktop {
    --collected-product-width: 21.875rem;
    --collected-product-padding: var(--spacer-xs);
    --collected-product-remove-top: var(--spacer-xs);
    --collected-product-remove-right: 0;
    --collected-product-remove-transform: translate3d(50%, 0, 0);
    --collected-product-remove-opacity: 0;
    --collected-product-remove-transition: opacity 150ms ease-in-out;

    &::after {
      --collected-product-transition: box-shadow 150ms ease-in-out;
    }
    &:hover {
      --collected-product-z-index: 1;
      --collected-product-remove-opacity: 1;
      &::after {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: -1;
        box-shadow: 0px 4px 11px rgba(var(--c-dark-base), 0.1);
      }
    }
    &__remove {
      --button-size: 1.625rem;
      --button-background: var(--c-primary);
      --button-box-shadow: none;
    }
    &__aside {
      flex: 0 0 8.75rem;
    }
    &__image {
      mix-blend-mode: darken;
    }
    &__details {
      flex: 1;
      flex-direction: column;
      margin-top: unset;
    }
  }
}
