@import "../../helpers";

.sf-content-pages {
  overflow: hidden;
  height: 100vh;
  .sf-bar {
    position: var(--content-pages-bar-position, fixed);
    --bar-height: var(--spacer-xl);
    width: 100%;
  }
  &__section {
    display: flex;
    height: 100%;
    margin: var(--spacer-xl) 0 0 0;
    transition: var(--content-pages-transition, transform 150ms ease-in-out);
    &--is-active {
      transform: translateX(-100%);
    }
  }
  &__sidebar {
    flex: var(--content-pages-sidebar-flex, 0 0 100%);
    background: var(--content-pages-sidebar-background);
    overflow-y: auto;
  }
  &__title {
    display: none;
    @include font(
      --content-pages-sidebar-title,
      var(--font-medium),
      var(--h3-font-size),
      1.9,
      var(--font-family-secondary)
    );
  }
  &__category-title {
    padding: var(
      --content-pages-category-title-padding,
      var(--spacer-base) 0 var(--spacer-2xs) var(--spacer-sm)
    );
  }
  &__list-item {
    --menu-item-padding: var(--spacer-base) var(--spacer-base)
      var(--spacer-base) var(--spacer-sm);
    border-bottom: var(
      --content-pages-list-item-border,
      1px solid var(--c-light)
    );
  }
  &__content {
    flex: 0 0 100%;
    padding: var(--spacer-base) var(--spacer-base) var(--spacer-base)
      var(--spacer-sm);
    overflow-y: auto;
  }
  @include for-desktop {
    --content-pages-sidebar-flex: 0 0 26.8125rem;
    --content-pages-sidebar-background: var(--c-light);
  }
}
