@import "../../helpers";

.sf-collected-product {
  $this: &;
  position: relative;
  box-sizing: border-box;
  display: flex;
  max-width: var(--collected-product-max-width, 350px);
  padding: var(--collected-product-padding, var(--spacer-small));
  background: var(--collected-product-background);
  z-index: var(--collected-product-z-index);
  &::after {
    content: "";
  }
  &:hover {
    --collected-product-background: var(--c-white);
  }
  &__remove {
    --button-padding: 0;
    --icon-size: 8px;
    --icon-color: var(--c-gray);
    position: absolute;
    padding: 0;
    opacity: var(--collected-product-remove-opacity);
    top: var(--collected-product-remove-top, var(--spacer));
    right: var(--collected-product-remove-right, var(--spacer));
    background-color: var(--collected-product-remove-background, transparent);
    box-shadow: var(--collected-product-remove-box-shadow);
    &:hover,
    &:active {
      --collected-product-remove-box-shadow: none;
      --collected-product-remove-background: transparent;
    }
  }
  &__aside {
    position: relative;
    flex: 0 0 5.3125rem;
  }
  &__image {
    background: var(--collected-product-image-background, var(--c-light));
  }
  &__quantity-selector {
    --input-background: var(--c-white);
    position: absolute;
    right: var(--spacer);
    bottom: var(--spacer);
    z-index: 2;
  }
  &__main {
    flex: 1;
    margin: var(--collected-product-main-margin, 0 0 0 var(--spacer-big));
    display: flex;
    flex-direction: column;
  }
  &__title {
    margin-bottom: 5px;
    font: var(
      --collected-product-title-font,
      font(
        --collected-product-title,
        var(--body-font-weight-primary),
        var(--font-size-regular),
        1.6,
        var(--body-font-family-secondary)
      )
    );
  }
  &__details {
    margin: auto 0 0 0;
    display: flex;
    justify-content: space-between;
  }

  @include for-desktop {
    --collected-product-padding: 10px var(--spacer-big);
    --collected-product-remove-right: calc(1.625rem / -2);
    --collected-product-remove-top: 10px;
    --collected-product-remove-background: var(--c-gray-variant);
    --colected-product-remove-box-shadow: none;
    --collected-product-remove-opacity: 0;
    --collected-product-remove-transition: opacity 150ms ease-in-out;
    --icon-size: 0.875rem;
    --icon-color: var(--c-white);
    --button-padding: 10px;

    &::after {
      --collected-product-transition: box-shadow 150ms ease-in-out;
    }
    &:hover {
      --collected-product-remove-opacity: 1;
      --collected-product-z-index: 1;
      &::after {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: -1;
        box-shadow: 0px 4px 35px rgba(168, 172, 176, 0.19);
      }
    }
    &:hover,
    &:active {
      --collected-product-remove-background: var(--c-dark-variant);
    }
    &__aside {
      flex: 0 0 8.75rem;
    }
    &__image {
      mix-blend-mode: darken;
    }
    &__details {
      flex: 1;
      flex-direction: column;
      margin-top: unset;
    }
  }
}
