@import "../../helpers";

.sf-dropdown {
  box-sizing: border-box;
  position: absolute;
  bottom: 0;
  width: 100%;
  z-index: var(--dropdown-z-index, 2);
  background-color: var(--dropdown-background-color, transparent);
  &::before {
    content: "";
    display: var(--dropdown-before-display, block);
    background-color: var(--dropdown-before-background-color, var(--c-body));
    width: 60px;
    height: 3px;
    margin: -5px auto;
    border-radius: 4px;
    transform: translateY(-10px);
  }
  @include for-desktop {
    position: relative;
    max-width: var(--dropdown-max-width, 160px);;
    --dropdown-before-display: none;
  }
}