@import "../../helpers";

.sf-footer-column {
  box-sizing: border-box;
  flex: 0 0 var(--col-width);
  &__title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: var(--footer-column-title-padding, var(--spacer-big));
    background: var(--footer-column-title-background, hsl(0%, 0%, 90%));
    font: var(
      --footer-title-font,
      font(
        --footer-title,
        500,
        var(--font-size-regular),
        1.6,
        var(--font-family-secondary)
      )
    );
    text-transform: uppercase;
    cursor: var(--footer-column-title-cursor, pointer);
  }
  &__chevron {
    display: var(--footer-column-chevron-display);
  }
  @include for-desktop {
    --footer-column-title-padding: var(--spacer-big) 0;
    --footer-column-title-cursor: default;
    --footer-column-title-background: transparent;
    --footer-column-chevron-display: none;
  }
}
.sf-footer {
  &__container {
    box-sizing: var(--footer-container-box-sizing);
    display: var(--footer-container-display);
    flex-wrap: var(--footer-container-flex-wrap);
    justify-content: var(--footer-container-justify-content);
    max-width: var(--footer-container-max-width);
    margin: var(--footer-container-margin);
    padding: var(--footer-container-padding);
  }
  & .sf-menu-item {
    padding: var(--menu-item-padding, var(--spacer-big));
    font-size: var(--menu-item-font-size, var(--font-size-regular));
  }
  @include for-desktop {
    --menu-item-padding: 6px 0;
    --footer-container-box-sizing: border-box;
    --footer-container-display: flex;
    --footer-container-flex-wrap: wrap;
    --footer-container-justify-content: space-between;
    --footer-container-max-width: 1240px;
    --footer-container-margin: 6.25rem auto;
    --footer-container-padding: 0 var(--spacer-extra-big);
  }
}
