@import "../../helpers";
.sf-footer-column {
  box-sizing: border-box;
  flex: 0 0 var(--_footer-column-width);
  justify-content: space-between;
  &__title {
    color: var(--footer-column-title-color, var(--c-white));
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    border: 0;
    padding: var(--footer-column-title-padding, var(--spacer-base));
    background: var(--footer-column-title-background, var(--c-secondary));
    text-transform: uppercase;
    @include font(
      --footer-column-title-font,
      var(--font-weight--medium),
      var(--h5-font-size),
      1.4,
      var(--font-family--secondary)
    );
    cursor: default;
  }
  &__chevron {
    display: var(--footer-column-chevron-display);
  }
  & .sf-list__item {
    --list-item-margin: var(
      --footer-column-item-padding,
      var(--spacer-base) var(--spacer-xs)
    );
    --menu-item-label-color: var(
      --footer-column-item-color,
      var(--c-white)
    );
  }
  @include for-desktop {
    --footer-column-title-padding: var(--spacer-sm) 0;
    --footer-column-title-background: var(--c-secondary);
    --footer-column-title-font-weight: var(--font-weight--normal);
    --footer-column-chevron-display: none;
    --footer-column-item-padding: var(--spacer-xs) 0;
  }
}
.sf-footer {
  background: var(--c-secondary);
  &__container {
    box-sizing: border-box;
    display: var(--footer-display);
    flex-wrap: var(--footer-flex-wrap);
    justify-content: var(--footer-justify-content);
    max-width: var(--footer-width);
    margin: var(--footer-margin);
    padding: var(--footer-padding);
  }
  @include for-desktop {
    --footer-display: flex;
    --footer-flex-wrap: wrap;
    --footer-justify-content: space-between;
    --footer-width: 60rem;
    --footer-margin: 0 auto;
    --footer-padding: var(--spacer-2xl) 0;
  }
}
