@import "../../helpers";
.sf-footer-column {
  box-sizing: border-box;
  flex: 0 0 var(--_footer-column-width);
  justify-content: space-between;
  &__title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: var(
      --footer-column-title-padding,
      var(--spacer-base) var(--spacer-xl)
    );
    background: var(--footer-column-title-background, var(--c-light));
    text-transform: uppercase;
    @include font(
      --footer-column-title-font,
      var(--font-medium),
      var(--h3-font-size),
      1.4,
      var(--font-family-secondary)
    );
    cursor: default;
  }
  &__chevron {
    display: var(--footer-column-chevron-display);
  }
  & .sf-list__item {
    --list-item-margin: var(
      --footer-column-title-padding,
      var(--spacer-base) var(--spacer-xl)
    );
  }
  @include for-desktop {
    --footer-column-title-padding: 16px 0;
    --footer-column-title-background: transparent;
    --footer-column-title-font-size: var(--h5-font-size);
    --footer-column-title-font-weight: var(--font-bold);
    --footer-column-chevron-display: none;
  }
}
.sf-footer {
  &__container {
    box-sizing: border-box;
    display: var(--footer-display);
    flex-wrap: var(--footer-flex-wrap);
    justify-content: var(--footer-justify-content);
    max-width: var(--footer-width);
    margin: var(--footer-margin);
    padding: var(--footer-padding);
  }
  @include for-desktop {
    --footer-display: flex;
    --footer-flex-wrap: wrap;
    --footer-justify-content: space-between;
    --footer-width: 60rem;
    --footer-margin: 0 auto;
    --footer-padding: var(--spacer-2xl) 0;
  }
}
