@import "../../helpers";

.sf-grouped-product-item {
  display: var(--grouped-product-item-display);
  padding: var(--grouped-product-item-padding, var(--spacer-xs));
  @include font(
    --grouped-product-item-font,
    var(--font-normal),
    var(--font-2xs),
    1.6,
    var(--font-family-secondary)
  );
  @include border(--grouped-product-item-border, 0, solid, var(--c-light));
  &__aside {
    position: relative;
    flex: var(--grouped-product-item-flex, 0 0 5.125rem);
    line-height: 0;
  }
  &__image {
    background: var(--grouped-product-item-image-background, var(--c-light));
    img {
      mix-blend-mode: darken;
    }
  }
  &__quantity-selector {
    position: absolute;
    right: var(--grouped-product-item-quantity-right, 0);
    bottom: var(--grouped-product-item-quantity-bottom, var(--spacer-xs));
    left: var(--grouped-product-item-quantity-left, var(--spacer-sm));
    z-index: 1;
  }
  &__description {
    margin: var(--grouped-product-item-description-margin);
  }
  &__title {
    margin: var(--grouped-product-item-title-margin, var(--spacer-xs) 0);
  }
  &__price {
    margin: var(--grouped-product-item-price-margin);
  }
  @include for-desktop {
    --grouped-product-item-display: flex;
    --grouped-product-item-padding: 10px 0;
    --grouped-product-item-border-width: 0 0 1px 0;
    --grouped-product-item-flex: 0 0 5.125rem;
    --grouped-product-item-quantity-bottom: 0;
    --grouped-product-item-quantity-left: 6.375rem;
    --grouped-product-item-description-margin: 0 0 0 var(--spacer-lg);
    --grouped-product-item-title-margin: 0;
    --grouped-product-item-price-margin: 0 0 0 auto;
    --grouped-product-item-price-font: inherit;
  }
}
.sf-grouped-product {
  &--without-carousel {
    --input-background: var(--c-light);
    --input-font-size: var(--font-size-big);
    --grouped-product-item-display: flex;
    --grouped-product-item-padding: 10px 0;
    --grouped-product-item-border-bottom: 1px solid var(--c-light);
    &__aside {
      flex: 0 0 7.8125rem;
    }
    --grouped-product-item-quantity-bottom: 0;
    --grouped-product-item-quantity-right: 0;
    --grouped-product-item-description-margin: 0 0 0 var(--spacer-lg);
    --grouped-product-item-title-margin: 0;
    --grouped-product-item-price-margin: 0 0 0 auto;
    --grouped-product-item-price-font: inherit;
    .glide {
      &__slides {
        display: block !important;
        width: auto !important;
        margin: 0 !important;
        transform: unset !important;
      }
      &__slide {
        &--clone {
          display: none;
        }
      }
    }
  }
  @include for-desktop {
    .glide {
      &__slides {
        display: block !important;
        width: auto !important;
        margin: 0 !important;
        transform: unset !important;
      }
      &__slide {
        &--clone {
          display: none;
        }
      }
    }
  }
}
