@import "../../helpers";

.sf-grouped-product-item {
  display: var(--grouped-product-item-display);
  padding: var(--grouped-product-item-padding, var(--spacer-small));
  font: var(
    --grouped-product-item-font,
    font(
      --grouped-product-item,
      var(--body-font-weight-secondary),
      vvar(--font-size-regular),
      1.6,
      var(--body-font-family-secondary)
    )
  );
  border-bottom: var(--grouped-product-item-border-bottom);
  &__aside {
    position: relative;
    flex: var(--grouped-product-item-flex, 0 0 5.125rem);
  }
  &__image {
    background: var(--grouped-product-item-image-background, var(--c-light));
    img {
      mix-blend-mode: darken;
    }
  }
  &__quantity-selector {
    position: absolute;
    right: var(--grouped-product-item-quantity-right, var(--spacer));
    bottom: var(--grouped-product-item-quantity-bottom, var(--spacer));
    left: var(--grouped-product-item-quantity-left);
    z-index: 1;
    width: var(--grouped-product-item-quantity-width, 3.125rem);
    height: var(--grouped-product-item-quantity-height, 1.875rem);
  }
  &__description {
    margin: var(--grouped-product-item-description-margin);
  }
  &__title {
    margin: var(--grouped-product-item-title-margin, var(--spacer-small) 0);
  }
  &__price {
    margin: var(--grouped-product-item-price-margin);
    font: var(--grouped-product-item-price-font);
  }

  @include for-desktop {
    --input-background: var(--c-light);
    --input-font-size: var(--font-size-big);
    --grouped-product-item-font-size: var(--font-size-extra-small);
    --grouped-product-item-display: flex;
    --grouped-product-item-padding: 10px 0;
    --grouped-product-item-border-bottom: 1px solid var(--c-light);
    --grouped-product-item-flex: 0 0 5.125rem;
    --grouped-product-item-quantity-bottom: 0;
    --grouped-product-item-quantity-left: 6.375rem;
    --grouped-product-item-description-margin: 0 0 0 var(--spacer-big);
    --grouped-product-item-title-margin: 0;
    --grouped-product-item-price-margin: 0 0 0 auto;
    --grouped-product-item-price-font: inherit;
  }
}

.sf-grouped-product {
  &--without-carousel {
    --input-background: var(--c-light);
    --input-font-size: var(--font-size-big);
    --grouped-product-item-display: flex;
    --grouped-product-item-padding: 10px 0;
    --grouped-product-item-border-bottom: 1px solid var(--c-light);
    &__aside {
      flex: 0 0 7.8125rem;
    }
    --grouped-product-item-quantity-bottom: 0;
    --grouped-product-item-quantity-left: 6.375rem;
    --grouped-product-item-description-margin: 0 0 0 var(--spacer-big);
    --grouped-product-item-title-margin: 0;
    --grouped-product-item-price-margin: 0 0 0 auto;
    --grouped-product-item-price-font: inherit;

    .glide {
      &__slides {
        display: block !important;
        width: auto !important;
        margin: 0 !important;
        transform: unset !important;
      }
      &__slide {
        &--clone {
          display: none;
        }
      }
    }
  }
  @include for-desktop {
    .glide {
      &__slides {
        display: block !important;
        width: auto !important;
        margin: 0 !important;
        transform: unset !important;
      }
      &__slide {
        &--clone {
          display: none;
        }
      }
    }
  }
}
