@import "../../variables";
:root {
  --grouped-product-max-width: 7.8125rem;
  --grouped-product-max-width-desktop: 5.125rem;
  --grouped-product-font-family: var(--body-font-family-secondary);
  --grouped-product-font-size: var(--font-size-regular);
  --grouped-product-font-weight: var(--body-font-weight-secondary);
  --grouped-product-line-height: 1.6;
  --grouped-product__select-quantity-width: 3.125rem;
  --grouped-product__select-quantity-height: 1.875rem;
  --grouped-product-item__image-background-color: var(--c-light);
  @media screen and (min-width: $desktop-min) {
    --grouped-product-font-size: var(--font-size-extra-small);
  }
}
.sf-grouped-product-item {
  padding: var(--spacer-small);
  font-family: var(--grouped-product-font-family);
  font-size: var(--grouped-product-font-size);
  font-weight: var(--grouped-product-font-weight);
  line-height: var(--grouped-product-line-height);
  &__aside {
    position: relative;
  }
  &__image {
    background-color: var(--grouped-product-item__image-background-color);
    img {
      mix-blend-mode: darken;
    }
  }
  &__quantity-selector {
    position: absolute;
    right: var(--spacer);
    bottom: var(--spacer);
    z-index: 1;
    width: var(--grouped-product__select-quantity-width);
    height: var(--grouped-product__select-quantity-height);
  }
  &__title {
    margin: var(--spacer-small) 0;
  }
}
@media screen and (min-width: $desktop-min) {
  .sf-grouped-product-item {
    display: flex;
    padding: 10px 0;
    border-bottom: 1px solid var(--c-light);
    &__aside {
      flex: 0 0 var(--grouped-product-max-width-desktop);
    }
    &__quantity-selector {
      bottom: 0;
      left: calc(var(--grouped-product-max-width-desktop) + var(--spacer-big));
      input {
        background-color: var(--c-light);
        font-size: var(--font-size-big);
      }
    }
    &__description {
      margin-left: var(--spacer-big);
    }
    &__title {
      margin: 0;
    }
    &__price {
      margin-left: auto;
      font: inherit;
    }
  }
  .sf-grouped-product {
    .glide {
      &__slides {
        display: block !important;
        width: auto !important;
        margin: 0 !important;
        transform: unset !important;
      }
      &__slide {
        &--clone {
          display: none;
        }
      }
    }
  }
}
