@import "../../helpers";
.sf-header-navigation-item {
  flex: 1;
  & > * {
    box-sizing: border-box;
    display: block;
    padding: calc(var(--spacer-sm) - 1px) var(--spacer-sm);
    margin: 0;
    border: solid transparent;
    border-width: 0 0 2px 0;
    transition: border-color 150ms ease-in-out, color 150ms ease-in-out;
    color: var(--c-dark-variant);
    @include font(
      --header-navigation-item-font,
      var(--font-bold),
      var(--font-sm),
      1.2,
      var(--font-family-secondary)
    );
    text-transform: uppercase;
    text-decoration: initial;
    text-align: center;
    @include for-desktop {
      padding: calc(var(--spacer-lg) - 1px) var(--spacer-sm);
      margin: 0 var(--spacer-sm);
    }
    &:focus {
      color: var(--c-text);
      border-color: var(--c-primary);
    }
    @at-root .sf-header--multiline & {
      @include for-desktop {
        padding: calc(var(--spacer-sm) - 1px) var(--spacer-sm);
      }
    }
  }
  &:hover > * {
    color: var(--c-text);
    border-color: var(--c-primary);
    &:active{
      color: var(--c-primary)
    }
  }
}
.sf-header {
  $this: &;
  &__wrapper {
    width: 100%;
    background: #ffffff;
    transition: transform 150ms ease-in-out;
    #{$this}--is-sticky & {
      position: fixed;
      z-index: 1;
    }
    #{$this}--is-hidden & {
      transform: translate3d(0, -100%, 0);
      transition: transform 300ms ease-in-out;
    }
  }
  header {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 0 var(--spacer-sm);
    max-width: 79.5rem;
    margin: 0 auto;
    @include for-desktop {
      flex-wrap: nowrap;
    }
  }
  &__logo {
    --image-width: var(--header-logo-width, auto);
    --image-height: var(--header-logo-height, 2.125rem);
    flex: 0 0 var(--header-logo-width, auto);
    margin: var(--spacer-xs) 0;
  }
  &__title {
    margin: var(--spacer-xs) 0;
  }
  &__aside:not(:empty) {
    margin: 0 0 0 auto;
  }
  &__actions {
    flex: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-end;

    @include for-desktop {
    }
  }
  &__navigation {
    order: 1;
    display: var(--header-navigation-display, none);
    flex: 0 0 calc(100% + var(--spacer-sm) * 2);
    margin: 0 calc(var(--spacer-sm) * -1);
    @include for-desktop {
      --header-navigation-display: flex;
      order: 0;
      flex: 0 0 auto;
      margin: 0 auto 0 var(--spacer-xl)
    }
  }
  &__search {
    display: var(--header-search-display, none);
    flex: 0 0 100%;
    margin: var(--spacer-xs) 0;
    @include for-desktop {
      --header-search-display: flex;
      flex: initial;
    }
  }
  &__icons {
    display: none;
    @include for-desktop {
      display: flex;
      margin:  var(--spacer-sm) 0;
    }
    #{$this}--multiline & {
      order: -1;
      margin: var(--spacer-sm) 0 var(--spacer-sm) 100%;
    }
  }
  &__icon {
    --icon-color: var(--c-dark-variant);
    --icon-badge-top: -0.5rem;
    --icon-badge-right: -0.5rem;
    &:hover {
      --icon-color: var(--c-text);
    }
    &--is-active {
      --icon-color: var(--c-primary);
    }
  }
  &__action {
    margin: 0 0 0 var(--spacer-xl);
  }
  &-height {
    box-sizing: border-box;
  }
  &--is-sticky {
    height: var(--_header-height);
  }
  &--has-mobile-search {
    --header-search-display: flex;
  }
  &--has-mobile-navigation {
    --header-navigation-display: flex;
  }
}
