@import '../../helpers';

.sf-header-navigation-item {
  display: flex;
  align-items: center;
  height: 100%;
  margin: var(--header-navigation-item-margin, 0 var(--spacer-extra-big) 0 0);
  &:hover {
    &::after {
     background: var(--header-navigation-item-background-underline, var(--c-text));
    }
  }
  &::after {
    position: absolute;
    z-index: 1;
    width: 100%;
    max-width: var(--header-navigation-item-max-width, var(--max-width));
    bottom: -2px;
    height: 2px;
    background: transparent;
    content: "";
  }
  &:last-child {
    margin: 0;
  }
  & > * {
    text-transform: var(--header-navigation-item-text-transform, uppercase);
    text-decoration: var(--header-navigation-item-text-decoration, none);
    font: var(
      --header-navigation-item-font,
      font(
        --header-navigation-item,
        500,
        var(--font-size-regular),
        1.6,
        var(--body-font-family-primary)
      )
    );
  }
}
.sf-header {
  &__sticky-container {
    box-sizing: border-box;
    position: var(--header-sticky-container-position, relative);
    width: var(--header-sticky-container-width);
    background: var(--header-sticky-container-background, var(--c-light));
    transform: var(--header-sticky-container-transform);
    transition: var(--header-sticky-container-transition);
  }
  &__sticky-holder {
    box-sizing: border-box;
  }
  &__container {
    box-sizing: border-box;
    display: flex;
    flex-wrap: var(--header-container-flex-wrap, wrap);
    justify-content: var(--header-container-justify-content, center);
    align-items: center;
    padding: var(--header-container-padding, 0 var(--spacer-big));
    max-width: var(--header-container-max-width, 1240px);
    margin: auto;
    height: var(--header-container-height, auto);
  }
  &__logo {
    --image-width: auto;
    --image-max-height: unset;
    --image-height: 100%;
    height: var(--header-logo-height, 1.5rem);
    margin: var(--header-logo-margin, 10px 0);
  }
  &__navigation {
    display: flex;
    height: 100%;
    margin: 0 0 0 5rem;
  }
  &__search {
    margin: var(--header-search-margin, var(--spacer) 0);
    height: 2.25rem;
  }
  &__icons {
    display: flex;
    align-items: center;
  }
  &__circle-icon {
    margin: 0 0 0 var(--spacer-big);
    --button-transition: background 0.3s ease;
    --button-background: transparent;
    --button-padding: 10px;
    & .sf-icon {
      --icon-color: var(--c-text);
    }
    &:hover {
      --circle-icon-box-shadow: none;
      --button-transition: background 0.3s ease;
      --button-background: var(--c-light);
      --icon-color: var(--c-text);
    }

    &--is-active {
      --button-background: var(--c-primary);
      & .sf-icon {
        --icon-color: var(--c-white);
      }
    }
  }

  &--is-sticky {
    --header-sticky-container-position: fixed;
    --header-sticky-container-width: 100%;
    --header-sticky-container-transition: transform 150ms ease-in-out;
  }
  &--is-hidden {
    --header-sticky-container-transform: translate3d(0, -100%, 0);
  }

  &--has-mobile-search {
    --search-bar-background: var(--c-white);
  }

  @include for-desktop {
    --header-sticky-container-background: var(--c-white);
    --header-container-height: 5rem;
    --header-container-justify-content: space-between;
    --header-container-padding: 0 var(--spacer-extra-big);
    --header-container-flex-wrap: nowrap;
    --header-logo-height: 2.125rem;
    --header-logo-margin: 0;
    --search-bar-background: var(--c-light);
    --header-search-margin: 0 0 0 auto;
  }
}
