@import '../../helpers';

:root {
  --header__sticky-holder-background-color: var(--c-light);
  --header__container-max-width: 1240px;
  --header__container-height: auto;
  --header__logo-height: 1.5rem;
  --header-navigation-item-font-family: var(--body-font-family-primary);
  --header-navigation-item-font-size: var(--font-size-regular);
  --header-navigation-item-font-weight: 500;
  --header-navigation-item-line-height: 1.6;
  @media (min-width: $desktop-min) {
    --header__sticky-holder-background-color: var(--c-white);
    --header__container-height: 5rem;
    --header__logo-height: 2.125rem;
  }
}
.sf-header-navigation-item {
  $this: &;
  display: flex;
  align-items: center;
  height: 100%;
  margin: 0 var(--spacer-extra-big) 0 0;
  &:hover {
    &::after {
      background-color: var(--c-text);
    }
  }
  &::after {
    position: absolute;
    z-index: 1;
    width: 100%;
    max-width: var(--max-width);
    bottom: -2px;
    height: 2px;
    background-color: transparent;
    content: "";
  }
  &:last-child {
    margin: 0;
  }
  & > * {
    text-transform: uppercase;
    font-family: var(--header-navigation-item-font-family);
    font-size: var(--header-navigation-item-font-size);
    font-weight: var(--header-navigation-item-font-weight);
    line-height: var(--header-navigation-item-line-height);
  }
}
.sf-header {
  $this: &;
  &__sticky-container {
    position: relative;
    box-sizing: border-box;
    background-color: var(--header__sticky-holder-background-color);
    @media screen and (min-width: $desktop-min) {
      background-color: var(--header__sticky-holder-background-color);
    }
  }
  &__sticky-holder {
    box-sizing: border-box;
  }
  &__container {
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    max-width: var(--header__container-max-width);
    margin: auto;
    height: var(--header__container-height);
    padding: 0 var(--spacer-big);
    @media screen and (min-width: $desktop-min) {
      justify-content: space-between;
      height: var(--header__container-height);
      padding: 0 var(--spacer-extra-big);
      flex-wrap: nowrap;
    }
  }
  &__logo {
    height: var(--header__logo-height);
    margin: 10px 0;
    @media screen and (min-width: $desktop-min) {
      margin: 0;
      height: var(--header__logo-height);
    }
    &.sf-image {
      img {
        width: auto;
        max-height: unset;
        height: 100%;
      }
    }
  }
  &__navigation {
    display: flex;
    height: 100%;
    margin: 0 0 0 5rem;
  }
  &__search {
    margin: 0 0 0 auto;
    height: 2.25rem;
  }
  &__icons {
    display: flex;
    align-items: center;
  }
  &__circle-icon {
    margin: 0 0 0 var(--spacer-big);
    &.sf-circle-icon {
      &:hover {
        box-shadow: none;
        &.sf-button {
          transition: background-color 0.3s ease;
          background-color: var(--c-light);
        }
        & .sf-icon {
          --icon-color: var(--c-text);
        }
      }
      &.sf-button {
        transition: background-color 0.3s ease;
        background-color: transparent;
        padding: 10px;
      }
      & .sf-icon {
        --icon-color: var(--c-text);
      }
    }
    &--is-active {
      &.sf-circle-icon {
        &.sf-button {
          background-color: var(--c-primary);
        }
        & .sf-icon {
          --icon-color: var(--c-white);
        }
      }
    }
  }
  &--has-mobile-search {
    #{$this}__search {
      @media (max-width: $desktop-min) {
        margin: var(--spacer) 0;
        &.sf-search-bar {
          background-color: var(--c-white);
        }
      }
    }
  }
  &--is-sticky {
    #{$this}__sticky-container {
      position: fixed;
      width: 100%;
      transition: transform 150ms ease-in-out;
    }
  }
  &--is-hidden {
    #{$this}__sticky-container {
      transform: translate3d(0, -100%, 0);
    }
  }
}
