@import "../../helpers";

.sf-header-navigation-item {
  display: flex;
  align-items: center;
  height: 100%;
  margin: var(--header-navigation-item-margin, 0 var(--spacer-2xl) 0 0);

  & > * {
    text-transform: var(--header-navigation-item-text-transform, uppercase);
    text-decoration: var(--header-navigation-item-text-decoration, none);
    color: var(--header-navigation-item-color, var(--c-dark-variant));
    @include font(
      --header-navigation-item,
      var(--font-bold),
      var(--font-sm),
      1.6,
      var(--font-family-secondary)
    );
  }

  &::after {
    position: absolute;
    z-index: 1;
    width: 100%;
    max-width: var(--header-navigation-item-max-width, var(--max-width));
    bottom: -2px;
    height: 2px;
    background: var(--header-navigation-item-underline-color, transparent);
    content: "";
    transition: background 150ms ease-in-out;
  }
  &:hover {
    & > * {
      --header-navigation-item-color: var(--c-text);
    }
    &::after {
      --header-navigation-item-background-underline: var(--c-primary);
    }
  }
  &:active {
    & > * {
      --header-navigation-item-color: var(--c-primary);
    }
    &::after {
      --header-navigation-item-background-underline: var(--c-primary);
    }
  }
  &:last-child {
    margin: 0;
  }
}
.sf-header {
  position: relative;
  z-index: var(--header-z-index, 1);
  &__sticky-container {
    box-sizing: border-box;
    position: var(--header-sticky-container-position, relative);
    width: var(--header-sticky-container-width);
    background: var(
      --header-sticky-container-background,
      var(--c-light-variant)
    );
    transform: var(--header-sticky-container-transform);
    transition: var(--header-sticky-container-transition);
  }
  &__sticky-holder {
    box-sizing: border-box;
  }
  &__container {
    box-sizing: border-box;
    display: flex;
    flex-wrap: var(--header-container-flex-wrap, wrap);
    justify-content: var(--header-container-justify-content, center);
    align-items: center;
    padding: var(--header-container-padding);
    max-width: var(--header-container-max-width);
    margin: auto;
    height: var(--header-container-height, auto);
  }
  &__logo {
    --image-width: var(--header-logo-width, auto);
    --image-height: var(--header-logo-height, 2.125rem);
    margin: var(--header-logo-margin, 10px 0);
  }
  &__navigation {
    display: flex;
    height: 100%;
    margin: 0 0 0 5rem;
  }
  &__search {
    margin: var(--header-search-margin, var(--spacer-xs) 0);
    height: 2.25rem;
  }
  &__icons {
    display: flex;
    align-items: center;
  }
  &__icon {
    --icon-color: var(--c-dark-variant);
    margin: 0 0 0 calc(var(--spacer-sm) * 3.25);
    cursor: pointer;
    &:hover {
      --icon-color: var(--c-text);
    }
    &--is-active {
      --icon-color: var(--c-primary);
    }
  }
  &--is-sticky {
    --header-sticky-container-position: fixed;
    --header-sticky-container-width: 100%;
    --header-sticky-container-transition: transform 150ms ease-in-out;
  }
  &--is-hidden {
    --header-sticky-container-transform: translate3d(0, -100%, 0);
  }
  &--has-mobile-search {
    --search-bar-background: var(--c-white);
  }
  @include for-desktop {
    --header-logo-margin: 0;
    --header-container-height: 5rem;
    --header-container-justify-content: space-between;
    --header-container-padding: 0 calc(var(--spacer-sm) * 6);
    --header-container-flex-wrap: nowrap;
    --header-search-margin: 0 0 0 auto;
  }
}
