@import "../../helpers";

.sf-header {  
  position: relative;  
  width: 100%;    
  background: var(--c-white);
  z-index: 1;  
  &__header {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    padding: var(--spacer-2xs);
    max-width: 77.5rem;
    @include for-desktop {
      flex-wrap: nowrap;
    }
  }
  &__logo {    
    flex: 0 0 auto;
    margin: var(--spacer-xs) 0;
    z-index: 1;
    .sf-image {
      width: auto;
      height: 2.125rem;
    }
  }
  &__title {
    margin: var(--spacer-xs) 0;
  }
  &__aside:not(:empty) {
    margin: 0 0 0 auto;
  }
  &__actions {
    flex: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-end;
    @include for-desktop {
      flex-wrap: nowrap;
    }
  }
  &__navigation {
    --sidebar-top: auto;
    --sidebar-bottom: auto;
    display: flex;
    order: 1;    
    flex: 0 0 100%;
    @include for-desktop {
      margin: 0 auto 0 var(--spacer-xl);
      order: 0;
      flex: 0 0 auto;
    }
  }
  &__menu {    
    &--sidebar {
      padding: 0;
      display: flex;
      @include for-desktop {
        display: none;
      }
      .sf-sidebar__content {
        --sidebar-content-padding: 0, var(--spacer-sm);
        height: auto; 
      }
    }    
    @include for-desktop {
      display: flex;
    }
  }
  &__menu-item {
    --menu-item-font-weight: var(--font-weight--medium); 
    display: flex;
    box-sizing: border-box;
    flex: 1;
    align-items: center;
    justify-content: center;
    padding: calc(var(--spacer-sm) - 1px) var(--spacer-sm);
    margin: 0;    
    text-decoration: none; 
    @include border(
      --header-menu-item-border, 
      0 0 2px 0, 
      solid, 
      transparent
    );
    transition: border-color 150ms ease-in-out, color 150ms ease-in-out;
    color: var(--c-dark-variant);
    text-transform: uppercase;
    text-decoration: initial;
    &--desktop {
      padding: calc(var(--spacer-lg) - 1px) var(--spacer-sm);
      margin: 0;
      --button-font-weight: var(--font-weight--normal); 
      &:focus {     
        border-color: var(--c-primary);
      } 
      &:hover {
        color: var(--c-primary);
        border-color: var(--c-primary);
      }    
    }
    &--mobile {
      border-color: var(--c-light); 
      --menu-item-icon-margin: 0 var(--spacer-lg) 0 0;
      padding: var(--spacer-sm);
      width: 100%; 
    }             
  }
  &__menu-content {
    @include font(
      --header-navigation-item-font,
      var(--font-weight--medium),
      var(--font-size--base),
      1.2,
      var(--font-family--secondary)
    );    
  }
  &__search {
    display: none;
    flex: flex, 0 0 100%;
    margin: var(--spacer-xs) 0;
    order: 0;
    @include for-desktop {
      display: flex;
      flex: 0 1 19.875rem;
    }
  }
  &__icons {
    display: none;
    @include for-desktop {
      display: flex;
      margin:  var(--spacer-sm) 0;
    }
  }
  &__icon {
    --icon-color: var(--c-dark-variant);
    &:hover {
      --icon-color: var(--c-text);
      filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    }
    &.is-active {
      --icon-color: var(--c-primary);
    }
  }
  &__action {
    margin: 0 0 0 var(--spacer-xl);
  }
  &-height {
    box-sizing: border-box;
  }    
  &--has-mobile-search  {
    & .sf-header__search {
      display: flex;
      width: 100%;
    }
    @include for-desktop {
      box-shadow: none;
    }
  }
  &--multiline {
    @include for-desktop {
      .sf-header__icons {
        margin: var(--spacer-sm) 0 var(--spacer-sm) 100%;
        order: -1;
      }
      .sf-header__actions {
        flex-wrap: wrap;
      }
      .sf-header-menu-item  {
        padding: calc(var(--spacer-sm) - 1px) var(--spacer-sm);
      }
    } 
  }
}