@import "../../helpers";
.sf-hero-item {
  display: flex;
  justify-content: var(--hero-item-justify-content, flex-start);
  box-sizing: border-box;
  width: var(--hero-item-width, 100%);
  color: var(--hero-item-color, var(--c-text));
  @include background(
    --hero-item-background,
    var(--_hero-item-background-color, transparent),
    var(--_hero-item-background-image)
  );
  &__wrapper {
    display: flex;
    flex-direction: var(--hero-item-wrapper-flex-direction, column);
    align-items: var(--hero-item-wrapper-align-items, flex-start);
    justify-content: var(--hero-item-wrapper-justify-content, center);
    width: var(--hero-item-wrapper-width, 100%);
    min-height: var(--hero-item-wrapper-height, 14rem);
    padding: var(--hero-item-wrapper-padding, var(--spacer-sm));
    text-decoration: none;
    &.sf-button,
    &.sf-button:hover,
    &.sf-button:active &.sflink {
      --button-background: transparent;
      --button-box-shadow-opacity: 0;
      --button-wrap: normal;
      text-align: var(--hero-item-wrapper-text-align, left);
    }
  }
  &__subtitle {
    margin: var(--hero-item-subtitle-margin, 0);
    color: var(--hero-item-subtitle-color, var(--c-gray));
    @include font(
      --hero-item-subtitle-font,
      var(--font-weight--normal),
      var(--h6-font-size),
      1.4,
      var(--font-family--secondary)
    );
    text-transform: var(--hero-item-subtitle-transform, uppercase);
  }
  &__title {
    margin: var(--hero-item-title-margin, var(--spacer-xs) 0 0 0);
    color: var(--hero-item-title-color, var(--c-text));
    @include font(
      --hero-item-title-font,
      var(--font-weight--semibold),
      var(--h2-font-size),
      1.2,
      var(--font-family--secondary)
    );
    letter-spacing: 0.1px;
    text-transform: var(--hero-item-title-transform, none);
  }
  &__button {
    display: var(--hero-item-button-display, none);
  }
  &--align-right {
    --hero-item-justify-content: flex-end;
  }
  &--position-bg-top-right {
    background-position: top right;
  }
  &--position-bg-bottom-right {
    background-position: bottom right;
  }
  &--position-bg-bottom-left {
    background-position: bottom left;
  }
  @include for-desktop {
    --hero-item-wrapper-width: 50%;
    --hero-item-wrapper-height: 36.625rem;
    --hero-item-wrapper-padding: var(--spacer-2xl);
    --hero-item-background-image: var(
      --_hero-item-background-desktop-image,
      var(--_hero-item-background-image)
    );
    &__wrapper {
      pointer-events: none;
    }
    &__title {
      --hero-item-font-size: var(--h1-font-size);
      --hero-item-title-margin: var(--spacer-base) 0 var(--spacer-lg) 0;
    }
    &__button {
      --hero-item-button-display: block;
      pointer-events: auto;
    }
  }
}
.sf-hero {
  position: relative;
  &__controls {
    position: absolute;
    top: var(--hero-controls-top, 50%);
    transform: translate3d(0, -50%, 0);
    display: var(--hero-controls-display, none);
    box-sizing: border-box;
    justify-content: var(--hero-controls-justify-content, space-between);
    width: var(--hero-controls-width, 100%);
    padding: var(--hero-controls-padding, 0 var(--spacer-sm));
    pointer-events: none;
    &__arrow {
      pointer-events: all;
    }
  }
  &__bullets {
    position: absolute;
    bottom: var(--hero-bullets-bottom, var(--spacer-xl));
    left: 50%;
    transform: translate3d(-50%, 0, 0);
    display: var(--hero-bullets-display, none);
  }
  .glide {
    &__slides {
      margin: 0;
    }
  }
  @include for-desktop {
    &__controls {
      --hero-controls-display: flex;
    }
    &__bullets {
      --hero-bullets-display: flex;
    }
  }
}
