@import "../../helpers";
.sf-list {
  list-style-type: var(--list-list-style-type, none);
  padding: var(--list-padding, 0);
  margin: var(--list-margin, 0);
  @include for-desktop {
    --list-font-size: var(--font-size-small);
  }
  .sf-list__item {
    font: var(
      --list-font,
      font(
        --list,
        300,
        var(--font-size-big),
        1.6,
        var(--body-font-family-primary)
      )
    );
  }
}
