@import "../../helpers";

.sf-list {
  list-style: var(--list-list-style, none);
  padding: var(--list-padding, 0);
  margin: var(--list-margin, 0);
  .sf-list__item {
    margin: var(--list-item-margin, 0);
    color: var(--list-item-color, var(--c-text));
    @include font(
      --list-item-font,
      var(--font-normal),
      var(--font-sm),
      1.4,
      var(--font-family-secondary)
    );
  }
}
