@import "../../helpers";
.sf-mega-menu-column {
}
.sf-mega-menu {
  background: #FFF;
  height: 730px;
  overflow: hidden;
  &__container {
    display: flex;
    flex-direction: var(--mega-menu-flex-direction);
    flex-wrap: var(--mega-menu-flex-wrap, nowrap);
    align-items: var(--mega-menu-align-items);
    justify-content: var(--mega-menu-justify-content);
    padding: var(--header-padding, 0 var(--spacer-sm));
    max-width: var(--mega-menu-width, 77.5rem);
    margin: var(--mega-menu-margin,0 auto);
  }
  &__root {
    @include font(
      --mega-menu-column-title-font,
      var(--font-medium),
      var(--font-base),
      1.4,
      var(--font-family-secondary)
    );
  }
}
