@import "../../helpers";

.sf-product-card-horizontal {
  box-sizing: border-box;
  position: relative;
  display: flex;
  padding: var(--product-card-horizontal-padding, var(--spacer-small));

  &:hover {
    --product-card-horizontal-image-opacity: 1;
    --product-card-horizontal-image-even-opacity: 1;
  }

  &__link {
    outline: 0;
    &--image {
      max-width: var(--product-card-horizontal-image-max-width, 85px);
      width: 100%;
    }
  }

  &__image-wrapper {
    position: relative;
  }

  &__image,
  &__picture {
    transition: var(
      --product-card-horizontal-image-transition,
      opacity 150ms ease-in-out
    );
    opacity: var(--product-card-horizontal-image-opacity);
    &:nth-child(even) {
      --product-card-horizontal-image-opacity: 0;
      position: absolute;
      top: 0;
      left: 0;
    }
  }

  &__main {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    padding: var(
      --product-card-horizontal-main-padding,
      0 0 0 var(--spacer-medium)
    );
  }

  &__header {
    width: 100%;
    padding: var(
      --product-card-horizontal-header-padding,
      0 calc(var(--spacer-big) * 2) 0 0
    );
  }

  &__price {
    --price-font-weight: 500;
  }

  &__wishlist-icon {
    position: absolute;
    right: var(--product-card-horizontal-wishlist-icon-right, var(--spacer));
    padding: var(--product-card-horizontal-wishlist-icon-padding, 0);
    border: 0;
    background-color: transparent;
    transition: var(
      --product-card-horizontal-wishlist-icon-transition,
      opacity 150ms ease-in-out
    );
    opacity: var(--product-card-horizontal-wishlist-icon-opacity);
    cursor: pointer;
    outline: none;
  }

  &--on-wishlist {
    --product-card-horizontal-wishlist-icon-opacity: 1;
  }

  &__title {
    color: var(--c-text);
    font: var(
      --product-card-horizontal-title-font,
      font(
        --product-card-horizontal-title,
        300,
        var(--font-size-small),
        1.6,
        var(--body-font-family-secondary)
      )
    );
  }

  &__description {
    margin: var(
      --product-card-horizontal-description-margin,
      0 0 var(--spacer-big)
    );
  }

  &__details {
    display: flex;
    flex: 1;
    align-items: flex-start;
    flex-direction: column;
    justify-content: flex-end;
  }

  &__reviews {
    display: flex;
    align-items: center;
    padding: var(
      --product-card-horizontal-reviews-padding,
      var(--spacer) 0 0 0
    );
    &-count {
      text-decoration: underline;
    }
  }

  &__rating {
    padding: var(--product-card-horizontal-rating-padding, 0 var(--spacer) 0 0);
  }

  &__actions {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end;
  }

  &__add-to-cart {
    padding: var(
      --product-card-horizontal-add-to-cart-padding,
      var(--spacer-big) 0 0 0
    );
  }

  @include for-desktop {
    --product-card-horizontal-image-max-width: 140px;
    --product-card-horizontal-padding: var(--spacer-big);
    --product-card-horizontal-main-padding: 0 0 0 var(--spacer-big);
    --product-card-horizontal-header-padding: 0;
    --product-card-horizontal-title-font-size: var(--font-size-big);
    --product-card-horizontal-title-font-weight: 500;

    &__header {
      display: flex;
      justify-content: space-between;
    }

    &__details {
      justify-content: space-between;
    }
  }
}
