@import "../../helpers";

.sf-product-card {
  position: relative;
  z-index: var(--product-card-z-index);
  box-sizing: border-box;
  max-width: var(--product-card-max-width, 200px);
  padding: var(--product-card-padding, var(--spacer-small));
  background-color: var(--product-card-background, var(--c-white));

  &::after {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transition: var(--product-card-transition);
    box-shadow: var(--product-card-box-shadow);
  }

  &:hover {
    --product-card-image-opacity: 1;
    --product-card-image-even-opacity: 1;
    --product-card-wishlist-icon-opacity: 1;
    --product-card-add-button-opacity: 1;
  }

  &__link {
    outline: none;
  }

  &__title {
    margin: var(--product-card-title-margin, var(--spacer-small) 0);
    font: var(
      --product-card-title-font,
      font(
        --product-card-title,
        300,
        var(--font-size-regular),
        1.6,
        var(--body-font-family-secondary)
      )
    );
  }
  &__image-wrapper {
    position: relative;
  }
  &__image,
  &__picture {
    transition: var(--product-card-image-transition, opacity 150ms ease-in-out);
    opacity: var(--product-card-image-opacity);
    &:nth-child(even) {
      position: absolute;
      top: 0;
      left: 0;
      opacity: var(--product-card-image-even-opacity, 0);
    }
  }
  &__badge {
    position: absolute;
    top: var(--product-card-badge-top, var(--spacer));
    left: var(--product-card-badge-left, 0);
  }

  &__add-button {
    --button-padding: var(--spacer-medium);
    --circle-icon-position: absolute;
    right: var(--product-card-add-button-right, 1rem);
    display: var(--product-card-add-button-display, none);
    transform: var(--product-card-add-button-transform, translateY(-50%));
    opacity: var(--product-card-add-button-opacity, 0);
    cursor: pointer;

    &--icons-enter-active {
      animation: var(--product-card-add-button-enter-animation, bounce 0.4s);
    }

    &--icons-leave-active {
      animation: var(
        --product-card-add-button-leave-animation,
        bounce 0.4s reverse
      );
    }
  }

  &__reviews {
    display: flex;
    align-items: center;
  }
  &__rating {
    display: inline-flex;
  }
  &__reviews-count {
    margin: var(--product-card-reviews-count-margin, 0 0 0 0.5rem);
    font: var(
      --product-reviews-count-font,
      font(
        --product-card-reviews-count,
        300,
        var(--font-size-regular),
        1.6,
        var(--body-font-family-primary)
      )
    );
  }
  &__wishlist-icon {
    position: absolute;
    top: var(--product-card-wishlist-icon-top, calc(var(--spacer-small) * 4));
    right: var(
      --product-card-wishlist-icon-right,
      calc(var(--spacer-small) * 4)
    );
    padding: var(--product-card-wishlist-icon-padding, 0);
    border: 0;
    background-color: transparent;
    opacity: var(--product-card-wishlist-icon-opacity, 1);
    transition: var(
      --product-card-wishlist-icon-transition,
      opacity 150ms ease-in-out
    );
    cursor: pointer;
    outline: none;
  }

  &--on-wishlist {
    --product-card-wishlist-icon-opacity: 1;
  }

  @include for-desktop {
    --product-card-max-width: 240px;
    --product-card-padding: var(--spacer-big);
    --product-card-title-margin: var(--spacer) 0 var(--spacer-small);
    --product-card-transition: box-shadow 150ms ease-in-out;
    --product-card-wishlist-icon-top: calc(var(--spacer-big) * 2);
    --product-card-wishlist-icon-right: calc(var(--spacer-big) * 2);
    --product-card-wishlist-icon-opacity: 0;
    --product-card-reviews-count-font-size: var(--font-size-small);
    --product-card-add-button-display: flex;

    &:hover {
      --product-card-z-index: 1;
      --product-card-box-shadow: 0px 4px 35px rgba(168, 172, 176, 0.19);
    }
  }
}

@keyframes bounce {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}
