@import "../../helpers";
.sf-product-card-horizontal {
  display: flex;
  box-sizing: border-box;
  padding: var(--product-card-horizontal-padding, var(--spacer-xs));
  background-color: var(--product-card-horizontal-background, var(--c-white));
  &__link {
    color: inherit;
    text-decoration: inherit;
    &--image {
      flex: 0 0 var(--product-card-horizontal-image-width, 5.3125rem);
    }
  }
  &__image-wrapper {
    display: flex;
    &:hover {
      --product-card-horizontal-image-opacity: 1;
      --product-card-horizontal-image-even-opacity: 1;
    }
  }
  &__image,
  &__picture {
    transition: var(
      --product-card-horizontal-image-transition,
      opacity 150ms ease-in-out
    );
    opacity: var(--product-card-horizontal-image-opacity);
    &:nth-child(even) {
      position: absolute;
      top: 0;
      left: 0;
      opacity: var(--product-card-horizontal-image-even-opacity, 0);
    }
  }
  &__main {
    position: relative;
    display: flex;
    flex: 1;
    flex-direction: var(--product-card-horizontal-flex-direction, column);
    padding: var(
      --product-card-horizontal-main-padding,
      0 0 0 var(--spacer-sm)
    );
  }
  &__details,
  &__actions-wrapper {
    display: flex;
    flex-direction: column;
  }
  &__actions-wrapper {
    flex: 1;
    align-items: var(--product-card-horizontal-actions-wrapper, flex-start);
    margin: var(
      --product-card-horizontal-actions-wrapper-margin,
      var(--spacer-sm) 0 0 0
    );
  }
  &__title {
    margin: 0;
    color: var(--c-text);
    @include font(
      --product-card-horizontal-title-font,
      var(--font-light),
      var(--h4-font-size),
      1.6,
      var(--font-family-secondary)
    );
  }
  &__description {
    margin: var(
      --product-card-horizontal-description-margin,
      var(--spacer-sm) 0
    );
    @include font(
      --product-card-horizontal-description-font,
      var(--font-light),
      var(--font-base),
      1.6,
      var(--font-family-primary)
    );
  }
  &__configuration {
    margin: var(--product-card-horizontal-configuration-margin, 0);
  }
  &__reviews {
    display: flex;
    align-items: center;
    margin: var(--product-card-horizontal-review-margin, auto 0 0 0);
    @include font(
      --product-card-horizontal-reviews-font,
      var(--font-light),
      var(--font-sm),
      1.4,
      var(--font-family-secondary)
    );
    &-count {
      color: var(--c-text);
      text-decoration: none;
      margin: 0 0 0 var(--spacer-xs);
    }
  }
  &__actions {
    margin: var(--product-card-horizontal-actions-margin, 0);
  }
  &__add-to-cart {
    margin: var(--product-card-horizontal-add-to-cart-margin, 0);
  }
  &__wishlist-icon {
    --icon-color: var(--c-dark-variant);
    position: absolute;
    top: 0;
    right: 0;
    padding: 0;
    background: transparent;
    border: 0;
    cursor: pointer;
  }
  @include for-desktop {
    --product-card-horizontal-flex-direction: row;
    --product-card-horizontal-image-width: 8.75rem;
    --product-card-horizontal-padding: 0;
    --product-card-horizontal-actions-wrapper: flex-end;
    --product-card-horizontal-review-margin: var(--spacer-xs) 0 0 0;
    --product-card-horizontal-configuration-margin: auto 0 var(--spacer-xs) 0;
    --product-card-horizontal-add-to-cart-margin: auto 0 0 0;
    --product-card-horizontal-actions-margin: var(--spacer-base) 0 0 0;
    --product-card-horizontal-actions-wrapper-margin: 0;
  }
}
