@import "../../helpers";
.sf-sidebar {
  @include for-desktop {
    --sidebar-aside-width: 25.5rem;
    --sidebar-circle-icon-top: 5.625rem;
  }
  &__aside {
    position: fixed;
    top: var(--sidebar-aside-top, 0);
    right: var(--sidebar-aside-right);
    left: var(--sidebar-aside-left, 0);
    z-index: var(--sidebar-aside-z-index, 1);
    box-sizing: border-box;
    width: var(--sidebar-aside-width, 20rem);
    height: 100%;
    background-color: var(--sidebar-aside-background, var(--c-white));
  }
  &__content {
    overflow-y: auto;
    box-sizing: border-box;
    display: var(--sidebar-content-display, flex);
    flex-direction: var(--sidebar-content-flex-direction, column);
    width: var(--sidebar-content-width);
    height: 100%;
    padding: var(--sidebar-content-padding, var(--spacer-extra-big));
    &::-webkit-scrollbar {
      --sidebar-content-width: 0;
    }
  }
  &__title {
    margin: var(--sidebar-title-margin, 0 0 1.5rem 0);
  }
  &__circle-icon {
    --circle-icon-position: absolute;
    z-index: 1;
    display: var(--sidebar-circle-icon-display);
    right: var(--sidebar-circle-icon-right, calc(3.25rem / 2 * -1));
    left: var(--sidebar-circle-icon-left);
    top: var(--sidebar-circle-icon-top, 4.925rem);
  }
  &--right {
    --sidebar-aside-left: auto;
    --sidebar-aside-right: 0;
    --sidebar-circle-icon-right: auto;
    --sidebar-circle-icon-left: calc(3.25rem / 2 * -1);
  }
  &--mobile-only {
    --sidebar-circle-icon-display: none;
  }
  &--has-scroll-lock {
    overflow: hidden;
  }
}
