@import "../../helpers";

.sf-store-locator {
  --icon-size: 100%;
  &__title {
    margin: 0 0 0 var(--spacer-sm);
    span {
      font-weight: var(--font-medium);
    }
    @include font(
      --store-locator-title-font,
      var(--font-normal),
      var(--font-sm),
      1.6,
      var(--font-family-secondary)
    );
  }
  &__wrapper {
    display: flex;
    flex-direction: var(--store-locator-wrapper-flex-direction, column-reverse);
    flex-wrap: var(--store-locator-wrapper-flex-wrap, nowrap);
    justify-content: var(--store-locator-wrapper-justify-content, flex-start);
    align-items: var(--store-locator-wrapper-align-items, flex-start);
  }
  &__list {
    width: var(--store-locator-list-width, 100%);
    max-width: var(--store-locator-list-max-width, none);
    margin: var(--store-locator-list-margin);
  }
  &__map-wrapper {
    position: relative;
    width: var(--store-locator-map-width, 100%);
    max-width: var(--store-locator-map-max-width, none);
    min-height: var(--store-locator-map-min-height, 34.5rem);
    &-map {
      // Workaround to known bug about min-height / height interaction in Chrome / Firefox
      position: absolute;
      height: 100%;
      &-my-location-btn {
        a {
          display: flex;
          align-items: center;
          justify-content: center;
          &:hover {
            display: flex;
          }
        }
      }
    }
    .sf-loader {
      position: absolute;
    }
  }
  .sf-store {
    &:first-of-type {
      --divider-display: none;
    }
    &__first-divider {
      --divider-display: block;
      --divider-max-width: unset;
      --divider-margin: 0 0 14px 0;
    }
    &__second-divider {
      --divider-display: block;
      --divider-max-width: unset;
      --divider-margin: 14px 0 0 0;
    }
    &__item {
      width: 100%;
      padding: var(--store-item-padding, var(--spacer-xs) 0 var(--spacer-sm) 0);
      display: flex;
      flex-direction: var(--store-item-flex-direction, row);
      flex-wrap: var(--store-item-flex-wrap, nowrap);
      justify-content: var(--store-item-justify-content, flex-start);
      align-items: var(--store-item-align-items, flex-start);
      @include border(--store-item-border, 0 0 1px 0, solid, var(--c-light));
      &-media {
        --image-width: 5rem;
        --image-height: 8.25rem;
        margin: var(--store-item-media-margin, 0 var(--spacer-sm) 0 0);
        overflow: hidden;
        cursor: pointer;
      }
      &-info {
        display: flex;
        flex-direction: column;
        flex: 1;
        justify-content: space-between;
        height: var(--store-item-info-height, 8.25rem);

        &-heading {
          display: var(--store-item-info-heading-display);
          justify-content: var(--store-item-info-heading-justify-content);
          &-name {
            color: var(--store-item-info-heading-name-color, var(--c-dark));
            @include font(
              --store-item-info-heading-name-font,
              var(--font-normal),
              var(--font-xs),
              1.6,
              var(--font-family-secondary)
            );
          }
          &-distance {
            margin: var(--spacer-base) 0 0 0;
            width: var(--store-item-info-heading-distance-width);
            color: var(
              --store-item-info-heading-distance-color,
              var(--c-dark-variant)
            );
            span {
              color: var(
                --store-item-info-heading-distance-span-color,
                var(--c-dark)
              );
            }
            @include font(
              --store-item-info-heading-distance-font,
              var(--font-medium),
              var(--font-base),
              1.6,
              var(--font-family-secondary)
            );
          }
        }
        &-address {
          color: var(--store-item-info-address-color, var(--c-dark-variant));
          @include font(
            --store-item-info-address-font,
            var(--font-light),
            var(--font-base),
            1.6,
            var(--font-family-primary)
          );
        }
        &-phone,
        &-email {
          display: var(--store-item-info-contact-display, flex);
          flex-direction: var(--store-item-info-contact-flex-direction, row);
          flex: var(--store-item-info-contact-flex-wrap, nowrap);
          justify-content: var(
            --store-item-info-contact-justify-content,
            flex-start
          );
          align-items: var(--store-item-info-contact-align-items, center);
          margin: var(--store-item-info-contact-margin, var(--spacer-sm) 0 0 0);
          color: var(--store-item-info-contact-color, var(--c-dark-variant));
          span {
            margin: var(--store-item-info-contact-span-margin, 0 0 0 0.3125rem);
            @include font(
              --store-item-info-contact-font,
              var(--font-medium),
              var(--font-xs),
              1.6,
              var(--font-family-secondary)
            );
          }
        }
      }
    }
  }
  @include for-desktop {
    --divider-max-width: 100%;
    --store-locator-list-width: 100%;
    --store-locator-list-max-width: 35.75rem;
    --store-locator-map-max-width: 100%;
    --store-locator-map-min-height: 46rem;
    --store-locator-wrapper-flex-direction: row;
    --store-locator-list-margin: 0 var(--spacer-2xl) 0 0;
    --store-item-padding: var(--spacer-base) 0 var(--spacer-sm) 0;
    --store-item-media-margin: 0 var(--spacer-xl) 0 0;
    --store-item-info-heading-display: flex;
    --store-item-info-heading-justify-content: space-between;
    --store-item-info-heading-name-font-size: var(--font-2xs);
    --store-item-info-address-font-size: var(--font-xs);
    --store-item-info-address-color: var(--c-gray-variant);
    --store-item-info-heading-distance-font-size: var(--font-xs);
  }
}
