@import "../../helpers";

.sf-tabs {
  display: flex;
  flex-wrap: wrap;
  &__title {
    @include font(
      --tabs-title-font,
      var(--font-normal),
      var(--h3-font-size),
      1.6,
      var(--font-family-secondary)
    );
    z-index: var(--tabs-title-index);
    display: var(--tabs-title-display, flex);
    flex-basis: var(--tabs-title-flex-basis, 100%);
    justify-content: space-between;
    margin: var(--tabs-title-margin);
    padding: var(
      --tabs-title-padding,
      var(--spacer-base) var(--spacer-base) var(--spacer-base) var(--spacer-sm)
    );
    @include border(--tabs-title-border, 1, solid, var(--c-light));
    border-width: var(--tabs-title-border-width, 0 0 0.0625rem 0);
    color: var(--tabs-title-color, var(--c-text));
    transition: color 150ms ease-in-out;
    cursor: pointer;
    &--active {
      --tabs-title-color: var(--c-primary);
    }
  }
  &__chevron {
    display: var(--tabs-chevron-display, flex);
    align-items: center;
  }
  &__content {
    @include font(
      --tabs-content-font,
      var(--font-light),
      var(--font-base),
      1.7,
      var(--font-family-primary)
    );
    color: var(--tabs-content-color, var(--c-link));
    flex-basis: 100%;
    padding: var(
      --tabs-content-padding,
      var(--spacer-base) var(--spacer-base) var(--spacer-base) var(--spacer-sm)
    );
    order: var(--tabs-content-order);
    @include border(--tabs-content-border, 0, solid, transparent);
    border-width: var(--tabs-content-border-width);
  }
  @include for-desktop {
    --tabs-title-font-size: var(--h4-font-size);
    --tabs-title-margin: 0 2.75rem -0.125rem 0;
    --tabs-title-padding: 0 6px 4px 0;
    --tabs-title-border-width: 0 0 2px 0;
    --tabs-title-color: var(--c-text-muted);
    --tabs-title-flex-basis: auto;
    --tabs-content-order: 99;
    --tabs-content-padding: var(--spacer-lg) 0;
    --tabs-content-border: 2px solid var(--c-light);
    --tabs-content-border-width: 2px 0 0 0;
    --tabs-chevron-display: none;
    &__title {
      &--active {
        --tabs-title-border: 2px solid var(--c-dark);
        --tabs-title-index: 1;
        --tabs-title-color: var(--c-text);
      }
      &:hover {
        --tabs-title-color: var(--c-dark);
      }
    }
  }
}
