@import '../../variables';
.sf-tabs {
  position: relative;
  display: flex;
  flex-wrap: wrap; 
  font: var(--tabs-font, font(--tabs, 400, var(--font-size-regular), 1.6, var(--body-font-family-secondary)));
  @include for-desktop {
    --tabs-title-margin: 0 2rem -0.125rem 0;
    --tabs-title-padding: var(--spacer-big) 0;
    --tabs-title-border-bottom: 2px solid transparent;
    --tabs-title-color: var(--c-gray-variant);
    --tabs-title-flex-basis: auto;
    --tabs-content-order: 99;
    --tabs-content-padding: var(--spacer-big) 0;
    --tabs-content-border-top: 2px solid var(--c-light);
    --tabs-chevron-display: none;
  }
  &__title {
    z-index: var(--tabs-title-index);
    display: flex;
    flex-basis: var(--tabs-title-flex-basis, 100%);
    justify-content: space-between;
    margin: var(--tabs-title-margin);
    padding: var(--tabs-title-padding, calc(var(--spacer-big) - 5px) 0);
    border-bottom: var(--tabs-title-border-bottom, 1px solid var(--c-light));
    color: var(--tabs-title-color, var(--c-dark));
    font: var(--tabs-title-font, font(--tabs-title, 400, var(--font-size-big), 1.6, var(--body-font-family-secondary)));
    transition: var(--tabs-title-transition, border-color 150ms ease-in-out, color 150ms ease-in-out);
    cursor: pointer;
    &--active {
      --tabs-title-border-bottom: 1px solid transparent;
      @include for-desktop {
        --tabs-title-index: 1;
        --tabs-title-color: var(--c-dark);
        --tabs-title-border-bottom: 2px solid var(--c-dark);
      }
    }
    &:hover {
      @include for-desktop {
        --tabs-title-color: var(--c-dark);
      }
    }
  }
  &__chevron {
    display: var(--tabs-chevron-display, flex);
    align-items: center;
    max-height: var(--tabs-chevron-max-height, calc(var(--accordion-font-size) * var(--accordion-line-height)));
  }
  &__content {
    flex-basis: 100%;
    padding: var(--tabs-content-padding, calc(var(--spacer-big) / 2) 0);
    order: var(--tabs-content-order);
    border-top: var(--tabs-content-border-top);
  }
}
