@import "../../helpers";

.sf-table {
  box-sizing: border-box;
  width: var(--table-width, 100%);
  border: none;
  border-spacing: var(--table-border-spacing, 0);
  &__heading,
  &__row {
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
  }
  &__heading {
    align-items: center;
    padding: var(--table-heading-padding, var(--spacer-sm) 0);
    background-color: var(--table-heading-background, transparent);

    @include border(--table-border, 2px 0 2px 0, solid, var(--c-light));
  }
  &__header {
    @include font(
      --table-header-font,
      var(--font-semibold),
      var(--font-xs),
      1.6,
      var(--font-family-secondary)
    );
    color: var(--table-header-color, var(--c-text));
  }
  &__row {
    padding: var(--table-row-padding, var(--spacer-xs) 0);
    background-color: var(--table-row-background);
    box-shadow: var(--table-row-box-shadow);
    @include border(--table-row-border, 0 0 2px 0, solid, var(--c-light));
  }
  &__data {
    color: var(--table-data-color, var(--c-dark-variant));
    @include font(
      --table-data-font,
      var(--font-normal),
      var(--font-sm),
      1.6,
      var(--font-family-secondary)
    );
  }
  &__data,
  &__header {
    box-sizing: border-box;
    flex: var(--table-data-flex, 0 0 calc(100% / var(--mobile-column)));
    padding: var(--table-data-padding, 0);
    text-align: var(--table-data-text-align, left);
    &:nth-child(even) {
      order: var(--table-data-last-child-order, 1);
    }
  }
  &--no-border {
    --table-row-border-width: 0;
  }
  @include for-desktop {
    --table-row-border-bottom: none;
    --table-row-padding: var(--spacer-sm) var(--spacer-sm);
    --table-heading-padding: var(--spacer-sm) var(--spacer-sm);
    --table-heading-background: transparent;
    --table-data-flex: 1;
    --table-data-last-child-order: 0;
    --table-header-font-size: var(--font-sm);
    --table-header-font-weight: var(--font-normal);
    &--no-border {
      --table-row-border-width: 0;
    }
    &__row {
      &:hover {
        --table-row-box-shadow: 0 4px 20px rgba(100, 122, 145, 0.19);
      }
    }
  }
}
