@import "../../helpers";
.sf-table {
  box-sizing: border-box;
  width: 100%;
  border: none;
  border-spacing: 0;
  &__heading,
  &__row {
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
  }
  &__heading {
    align-items: center;
    padding: var(--spacer-sm);
    background-color: transparent;
    border: solid var(--c-primary);
    border-width: 0 0 2px 0;
  }
  &__header {
    font-weight: var(--font-weight--normal);
    font-size: var(--font-size--base);
    font-family: var(--font-family--secondary);
    line-height: 1.4;
    color: var(--c-text);
  }
  &__row {
    padding: var(--spacer-sm);
    border: solid var(--c-light);
    border-width: 0 0 2px 0;
    box-shadow: var(--table-row-box-shadow);
  }
  &__data {
    color: var(--c-dark-variant);
    font-weight: var(--font-weight--normal);
    font-size: var(--font-size--base);
    font-family: var(--font-family--secondary);
    line-height: 1.6;
  }
  &__data,
  &__header {
    box-sizing: border-box;
    flex: var(--table-column-flex, 0 0 calc(100% / var(--table-column-width)));
    padding: 0;
    text-align: left;
  }
  &--no-border {
    .sf-table__row {
      border-width: 0;
    }
  }
  @include for-desktop {
    --table-column-flex: 1;

    &__row {
      &:hover {
        --table-row-box-shadow: 0px 4px 11px rgba(29, 31, 34, 0.1);
      }
    }
  }
}
