@import "../../helpers";

.sf-tabs {
  display: flex;
  flex-wrap: wrap;
  &__title {
    z-index: var(--tabs-title-z-index);
    display: var(--tabs-title-display, flex);
    box-sizing: border-box;
    flex: var(--tabs-title-flex, 0 0 100%);
    justify-content: space-between;
    margin: var(--tabs-title-margin);
    padding: var(--tabs-title-padding, var(--spacer-sm));
    @include border(--tabs-title-border, 0 0 1px 0, solid, var(--c-light));
    color: var(--tabs-title-color, var(--c-text));
    transition: color 150ms ease-in-out;
    cursor: pointer;
    @include font(
      --tabs-title-font,
      var(--font-normal),
      var(--h3-font-size),
      1.6,
      var(--font-family-secondary)
    );
    &--active {
      --tabs-title-border-width: 0;
      --tabs-title-color: var(--c-primary);
    }
  }
  &__content {
    order: var(--tabs-content-order);
    @include border(--tabs-content-border, 1px 0, solid, var(--c-light));
    color: var(--tabs-content-color, var(--c-text));
    @include font(
      --tabs-content-font,
      var(--font-light),
      var(--font-base),
      1.6,
      var(--font-family-primary)
    );
    &__tab {
      padding: var(
        --tabs-content-tab-padding,
        var(--spacer-base) var(--spacer-sm)
      );
    }
  }
  &__chevron {
    display: var(--tabs-chevron-display);
  }
  @include for-desktop {
    --tabs-title-z-index: 1;
    --tabs-content-order: 1;
    --tabs-title-flex: 0 0 auto;
    --tabs-title-margin: 0 var(--spacer-lg) -2px 0;
    --tabs-title-padding: var(--spacer-xs) 0;
    --tabs-title-color: var(--c-text-muted);
    --tabs-title-font-size: var(--h4-font-size);
    --tabs-content-tab-padding: var(--spacer-base) 0;
    --tabs-content-border-width: 1px 0 0 0;
    --tabs-chevron-display: none;
    &__title {
      &--active {
        --tabs-title-border-width: 0 0 2px 0;
        --tabs-title-border-color: var(--c-text);
        --tabs-title-color: var(--c-text);
      }
      &:hover {
        --tabs-title-color: var(--c-text);
      }
    }
  }
}
