@import "../../helpers";

.sf-topbar {
  @include font(
    --bar-font,
    var(--font-normal),
    var(--font-xs),
    1.6,
    var(--font-family-secondary)
  );
  display: flex;
  align-items: var(--topbar-align-items, center);
  justify-content: var(--topbar-justify-content, space-between);
  width: 100%;
  height: var(--top-bar-height, 2.5rem);
  box-sizing: border-box;
  padding: var(--topbar-padding, 0 6rem 0 6rem);
  background-color: var(--top-bar-background, var(--c-light));
  &__right {
    display: flex;
    align-items: center;
  }
  &__left {
    display: flex;
    align-items: center;
  }
  &__center {
    display: flex;
    align-items: center;
  }
}
