@import "../../helpers";

.sf-topbar {
  display: flex;
  align-items: var(--topbar-align-items, center);
  justify-content: var(--topbar-justify-content, space-between);
  width: 100%;
  height: var(--top-bar-height, 2.5rem);
  box-sizing: border-box;
  padding: var(--topbar-padding, 0 var(--spacer-extra-big));
  background-color: var(--top-bar-background, var(--c-light));
  font: var(
    --topbar-font,
    font(
      --topbar,
      300,
      var(--font-size-regular),
      1.6,
      var(--body-font-family-primary)
    )
  );
  &__center {
    --topbar-font-size: var(--font-size-small-desktop);
  }
}
