.vsf-breadcrumbs {
  @apply inline-flex items-center text-sm font-normal text-neutral-500 font-body;

  &__ol {
    @apply flex md:flex-wrap w-auto leading-none;
  }

  &__item {
    @apply hidden sm:block;

    &-link {
      @apply leading-5 whitespace-nowrap hover:text-primary-700 hover:underline active:text-primary-800 outline-secondary-600;

      &-icon {
        &,
        &--home {
          @apply text-neutral-500 hover:text-primary-700 active:text-primary-800;
        }
      }
    }

    &:first-child,
    &:last-child {
      @apply flex;
    }

    &:last-child > a {
      @apply font-medium text-neutral-900 hover:text-primary-700 active:text-primary-800 hover:underline active:underline;
    }

    &:nth-of-type(1n + 3) {
      @apply before:content-['/'] before:mx-2;
    }
  }

  &__dropdown {
    &-button {
      @apply leading-5 relative block sm:hidden outline-secondary-600 rounded-sm;
    }

    &-list {
      @apply bg-white block sm:hidden rounded-md shadow-md p-4 absolute left-0 flex-col text-sm text-neutral-900 z-10;

      &-item {
        @apply py-2;

        &:last-child {
          @apply hidden;
        }
      }

      &-button {
        @apply leading-5 align-middle rounded-sm whitespace-nowrap hover:text-primary-700 hover:underline active:underline active:text-primary-800 outline-secondary-600;
      }
    }
  }
}
