.vsf-combobox {
  &__icons {
    @apply flex;

    &-cancel {
      @apply mr-2;
    }

    &-chevron {
      &--rotate {
        @apply rotate-180;
      }
    }
  }

  &-dropdown {
    &,
    &__trigger,
    &__dropdown {
      @apply w-full;
    }
  }

  &__help-text {
    @apply text-xs text-neutral-500 mt-0.5;
  }

  &__error-text {
    @apply text-sm text-negative-700 font-medium mt-0.5;
  }

  &__required-text {
    @apply mt-1 text-sm font-normal text-neutral-500 before:content-['*'];
  }
}
