.vsf-display-content {
  @apply flex flex-col justify-center items-start;

  &__subtitle {
    @apply mb-2 uppercase text-sm text-neutral-500 font-bold tracking-widest;
  } 

  &__title {
    @apply mb-4 text-2xl md:text-4xl font-medium;
  }
  
  &__description {
    @apply mb-6;
  }
}