.scrollbar-hidden {
  -ms-overflow-style: none; /* for Internet Explorer, Edge */
  scrollbar-width: none; /* for Firefox */

  /* overflow-y: scroll; */
}

.scrollbar-hidden::-webkit-scrollbar {
  display: none; /* for Chrome, Safari, and Opera */
}

.gallery.gallery--thumbs-bottom {
  @apply flex-col;
}

.gallery.gallery--thumbs-left {
  @apply flex-row;
}

.gallery.gallery--thumbs-left .gallery__controls {
  @apply -order-1;
}

.gallery.gallery--thumbs-left .gallery__thumbnails {
  @apply flex-col h-full ;
}

.gallery.gallery--thumbs-left .gallery__thumbnail img {
  @apply w-full h-auto;
}

.gallery.gallery--thumbs-left .gallery__thumbnail{
  @apply w-[78px] h-auto;
}

.gallery.gallery--thumbs-bottom .gallery__thumbnails {
  @apply flex-row w-full px-4 ;
}

.gallery.gallery--thumbs-bottom .gallery__thumbnail img {
  @apply h-full w-auto;
}

.gallery.gallery--thumbs-bottom .gallery__thumbnail {
  @apply h-16 w-auto;
}
