.vsf-hero {
  @apply bg-[url:var(--vsf-hero-bg-img-mobile)] md:bg-[url:var(--vsf-hero-bg-img-desktop)] bg-top md:bg-center;

  &__container {
    // TODO: replace 1536px with CSS var
    @apply md:flex min-h-[600px] max-w-[1536px] mx-auto;

    &--horizontal {
      @apply md:flex-row-reverse;
    }

    &--horizontal-reverse {
      @apply md:flex-row;

      .vsf-hero__media {
        @apply md:items-end;
      }
    }
  }

  &__media {
    @apply flex flex-col md:items-start md:basis-2/4 md:overflow-hidden;
  }

  &__content {
    @apply p-4 md:p-10 md:flex md:flex-col md:justify-center md:items-start md:basis-2/4;
  }
}

.vsf-hero-img {
  @apply max-w-[none] min-h-0 md:flex-[1_0_0]

}