@keyframes spinning {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes animate-stroke {
  0% {
    @apply stroke-primary-700;

    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
  }

  50% {
    @apply stroke-primary-700;

    stroke-dasharray: 140, 200;
    stroke-dashoffset: -35;
  }

  100% {
    @apply stroke-primary-700;

    stroke-dasharray: 89, 200;
    stroke-dashoffset: -150;
  }
}

.vsf-loader-circular {
  $self: &;
  @apply relative inline-block;
  
  &__main {
    @apply absolute bg-transparent border-gray-200 rounded-full;
  }

  &__circle {
    @apply absolute animate-[spinning_1.5s_linear_infinite] border-none;
    
    &-path {
      @apply fill-none stroke-2 animate-[animate-stroke_2s_ease-in-out_infinite];
    }
  }

  &--xs {
    @apply w-4 h-4 border-2;
  }

  &--sm {
    @apply w-5 h-5 border-2;
  }

  &--base {
    @apply w-6 h-6 border-2;
  }

  &--lg {
    @apply w-8 h-8 border-2;
  }

  &--xl {
    @apply w-10 h-10 border-2;
  }

  &--2xl {
    @apply w-14 h-14 border-[3px];
  }

  &--3xl {
    @apply w-24 h-24 border-4;
  }
  
  &--4xl {
    @apply w-48 h-48 border-8;
  }

  &__sr-only {
    @apply sr-only;
  }
}
