.vsf-list-item-menu {
  $self: &;
  @apply relative inline-flex text-left items-center font-normal font-body text-base w-full bg-white hover:bg-gray-100 active:bg-gray-100 cursor-pointer;

  &__content {
    @apply flex flex-col w-full min-w-0;
  }

  &__title {
    @apply inline-block break-words;
  }

  &__counter {
    @apply ml-2;
  }

  &__secondary-text {
    @apply text-xs text-gray-500 break-words;

    &--truncated {
      @apply truncate;
    }
  }

  &__icon {
    @apply flex-grow-0 text-gray-500;

    &--prefix {
      @apply mr-2.5;
    }
  }

  &--selected {
    #{$self}__label {
      @apply font-medium;
    }

    #{$self}__icon--prefix {
      @apply text-primary-700;
    }
  }

  &--selected-bg {
    @apply bg-primary-50;
  }

  &--disabled {
    @apply opacity-40 bg-white cursor-not-allowed pointer-events-none;

    #{$self}__icon--prefix {
      @apply text-gray-500;
    }

    #{$self}__label {
      @apply font-normal text-gray-500;
    }
  }

  &--size-sm {
    @apply text-sm px-4 py-1;

    #{$self}__counter {
      @apply text-sm;
    }
  }

  &--size-base {
      @apply px-4 py-2;
  }

  &--size-lg {
      @apply px-4 py-4;
  }
}
