.vsf-progress-linear {
  $self: &;
  @apply flex;

  &--size {
    &--minimal, &--sm, &--base, &--lg, &--xl, &--2xl, &--3xl, &--4xl {
      #{$self}__progress {
        @apply h-auto;
      }
    }

    &--minimal {
      @apply after:text-[2px];
    }

    &--xs {
      @apply after:text-xs;
      #{$self}__label {
        @apply  text-xs ml-1;
      }
    }

    &--sm {
      @apply after:text-sm;
      #{$self}__label {
        @apply  text-sm leading-5 ml-1;
      }
    }

    &--base {
      @apply after:text-base;
      #{$self}__label {
        @apply  text-base leading-6 ml-1;
      }
    }
  
    &--lg {
      @apply after:text-lg;
      #{$self}__label {
        @apply text-lg leading-7 ml-1.5;
      }
    }

    &--xl {
      @apply after:text-[26px] after:leading-10;;
      #{$self}__label {
        @apply text-[26px] leading-10 ml-2;
      }
    }

    &--2xl {
      @apply after:text-[38px] after:leading-[56px];
      #{$self}__label {
        @apply text-[38px] leading-[56px] ml-3;
      }
    }

    &--3xl {
      @apply after:text-[64px] after:leading-[96px];
      #{$self}__label {
        @apply text-[64px] leading-[96px] ml-4;
      }
    }

    &--4xl {
      @apply after:text-9xl after:leading-[192px];
      #{$self}__label {
        @apply text-9xl leading-[192px] ml-6; 
      }
    }
  }

  &--no-value {
    @apply after:content-['\200B'];
  }

  &__progress {
    @apply min-h-[4px];

    &::-webkit-progress-bar {
      @apply bg-gray-200;
    }

    &::-webkit-progress-value {
      @apply bg-primary-600 transition-[width] ease-in-out duration-200;
    }

    &::-moz-progress-bar {
      @apply bg-primary-600;
    }
  }

  &__label {
    @apply font-medium;
  }
}
