.vsf-pagination {
  @apply flex justify-between;

  &__items {
    @apply flex justify-center;
  }

  &__item {
    @apply flex h-14 border-t-4 border-transparent;

    &--selected {
      @apply font-medium border-t-4 border-primary-500;
    }
  }

  &__button {
    @apply h-12 text-gray-500 shrink-0;

    &--disabled {
      @apply bg-transparent;
    }

    &--text {
      @apply hidden sm:inline-flex;
    }
  }
}
