.vsf-rating {
  @apply flex items-center pointer-events-auto font-body font-medium;

  &--xs {
    @apply text-xs;
  }

  &--sm {
    @apply text-sm;
  }

  &--base {
    @apply text-base;
  }

  &--lg {
    @apply text-lg;
  }

  &--xl {
    @apply text-xl;
  }

  .vsf-icon {
    height: 1.5em;
    width: 1.5em;
  }

  &__star-filled,
  &__star-partial {
    @apply text-warning-500;
  }

  &__star-empty {
    @apply text-gray-500/50;
  }

  &__count,
  &__value {
    @apply ml-1;
  }
}
