.vsf-side-sheet {
  @apply h-full w-full;

  &__aside {
    @apply absolute bg-white h-full  border border-neutral-200;

    width: min(calc(100vw - 56px), 376px);

    &--fixed {
      @apply fixed top-0 bottom-0 shadow-lg border-0;
    }

    &__close-button {
      @apply bg-transparent absolute top-2 right-2 text-neutral-500;
    }

    &--left-side {
      @apply left-0;
    }

    &--right-side {
      @apply right-0;
    }
  }

  &__slide {
    &-left-vue, &-left-react {
      &-exit, &-leave-to {
        transform: translateX(0%);
      }

      &-exit-active, &-leave-active, &-enter, &-enter-from {
        transform: translateX(-100%);
      }
    }

    &-left-vue, &-left-react, &-right-vue, &-right-react {
      &-exit-active, &-leave-active, &-enter-active {
        transition: transform 500ms ease-in-out;
      }
    }

    &-right-vue, &-right-react {
      &-exit, &-leave-to {
        transform: translateX(0%);
      }

      &-exit-active, &-leave-active, &-enter, &-enter-from {
        transform: translateX(100%);
      }
    }

    &-right-react-enter-active, &-left-react-enter-active {
      transform: translateX(0%);
    }
  }
}
