

.vsf-slider {
  $self: &;

  @apply relative flex;

  &--horizontal {
    @apply w-full items-center;

    #{$self}__container {
      @apply overflow-x-auto;

      &--scroll-always {
        @apply overflow-x-scroll;
      }

      &--scroll-always,
      &--scroll-auto {
        @apply pb-0;
      }

      @media (hover: hover) and (pointer: fine) {
        &--scroll-always,
        &--scroll-auto {
          @apply pb-4;
        }
      }
    }

    #{$self}__nav {
      @apply inline-flex;

      &-prev {
        @apply mr-4;
      }

      &-next {
        @apply ml-4;
      }
    }

    &#{$self}--floating-nav {
      #{$self}__nav {
        @apply top-1/2 -translate-y-1/2;

        &-prev {
          @apply left-4;
        }

        &-next {
          @apply right-4;
        }
      }
    }

    &#{$self}--snap-scroll {
      #{$self}__container {
        @apply snap-x;
      }
    }
  }

  &--vertical {
    @apply h-full flex-col inline-flex;

    #{$self}__container {
      @apply flex-col h-full overflow-y-auto inline-flex;

      &--scroll-always {
        @apply overflow-y-scroll;
      }

      &--scroll-always,
      &--scroll-auto {
        @apply pr-4;
      }
    }

    #{$self}__nav {
      @apply inline-flex justify-center;

      &-prev {
        @apply mb-4;
      }

      &-next {
        @apply mt-4;
      }
    }

    &#{$self}--floating-nav {
      #{$self}__nav {
        @apply left-1/2 -translate-x-1/2;

        &-prev {
          @apply top-4;
        }

        &-next {
          @apply bottom-4;
        }
      }
    }

    &#{$self}--snap-scroll {
      #{$self}__container {
        @apply snap-y;
      }
    }
  }

  &__container {
    $self-container: &;

    @apply flex gap-4;

    @media (prefers-reduced-motion: no-preference) {
      @apply scroll-smooth;
    }

    &--dragging {
      @apply cursor-grab;
    }

    &:not(#{$self-container}--scroll-always, #{$self-container}--scroll-auto) {
      -ms-overflow-style: none;
      scrollbar-width: none;

      &::-webkit-scrollbar {
        display: none;
      }
    }
  }

  &__nav {
    @apply md:inline-block hidden;

    &-arrow {
      @apply transition-opacity bg-white;
    }
  }

  &--floating-nav {
    #{$self}__nav {
      @apply absolute z-10;

      &-arrow--hidden {
        @apply opacity-0 pointer-events-none;
      }
    }
  }

  &--snap-scroll {
    #{$self}__container {
      @apply snap-mandatory;

      > * {
        @apply snap-center;
      }
    }
  }
}
