@import '../../../css/variables';

$sf-options__transition                  : all 0.3s ease-in-out !default;

$sf-options__label-margin-bottom         : 8px !default;
$sf-options__label-font-size             : $font-size-regular-mobile !default;

$sf-options__option-size                 : 40px !default;
$sf-options__option-size--image          : 48px !default;
$sf-options__option-margin               : 8px !default;
$sf-options__option-background           : $c-white !default;
$sf-options__option-color                : $c-gray-primary !default;
$sf-options__option-border               : 4px solid $c-white !default;
$sf-options__option-border--white        : 1px solid $c-gray-secondary !default;
$sf-options__option-border-color--active : $c-accent-primary !default;

.sf-options {
  display: flex;
  flex-wrap: wrap;

  &__wrapper {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
  }

  &__option {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: $sf-options__option-size;
    min-height: $sf-options__option-size;
    background-color: $sf-options__option-background;
    color: $sf-options__option-color;

    &--image {
      min-height: $sf-options__option-size--image;
      background-size: 100%;
      background-repeat: no-repeat;
      background-position: center;
    }

    &--white {
      border: $sf-options__option-border--white;
    }
  }

  &__option-container {
    box-sizing: border-box;
    border: $sf-options__option-border;
    margin-right: $sf-options__option-margin;
    transition: $sf-options__transition;
    cursor: pointer;

    &--selected,
    &:hover,
    &:focus {
      border-color: $sf-options__option-border-color--active;
      outline: 0;

      .sf-options__option--white {
        border: none;
      }
    }

    &:last-child {
      margin-right: 0;
    }
  }

  &__tooltip,
  &__selected-option {
    display: none;
  }

  &__label {
    flex: 0 0 100%;
    margin-bottom: $sf-options__label-margin-bottom;
    font-size: $sf-options__label-font-size;
  }
}