<div class="sf-options">
  <sf-label v-if="label" class="sf-options__title">
    {{ label }}
  </sf-label>

  <div
    class="sf-options__wrapper"
    tabindex="0"
  >
    <div
      v-for="(option) in options"
      :key="option.id"
      :class="[
        'sf-options__option-container',
        selected === option.value && 'sf-options__option-container--selected',
        wrapperClass
      ]"
      :aria-label="option.label"
      tabindex="0"
      @click="setActiveValue(option.value)"
    >
      <slot>
        <div
          :class="['sf-options__option', image && 'sf-options__option--image', optionClass]"
          :style="option.style"
        >
          {{ image || color ? '' : option.text }}
        </div>
      </slot>

      <span v-if="option.caption">
        {{ option.caption }}
      </span>
    </div>
  </div>
</div>