<div class="sf-options">
  <slot name="label">
    <sf-label v-if="label" class="sf-options__title">
      {{ label }}
    </sf-label>
  </slot>
  <div class="sf-options__wrapper">
    <div
      v-for="(option, index) in options"
      :key="index"
      class="sf-options__option-container"
      :class="{ 'sf-options__option-container--selected': isOptionSelected(option.value) }"
      @click="setActiveValue(option.value)"
    >
      <slot name="text" :text="option.text">
        <div
          v-if="isTypeText"
          class="sf-options__option"
        >
          {{ option.text }}
        </div>
      </slot>
      <slot name="color" :color="option.color">
        <div
          v-if="isTypeColor"
          class="sf-options__option"
          :style="{ backgroundColor: option.color }"
        />
      </slot>
      <slot name="image" :image="option.image">
        <div
          v-if="isTypeImage"
          class="sf-options__option sf-options__option--image"
          :style="{ backgroundImage: `url(${option.image})` }"
        />
      </slot>
    </div>
  </div>
</div>