@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700&family=Red+Hat+Text:wght@400;500;700&display=swap');

@import 'tailwind.scss';
@import 'reset.scss';

@import '../../sfui/styles/index.scss';


// TODO: proper setup of tokens and colors, eg. outlineFocus should be taken from secondary-400 not outline-violet
