@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700&family=Red+Hat+Text:wght@400;500;700&display=swap');

@import 'tailwind.scss';
@import 'reset.scss';

@import 'components/VsfProgress.css';
@import 'components/VsfBreadcrumbs.css';
@import 'components/VsfSpinner.css';
@import 'components/VsfRatingButton.css';
@import 'components/VsfIcons.css';
@import 'components/VsfSelect.css';
@import 'components/VsfChipsFilter.css';
@import 'components/VsfGallery.css';
@import 'components/VsfSlider.css';
