<div class="sf-bottom-navigation">
  <div class="sf-bottom-navigation__elements">
    <router-link to="/">
      </router-link><div class="sf-bottom-navigation__element" :class="{ 'active': true }">
        <img src="/assets/home.svg" alt="nav-home" class="sf-bottom-navigation-element-img"/>
      </div>
    </router-link>
    <router-link to="/">
      </router-link><div class="sf-bottom-navigation__element">
        <img src="/assets/search.svg" alt="nav-search" class="sf-bottom-navigation-element-img"/>
      </div>
    </router-link>
    <router-link to="/">
      </router-link><div class="sf-bottom-navigation__element">
        <img src="/assets/heart.svg" alt="nav-wishlist" class="sf-bottom-navigation-element-img"/>
      </div>
    </router-link>
    <router-link to="/">
      </router-link><div class="sf-bottom-navigation__element">
        <img src="/assets/profile.svg" alt="nav-profile" class="sf-bottom-navigation-element-img"/>
      </div>
    </router-link>
  </div>
  <div class="sf-bottom-navigation__element">
      <div
        class="sf-bottom-navigation-cart-button"
      >
        <img src="/assets/cart.svg" alt="nav-cart" class="sf-bottom-navigation-element-img"/>
      </div>
  </div>
</div>