@import "../../../css/variables";

$bottom-navigation-padding: 0.5rem 0 !default;
$bottom-navigation-background: $c-white !default;

$bottom-navigation__elements-justify-content: space-evenly !default;

$bottom-navigation__element-width: 1.5rem !default;
$bottom-navigation__element-transition: 0.3s all !default;

.sf-bottom-navigation {
  display: flex;
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
  padding: $bottom-navigation-padding;
  background-color: $bottom-navigation-background;

  &__elements {
    display: flex;
    width: 100%;
    justify-content: $bottom-navigation__elements-justify-content;
  }

  &__element {
    padding: 0 0.7rem;
    opacity: 0.5;
    transition: $bottom-navigation__element-transition;

    &.active,
    &.cart-button {
      opacity: 1;
    }
  }

  .sf-bottom-navigation__element img {
    width: $bottom-navigation__element-width;
    height: auto;
    padding: 0.5rem;
  }
  
  @media (min-width: $tablet-min) {
    display: none;
  }
}
