<div class="sf-bottom-navigation">
  <div class="sf-bottom-navigation__elements" v-for="icon in icons">
    <slot name="icon" :image="icon">
      <div class="sf-bottom-navigation__element" :class="{ active: isActive }" @click="isActive = !isActive" v-if="icon">
        <img
          :src="icon"
          alt="nav-home"
          class="sf-bottom-navigation-element-img"
        />
      </div>
    </slot>
  </div>

  <!--Waiting for button styles-->
  <div class="sf-bottom-navigation__element">
      <div
        class="sf-bottom-navigation-cart-button"
      >
        <img src="/assets/cart.svg" alt="nav-cart" class="sf-bottom-navigation-element-img"/>
      </div>
      </slot>
  </div>
<slot />
</div>
