.progress-linear::-webkit-progress-bar {
    @apply bg-gray-200;
}
.progress-linear::-webkit-progress-value {
    @apply bg-primary-600 transition-[width] ease-[cubic-bezier(.4,0,.6,1)] duration-200;
}
.progress-linear::-moz-progress-bar {
    @apply bg-primary-600;
}
