body {
  font-size: $body-font-size-desktop;
  font-family: $body-font-family-primary;
  font-weight: $body-font-weight-primary;
  color: $c-dark-primary;
  margin: 0;
  padding: 0;
  @media (max-width: $mobile-max) {
    font-size: $body-font-size-mobile;
  }
}
a {
  text-decoration: none;
  color: $c-text-link;
  &:hover {
    color: $c-text-link-hover;
  }
}
