@import "../helpers/colors";
@each $color, $map in $colors-map {
  $primary: map-get($map, "primary");
  $variant: map-get($map, "variant");
  // Atomic utility classes for text
  .text-#{$color} {
    color: $primary !important;
    &--variant {
      color: $variant !important;
    }
  }
  // Atomic utility classes for background
  .bg-#{$color} {
    background-color: $primary !important;
    &--variant {
      background-color: $variant !important;
    }
  }
}
