h1 {
  font-family: var(--heading-font-family);
  font-size: var(--h1-font-size);
  font-weight: var(--h1-font-weight);
  line-height: 1.6;
  margin: 0;
}

h2 {
  font-family: var(--heading-font-family);
  font-size: var(--h2-font-size);
  font-weight: var(--h2-font-weight);
  line-height: 1.6;
  margin: 0;
}

h3 {
  font-family: var(--heading-font-family);
  font-size: var(--h3-font-size);
  font-weight: var(--h3-font-weight);
  line-height: 1.6;
  margin: 0;
}

h4 {
  font-family: var(--heading-font-family);
  font-size: var(--h4-font-size);
  font-weight: var(--h4-font-weight);
  line-height: 1.6;
  margin: 0;
}
