<div class="sf-product-card">
  <div class="sf-product-card__image">
    <img src="assets/storybook/product_thumb.png">
  </div>
  <span class="sf-product-card__title">
    {{ title }}
  </span>
  <SfPrice
    class="sf-product-card__price"
    v-if="price"
    :regular-price="price.regularPrice"
    :special-price="price.specialPrice"
  />
  <div class="sf-product-card__reviews">
      <SfRating
      class="sf-product-card__rating"
      v-if="rating"
      :max="rating.max"
      :score="rating.score"
    />
    <a class="sf-product-card__reviews-count">(8)</a>
  </div>
</div>