@import '../../../../css/variables';

$sf-select-option-padding: $spacer;
$sf-select-option-font-size: $font-size-big-mobile;
$sf-select-option-font-family: $body-font-family-secondary;

.sf-select-option {
  display: flex;
  padding: $sf-select-option-padding;
  user-select: none;
  &__label{
    flex-grow: 1;
  }
  &__color{
    width: 1.125rem;
    height: 1.125rem;
    background: black;
    margin-right: $spacer-big;
  }
  &--active{
    color: #FFF;
    background-color: #5ECE7B;
  }
  &:hover{
    color: #5ECE7B;
  }
}

