@import "../../../css/helpers";
.sf-add-to-cart {
  display: flex;
  &__button {
    --button-font-weight: var(--font-weight--semibold);
    --button-width: 100%;
    align-items: center;
    &:disabled {
      color: var(--c-text-disabled);
    }
  }
  &__select-quantity {
    --add-to-cart-select-quantity-margin: 0 var(--spacer-base) 0 0;
    flex: none;
    margin: var(--add-to-cart-select-quantity-margin, 0 0 0 var(--spacer-xs));
  }
  @include for-desktop {
    --add-to-cart-select-quantity-display: flex;
  }
}
