@import 'global/body';
@import 'global/headings';
@import url('https://fonts.googleapis.com/css?family=Raleway:300,400,400i,500,600,700|Roboto:300,300i,400,400i,500,700');
@import '~@glidejs/glide/dist/css/glide.core';
@import 'variables/css/colors.scss';
@import 'variables/css/layout.scss';
@import 'variables/css/typography.scss';