@import "../../../css/helpers";
.sf-overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: var(--overlay-z-index, 1);
  background: var(--overlay-background, rgba(var(--c-gray-base), 0.7));
}
