@import '../../css/variables';

.sf-call-to-action {
  display: flex;
  align-content: center;
  text-align: center;
  flex-direction: column;
  padding: $spacing-extra-big $spacing-big;
  h1 {
    margin-top: 0;
    font-weight: 400;
  }
  &__button {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
}