// General color names
$c-green-primary: #5ECE7B !default;
$c-green-secondary: #9EE2B0 !default;
$c-dark-primary: #1D1F22 !default;
$c-dark-secondary: #737680 !default;
$c-gray-primary: #6A6E7E !default;
$c-gray-secondary: #BEBFC4 !default;
$c-light-primary: #F1F2F3 !default;
$c-light-secondary: #FFFFFF !default;
$c-pink-primary: #E22326 !default;
$c-pink-secondary: #FFF8F7 !default;
$c-yellow-primary: #FFDE3B !default;
$c-yellow-secondary:#FFFCED !default;
$c-blue-primary: #6699CC !default;
$c-blue-secondary: #F5F7FA !default;
$c-black: #000000 !default;
$c-white: #FFFFFF !default;

// Accent
$c-accent-primary: $c-green-primary !default;
$c-accent-secondary: $c-green-secondary !default;

// Text
$c-text-primary: $c-dark-primary !default;
$c-text-secondary: $c-gray-secondary !default;
$c-text-on-light: $c-black !default;
$c-text-on-dark: $c-white !default;
$c-text-link: $c-dark-secondary !default;
$c-text-link-hover: $c-dark-primary !default;

// Background
$c-bg-primary: $c-light-primary !default;
$c-bg-secondary: $c-light-secondary !default;

// Border
$c-border: $c-light-primary;

// Theme colors
$primary: $c-green-primary !default;
$secondary: $c-dark-primary !default;
$info: $c-blue-primary !default;
$success: $c-green-primary !default;
$warning: $c-yellow-primary !default;
$danger: $c-pink-primary !default;
$light: $c-light-primary !default;
$dark: $c-dark-primary !default;

// Map colors palette
$colors: () !default;
$colors: map-merge(
  (
    'primary': $primary,
    'secondary': $secondary,
    'info': $info,
    'success': $success,
    'warning': $warning,
    'danger': $danger,
    'light': $light,
    'dark': $dark,
    'white': $c-white,
    'black': $c-black
  ),
  $colors
);
