// General color names
$c-green-primary: #5ECE7B !default;
$c-green-secondary: #9EE2B0 !default;
$c-dark-primary: #1D1F22 !default;
$c-dark-secondary: #737680 !default;
$c-gray-primary: #6A6E7E !default;
$c-gray-secondary: #BEBFC4 !default;
$c-light-primary: #F1F2F3 !default;
$c-light-secondary: #FFFFFF !default;
$c-pink-primary: #E22326 !default;
$c-pink-secondary: #FFF8F7 !default;
$c-yellow-primary: #FFDE3B !default;
$c-yellow-secondary:#FFFCED !default;
$c-blue-primary: #6699CC !default;
$c-blue-secondary: #F5F7FA !default;
$c-black: #000000 !default;
$c-white: #FFFFFF !default;

// Accent
$c-accent-primary: $c-green-primary !default;
$c-accent-secondary: $c-green-secondary !default;

// Text
$c-text-primary: $c-dark-primary !default;
$c-text-secondary: $c-gray-secondary !default;
$c-text-on-light: $c-black !default;
$c-text-on-dark: $c-white !default;
$c-text-link: $c-dark-secondary !default;
$c-text-link-hover: $c-dark-primary !default;

// Background
$c-bg-primary: $c-light-primary !default;
$c-bg-secondary: $c-light-secondary !default;

// Border
$c-border: $c-light-primary;

// Theme colors
$c-primary: $c-green-primary !default;
$c-secondary: $c-dark-primary !default;
$c-info: $c-blue-primary !default;
$c-success: $c-green-primary !default;
$c-warning: $c-yellow-primary !default;
$c-danger: $c-pink-primary !default;
$c-light: $c-light-primary !default;
$c-dark: $c-dark-primary !default;

// Text colors on theme colors bg
// Using YIQ by default
// $c-on-primary: color-yiq($c-primary) !default;
// $c-on-secondary: color-yiq($c-secondary) !default;
// $c-on-info: color-yiq($c-info) !default;
// $c-on-success: color-yiq($c-success) !default;
// $c-on-warning: color-yiq($c-warning) !default;
// $c-on-danger: color-yiq($c-danger) !default;
// $c-on-light: color-yiq($c-light) !default;
// $c-on-dark: color-yiq($c-dark) !default;

$c-on-primary: $c-white !default;
$c-on-secondary: $c-white !default;
$c-on-info: $c-white !default;
$c-on-success: $c-white !default;
$c-on-warning: $c-white !default;
$c-on-danger: $c-white !default;
$c-on-light: $c-white !default;
$c-on-dark: $c-white !default;

// Map colors palette
$colors-map: (
  'primary': (
    'bg': $c-primary,
    'text': $c-on-primary
  ),
  'secondary': (
    'bg': $c-secondary,
    'text': $c-on-secondary
  ),
  'info': (
    'bg': $c-info,
    'text': $c-on-info
  ),
  'success': (
    'bg': $c-success,
    'text': $c-on-success
  ),
  'warning': (
    'bg': $c-warning,
    'text': $c-on-warning
  ),
  'danger': (
    'bg': $c-danger,
    'text': $c-on-danger
  ),
  'light': (
    'bg': $c-light,
    'text': $c-on-light
  ),
  'dark': (
    'bg': $c-dark,
    'text': $c-on-dark
  ),
  'white': (
    'bg': $c-white,
    'text': $c-black
  ),
  'black': (
    'bg': $c-black,
    'text': $c-white
  )
);
