$c-black: hsl(0, 0%, 0%) !default;
$c-white: hsl(0, 0%, 100%) !default;

// Internal color variables
// Should NOT be used directly for theming or component styles
$_c-green-primary: hsl(136, 53%, 59%);
$_c-green-secondary: hsl(136, 54%, 75%);
$_c-dark-primary: hsl(216, 8%, 12%);
$_c-dark-secondary: hsl(226, 5%, 48%);
$_c-gray-primary: hsl(228, 9%, 45%);
$_c-gray-secondary: hsl(230, 5%, 76%);
$_c-light-primary: hsl(210, 8%, 95%);
$_c-light-secondary: hsl(0, 0%, 100%);
$_c-pink-primary: hsl(359, 77%, 51%);
$_c-pink-secondary: hsl(7, 100%, 98%);
$_c-yellow-primary: hsl(50, 100%, 62%);
$_c-yellow-secondary: hsl(50, 100%, 96%);
$_c-blue-primary: hsl(210, 50%, 60%);
$_c-blue-secondary: hsl(216, 33%, 97%);

/* START: Theme color variables */

// Body and text defaults
$c-body: $c-white !default;
$c-text: $_c-dark-primary !default;
$c-text-muted: $_c-gray-primary !default;
$c-link: $_c-dark-secondary !default;
$c-link-hover: $c-black !default;

/* Brand colors */

// Primary
/* Should be used to drive attention to the main tasks that should be done while using the app.
 * It is meant to be used in major interactive elements of the page. */
$c-primary: $_c-green-primary !default;
$c-primary-variant: $_c-green-secondary !default;
$c-on-primary: $c-white !default;

// Secondary
/* Should be used to drive attention in the elements with relevant info,
 * but where the user is not intended to take action. */
$c-secondary: $_c-dark-primary !default;
$c-secondary-variant: $_c-dark-secondary !default;
$c-on-secondary: $c-white !default;

/* Base colors */

// Light
$c-light: $_c-light-primary !default;
$c-light-variant: $_c-light-secondary !default;
$c-on-light: $c-black !default;

// Gray
$c-gray: $_c-gray-primary !default;
$c-gray-variant: $_c-gray-secondary !default;
$c-on-gray: $c-black !default;

// Dark
$c-dark: $_c-dark-primary !default;
$c-dark-variant: $_c-dark-secondary !default;
$c-on-dark: $c-white !default;

/* Context colors */

// Info
$c-info: $_c-blue-primary !default;
$c-info-variant: $_c-blue-secondary !default;
$c-on-info: $c-white !default;

// Success
$c-success: $_c-green-primary !default;
$c-success-variant: $_c-green-secondary !default;
$c-on-success: $c-white !default;

// Warning
$c-warning: $_c-yellow-primary !default;
$c-warning-variant: $_c-yellow-secondary !default;
$c-on-warning: $c-white !default;

// Danger
$c-danger: $_c-pink-primary !default;
$c-danger-variant: $_c-pink-secondary !default;
$c-on-danger: $c-white !default;

/* END: Theme color variables */

// Map theme colors palette
$colors-map: (
  "primary": (
    "bg": $c-primary,
    "variant": $c-primary-variant,
    "text": $c-on-primary
  ),
  "secondary": (
    "bg": $c-secondary,
    "variant": $c-secondary-variant,
    "text": $c-on-secondary
  ),
  "light": (
    "bg": $c-light,
    "variant": $c-light-variant,
    "text": $c-on-light
  ),
  "dark": (
    "bg": $c-dark,
    "variant": $c-dark-variant,
    "text": $c-on-dark
  ),
  "info": (
    "bg": $c-info,
    "variant": $c-info-variant,
    "text": $c-on-info
  ),
  "success": (
    "bg": $c-success,
    "variant": $c-success-variant,
    "text": $c-on-success
  ),
  "warning": (
    "bg": $c-warning,
    "variant": $c-warning-variant,
    "text": $c-on-warning
  ),
  "danger": (
    "bg": $c-danger,
    "variant": $c-danger-variant,
    "text": $c-on-danger
  )
);
