// Color contrast
// Ref.: https://github.com/twbs/bootstrap/blob/master/scss/_functions.scss ;)
@function color-yiq($color, $dark: $c-black, $light: $c-white) {
  $r: red($color);
  $g: green($color);
  $b: blue($color);

  $yiq: (($r * 299) + ($g * 587) + ($b * 114)) / 1000;

  @return if($yiq >= 150, $dark, $light);
}
