:root {
  --spacer-extra-small: 0.5rem; //8px
  --spacer-small: 1rem; //1rem
  --spacer-regular: 1.5rem; //24px
  --spacer-medium: 2.5rem; //40px
  --spacer-big: 5rem; //80px
  --spacer-extra-big: 10rem; //160px
}
