html {
  --spacer-2xs: 0.25rem; // 4px
  --spacer-xs: 0.5rem; // 8px
  --spacer-sm: 1rem; // 16px
  --spacer-base: 1.5rem; // 24px
  --spacer-lg: 2rem; // 32px
  --spacer-xl: 2.5rem; // 40px
  --spacer-2xl: 5rem; // 80px
  --spacer-3xl: 10rem; // 160px
}
