// Font family
$body-font-family-primary: 'Roboto', serif !default;
$body-font-family-secondary: 'Raleway', sans-serif !default;

// Font weight
$body-font-weight-primary: 300 !default;
$body-font-weight-secondary: 400 !default;

// Font sizes
$font-size-extra-small-desktop: 0.75rem !default;
$font-size-small-desktop: 0.875rem !default;
$font-size-regular-desktop: 1rem !default;
$font-size-big-desktop: 1.125rem !default;
$font-size-extra-big-desktop: 1.5rem !default;

$font-size-extra-small-mobile: 0.625rem !default;
$font-size-small-mobile: 0.75rem !default;
$font-size-regular-mobile: 0.875rem !default;
$font-size-big-mobile: 1rem !default;
$font-size-extra-big-mobile: 1.125rem !default;

// Base font size
$body-font-size-desktop: $font-size-regular-desktop !default;
$body-font-size-mobile: $font-size-regular-mobile !default;

// Heading font family
$heading-font-family: $body-font-family-secondary;

// Heading font size
$h1-font-size-desktop: 2.25rem !default;
$h2-font-size-desktop: 1.5rem !default;
$h3-font-size-desktop: 1.125rem !default;
$h4-font-size-desktop: 1.125rem !default;
$h5-font-size-desktop: 1.125rem !default;

$h1-font-size-mobile: 1.125rem !default;
$h2-font-size-mobile: 1rem !default;
$h3-font-size-mobile: 1rem !default;
$h4-font-size-mobile: 1rem !default;
$h5-font-size-desktop: 0.875rem !default;

// Heading font weight
$h1-font-weight-desktop: 500 !default;
$h2-font-weight-desktop: 500 !default;
$h3-font-weight-desktop: 500 !default;
$h4-font-weight-desktop: 500 !default;

$h1-font-weight-mobile: 500 !default;
$h2-font-weight-mobile: 500 !default;
$h3-font-weight-mobile: 500 !default;
$h4-font-weight-mobile: 500 !default;

$typography-map: (
    "desktop": (
        "extra-small": $font-size-extra-small-desktop,
        "small": $font-size-small-desktop,
        "regular": $font-size-regular-desktop,
        "big": $font-size-big-desktop,
        "extra-big": $font-size-extra-big-desktop,
    ),
    "mobile": (
        "extra-small": $font-size-extra-small-mobile,
        "small": $font-size-small-mobile,
        "regular": $font-size-regular-mobile,
        "big": $font-size-big-mobile,
        "extra-big": $font-size-extra-big-mobile,
    )
)
