@import "../helpers";
:root {
  // font family
  --body-font-family-primary: "Roboto", serif;
  --body-font-family-secondary: "Raleway", sans-serif;

  // font weight
  --font-weight-light: 300;
  --font-weight-regular: 400;
  --font-weight-bold: 500;
  --font-weight-extra-bold: 600;

  // font size
  --font-size-extra-small: 0.75rem; //12px
  --font-size-small: 0.875rem; //14px
  --font-size-regular: 1rem; //16px
  --font-size-big: 1.125rem; //18px

  // heading font size
  --h1-font-size: 1.625rem; //26px
  --h2-font-size: 1.375rem; //22px
  --h3-font-size: 1.125rem; //18px
  --h4-font-size: 0.875rem; //14px
  --h5-font-size: 0.75rem; //12px
  --h6-font-size: 0.75rem; //12px
  @include for-desktop {
    --h1-font-size: 2.625rem; //42px
    --h2-font-size: 2.625rem; //42px
    --h3-font-size: 1.75rem; //28px
    --h4-font-size: 1.125rem; //18px
    --h5-font-size: 0.875rem; //14px
    --h6-font-size: 0.875rem; //14px
  }

  // heading font weight
  --h1-font-weight: 600;
  --h2-font-weight: 400;
  --h3-font-weight: 500;
  --h4-font-weight: 400;
  --h5-font-weight: 700;
  --h6-font-weight: 400;
}
