@import "../../../css/helpers";
.sf-footer-column {
  color: var(--c-white);
  box-sizing: border-box;
  &__title {
    color: var(--c-white);
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    border: 0;
    padding: var(--spacer-base);
    background: var(--c-secondary);
    text-transform: uppercase;
    @include font(
      --footer-column-title-font,
      var(--font-weight--medium),
      var(--h5-font-size),
      1.4,
      var(--font-family--secondary)
    );
    cursor: default;
  }
  &__chevron {
    --chevron-color: var(--c-white);
  }
  & .sf-list__item {
    --list-item-margin: var(--spacer-base) var(--spacer-xs);
    --menu-item-label-color: var(--c-white);
  }
  @include for-desktop {
    margin: 0 0 var(--spacer-xl) 0;
    padding: var(--spacer-sm) 0;
    background: var(--c-secondary);
    font-weight: var(--font-weight--normal);
    &__chevron {
      display: none;
    }
    &__title {
      padding: var(--spacer-sm) 0;
    }
    & .sf-list__item {
      margin: var(--spacer-xs) 0;
    }
  }
}
.sf-footer {
  background: var(--c-secondary);
  &__container {
    box-sizing: border-box;
    display: flex;
    flex: 1;
    flex-direction: column;
  }
  &__bottom {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: var(--spacer-xs) 0;
    padding: 0 0 var(--spacer-xl) 0;
    &-logo {
      --image-width: auto;
      --image-height: 2.125rem;
      flex: 0 0 auto;
      padding: var(--spacer-xl) 0 0 0;
    }
  }
  @include for-desktop {
    padding: var(--spacer-2xl) 10%;
    &__container {
      display: grid;
    }
  }
}
