$focus-ring__color: rgba(21, 156, 228, 0.4);

.focus-ring {
    &:focus {
      outline: none;
      box-shadow: 0 0 0 2px $focus-ring__color;
    }
    &--input {
      &:focus {
        outline:none;
        border-color: $focus-ring__color;
      }
    }
  }