$mobile-max: 767px;
$tablet-min: 768px;
$tablet-max: 1023px;
$desktop-min: 1024px;
$desktop-l-min: 1200px;
$desktop-xl-min: 1440px;
$desktop-xxl-min: 1920px;
// Media mixins
@mixin for-mobile($resolution: $desktop-min) {
  @media (max-width: $resolution - 1px) {
    @content;
  }
}
@mixin for-desktop($resolution: $desktop-min) {
  @media (min-width: $resolution) {
    @content;
  }
}
@mixin generate-breakpoint-classes($resolution: 1024px) {
  .smartphone-only{
    @include for-desktop($resolution) {
      display: none !important;
    }
  }
  .desktop-only {
    @include for-mobile($resolution) {
      display: none !important;
    }
  }
} 