@each $color, $map in $colors-map {
  $bg: map-get($map, 'bg');
  $text: map-get($map, 'text');

  // Atomic utility classes for text and bg colors
  .text-#{$color} {
    color: $bg !important;
  }
  .bg-#{$color} {
    background-color: $bg !important;
  }

  // General color modifiers
  // May be overwritten by specific component modifiers
  .color-#{$color} {
    color: $text !important;
    background-color: $bg !important;
    border-color: darken($bg, 5) !important;
    &:hover {
      background-color: lighten($bg, 5) !important;
      border-color: $bg !important;
    }
  }
}
