.sf-fade {
  &-enter-active,
  &-leave-active {
    transition: opacity 0.3s linear;
  }
  &-enter,
  &-leave-to {
    opacity: 0;
  }
}

.sf-collapse-bottom {
  &-enter-active,
  &-leave-active {
    transition: transform 0.3s ease-in-out;
  }
  &-enter,
  &-leave-to {
    transform: translate3d(0, 100%, 0);
  }
}
