@import '../../../css/variables';

$call-to-action-background-color: $c-gray-secondary !default;
$call-to-action-align-content: center !default;
$call-to-action-text-align: center !default;

$call-to-action__message-font-weight: 400 !default;
$call-to-action__message-text-transform: none !default;

.sf-call-to-action {
  display: flex;
  align-content: $call-to-action-align-content;
  text-align: $call-to-action-text-align;
  flex-direction: column;
  padding: $spacing-extra-big $spacing-big;
  background-color: $call-to-action-background-color;
  &__message {
    margin-top: 0;
    font-weight: $call-to-action__message-font-weight;
    text-transform: $call-to-action__message-text-transform;
  }
  &__button {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
}
