@import '../../../css/variables';

$top-bar-background-color: $c-light-primary;
$top-bar-horizontal-padding: $spacer-extra-big;

.sf-topbar {
  width: 100%;
  height: 40px;

  display: flex;
  align-items: center;
  justify-content: space-between;

  box-sizing: border-box;
  padding: 0px $top-bar-horizontal-padding;
  background-color: $top-bar-background-color;

  &__center {
    font-size: $font-size-small-desktop;
  }
}

@media only screen and (max-width: $desktop-min) {
  .sf-topbar {
    display: none;
  }
}
