<div class="sf-gallery">
  <div class="sf-gallery__nav">
    <div v-for="(image, i) in images"
      :key="'img-' + i"
      class="sf-gallery__item"
      :class="{ 'sf-gallery__item--selected': i === activeIndex }"
      @click="setCurrentImage(i)">
      <slot name="thumb" :image="image" :index="i">
        <img class="sf-gallery__thumb" :src="image.small.url" :alt="image.small.alt"/>
      </slot>
    </div>
  </div>
  <div class="sf-gallery__stage">
    <div class="glide" ref="glide">
      <div class="glide__track" data-glide-el="track">
        <ul class="glide__slides">
          <li
            class="glide__slide"
            v-for="(image, i) in images"
            :key="'slide-' + i">
            <img class="sf-gallery__big-image"
              :src="image.big.url"
              :alt="image.big.alt" />
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
