@import '../../css/variables';

.sf-header {
  display: flex;

  &__logo-img {
    width: 21px;
    height: auto;
    padding-right: 0.5rem;
  }

  @media ( max-width: $mobile-max ) {
    background: $c-bg-primary;
    height: 50px;
    justify-content: center;
    align-items: center;
  }
  @media ( min-width: $tablet-min ) {
    justify-content: flex-start;
  }
  &__nav {
    @media ( max-width: $mobile-max ) {
      display: none;
    }
  }
  &__search {
    @media ( max-width: $mobile-max ) {
      display: none;
    }
  }
  &__icon {
    @media ( max-width: $mobile-max ) {
      display: none;
    }
  }
}