@import '../../../css/variables';
@import 'node_modules/@glidejs/glide/src/assets/sass/glide.core';

$carousel-mobile-breakpoint: $mobile-max;

.sf-carousel{
  position: relative;

  &__slides{
    margin: 0;
  }

  &__controls{
    display: none;

    @media screen and (min-width: $carousel-mobile-breakpoint){
      position: absolute;
      top: 50%;
      left: 0;
      transform: translate3d(0, -50%, 0);
      width: 100%;
      display: flex;
      justify-content: space-between;
    }
  }

  @media screen and (min-width: $carousel-mobile-breakpoint){
    padding: 0 130px;
  }
}