@import '../variables';

$sf-accordion-item-padding: 1rem 2rem;

$sf-accordion-item__header-bg-color: $c-light-primary;
$sf-accordion-item__header-font-weight: 900;
$sf-accordion-item__header-text-transform: uppercase;
$sf-accordion-item__header-display: flex;
$sf-accordion-item__header-justify-content: space-between;

$sf-accordion-item__content-color: $c-dark-primary;
$sf-accordion-item__content-font-size: 1rem;

.sf-accordion {
  &-item__header {
    padding: $sf-accordion-item-padding;
    background-color: $sf-accordion-item__header-bg-color;
    font-weight: $sf-accordion-item__header-font-weight;
    text-transform: $sf-accordion-item__header-text-transform;
    display: $sf-accordion-item__header-display;
    justify-content: $sf-accordion-item__header-justify-content;
    cursor: pointer;
  }
  &-item__content {
    display: none;
    color: $sf-accordion-item__content-color;
    font-size: $sf-accordion-item__content-font-size;
    cursor: pointer;
    &--show {
      display: block;
    }
    > * {
      padding: $sf-accordion-item-padding;
    }
  }
}
