@import "../variables";

$accordion-item__header-padding: 0.5rem 0 !default;
$accordion-header-font-size: 18px;

$accordion-item__header-bg-color: $c-light-primary !default;
$accordion-item__header-bg-color--active: #ffffff !default;
$accordion-item__header-font-weight: 900 !default;
$accordion-item__header-text-transform: uppercase !default;
$accordion-item__header-display: flex !default;
$accordion-item__header-justify-content: space-between !default;

$accordion-item__content-color: $c-dark-primary !default;
$accordion-item__content-font-size: 14px !default;
$accordion-item__content-padding: 0.5rem 0 !default;
$accordion-item__content-padding--first: 1.5rem 0 0.5rem !default;
$accordion-item__content-padding--last: 0.5rem 0 1.5rem !default;

.sf-accordion {
  &-item__header-wrapper {
    display: flex;
    justify-content: space-between;
  }
  &-item__header {
    padding: $accordion-item__header-padding;
    font-size: $accordion-header-font-size;
    cursor: pointer;
  }
  &-item__header-icon--up {
    transform: rotate(180deg);
  }
  &-item__content-wrapper {
    display: none;
    &--show {
      display: block;
    }
  }
  &-item__content {
    color: $accordion-item__content-color;
    font-size: $accordion-item__content-font-size;
    cursor: pointer;

    > * {
      padding: $accordion-item__content-padding;
      &:first-child {
        padding: $accordion-item__content-padding--first;
      }
      &:last-child {
        padding: $accordion-item__content-padding--last;
      }
    }
  }

  &-item__content--active {
    font-weight: 900;
  }
}
