@import "../variables";

$accordion-font-family: $body-font-family-secondary !default;
$accordion-font-size: $font-size-regular-mobile !default;
$accordion-font-size-desktop: $font-size-regular-desktop !default;
$accordion-font-weight: $body-font-weight-secondary !default;
$accordion-line-height: 1.6 !default;
$accordion__title-padding-y: 0.625rem !default;
$accordion__title-font-size: $font-size-big-mobile !default;
$accordion__title-font-size-desktop: $font-size-big-desktop !default;
$accordion__content-padding-y: 1.875rem !default;

@mixin for-desktop {
  @media screen and (min-width: $desktop-min) {
    @content;
  }
}

.sf-accordion-item {
  $this: &;
  font-family: $accordion-font-family;
  font-size: $accordion-font-size;
  font-weight: $accordion-font-weight;
  line-height: $accordion-line-height;
  @include for-desktop {
    font-size: $accordion-font-size-desktop;
  }
  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: $accordion__title-padding-y 0;
    color: $c-dark;
    cursor: pointer;
    font-size: $accordion__title-font-size;
    @include for-desktop {
      font-size: $accordion__title-font-size-desktop;
    }
  }
  &__content {
    padding: $accordion__content-padding-y 0;
  }
  &__chevron {
    display: none;
  }
}

.sf-accordion {
  $this: &;
  &--has-chevron {
    #{$this}-item__chevron {
      display: block;
    }
  }
}
