@import '../variables';

.sf-add-to-cart {
  display: flex;

  &__button {
    &:disabled {
      background-color: $c-accent-secondary;
      cursor: default;
    }
  }

  &__select-quantity {
    margin-left: 0.5rem;

    input {
      padding-left: 0.5rem;
      padding-right: 0.5rem;
      width: auto;
      height: 100%;
      max-width: 90px;
      border: 1px solid $c-light-primary;
      transition: border-color 0.3s ease-in-out;

      &:focus {
        border-color: $c-accent-primary;
      }
    }
  }
}
