@import '../variables';

$alert-padding: 0.625rem !default;
$alert-font-size: 0.875rem !default;
$alert__message-margin: 0 !default;
$alert__message-padding-left: 0.625rem !default;
$alert--info-color: $c-dark-primary !default;
$alert--warning-color: #d12727 !default;
$alert--alert-color: #0468db !default;
$alert--success-color: #128830 !default;

.sf-alert {
  display: flex;
  align-items: center;
  padding: $alert-padding;
  font-size: $alert-font-size;
  background-color: $c-white;
  &__message {
    margin: $alert__message-margin;
    padding-left: $alert__message-padding-left;
  }
  &--info {
    color: $alert--info-color;
    fill: $alert--info-color;
  }
  &--alert {
    fill: $alert--alert-color;
    color: $alert--alert-color;
  }
  &--warning {
    fill: $alert--warning-color;
    color: $alert--warning-color;
  }
  &--success {
    fill: $alert--success-color;
    color: $alert--success-color;
  }
}
