@import "../variables";

$badge-padding: 0.3125rem 0.625rem !default;
$badge-color: $c-white !default;
$badge-background-color: $c-primary;
$badge-font-family: $body-font-family-secondary !default;
$badge-font-size: $font-size-small-desktop !default;
$badge-font-weight: 500 !default;
$badge-line-height: 1.6 !default;

.sf-badge {
  box-sizing: border-box;
  display: inline-block;
  padding: $badge-padding;
  background-color: $badge-background-color;
  color: $badge-color;
  font-family: $badge-font-family;
  font-size: $badge-font-size;
  font-weight: $badge-font-weight;
  line-height: $badge-line-height;
  text-align: center;
  &--full-width {
    width: 100%;
  }
}
