@import "../variables";
$banner-min-height: 9rem !default;
$banner-min-height-desktop: 20rem !default;
$banner-padding-x: 1.25rem !default;
$banner-padding-y: 1.25rem !default;
$banner-padding-y-desktop: 4rem !default;
$banner-padding-x-desktop: 5rem !default;
$banner-color: $c-text !default;
$banner-font-family: $body-font-family-secondary !default;
$banner-font-weight: $body-font-weight-primary !default;
$banner-line-height: 1.6 !default;
$banner-font-size: $font-size-big-desktop !default;
$banner__subtitle-color: $c-dark-variant !default;
$banner__subtitle-font-family: $body-font-family-primary !default;
$banner__subtitle-font-size: $font-size-regular-mobile !default;
$banner__subtitle-font-size-desktop: $font-size-extra-big-desktop !default;
$banner__subtitle-font-weight: $body-font-weight-primary !default;
$banner__subtitle-line-height: 1.16 !default;
$banner__title-font-size: $font-size-extra-big-mobile !default;
$banner__title-font-size-desktop: 3rem !default;
$banner__title-font-weight: $body-font-weight-primary !default;
$banner__description-line-height: 1.6 !default;
$banner__description-margin: 1.875rem 0 0 0 !default;
$banner--slim-padding: 5rem 2.5rem !default;
$banner--slim__title-font-size: $h1-font-size-desktop !default;

.sf-banner {
  $this: &;
  box-sizing: border-box;
  display: flex;
  min-height: $banner-min-height;
  padding: $banner-padding-y $banner-padding-x;
  color: $banner-color;
  background-repeat: no-repeat;
  background-position: bottom left;
  background-size: cover;
  background-color: var(--background-color);
  background-image: var(--background-image);
  font-family: $banner-font-family;
  font-size: $banner-font-size;
  font-weight: $banner-font-weight;
  line-height: $banner-line-height;
  @media (min-width: $desktop-min) {
    background-image: var(--background-desktop-image);
    min-height: $banner-min-height-desktop;
    padding: $banner-padding-y-desktop $banner-padding-x-desktop
      $banner-padding-y-desktop calc(50% + #{$banner-padding-x-desktop});
  }
  &__container {
    flex-basis: 100%;
  }
  &__subtitle {
    color: $banner__subtitle-color;
    font-family: $banner__subtitle-font-family;
    font-size: $banner__subtitle-font-size;
    font-weight: $banner__subtitle-font-weight;
    line-height: $banner__subtitle-line-height;
  }
  &__title {
    font-size: $banner__title-font-size;
    font-weight: $banner__title-font-weight;
    @media screen and (min-width: $desktop-min) {
      font-size: $banner__title-font-size-desktop;
    }
  }
  &__description {
    display: none;
    @media screen and (min-width: $desktop-min) {
      display: block;
      margin: $banner__description-margin;
    }
  }
  &__call-to-action {
    display: none;
    @media screen and (min-width: $desktop-min) {
      display: block;
      margin-top: $spacer-big;
    }
  }
  &--left {
    @media screen and (min-width: $desktop-min) {
      padding: $banner-padding-y-desktop
        calc(50% + #{$banner-padding-x-desktop}) $banner-padding-y-desktop
        $banner-padding-x-desktop;
    }
  }
  &--slim {
    padding: $banner-padding-y $banner-padding-x;
    @media (min-width: $desktop-min) {
      padding: $banner--slim-padding;
    }
    #{$this}__container {
      @media screen and (min-width: $desktop-min) {
        flex-basis: 100%;
      }
    }
    #{$this}__title {
      @media screen and (min-width: $desktop-min) {
        font-size: $banner--slim__title-font-size;
      }
    }
  }
}
