@import "../variables";

$badge-padding: 0.3125rem 0.625rem !default;
$badge-color: $c-white !default;
$badge-background-color: $c-primary;
$badge-font-family: $body-font-family-secondary !default;
$badge-font-size: $font-size-small-desktop !default;
$badge-font-weight: 500 !default;
$badge-line-height: 1.6 !default;

.sf-badge {
  box-sizing: border-box;
  display: inline-block;
  padding: $badge-padding;
  background-color: $badge-background-color;
  color: $badge-color;
  font-family: $badge-font-family;
  font-size: $badge-font-size;
  font-weight: $badge-font-weight;
  line-height: $badge-line-height;
  text-align: center;
  cursor: default;
  &--full-width {
    width: 100%;
  }

  @each $color, $map in $colors-map {
    $bg: map-get($map, "bg");
    $text: map-get($map, "text");
    &.color-#{$color} {
      &:hover {
        background-color: $bg !important;
        color: $text !important;
      }
    }
  }
}
