@import '../variables';

$banner-padding: $spacer-extra-big !default;
$banner-background-size: cover !default;
$banner-background-position: bottom left !default;
$banner-mobile-padding: $spacer-big !default;
$banner__subtitle-font-family: $body-font-family-primary !default;
$banner__subtitle-font-size: 1.5rem !default;
$banner__subtitle-font-weight: 300 !default;
$banner__subtitle-color: $c-dark-secondary !default;
$banner__subtitle-text-transform: none !default;
$banner-mobile__subtitle-font-size: 0.875rem !default;
$banner__title-text-transform: uppercase !default;
$banner__title-font-weight: 300 !default;
$banner__title-font-size: 3rem !default;
$banner__title-font-family: $body-font-family-secondary !default;
$banner__title-color: $c-dark-primary !default;
$banner-mobile__title-font-size: 1.125rem !default;
$banner__description-font-family: $body-font-family-secondary !default;
$banner__description-font-size: 1.125rem !default;
$banner__description-color: $c-dark-primary !default;
$banner__description-font-weight: 300 !default;
$banner__call-to-action-font-size: 0.875rem !default;
$banner__call-to-action-background-color: $c-dark-primary !default;
$banner--secondary__call-to-action-color: $c-text-on-dark !default;
$banner--secondary__call-to-action-background-color: $c-green-primary !default;

.sf-banner {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  box-sizing: border-box;
  min-height: 9rem;
  padding: $banner-mobile-padding;
  background-size: $banner-background-size;
  background-position: $banner-background-position;
  background: --background-color;
  @if --m {
    background-image: var(--m);
  } @else if --image-background-banner {
    background-image: var(--image-background-banner);
  }
  text-align: left;
  @media (min-width: $desktop-min) {
    @if --d {
      background-image: var(--d);
    }
    min-height: 20rem;
    padding: $banner-padding;
  }
  &__container {
    width: 100%;
    @media (min-width: $desktop-min) {
      width: 50%;
    }
  }
  &__subtitle {
    margin: 0;
    padding: 0;
    color: $banner__subtitle-color;
    font-family: $banner__subtitle-font-family;
    font-size: $banner-mobile__subtitle-font-size;
    font-weight: $banner__subtitle-font-weight;
    text-transform: none;
    @media (min-width: $desktop-min) {
      font-size: $banner__subtitle-font-size;
    }
  }
  &__title {
    margin: 0;
    padding: 0;
    text-transform: $banner__title-text-transform;
    font-family: $banner__title-font-family;
    font-size: $banner-mobile__title-font-size;
    font-weight: $banner__title-font-weight;
    line-height: 1.6;
    color: $banner__title-color;
    @media (min-width: $desktop-min) {
      font-size: $banner__title-font-size;
    }
  }
  &__description {
    display: none;
    margin: 0;
    padding: 0;
    color: $banner__description-color;
    font-family: $banner__description-font-family;
    font-weight: $banner__description-font-weight;
    font-size: $banner__description-font-size;
    line-height: 1.6;
    @media (min-width: $desktop-min) {
      display: flex;
    }
  }
  &__call-to-action {
    display: none;
    margin-top: $spacer-big;
    background-color: $banner__call-to-action-background-color;
    font-size: $banner__call-to-action-font-size;
    @media (min-width: $desktop-min) {
      display: flex;
    }
  }
  &--top {
    justify-content: flex-start;
  }
  &--bottom {
    justify-content: flex-end;
  }
  &--center {
    justify-content: center;
  }
  &--left {
    align-items: flex-start;
  }
  &--secondary {
    .sf-banner__call-to-action {
      color: $banner--secondary__call-to-action-color;
      background-color: $banner--secondary__call-to-action-background-color;
    }
  }
  &--container-medium {
    .sf-banner__container {
      @media (min-width: $desktop-min) {
        width: 75%;
      }
    }
  }
  &--container-full {
    .sf-banner__container {
      @media (min-width: $desktop-min) {
        width: 100%;
      }
    }
  }
}
