@import '../variables';

.sf-banner-grid {
  &__row {
    @media screen and (min-width: $desktop-min) {
      display: flex;
      flex: 0 0 100%!important;
    }
    & + & {
      @media screen and (min-width: $desktop-min) {
        margin-top: $spacer-extra-big;
      }
    }
    .grid > &:first-of-type > .grid__col:first-of-type {
      margin-top: 0;
    }
  }
  &__col {
    margin-top: $spacer-big / 2;
    @media screen and (min-width: $desktop-min) {
      flex-wrap: wrap;
      display: flex;
      flex: 1;
      margin-top: 0;
    }
    & + & {
      @media screen and (min-width: $desktop-min) {
        margin-left: $spacer-extra-big;
      }
    }
    & > a,
    & > *{
      @media screen and (min-width: $desktop-min) {
        display: flex;
        flex: 1;
        & > * {
          flex: 1;
        }
      }
    }
    &--small {
      flex-basis: 450px;
      flex-grow: 0;
    }
    &--medium {
      flex-basis: 500px;
      flex-grow: 0;
    }
  }
}
