@import '../variables';


.sf-bottom-navigation {
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 1;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 60px;
  width: 100%;
  padding: 0 1rem;
  background: white;
  box-shadow: 0px -2px 10px rgba(154, 154, 154, 0.15);
  &__item > .sf-icon {
    --icon-color: #{$c-gray-variant};
  }
  &__item--active > .sf-icon {
    --icon-color: #{$c-black};
  }
  &__floating-icon {
    position: relative;
    top: -1.75rem;
    right: 1rem;
  }
}
