@import "../variables";

.sf-bottom-navigation {
  box-sizing: border-box;
  position: fixed;
  bottom: 0;
  z-index: 1;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 60px;
  width: 100%;
  padding: 0 1rem;
  background: white;
  box-shadow: 0px -2px 10px rgba(154, 154, 154, 0.15);

  &__item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    font-size: 12px;
    color: $c-gray;
    
    & > .sf-icon {
      --icon-color: #{$c-gray-variant};
    }

    &--active {
      color: $c-black;
      font-weight: $body-font-weight-secondary;
      & > .sf-icon {
        --icon-color: #{$c-black};
      }
    }

    &--spacer {
      margin-top: $spacer;
    }
  }

  &__floating-icon {
    position: relative;
    top: -1.75rem;
  }

  &__floating-label {
    position: relative;
    top: -1.3rem;
  }
}
