@import "../variables";

$bottom-navigation__item-color: $c-gray-variant !default;
$bottom-navigation__item-color--active: $c-black !default;
$bottom-navigation__item-font-size: 12px !default;

.sf-bottom-navigation {
  $this: &;
  box-sizing: border-box;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 1;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 60px;
  width: 100%;
  padding: 0 1rem;
  background: white;
  box-shadow: 0px -2px 10px rgba(154, 154, 154, 0.15);
  &__item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    font-size: $bottom-navigation__item-font-size;
    color: $c-gray;

    & > .sf-icon {
      --icon-color: #{$bottom-navigation__item-color};
    }

    &--active {
      color: $c-black;
      font-weight: $body-font-weight-secondary;
      & > .sf-icon {
        --icon-color: #{$bottom-navigation__item-color--active};
      }
    }

    &--has-margin {
      margin-top: $spacer;
    }
  }

  &--floating {
    top: -1.5rem;
  }
}
