@import "../variables";

$breadcrumbs-font-family: $body-font-family-secondary !default;
$breadcrumbs-font-size: $font-size-small-desktop !default;
$breadcrumbs-font-weight: $body-font-weight-secondary !default;
$breadcrumbs-line-height: 1.6 !default;
$breadcrumbs__link-color: $c-dark !default;
$breadcrumbs__item-padding: 0.75rem !default;
$breadcrumbs__item-color: $c-gray !default;
$breadcrumbs__item-separator-color: $breadcrumbs__link-color !default;
$breadcrumbs__item-separator: "|" !default;
$breadcrumbs__current-color: $c-gray-variant !default;

.sf-breadcrumbs {
  font-family: $breadcrumbs-font-family;
  font-size: $breadcrumbs-font-size;
  font-weight: $breadcrumbs-font-weight;
  &__list {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  &__item {
    display: inline-block;
    color: $breadcrumbs__item-color;
    &:not(:first-child) {
      padding-left: $breadcrumbs__item-padding;
      &::before {
        content: $breadcrumbs__item-separator;
        display: inline-block;
        padding-right: $breadcrumbs__item-padding;
        color: $breadcrumbs__item-separator-color;
      }
    }
  }
  &__link {
    cursor: pointer;
    color: $breadcrumbs__link-color;
  }
  &__current {
    cursor: default;
    color: $breadcrumbs__current-color;
  }
}
