@import "../variables";

$bullet-border-radius: 50% !default;
$bullet-size: 8px !default;
$bullet-margin: 6px !default;
$bullet-background-color: $c-gray !default;
$bullet-size--active: 10px !default;
$bullet-margin--active: 5px !default;
$bullet-background-color--active: $c-primary-variant !default;

.sf-bullets {
  display: flex;
  list-style: none;
  align-items: center;
  margin: 0;
  padding: 0;
}
.sf-bullet {
  border-radius: $bullet-border-radius;
  background: $bullet-background-color;
  width: $bullet-size;
  height: $bullet-size;
  margin: $bullet-margin;
  cursor: pointer;
  &--active {
    background-color: $bullet-background-color--active;
    width: $bullet-size--active;
    height: $bullet-size--active;
    margin: $bullet-margin--active;
  }
}
