@import "../variables";

$button-padding: 1rem 2.5rem !default;
$button-padding-desktop: 0.9375rem 2.5rem !default;
$button-color: $c-on-dark !default;
$button-background-color: $c-primary !default;
$button-font-family: $body-font-family-secondary !default;
$button-font-size: $font-size-small-mobile !default;
$button-font-size-desktop: $font-size-small-desktop !default;
$button-font-weight: $body-font-weight-secondary !default;
$button-line-height: 1.6 !default;
$button--outline-border: 2px !default;

.sf-button {
  padding: $button-padding;
  border: 0;
  outline: 0;
  color: $button-color;
  background-color: $button-background-color;
  font-family: $button-font-family;
  font-size: $button-font-size;
  font-weight: $button-font-weight;
  line-height: $button-line-height;
  text-transform: uppercase;
  cursor: pointer;
  @media screen and (min-width: $desktop-min) {
    padding: $button-padding;
    font-size: $button-font-size-desktop;
  }
  &:hover {
    background-color: lighten($button-background-color, 5);
  }
  &--full-width {
    width: 100%;
  }
  &--outline {
    color: $c-primary;
    border: solid $button--outline-border $c-primary;
    background-color: transparent !important;
    &:hover {
      background-color: $c-primary-variant !important;
      color: $c-on-primary !important;
    }
    @each $color, $map in $colors-map {
      $bg: map-get($map, "bg");
      $variant: map-get($map, "variant");
      $text: map-get($map, "text");
      &.color-#{$color} {
        color: $bg !important;
        border: solid $button--outline-border $bg;
        &:hover {
          background-color: $variant !important;
          color: $text !important;
        }
      }
    }
  }
  &--text {
    padding: 0;
    margin: 0;
    background-color: transparent;
    color: $c-text;
    text-transform: none;
    text-decoration: underline;
    &:hover {
      background-color: transparent;
    }
    @each $color, $map in $colors-map {
      $text: map-get($map, "bg");
      &.color-#{$color} {
        color: $text !important;
        background-color: transparent !important;
        &:hover {
          background-color: transparent !important;
        }
      }
    }
  }
}
