@import '../variables';

$carousel__controls-size: 240px !default;

.sf-carousel {
  position: relative;
  &__wrapper {
    max-width: 100%;
    margin: auto;
    overflow: hidden;
    @media screen and (min-width: $desktop-min) {
      max-width: calc(100% - #{$carousel__controls-size});
    }
  }
  &__slides {
    margin: 0;
  }
  &__controls {
    display: none;
    @media screen and (min-width: $desktop-min) {
      position: absolute;
      top: 50%;
      left: 0;
      transform: translate3d(0, -50%, 0);
      width: 100%;
      display: flex;
      justify-content: space-between;
    }
  }
  .glide {
    &__track,
    &__slides,
    &__slide {
      overflow: unset;
    }
  }
}
