@import "../variables";
$call-to-action-padding: $spacer-big $spacer-medium!default;
$call-to-action-padding-desktop: 3.4rem 8.75rem !default;
$call-to-action-background-color: $c-black !default;
$call-to-action-color: $c-on-dark !default;
$call-to-action-font-family: $body-font-family-secondary !default;
$call-to-action-line-height: 1.6 !default;
$call-to-action-font-size: $font-size-big-desktop !default;
$call-to-action__title-font-size: $font-size-big-mobile !default;
$call-to-action__title-font-size-desktop: $h1-font-size-desktop !default;
$call-to-action__title-font-weight: $h1-font-weight-desktop !default;
$call-to-action__title-line-height: 1.4 !default;
$call-to-action--secondary__button-color: $c-on-dark !default;
$call-to-action--secondary__button-background-color: $c-dark !default;
$call-to-action--light-color: $c-on-light !default;
$call-to-action--light-background-color: $c-light !default;

.sf-call-to-action {
  $this: &;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  padding: $call-to-action-padding;
  background-color: $call-to-action-background-color;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: $call-to-action-color;
  font-family: $call-to-action-font-family;
  font-size: $call-to-action-font-size;
  line-height: $call-to-action-line-height;
  @media screen and (min-width: $desktop-min) {
    flex-direction: row;
    justify-content: space-between;
    padding: $call-to-action-padding-desktop;
  }
  &__text-container {
    @media screen and (min-width: $desktop-min) {
      margin-right: $spacer-big;
    }
  }
  &__title {
    font-size: $call-to-action__title-font-size;
    font-weight: $call-to-action__title-font-weight;
    line-height: $call-to-action__title-line-height;
    @media screen and (min-width: $desktop-min) {
      font-size: $call-to-action__title-font-size-desktop;
    }
  }
  &__description {
    display: none;
    @media screen and (min-width: $desktop-min) {
      display: block;
      margin: $spacer-big 0 0 0;
    }
  }
  &__button {
    margin: $spacer-big 0 0 0;
    white-space: nowrap;
  }
  &--secondary {
    #{$this}__button{
      color: $call-to-action--secondary__button-color;
      background: $call-to-action--secondary__button-background-color;
    }
  }
  &--light {
    color: $call-to-action--light-color;
    background: $call-to-action--light-background-color;
  }
}
