@import "../variables";

$card-margin-left-desktop: $spacer-big * 5!default;

@mixin for-desktop {
  @media screen and (min-width: $desktop-min) {
    @content;
  }
}

.sf-card {
  $this: &;
  @include for-desktop {
    display: flex;
  }
  &__top,
  &__bottom {
    flex: 1;
  }
  &__top {
    margin: 0 -#{$spacer-big};
    overflow: hidden;
    transition: height 150ms ease-in-out;
  }
  &__bottom {
    @include for-desktop {
      margin-left: $card-margin-left-desktop;
    }
  }
  &__cross {
    box-sizing: border-box;
    display: none;
    padding: $spacer-medium 0 $spacer-medium * 2;
    @include for-desktop {
      display: none;
    }
  }
  &--is-active {
    #{$this} {
      &__top {
        height: 0 !important;
      }
      &__cross {
        display: block;
        cursor: pointer;
        @include for-desktop {
          display: none;
        }
      }
    }
  }
}
