@import "../variables";

$call-to-action-padding: 3.375rem 8.75rem !default;
$call-to-action-background-color: $c-black !default;
$call-to-action-color: $c-text-on-dark !default;
$call-to-action-align-items: center !default;
$call-to-action-justify-content: space-between !default;
$call-to-action-align-content: center !default;
$call-to-action__title-font-family: $body-font-family-secondary !default;
$call-to-action__title-font-size: 2.25rem !default;
$call-to-action__title-font-weight: 400 !default;
$call-to-action__title-text-transform: none !default;
$call-to-action__description-font-family: $body-font-family-secondary !default;
$call-to-action__button-padding: 1.125rem 3.375rem !default;
$call-to-action__button-font-size: 0.875rem !default;
$call-to-action-mobile__button-padding: 0.675rem 2rem !default;
$call-to-action--secondary__button-color: $c-text-on-dark !default;
$call-to-action--secondary__button-background-color: $c-dark-primary !default;

.sf-call-to-action {
  display: flex;
  color: $call-to-action-color;
  align-content: $call-to-action-align-content;
  align-items: $call-to-action-align-items;
  flex-direction: column;
  padding: $spacer-big $spacer-medium;
  background-color: $call-to-action-background-color;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  font-size: 1.125rem;
  @media screen and (min-width: $desktop-min) {
    flex-direction: row;
    padding: $call-to-action-padding;
    justify-content: $call-to-action-justify-content;
  }
  &__text-container {
    @media screen and (min-width: $desktop-min) {
      padding-right: $spacer;
    }
  }
  &__title {
    margin-bottom: $spacer-medium;
    margin-top: 0;
    padding: 0;
    font-size: $font-size-big-mobile;
    font-family: $call-to-action__title-font-family;
    font-weight: $call-to-action__title-font-weight;
    text-transform: $call-to-action__title-text-transform;
    @media screen and (min-width: $desktop-min) {
      text-align: left;
      margin-bottom: $spacer-big;
      font-size: $call-to-action__title-font-size;
    }
  }
  &__description {
    display: none;
    @media screen and (min-width: $desktop-min) {
      font-family: $call-to-action__description-font-family;
      display: flex;
      text-align: left;
      margin-bottom: 0;
    }
  }
  &__button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: $call-to-action-mobile__button-padding;
    font-size: $font-size-small-mobile;
    white-space: nowrap;
    @media screen and (min-width: $desktop-min) {
      display: block;
      padding: $call-to-action__button-padding;
      font-size: $call-to-action__button-font-size;
    }
  }
  &--secondary {
    .sf-call-to-action__button {
      color: $call-to-action--secondary__button-color;
      background: $call-to-action--secondary__button-background-color;
    }
  }
  &--light {
    color: $c-text-on-light;
    background: $c-light-primary;
  }
}
