@import "../variables";

$characteristic-font-family: $body-font-family-primary !default;
$characteristic-font-size: $font-size-small-mobile !default;
$characteristic-font-size-desktop: $font-size-extra-small-desktop !default;
$characteristic-font-weight: $body-font-weight-primary !default;
$characteristic-line-height: 1.6 !default;
$characteristic__icon-margin-right: $spacer-big !default;
$characteristic__title-font-family: $body-font-family-secondary !default;
$characteristic__title-font-size: $font-size-regular-mobile !default;
$characteristic__title-font-size-desktop: $font-size-regular-desktop !default;
$characteristic__title-font-weight: 500 !default;

.sf-characteristic {
  display: flex;
  align-items: center;
  font-family: $characteristic-font-family;
  font-size: $characteristic-font-size;
  font-weight: $characteristic-font-weight;
  line-height: $characteristic-line-height;
  @media screen and (min-width: $desktop-min) {
    font-size: $characteristic-font-size-desktop;
  }
  &__icon {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: ($characteristic__icon-margin-right / 2);
    @media screen and (min-width: $desktop-min) {
      margin-right: $characteristic__icon-margin-right;
    }
  }
  &__title {
    font-family: $characteristic__title-font-family;
    font-size: $characteristic__title-font-size;
    font-weight: $characteristic__title-font-weight;
    @media screen and (min-width: $desktop-min) {
      font-size: $characteristic__title-font-size-desktop;
    }
  }
}
