@import "../variables";

$chevron-duration: 0.5s !default;
$chevron-easing: cubic-bezier(0.25, 1.7, 0.35, 0.8) !default;
$chevron-size: 20px !default;
$chevron__bar-width: calc(#{$chevron-size} / 2) !default;
$chevron__bar-height: calc(#{$chevron__bar-width} / 5) !default;
$chevron__bar-top: calc(calc(#{$chevron-size} / 2) - calc(#{$chevron__bar-height} / 2) ) !default;
$chevron__bar-left-right: calc(#{$chevron-size} / 10) !default;
$chevron__bar-rotate: 45deg !default;
$chevron__bar-color: $c-black !default;

@mixin chevron-bar($half-name) {
  $direction: 1;
  @if $half-name == "right" {
    $direction: -1;
  }

  &__#{$half-name}-bar {
    position: absolute;
    top: $chevron__bar-top;
    #{$half-name}: $chevron__bar-left-right;
    display: block;
    width: $chevron__bar-width;
    height: $chevron__bar-height;
    background-color: transparent;
    transform: rotate($chevron__bar-rotate * $direction);
    &:after {
      z-index: -1;
      display: block;
      width: $chevron__bar-width;
      height: $chevron__bar-height;
      background-color: $chevron__bar-color;
      transition: all $chevron-duration $chevron-easing;
      content: "";
    }
    &--active {
      &:after {
        transform-origin: center center;
        transform: rotate(-2 * $chevron__bar-rotate * $direction);
      }
    }
  }
}

.sf-chevron {
  position: relative;
  display: block;
  height: $chevron-size;
  width: $chevron-size;
  cursor: pointer;
  @include chevron-bar($half-name: left);
  @include chevron-bar($half-name: right);
}
