@import '../variables';

$checkbox-margin: $spacer !default;
$checkbox__icon-size: 19px !default;
$checkbox__icon-border-radius: 0 !default;
$checkbox__icon-border: 1px $c-gray-secondary solid !default;
$checkbox__icon-bg-color: $c-white !default;
$checkbox__icon-svg-width: 11px !default;
$checkbox__icon-svg-height: 9px !default;
$checkbox__icon-transition: all 0.25s cubic-bezier(1, 0.5, 0.8, 1) !default;
$checkbox__icon-border--checked: 1px $c-accent-primary solid !default;
$checkbox__icon-bg-color--checked: $c-accent-primary !default;
$checkbox__icon-border--hover: 1px $c-accent-primary solid !default;
$checkbox__icon-bg-color--hover: $c-white !default;

.sf-checkbox {
  &__field {
    display: none;
  }
  &__label {
    display: flex;
    align-items: center;
    cursor: pointer;
  }
  &__icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: $checkbox__icon-size;
    height: $checkbox__icon-size;
    margin-right: $checkbox-margin;
    border-radius: $checkbox__icon-border-radius;
    border: $checkbox__icon-border;
    background-color: $checkbox__icon-bg-color;
    cursor: pointer;
    opacity: 1;
    transition: $checkbox__icon-transition;
    &:hover {
      border: $checkbox__icon-border--hover;
      background-color: $checkbox__icon-bg-color--hover;
    }
    &.is-active {
      border: $checkbox__icon-border--checked;
      background-color: $checkbox__icon-bg-color--checked;
      opacity: 1;
    }
  }
  &__icon-svg {
    width: $checkbox__icon-svg-width;
    height: $checkbox__icon-svg-height;
  }
}
