@import "../variables";

$checkbox-font-family: $body-font-family-secondary !default;
$checkbox-font-size: $font-size-big-mobile !default;
$checkbox-font-size-desktop: $font-size-big-desktop !default;
$checkbox-font-weight: $body-font-weight-primary !default;
$checkbox-line-height: 1.6 !default;
$checkbox__checkmark-size: 1.25rem !default;
$checkbox__checkmark-size-desktop: 1.5rem !default;
$checkbox__checkmark-primary-color: $c-primary !default;
$checkbox__checkmark-secondary-color: $c-gray-variant !default;
$checkbox__checkmark-transition: background-color 0.25s
    cubic-bezier(1, 0.5, 0.8, 1),
  border-color 0.25s cubic-bezier(1, 0.5, 0.8, 1),
  opacity 0.25s cubic-bezier(1, 0.5, 0.8, 1) !default;

.sf-checkbox {
  font-family: $checkbox-font-family;
  font-size: $checkbox-font-size;
  font-weight: $checkbox-font-weight;
  line-height: $checkbox-line-height;
  @media screen and (min-width: $desktop-min) {
    font-size: $checkbox-font-size-desktop;
  }
  &__input {
    display: none;
  }
  &__container {
    display: flex;
    align-items: center;
    cursor: pointer;
  }
  &__checkmark {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 0 0 $checkbox__checkmark-size;
    height: $checkbox__checkmark-size;
    border: 1px solid $checkbox__checkmark-secondary-color;
    box-sizing: border-box;
    transition: $checkbox__checkmark-transition;
    @media screen and (min-width: $desktop-min) {
      flex-basis: $checkbox__checkmark-size-desktop;
      height: $checkbox__checkmark-size-desktop;
    }
    &:hover {
      border-color: $checkbox__checkmark-primary-color;
      transition: $checkbox__checkmark-transition;
    }
    .is-active & {
      background-color: $checkbox__checkmark-primary-color;
      border-color: transparent;
    }
    .is-disabled & {
      border-color: $c-dark-variant;
      transition: $checkbox__checkmark-transition;
      opacity: 0.25;
    }
    .is-active.is-disabled & {
      background-color: $c-dark-variant;
      border-color: transparent;
      opacity: 0.25;
    }
  }
  &__label {
    margin-left: $spacer-big;
  }
}
