@import "../variables";

$chevron-duration: 0.5s !default;
$chevron-easing: cubic-bezier(0.25, 1.7, 0.35, 0.8) !default;
$chevron-size: 20px !default;
$chevron__bar-color: $c-black !default;

@mixin chevron-bar($half-name) {
  $direction: 1;
  $this: &;
  @if $half-name == "right" {
    $direction: -1;
  }

  &__#{$half-name}-bar {
    position: absolute;
    top: calc( calc(#{$chevron-size} / 2) - calc(calc(calc(#{$chevron-size} / 2) / 5) / 2));
    #{$half-name}: calc(#{$chevron-size} / 10);
    display: block;
    width: calc(#{$chevron-size} / 2);
    height: calc(calc(#{$chevron-size} / 2) / 5);
    background-color: transparent;
    transform: rotate(45deg * $direction);

    @at-root #{$this}--top & {
      &:after {
        transform-origin: center center;
        transform: rotate(-2 * 45deg * $direction);
      }
    }

    &:after {
      display: block;
      width: calc(#{$chevron-size} / 2);
      height: calc(calc(#{$chevron-size} / 2) / 5);
      background-color: $chevron__bar-color;
      transition: all $chevron-duration $chevron-easing;
      content: "";
    }
  }
}

.sf-chevron {
  position: relative;
  display: block;
  height: $chevron-size;
  width: $chevron-size;
  cursor: pointer;
  @include chevron-bar($half-name: left);
  @include chevron-bar($half-name: right);
}
