@import '../variables';

$circle-icon-background-primary: $c-green-primary !default;
$circle-icon-background-secondary: $c-dark-primary !default;
$circle-icon-icon-color: $c-white !default;
$circle-icon-size: 3.25rem !default;
$circle-icon-size-small: 1.625rem !default;
$circle-icon-size-big: 4rem !default;

.sf-circle-icon {
  padding: 5px;
  border-radius: 50%;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  width: $circle-icon-size;
  height: $circle-icon-size;
  transition: box-shadow 0.3s ease;
  outline: none;
  background-color: $circle-icon-background-primary;
  &:hover {
    box-shadow: 0 0 0 0.3125rem rgba($circle-icon-background-primary, 0.4);
  }
  &:active {
    box-shadow: 0 0 0 0.625rem rgba($circle-icon-background-primary, 0.4);
  }
  &__icon {
    padding: 10px;
  }
  &--secondary {
    background-color: $circle-icon-background-secondary;
    &:hover {
      box-shadow: 0 0 0 0.3125rem
        rgba($circle-icon-background-secondary, 0.4);
    }
    &:active {
      box-shadow: 0 0 0 0.625rem rgba($circle-icon-background-secondary, 0.4);
    }
  }
  &--small {
    width: $circle-icon-size-small;
    height: $circle-icon-size-small;
    & .sf-circle-icon__icon {
      padding: 3px;
    }
  }
  &--big {
    width: $circle-icon-size-big;
    height: $circle-icon-size-big;
    & .sf-circle-icon__icon {
      padding: 15px;
    }
  }
}
