@import "../variables";

$circle-icon-background: $c-primary !default;

.sf-circle-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  padding: $spacer-big;
  border-radius: 50%;
  transition: box-shadow 0.3s ease;
  &:hover {
    box-shadow: 0 0 0 0.3125rem rgba($circle-icon-background, 0.4);
  }
  &:active {
    box-shadow: 0 0 0 0.625rem rgba($circle-icon-background, 0.4);
  }
  @each $color, $map in $colors-map {
    $bg: map-get($map, "bg");
    $text: map-get($map, "text");

    &.color-#{$color} {
      color: $text !important;
      background-color: $bg !important;
      &:hover {
        background-color: lighten($bg, 5) !important;
        box-shadow: 0 0 0 0.3125rem rgba($bg, 0.4);
      }
      &:active {
        box-shadow: 0 0 0 0.625rem rgba($bg, 0.4);
      }
    }
  }
}