@import "../variables";

$color__radius: 2.5rem !default;
$color__padding: 0.1rem !default;

.sf-color {
    $this: &;
    box-sizing: border-box;
    width: $color__radius;
    height: $color__radius;
    padding: $color__padding;
    background-color: var(--border-color);
    border: 2px solid transparent;
    opacity: 0.5;
    transition: opacity 150ms ease;

    &:hover {
        opacity: 1;
        transition: opacity 150ms ease;
    }

    &:focus {
        outline: none;
    }

    &__fill {
        box-sizing: border-box;
        width: 100%;
        height: 100%;
    }

    &--active {
        #{$this}__fill {
          border: 2px solid $c-white;
          transition: border 150ms ease-in-out;
        }
        opacity: 1;
    }
}
