@import "../variables";

$content-pages__sidebar-width: 18.4375rem !default;
$content-pages__sidebar-background-color: $c-light !default;
$content-pages__title-font-family: $heading-font-family !default;
$content-pages__title-font-size: $font-size-big-mobile !default;
$content-pages__title-font-size-desktop: $font-size-extra-big-desktop !default;
$content-pages__title-font-weight: 500 !default;
$content-pages__title-line-height: 1.6 !default;

.sf-content-pages {
  $this: &;
  overflow: hidden;
  &__section {
    box-sizing: border-box;
    display: flex;
    height: 100%;
    transition: transform 150ms ease-in-out;
    &--is-active {
      transform: translateX(-100%);
      @media (min-width: $desktop-min) {
        transform: translateX(0);
      }
    }
  }
  &__sidebar,
  &__content {
    box-sizing: border-box;
    flex: 0 0 100%;
    padding: 0 1.875rem;
    @media (min-width: $desktop-min) {
      flex: 1;
      padding: $spacer-big $spacer-extra-big;
    }
  }
  &__sidebar {
    padding: $spacer-big;
    @media (min-width: $desktop-min) {
      flex: 0 0 $content-pages__sidebar-width;
      padding: $spacer-big $spacer-extra-big $spacer-extra-big;
      background-color: $content-pages__sidebar-background-color;
    }
  }
  &__title {
    padding: $spacer-big 0;
    font-family: $content-pages__title-font-family;
    font-size: $content-pages__title-font-size;
    font-weight: $content-pages__title-font-weight;
    line-height: $content-pages__title-line-height;
    @media (min-width: $desktop-min) {
      margin-bottom: $spacer-big;
      font-size: $content-pages__title-font-size-desktop;
    }
  }
  &__category-title {
    margin-bottom: $spacer-big;
    font-size: $font-size-big-mobile;
    font-family: $body-font-family-secondary;
    font-weight: $body-font-weight-secondary;
    @media (min-width: $desktop-min) {
      font-size: $font-size-big-desktop;
    }
  }
  &__list {
    margin-bottom: $spacer-extra-big;
  }
  &__list-item {
    border-bottom: 1px solid $c-light;
  }
  &__menu {
    padding: $spacer-big $spacer-big $spacer-big 10px;
    @media (min-width: $desktop-min) {
      padding: $spacer 0;
    }
  }
}
