@import "../variables";
$collected-product-hover-shadow: 0px 4px 35px rgba(168, 172, 176, 0.19) !default;
$collected-product-desktop-max-width: 360px !default;
$collected-product-remove-bg: #bebfc4;
$collected-product-remove-hover: #737680;
$collected-product-remove-active: #1d1f22;

.sf-collected-product {
  $this: &;
  max-width: 100%;
  position: relative;
  transition: 0.3s all;
  background: transparent;
  &__remove {
    opacity: 0;
    position: absolute;
    right: -12px;
    top: 8px;
    cursor: pointer;
    width: 26px;
    height: 26px;
    background: $collected-product-remove-bg;
    box-shadow: none !important;
    &:hover {
      background-color: $collected-product-remove-hover;
    }
    &:active {
      background-color: $collected-product-remove-active;
    }
    @media (min-width: $desktop-min) {
      opacity: 1;
    }
  }
  &__container {
    display: flex;
  }
  &__image {
    max-width: 100%;
    display: flex;
    position: relative;
    flex-direction: column;
    padding: 10px;
    align-items: flex-end;
    justify-content: end;
    img {
      max-width: 100%;
    }
  }
  .sf-counter {
    position: absolute;
    right: 1rem;
    bottom: 1rem;
  }
  &__contents {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  &__title {
    margin-top: 0.5rem;
    margin-bottom: 0.25rem;
    display: flex;
    font-family: $body-font-family-secondary;
    font-size: $font-size-regular-mobile;
    font-weight: 300;
    line-height: 1.6;
    @media (min-width: $desktop-min) {
      margin: $spacer 0;
      font-size: $font-size-regular-desktop;
    }
  }
  &:hover {
    transition: 0.3s all;
    z-index: 2;
    background: #ffffff;
    box-shadow: $collected-product-hover-shadow;
    #{$this}__remove {
      opacity: 1;
    }
  }
  @media (min-width: $desktop-min) {
    max-width: $collected-product-desktop-max-width;
  }
}
