@import "../variables";

$content-pages__sidebar-width: 18.4375rem !default;
$content-pages__sidebar-background-color: $c-light-primary !default;
$content-pages__title-font-family: $heading-font-family !default;
$content-pages__title-font-size: $font-size-big-mobile !default;
$content-pages__title-font-size-desktop: $font-size-extra-big-desktop !default;
$content-pages__title-font-weight: 500 !default;
$content-pages__title-line-height: 1.6 !default;

.sf-content-pages {
  box-sizing: border-box;
  display: flex;
  transition: transform 150ms ease-in-out;
  &--is-active {
    transform: translateX(-100vw);
    @media (min-width: $desktop-min) {
      transform: translateX(0);
    }
  }
  &__sidebar,
  &__content {
    box-sizing: border-box;
    flex: 0 0 100vw;
    padding: 1.875rem;
    @media (min-width: $desktop-min) {
      flex: 1;
      padding: 2.5rem;
    }
  }
  &__sidebar {
    @media (min-width: $desktop-min) {
      flex: 0 0 $content-pages__sidebar-width;
      background-color: $content-pages__sidebar-background-color;
    }
  }
  &__title {
    padding: 1.25rem 0;
    font-family: $content-pages__title-font-family;
    font-size: $content-pages__title-font-size;
    font-weight: $content-pages__title-font-weight;
    line-height: $content-pages__title-line-height;
    @media (min-width: $desktop-min) {
      margin-bottom: 2.5rem;
      font-size: $content-pages__title-font-size-desktop;
    }
  }
  &__list-item {
    padding: 0.5rem 0;
  }
  &__menu-item {
    cursor: pointer;
    &--is-active {
      @media (min-width: $desktop-min) {
        color: $c-dark-primary;
        font-weight: 400;
        text-decoration: underline;
      }
    }
  }
}
