@import "../variables";

$collected-product-max-width: 350px !default;
$collected-product-box-shadow--hover: 0px 4px 35px rgba(168, 172, 176, 0.19) !default;
$collected-product__remove-size: 0.875rem !default;
$collected-product__remove-size-desktop: 1.625rem !default;
$collected-product__remove-background: $c-gray-variant !default;
$collected-product__remove-background--hover: $c-dark-variant !default;
$collected-product__select-quantity-width: 3.125rem !default;
$collected-product__select-quantity-height: 1.875rem !default;

.sf-collected-product {
  $this: &;
  position: relative;
  box-sizing: border-box;
  display: flex;
  max-width: $collected-product-max-width;
  padding: $spacer-small;
  &::after {
    content: "";
    @media (min-width: $desktop-min) {
      transition: box-shadow 150ms ease-in-out;
    }
  }
  &:hover {
    background: $c-white;
    @media (min-width: $desktop-min) {
      z-index: 1;
    }
    &::after {
      @media (min-width: $desktop-min) {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: -1;
        content: "";
        box-shadow: $collected-product-box-shadow--hover;
      }
    }
    #{$this}__remove {
      opacity: 1;
    }
  }
  @media (min-width: $desktop-min) {
    padding: 10px;
  }
  &__remove {
    position: absolute;
    top: $spacer;
    right: $spacer;
    width: $collected-product__remove-size;
    height: $collected-product__remove-size;
    background-color: transparent;
    @media (max-width: $desktop-min) {
      padding: 0;
    }
    @media (min-width: $desktop-min) {
      right: calc(#{$collected-product__remove-size-desktop} / -2);
      top: 10px;
      display: flex;
      width: $collected-product__remove-size-desktop;
      height: $collected-product__remove-size-desktop;
      background-color: $collected-product__remove-background;
      box-shadow: none;
      cursor: pointer;
      opacity: 0;
      transition: opacity 150ms ease-in-out;
    }
    &:hover,
    &:active {
      box-shadow: none;
      background-color: transparent;
      @media (min-width: $desktop-min) {
        background-color: $collected-product__remove-background--hover;
      }
    }
  }
  &__icon {
    @media (min-width: $desktop-min) {
      --icon-size: 8px !important;
      --icon-color: #ffffff !important;
    }
  }
  &__aside {
    position: relative;
  }
  &__image {
    max-width: 85px;
    height: 127px;
    overflow: hidden;
    @media (min-width: $desktop-min) {
      max-width: 140px;
      height: 200px;
    }
  }
  &__select-quantity {
    position: absolute;
    right: $spacer;
    bottom: $spacer;
    z-index: 2;
    input {
      box-sizing: border-box;
      width: $collected-product__select-quantity-width;
      height: $collected-product__select-quantity-height;
      padding: 0 $spacer-small;
      border: 1px solid transparent;
      background-color: $c-white;
      font-family: $body-font-family-primary;
      font-size: $font-size-big-desktop;
      font-weight: $body-font-weight-primary;
      line-height: 1.6;
      text-align: center;
      transition: border-color 0.3s ease-in-out;
      &:focus {
        border-color: $c-primary;
      }
    }
  }
  &__main {
    flex: 1;
    margin-left: $spacer-big;
    display: flex;
    flex-direction: column;
  }
  &__title {
    margin-bottom: 5px;
    font-family: $body-font-family-secondary;
    font-size: $font-size-regular-mobile;
    font-weight: $body-font-weight-primary;
    line-height: 1.6;
  }
  &__details {
    margin-top: auto;
    display: flex;
    justify-content: space-between;
    @media (min-width: $desktop-min) {
      flex: 1;
      flex-direction: column;
      margin-top: unset;
    }
  }
}
