@import "../variables";

$counter-background: $c-white !default;
$counter-color: $c-dark !default;
$counter-width: 4.5rem !default;
$counter-border: none !default;
$counter--large-width: $counter-width * 2 !default;

.sf-counter {
  background: $counter-background;
  color: $counter-color;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: left;
  border: $counter-border;
  width: $counter-width;
  box-sizing: border-box;
  &--large {
    width: $counter--large-width;
  }
  &__field {
    border-radius: 0;
    border: none;
    background: none;
    padding: 0.75rem 0.25rem;
    flex: 1 1 auto;
    width: 1%;
    height: auto;
    text-align: center;
    font-size: $font-size-big-desktop;
    color: inherit;
    line-height: 1;
    @media (max-width: $mobile-max) {
      font-size: $font-size-big-mobile;
    }
  }
  &__control {
    cursor: pointer;
    width: 0.75rem;
    padding: 0.2rem;
    display: flex;
    user-select: none;
    img {
      width: 100%;
      margin: 0;
    }
  }
}
