@import "../variables";

$collected-product-hover-shadow: 0px 4px 35px rgba(168, 172, 176, 0.19) !default;
$collected-product-remove-hover-bg: $c-gray-secondary !default;
$collected-product-desktop-max-width: 240px !default;
.sf-collected-product {
  max-width: 100%;
  position: relative;
  transition: 0.3s all;
  background: white;
  &__remove {
    visibility: hidden;
    position: absolute;
    right: -12px;
    top: 8px;
    cursor: pointer;
    width: 26px;
    height: 26px;
    background: $collected-product-remove-hover-bg;
    &:hover {
      box-shadow: none;
      background-color: $collected-product-remove-hover-bg;
    }
    &:active {
      box-shadow: none;
    }
    @media (min-width: $desktop-min) {
      visibility: visible;
    }
  }
  &__container {
    display: flex;
    .sf-collected-product__image {
      max-width: 100%;
      display: flex;
      position: relative;
      flex-direction: column;
      padding: 10px;
      align-items: flex-end;
      justify-content: end;
      img {
        max-width: 100%;
      }
      .sf-counter {
        position: absolute;
        right: 1rem;
        bottom: 1rem;
      }
    }
    .sf-collected-product__contents {
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      .sf-collected-product__title {
        margin-top: 0.5rem;
        margin-bottom: 0.25rem;
        display: flex;
        font-weight: 300;
        font-size: 14px;
        line-height: 23px;
      }
    }
  }
  &:hover {
    box-shadow: $collected-product-hover-shadow;
    transition: 0.3s all;
    z-index: 2;
  }
  @media (min-width: $desktop-min) {
    max-width: $collected-product-desktop-max-width;
  }
}
