@import "../variables";

$collected-product-max-width: 350px !default;
$collected-product-box-shadow--hover: 0px 4px 35px rgba(168, 172, 176, 0.19) !default;
$collected-product__remove-size: 0.875rem !default;
$collected-product__remove-size-desktop: 1.625rem !default;
$collected-product__remove-background: $c-gray-variant !default;
$collected-product__remove-background--hover: $c-dark-variant !default;
$collected-product__select-quantity-width: 3.125rem !default;
$collected-product__select-quantity-height: 1.875rem !default;
$collected-product__image-background-color: $c-light !default;

.sf-collected-product {
  $this: &;
  position: relative;
  box-sizing: border-box;
  display: flex;
  max-width: $collected-product-max-width;
  padding: $spacer-small;
  @media (min-width: $desktop-min) {
    padding: 10px $spacer-big;
  }
  &::after {
    content: "";
    @media (min-width: $desktop-min) {
      transition: box-shadow 150ms ease-in-out;
    }
  }
  &:hover {
    background: $c-white;
    @media (min-width: $desktop-min) {
      z-index: 1;
    }
    &::after {
      @media (min-width: $desktop-min) {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: -1;
        content: "";
        box-shadow: $collected-product-box-shadow--hover;
      }
    }
    #{$this}__remove {
      opacity: 1;
    }
  }
  @media (min-width: $desktop-min) {
    padding: 10px;
  }
  &__remove {
    position: absolute;
    top: $spacer;
    right: $spacer;
    background-color: transparent;
    padding: 0;
    &.sf-circle-icon{
      & .sf-icon {
        @media (max-width: $desktop-min) {
          --icon-size: #{$collected-product__remove-size} !important;
          --icon-color: #{$c-gray} !important;
        }
      }
      &.sf-button{
        padding: 0;
        @media (min-width: $desktop-min) {
          padding: 10px;
        }
      }
    }
    @media (min-width: $desktop-min) {
      right: calc(#{$collected-product__remove-size-desktop} / -2);
      top: 10px;
      background-color: $collected-product__remove-background;
      box-shadow: none;
      opacity: 0;
      transition: opacity 150ms ease-in-out;
    }
    &:hover,
    &:active {
      box-shadow: none;
      background-color: transparent;
      @media (min-width: $desktop-min) {
        background-color: $collected-product__remove-background--hover;
      }
    }
  }
  &__icon {
    @media (min-width: $desktop-min) {
      --icon-size: 8px !important;
      --icon-color: #ffffff !important;
    }
  }
  &__aside {
    position: relative;
    flex: 0 0 5.3125rem;
    @media (min-width: $desktop-min) {
      flex: 0 0 8.75rem;
    }
  }
  &__image {
    background-color: $collected-product__image-background-color;
    img {
      mix-blend-mode: darken;
    }
  }
  &__quantity-selector {
    position: absolute;
    right: $spacer;
    bottom: $spacer;
  }
  &__main {
    flex: 1;
    margin-left: $spacer-big;
    display: flex;
    flex-direction: column;
  }
  &__title {
    margin-bottom: 5px;
    font-family: $body-font-family-secondary;
    font-size: $font-size-regular-mobile;
    font-weight: $body-font-weight-primary;
    line-height: 1.6;
  }
  &__details {
    margin-top: auto;
    display: flex;
    justify-content: space-between;
    @media (min-width: $desktop-min) {
      flex: 1;
      flex-direction: column;
      margin-top: unset;
    }
  }
}
