@import '../variables';

$filter-padding: $spacer 0 !default;
$filter-font-size: $font-size-big-mobile !default;
$filter-font-family: $body-font-family-secondary !default;

.sf-filter {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: $filter-padding;
  font-size: $filter-font-size;
  font-family: $filter-font-family;
  &__label {
    flex-grow: 1;
  }
  &__color {
    width: 1.125rem;
    height: 1.125rem;
    background: black;
    margin-right: $spacer-big;
    border: 1px solid $c-gray-secondary;
  }
  &--active,
  &:hover {
    text-decoration: underline;
    font-weight: 500;
    cursor: pointer;
  }
}
