@import "../variables";

$filter-font-family: $body-font-family-secondary !default;
$filter-font-size: $font-size-big-mobile !default;
$filter-font-size-desktop: $font-size-small-desktop !default;
$filter-font-weight: $body-font-weight-secondary !default;
$filter-line-height: 1.6 !default;

.sf-filter {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: $filter-font-family;
  font-size: $filter-font-size;
  font-weight: $filter-font-weight;
  line-height: $filter-line-height;
  cursor: pointer;
  @media screen and (min-width: $desktop-min) {
    font-size: $filter-font-size-desktop;
  }
  .sf-checkbox__container{
    width: 100%;
  }
  &__label{
    margin-left: $spacer-big;
  }
  &__count{
    margin-left: auto;
  }
  &--active {
    font-weight: 500;
  }
}
