@import "../variables";
.sf-footer-column{
  &__title{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: $spacer-big $spacer-extra-big;
    background-color: hsl(0%, 0%, 90%);
    font-size: $font-size-extra-big-mobile;
    font-family: $body-font-family-secondary;
    font-weight: 500;
    text-transform: uppercase;
    cursor: pointer;
    @media (min-width: $desktop-min){
      background-color: transparent;
      padding: $spacer-big 0;
      cursor: default;
    }
  }
  &__content{}
  &__chevron{
    @media (min-width: $desktop-min){
      display: none;
    }
  }
}
.sf-footer {
  @media (min-width: $desktop-min){
    display: flex;
    justify-content: space-between;
    margin: 6.25rem 0;
  }
}
