@import "../variables";

$footer-desktop-margin: 6.25rem 0 !default;
$footer-column__title-padding:$spacer-big $spacer-extra-big !default;
$footer-column__title-desktop-padding: $spacer-big 0 !default;
$footer-column__title-background-color: hsl(0%, 0%, 90%) !default;
$footer-column__title-font-family: $body-font-family-secondary !default;
$footer-column__title-font-size: $font-size-extra-big-mobile !default;
$footer-column__title-font-weight: 500 !default;

.sf-footer-column{
  flex: 0 0 var(--col-width);
  &__title{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: $footer-column__title-padding;
    background-color: $footer-column__title-background-color;
    font-size: $footer-column__title-font-size;
    font-family: $footer-column__title-font-family;
    font-weight: $footer-column__title-font-weight;
    line-height: 1.6;
    text-transform: uppercase;
    cursor: pointer;
    @media (min-width: $desktop-min){
      padding: $footer-column__title-desktop-padding;
      background-color: transparent;
      cursor: default;
    }
  }
  &__chevron{
    @media (min-width: $desktop-min){
      display: none;
    }
  }
}
.sf-footer {
  @media (min-width: $desktop-min){
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: $footer-desktop-margin;
  }
  &__menu-item{
    padding: $spacer-big $spacer-extra-big;
    @media (min-width: $desktop-min){
      padding: 6px 0;
    }
  }
}
