@import "../variables";

$footer__row-line-height: 1.6 !default;
$footer__column-title-font-size: $font-size-big-desktop !default;
$footer__column-title-color: $c-dark-primary !default;
$footer__column-title-font-family: $body-font-family-primary !default;
$footer__column-content-font-family: $body-font-family-secondary !default;
$footer__column-content-font-size: $font-size-extra-small-desktop !default;
$footer__column-max-width: 300px !default;
$accordion--close-background-color: $c-light-primary !default;
$accordion--open-background-color: $c-light-secondary !default;

.sf-footer-row {
  line-height: $footer__row-line-height;
  @media screen and (min-width: $desktop-min) {
    display: flex;
    justify-content: flex-end;
  }
}
.sf-footer-column {
  font-family: $footer__column-content-font-family;
  width: 100%;
  padding: 0;
  @media screen and (min-width: $desktop-min) {
    width: unset;
    padding: unset;
    max-width: 24.9999%;
    word-wrap: break-word;
    overflow: hidden;
    flex: 1;
  }
  &__title {
    font-size: $footer__column-title-font-size;
    text-transform: uppercase;
    font-weight: bold;
    color: $footer__column-title-color;
    font-family: $footer__column-title-font-family;
    margin: 0;
  }
  &__content {
    padding-top: unset;
    font-size: $footer__column-content-font-size;
    &--not-active {
      display: flex;
    }
  }
  .sf-accordion {
    width: 100%;
  }
  .sf-accordion-item {
    &__content {
      line-height: $footer__row-line-height;
      padding-left: $spacer;
      padding-right: $spacer;
      padding-top: 0;
      padding-bottom: 0;
    }
    &__header {
      font-size: 18px;
      font-weight: 420;
      text-transform: "uppercase";
      padding: $spacer-medium;
      color: "#1D1F2";
      background-color: $accordion--close-background-color;
      &--open {
        background-color: $accordion--open-background-color;
      }
    }
    &__title {
      max-width: 80%;
    }
  }
}
