@import '../variables';
@import "~@glidejs/glide/src/assets/sass/glide.core";

$gallery-flex-direction: row !default;
$gallery__nav-width: 100px !default;
$gallery__nav-margin: 0 $spacer-extra-big 0 0 !default;
$gallery__item-margin-bottom: $spacer-medium !default;
$gallery__item-opacity: 0.5 !default;
$gallery__item-transition: opacity 0.15s linear !default;
$gallery__item-mobile-size: 10px !default;
$gallery__item-mobile-background: $c-gray-secondary !default;
$gallery__item-mobile--selected-background: $c-accent-primary !default;
$gallery__stage-width: 400px !default;

.sf-gallery {
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: $gallery-flex-direction;
  position: relative;
  justify-content: center;

  &__thumbs {
    z-index: 2;
    position: absolute;
    width: auto;
    margin: $gallery__nav-margin 0 0;
    padding: 0;
    top: 100%;
    display: inline-flex;
    bottom: 0;

    @media (min-width: $desktop-min) {
      position: static;
      display: block;
      width: $gallery__nav-width;
      margin: $gallery__nav-margin;
      left: auto;
      bottom: auto;
      overflow-y: auto;
    }
  }

  &__item {
    opacity: $gallery__item-opacity;
    transition: $gallery__item-transition;
    cursor: pointer;
    user-select: none;

    &::before {
      display: block;
      content: " ";
      height: $gallery__item-mobile-size;
      width: $gallery__item-mobile-size;
      background: $gallery__item-mobile-background;
      border-radius: 50%;
      margin: 0 $gallery__item-margin-bottom;
    }

    &--selected {
      cursor: auto;
      opacity: 1;

      &::before {
        background: $gallery__item-mobile--selected-background;
      }
    }

    @media (min-width: $desktop-min) {
      margin: 0 0 $gallery__item-margin-bottom;

      &:last-of-type {
        margin-bottom: 0;
      }
    }
  }

  &__stage {
    width: $gallery__stage-width;
    max-width: 100%;
    overflow: hidden;
  }

  &__thumb {
    display: none;

    @media (min-width: $desktop-min) {
      display: block;
      width: 100%;
      height: auto;
    }
  }

  &__big-image {
    max-width: 100%;
    width: auto;
    height: auto;
    user-select: none;
    pointer-events: none;
  }
}
