@import "../variables";

$gallery-flex-direction: row !default;
$gallery__nav-width: 100px !default;
$gallery__nav-margin: 0 $spacer-extra-big 0 0 !default;
$gallery__item-margin-bottom: $spacer-medium !default;
$gallery__item-opacity: 0.5 !default;
$gallery__item-transition: opacity 0.15s linear !default;
$gallery__item-mobile-size: 10px !default;
$gallery__item-mobile-background: $c-gray-variant !default;
$gallery__item-mobile--selected-background: $c-primary !default;
$gallery__stage-width: 400px !default;
$gallery__stage-cursor: zoom-in !default;

.sf-gallery {
  position: relative;
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: $gallery-flex-direction;
  position: relative;
  justify-content: center;
  margin-bottom: $gallery__item-mobile-size;

  @media (min-width: $desktop-min) {
    margin-bottom: 0;
  }

  &__thumbs {
    z-index: 2;
    position: absolute;
    width: auto;
    margin: 0;
    padding: 0;
    display: inline-flex;
    bottom: $gallery__item-mobile-size;

    @media (min-width: $desktop-min) {
      position: static;
      display: block;
      width: $gallery__nav-width;
      margin: $gallery__nav-margin;
      left: auto;
      bottom: auto;
      overflow-y: auto;
    }
  }

  &__item {
    opacity: $gallery__item-opacity;
    transition: $gallery__item-transition;
    cursor: pointer;
    margin-right: $gallery__item-margin-bottom;

    &:last-of-type {
      margin-right: 0;
    }

    &::before {
      display: block;
      content: "";
      height: $gallery__item-mobile-size;
      width: $gallery__item-mobile-size;
      background: $gallery__item-mobile-background;
      border-radius: 50%;
    }

    &--selected {
      cursor: auto;
      opacity: 1;

      &::before {
        background: $gallery__item-mobile--selected-background;
      }
    }

    @media (min-width: $desktop-min) {
      margin: 0 0 $gallery__item-margin-bottom;

      &:last-of-type {
        margin-bottom: 0;
      }

      &::before {
        display: none;
      }
    }
  }

  &__stage {
    width: $gallery__stage-width;
    max-width: 100%;
    overflow: hidden;
    user-select: none;
  }

  &__thumb {
    display: none;

    @media (min-width: $desktop-min) {
      display: block;
      width: 100%;
      height: auto;
    }
  }

  &__big-image {
    max-width: 100%;
    width: auto;
    height: auto;
    cursor: $gallery__stage-cursor;
  }

  img {
    user-drag: none;
    user-select: none;
  }
  .glide {
    &__slides {
      margin: 0;
    }
  }
}
