@import "../variables";

$grouped-product-max-width: 7.8125rem !default;
$grouped-product-max-width-desktop: 5.125rem !default;
$grouped-product-font-family: $body-font-family-secondary !default;
$grouped-product-font-size: $font-size-regular-mobile !default;
$grouped-product-font-size-desktop: $font-size-extra-small-desktop !default;
$grouped-product-font-weight: $body-font-weight-secondary !default;
$grouped-product-line-height: 1.6 !default;
$grouped-product__select-quantity-width: 3.125rem !default;
$grouped-product__select-quantity-height: 1.875rem !default;
$grouped-product-item__image-background-color: $c-light !default;

.sf-grouped-product-item {
  padding: $spacer-small;
  font-family: $grouped-product-font-family;
  font-size: $grouped-product-font-size;
  font-weight: $grouped-product-font-weight;
  line-height: $grouped-product-line-height;
  @media (min-width: $desktop-min) {
    display: flex;
    padding: 10px 0;
    border-bottom: 1px solid $c-light;
    font-size: $grouped-product-font-size-desktop;
  }
  &__aside {
    position: relative;
    @media (min-width: $desktop-min) {
      flex: 0 0 $grouped-product-max-width-desktop;
    }
  }
  &__image {
    background-color: $grouped-product-item__image-background-color;
    img {
      mix-blend-mode: darken;
    }
  }
  &__quantity-selector {
    position: absolute;
    right: $spacer;
    bottom: $spacer;
    z-index: 1;
    width: $grouped-product__select-quantity-width;
    height: $grouped-product__select-quantity-height;
    @media (min-width: $desktop-min) {
      bottom: 0;
      left: $grouped-product-max-width-desktop + $spacer-big;
    }
  }
  &__description {
    @media (min-width: $desktop-min) {
      margin-left: $spacer-big;
    }
  }
  &__title {
    margin: $spacer-small 0;
    @media (min-width: $desktop-min) {
      margin: 0;
    }
  }
  &__price {
    @media (min-width: $desktop-min) {
      margin-left: auto;
      font: inherit;
    }
  }
}
.sf-grouped-product {
  @media (min-width: $desktop-min) {
    .glide {
      &__slides {
        display: block !important;
        width: auto !important;
        margin: 0 !important;
        transform: unset !important;
      }
      &__slide {
        &--clone {
          display: none;
        }
      }
    }
  }
}
