@import '../variables';

$component__block-property: value;

.sf-grid {
 &-row{
   display: flex;
   & + & {
     margin-top: $spacer-extra-big;
   }
 }
 &-col{
   flex: 1;
   display: flex;
   flex-direction: column;
   & + & {
     margin-left: $spacer-extra-big;
   }
 }
}
