@import "../variables";

$header-padding: 0 $spacer-extra-big !default;
$header-desktop-padding: $spacer-big $spacer-extra-big !default;
$header__logo-height: 1.5rem !default;
$header__logo-desktop-height: 2.125 !default;
$header-background-color: $c-light !default;
$header-desktop-background-color: $c-white !default;
$header-navigation-item-margin-left: 2.5rem !default;
$header-navigation-item-font-family: $font-size-small-desktop !default;
$header-navigation-item-font-size: $font-size-small-desktop !default;
$header-navigation-item-font-weight: 500 !default;

.sf-header-navigation-item {
  $this: &;
  position: relative;
  height: 100%;
  display: flex;
  align-items: center;
  margin-left: $header-navigation-item-margin-left;
  color: $c-text;
  font-family: $header-navigation-item-font-family;
  font-size: $header-navigation-item-font-size;
  font-weight: $header-navigation-item-font-weight;
  line-height: 1.6;
  cursor: pointer;
  transition: color 150ms linear;
  &::after{
    position: absolute;
    left: 0;
    z-index: 1;
    bottom: -2px;
    height: 2px;
    width: 100%;
    background-color: transparent;
    content: "";
    transition: background-color 150ms linear;
  }
  &:hover{
    &::after{
      background-color: $c-dark;
    }
  }
}
.sf-header {
  --header-desktop-height: 5rem;

  $this: &;
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: $header-padding ;
  background-color: $header-background-color;
  @media (min-width: $desktop-min) {
    flex-wrap: nowrap;
    justify-content: flex-start;
    padding: $header-desktop-padding;
    height: var(--header-desktop-height);
    background-color: $header-desktop-background-color;
  }
  &--has-mobile-search{
    #{$this}__search{
      @media (max-width: $desktop-min){
        display: flex;
        order: 1;
        flex: 0 0 100%;
        margin: $spacer 0;
        background-color: $c-white;
        animation: drop .3s ease-in-out;
      }
    }
  }
  &__placeholder {
    --header-desktop-height: 5rem;
    
    height: var(--header-desktop-height);
  }
  &__logo {
    height: $header__logo-height;
    width: auto;
    margin: 10px 0;
    @media (min-width: $desktop-min) {
      height: 2.125rem;
      margin: 0;
    }
    img{
      max-width: unset;
      height: 100%;
    }
  }
  &__navigation {
    display: flex;
    align-items: center;
    height: 100%;
    &:hover > *:not(:hover){
      color: $c-gray;
    }
  }
  &__search {
    display: none;
    @media (min-width: $desktop-min) {
      display: flex;
      margin: 0 10px 0 auto;
    }
  }
  &__icons{
    display: flex;
    align-items: center;
  }
  &__icon {
    $this: &;
    margin-left: $spacer-big;
    &.sf-circle-icon {
      background-color: transparent;
      transition: background-color 0.3s ease;
      &:hover {
        background-color: $c-light;
        box-shadow: none;
      }
      &.sf-button {
        padding: 10px;
      }
      & .sf-icon {
        --icon-size: 1.25rem;
        --icon-color: #{$c-text};
        &:hover {
          --icon-color: #{$c-text};
        }
      }
    }
    &--is-active {
      &.sf-circle-icon {
        background-color: $c-primary;
        & .sf-icon {
          --icon-color: #{$c-white};
        }
      }
    }
  }
  &__navigation,
  &__icons{
    @media (max-width: $desktop-min) {
      display: none;
    }
  }
  &--sticky {
      position: fixed;
      width: 100%;
      z-index: 2;
      transform: translateY(0);
      transition: all 0.3s ease-in-out;
  }
  &--hidden {
    transform: translateY(-100%);
  }

  @keyframes drop {
    0% {
      display: none;
      opacity: 0;
    }
    1% {
      display: flex;
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
}
