@import '../variables';

$hero__controls-top: 50% !default;
$hero__controls-padding-h: 1rem !default;
$hero__controls-width: calc(100% - 2 * #{$hero__controls-padding-h}) !default;
$hero__bullets-position-offset: 0.5rem !default;
$hero__bullets-position-offset-desktop: 2.5rem !default;
$hero-item-width: 100% !default;
$hero-item-padding: $spacer-extra-big !default;
$hero-item-padding-desktop: 5rem !default;
$hero-item-bg-size: cover !default;
$hero-item-bg-position: center !default;
$hero-item-font-weight: 500 !default;
$hero-item-line-height: 1.6 !default;
$hero-item__container-width-desktop: 50% !default;
$hero-item__container-width: 60% !default;
$hero-item__container-height: 100% !default;
$hero-item__container-padding-desktop: 0 2rem !default;
$hero-item__container-padding: 0 !default;
$hero-item__subtitle-width: 100% !default;
$hero-item__subtitle-width-desktop: min-content !default;
$hero-item__subtitle-color: $c-gray-variant !default;
$hero-item__subtitle-border-left: $hero-item__subtitle-color solid 1px !default;
$hero-item__subtitle-border: 0 !default;
$hero-item__subtitle-font-family: $body-font-family-primary !default;
$hero-item__subtitle-font-size: $font-size-extra-small-mobile !default;
$hero-item__subtitle-font-size-desktop: $font-size-extra-small-desktop !default;
$hero-item__subtitle-padding-left-desktop: 36px !default;
$hero-item__subtitle-padding-left: 18px !default;
$hero-item__title-font-desktop: 36px !default;
$hero-item__title-color: $c-dark !default;
$hero-item__title-font-family: $body-font-family-primary !default;
$hero-item__title-font-size: $font-size-extra-big-mobile !default;
$hero-item__title-font-size-desktop: $h1-font-size-desktop !default;
$hero-item__title-line-height: 1.38 !default;

.sf-hero {
  position: relative;
  &__slides {
    margin: 0;
  }
  &__controls {
    display: none;
    @media screen and (min-width: $desktop-min) {
      position: absolute;
      top: $hero__controls-top;
      left: 0;
      transform: translate3d(0, -$hero__controls-top, 0);
      width: $hero__controls-width;
      display: flex;
      justify-content: space-between;
      padding: 0 $hero__controls-padding-h;
    }
  }
  &__bullets {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    align-content: center;
    bottom: $hero__bullets-position-offset;
    @media screen and (min-width: $desktop-min) {
      bottom: $hero__bullets-position-offset-desktop;
    }
  }
  &-item {
    width: $hero-item-width;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: $hero-item-padding;
    font-weight: $hero-item-font-weight;
    line-height: $hero-item-line-height;
    @media screen and (min-width: $desktop-min) {
      padding: $hero-item-padding-desktop;
    }
    background-size: $hero-item-bg-size;
    background-position: $hero-item-bg-position;
    background-repeat: no-repeat;
    &__container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      width: $hero-item__container-width;
      height: $hero-item__container-height;
      padding: $hero-item__container-padding;
      @media screen and (min-width: $desktop-min) {
        justify-content: space-evenly;
        width: $hero-item__container-width-desktop;
        padding: $hero-item__container-padding-desktop;
      }
    }
    &__subtitle {
      width: $hero-item__subtitle-width;
      padding-left: $hero-item__subtitle-padding-left;
      margin-bottom: $spacer-medium * 2;
      border: $hero-item__subtitle-border-left;
      border-top: $hero-item__subtitle-border;
      border-right: $hero-item__subtitle-border;
      border-bottom: $hero-item__subtitle-border;
      color: $hero-item__subtitle-color;
      text-transform: uppercase;
      font-size: $hero-item__subtitle-font-size;
      @media screen and (min-width: $desktop-min) {
        margin-bottom: $spacer-extra-big * 2;
        width: $hero-item__subtitle-width-desktop;
        padding-left: $hero-item__subtitle-padding_left-desktop;
        font-size: $hero-item__subtitle-font-size-desktop;
      }
    }
    &__title {
      color: $hero-item__title-color;
      font-size: $hero-item__title-font-size;
      line-height: $hero-item__title-line-height;
      margin-bottom: $spacer-extra-big;
      @media screen and (min-width: $desktop-min) {
        margin-bottom: 0;
        font-size: $hero-item__title-font-size-desktop;
      }
    }
    &__button {
      display: none;
      @media screen and (min-width: $desktop-min) {
        margin-top: $spacer-extra-big;
        margin-bottom: $spacer-extra-big * 2;
        display: block;
      }
    }
    &--position-bg-top-right {
      background-position: top right;
    }
    &--position-bg-bottom-right {
      background-position: bottom right;
    }
    &--position-bg-bottom-left {
      background-position: bottom left;
    }
    &--align-right {
      align-items: flex-end;
    }
  }
}
