@import "../variables";

$header-height: 3.125rem !default;
$header-padding: 0 $spacer-extra-big!default;
$header-desktop-padding: 0 $spacer-extra-big!default;
$header-desktop-height: 5rem !default;
$header-background-color: $c-light !default;
$header-desktop-background-color: $c-white !default;

.sf-header-navigation-item{
  $this: &;
  height: 100%;
  margin-left: $spacer-extra-big;
  &:first-child {
    margin-left: 5rem;
  }
  &:hover {
    #{$this}__link {
      border-color: $c-text;
    }
  }
  &__link{
    position: relative;
    box-sizing: border-box;
    z-index: 2;
    display: flex;
    align-items: center;
    height: 100%;
    text-transform: uppercase;
    font-family: $body-font-family-secondary;
    font-size: $font-size-small-desktop;
    font-weight: 500;
    line-height: 1.6;
    border-bottom: 2px solid transparent;
    transition: border-color 150ms linear;
  }
}
.sf-header {
  $this: &;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  height: $header-height;
  padding: $header-padding ;
  background-color: $header-background-color;
  @media (min-width: $desktop-min) {
    justify-content: flex-start;
    height: $header-desktop-height;
    padding: $header-padding;
    background-color: $header-desktop-background-color;
  }
  &__logo {
    height: calc(100% - 1.25rem);
    @media (min-width: $desktop-min) {
      height: calc(100% - 2.5rem);
    }
    img, picture{
      height: 100%;
      max-width: unset;
    }
  }
  &__navigation {
    display: flex;
    align-items: center;
    height: 100%;
    &:hover > *:not(:hover){
      color: $c-text-muted;
    }
    & > *:hover{
      color: $c-text;
    }
  }
  &__search {
    margin: 0 10px 0 auto;
  }
  &__icons{
    display: flex;
    align-items: center;
  }
  &__icon {
    $this: &;
    margin-left: $spacer-big;
    &.sf-circle-icon {
      background-color: transparent;
      transition: background-color 0.3s ease;
      &:hover {
        background-color: $c-light;
        box-shadow: none;
      }
      &.sf-button {
        padding: 10px;
      }
      & .sf-icon {
        --icon-size: 1.25rem;
        --icon-color: #{$c-text};
        &:hover {
          --icon-color: #{$c-text};
        }
      }
    }
    &--is-active {
      &.sf-circle-icon {
        background-color: $c-primary;
        & .sf-icon {
          --icon-color: #{$c-white};
        }
      }
    }
  }
  &__navigation,
  &__search,
  &__icons{
    @media (max-width: $desktop-min) {
      display: none;
    }
  }
}
