@import "../variables";
.sf-hero {
    
    // OVERWRITES
    .sf-carousel {
        padding: 0;
    }

    .sf-arrow {
        &__button{
            transition: none;
            background-color: transparent;
            
            &:hover{
              box-shadow: none;
              background-color: transparent;
            }
          }
    }
}
