@import "../variables";

$header-mobile-background: $c-light !default;
$header-desktop-background: $c-white !default;
$header-mobile-height: 3.125rem !default;
$header-desktop-height: 5rem !default;
$header-desktop-padding: 1.875rem !default;

$header-navigation-padding: 2.5rem !default;
$header-navigation-margin: 2.5rem !default;
$header-navigation-list-font-size: $font-size-regular-mobile !default;
$header-navigation-list-font-weight: 500 !default;
$header-navigation-list-color: $c-dark !default;

$header-navigation-item__font-weight: 500 !default;

$header-icon-margin: 1rem !default;
$header-icon-container-width: 2.125rem !default;
$header-mobile-logo-width: 1.3125rem !default;
$header-desktop-logo-width: 2.125rem !default;

$header-logo-height: auto !default;

.sf-header {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  width: 100%;
  height: $header-mobile-height;
  padding: 0 $header-desktop-padding;
  box-sizing: border-box;
  background: $header-mobile-background;

  @media (min-width: $desktop-min) {
    justify-content: space-between;
    height: $header-desktop-height;
    background: $header-desktop-background;
  }

  &__icons {
    display: flex;
    align-items: center;
    height: 100%;
  }

  &__icon {
     margin: $header-icon-margin; 
     width: $header-icon-container-width;
     height: auto;
     padding: 6px;

     &--is-active {
       background-color: $c-primary;
       fill: $c-white;
       border-radius: 50%;
     }

    &:hover {
      background-color: $c-light;
      fill: $c-black;
      border-radius: 50%;
    }
  }

  &__search {
    margin-left: auto;
  }

  &__nav {
    display: flex; 
    height: 100%;

    &:hover > :not(:hover) {
      color: $c-gray;
    }
  }

  &__nav-item {
    display: flex;
    align-items: center;
    height: 100%;
    color: $c-dark; 
    font-size: $font-size-small-desktop; 
    font-weight: $header-navigation-item__font-weight; 
    margin-left: $header-navigation-margin;

    &:hover {
      border-bottom: 2px solid $c-dark;
    }
  }

  &__logo {
    width: $header-mobile-logo-width;
    height: $header-logo-height;

    @media (min-width: $tablet-min) {
      width: $header-desktop-logo-width;
    }
  }

  &__search,
  &__icons,
  &__nav-item {
    @media (max-width: $mobile-max) {
      display: none;
    }
  }
}
