@import "../variables";

$heading-border-color: #f1f2f4 !default;
$heading-line-height: 1.6 !default;
$heading__title-font-family: $body-font-family-secondary !default;
$heading__title-font-size: $font-size-extra-big-mobile !default;
$heading__title-font-size-desktop: $font-size-extra-big-desktop !default;
$heading__subtitle-font-family: $body-font-family-secondary !default;
$heading__subtitle-font-size: $font-size-regular-mobile !default;
$heading__subtitle-font-size-desktop: $font-size-big-desktop !default;

.sf-heading {
  padding-bottom: 10px;
  border-bottom: 1px solid $heading-border-color;
  line-height: $heading-line-height;
  text-align: left;
  @media screen and (min-width: $desktop-min) {
    padding-bottom: 0;
    border: 0;
    text-align: center;
  }
  &__title {
    font-family: $heading__title-font-family;
    font-size: $heading__title-font-size;
    font-weight: 500;
    @media screen and (min-width: $desktop-min) {
      font-size: $heading__title-font-size-desktop;
    }
  }
  &__subtitle {
    margin-top: 5px;
    font-family: $heading__subtitle-font-family;
    font-size: $heading__subtitle-font-size;
    font-weight: 300;
    @media screen and (min-width: $desktop-min) {
      font-size: $heading__subtitle-font-size-desktop;
    }
  }
  &--no-underline {
    padding-bottom: 0;
    border-bottom: 0;
  }
  &--left {
    text-align: left;
  }
  &--right {
    text-align: right;
  }
}
