@import "../variables";

$header-height: 3.125rem !default;
$header-padding: 0 1.875rem!default;
$header-desktop-padding: 0 $spacer-extra-big!default;
$header-desktop-height: 5rem !default;
$header-background-color: $c-light !default;
$header-desktop-background-color: $c-white !default;
$header-navigation-item-margin-left: 2.5rem !default;
$header-navigation-item-font-family: $font-size-small-desktop !default;
$header-navigation-item-font-size: $font-size-small-desktop !default;
$header-navigation-item-font-weight: 500 !default;

.sf-header-navigation-item {
  $this: &;
  position: relative;
  height: 100%;
  display: flex;
  align-items: center;
  margin-left: $header-navigation-item-margin-left;
  color: $c-text;
  font-family: $header-navigation-item-font-family;
  font-size: $header-navigation-item-font-size;
  font-weight: $header-navigation-item-font-weight;
  line-height: 1.6;
  cursor: pointer;
  transition: color 150ms linear;
  &::after{
    position: absolute;
    left: 0;
    z-index: 1;
    bottom: -2px;
    height: 2px;
    width: 100%;
    background-color: transparent;
    content: "";
    transition: background-color 150ms linear;
  }
  &:hover{
    &::after{
      background-color: $c-dark;
    }
  }
}
.sf-header {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  height: $header-height;
  padding: $header-padding ;
  background-color: $header-background-color;
  @media (min-width: $desktop-min) {
    justify-content: flex-start;
    height: $header-desktop-height;
    padding: $header-padding;
    background-color: $header-desktop-background-color;
  }
  &__logo {
    height: calc(100% - 1.25rem);
    @media (min-width: $desktop-min) {
      height: calc(100% - 2.5rem);
    }
    img, picture{
      height: 100%;
    }
  }
  &__navigation {
    display: flex;
    align-items: center;
    height: 100%;
    &:hover > *:not(:hover){
      color: $c-gray;
    }
  }
  &__search {
    margin: 0 10px 0 auto;
  }
  &__icons{
    display: flex;
    align-items: center;
  }
  &__icon{
    $this: &;
    padding: 10px;
    background-color: transparent;
    transition: background-color 0.3s ease;
    margin-left: $spacer-big;
    .sf-icon{
      --icon-color: #{$c-text};
    }
    &:hover{
      background-color: $c-light;
      box-shadow: none;
      .sf-icon{
        --icon-color: #{$c-text};
      }
    }
    &--is-active{
      background-color: $c-primary;
      .sf-icon{
        --icon-color: #{$c-white};
      }
    }
  }
  &__navigation,
  &__search,
  &__icons{
    @media (max-width: $desktop-min) {
      display: none;
    }
  }
}
