@import '../variables';
@import '~@glidejs/glide/src/assets/sass/glide.core';

$carousel-mobile-breakpoint: $mobile-max;
$controls-top: 50%;
$controls-width: 100%;
$bullets-position-offset: 16px;
$bullets-width: 100%;

.sf-hero{
  position: relative;

  &__slides{
    margin: 0;
  }

  &__controls{
    display: none;

    @media screen and (min-width: $carousel-mobile-breakpoint){
      position: absolute;
      top: $controls-top;
      left: 0;
      transform: translate3d(0, -$controls-top, 0);
      width: $controls-width;
      display: flex;
      justify-content: space-between;
    }
  }

  &__bullets{
    position: absolute;
    // bottom: $bullets-position-offset;
    width: $bullets-width;
    display: flex;
    justify-content: center;
    align-content: center;
    &-bottom {
      bottom: $bullets-position-offset;
    }
    &-top {
      top: $bullets-position-offset;
    }
  }

}