@import '../variables';

$item-height: 18rem;
$item-height-desktop: 30rem;
$item-width: 100%;
$item-padding: 1rem;
$item-padding-desktop: 5rem;
$item-bg-size: cover;
$item-bg-repeat: no-repeat;

$item-container-width: 50%;

$item-subtitle-color: $c-gray-secondary;
$item-subtitle-border-left: $item-subtitle-color solid 1px;
$item-subtitle-border: 0;
$item-subtitle-font: 10px;
$item-subtitle-font-desktop: 12px;
$item-subtitle-line_height-desktop: 17px;
$item-subtitle-line_height: 14px;
$item-subtitle-padding_left-desktop: 36px;
$item-subtitle-padding_left: 18px;

$item-title-font: 18px;
$item-title-font-desktop: 36px;
$item-title-line_height-desktop: 50px;
$item-title-line_height: 25px;
$item-title-color: $c-dark-primary;

.sf-hero-item {
    height: $item-height-desktop;
    width: $item-width;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: $item-padding-desktop;
    @media (max-width: $mobile-max) {
        padding: $item-padding;
        height: $item-height;
    }

    background-size: $item-bg-size;
    background-repeat: $item-bg-repeat;

    &__container {
        width: $item-container-width;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: flex-start;
    }

    &__subtitle {
        color: $item-subtitle-color;
        border: $item-subtitle-border-left;
        border-top: $item-subtitle-border;
        border-right: $item-subtitle-border;
        border-bottom: $item-subtitle-border;
        font-size: $item-subtitle-font-desktop;
        line-height: $item-subtitle-line_height-desktop;
        padding-left: $item-subtitle-padding_left-desktop;
        @media (max-width: $mobile-max) {
            font-size: $item-subtitle-font;
            line-height: $item-subtitle-line_height;
            padding-left: $item-subtitle-padding_left;
        }
    }

    &__title {
        font-size: $item-title-font-desktop;
        line-height: $item-title-line_height-desktop;
        color: $item-title-color;
        @media (max-width: $mobile-max) {
            font-size: $item-title-font;
            line-height: $item-title-line_height;
        }
    }

}

.align-end {
    align-items: flex-end;
}
