@import "../variables";

$image__overlay-bgc: rgba(29, 31, 34, 0.8) !default;
$image__overlay-c: $c-white !default;

.sf-image {
  position: relative;
  overflow: hidden;
  width: 100%;
  max-width: calc(var(--width) * 1px);
  line-height: 0;
  &::before{
    display: block;
    content: "";
    padding-top: calc(var(--height) / var(--width) * 100%);
  }
  img{
    position: absolute;
    top: 50%;
    left:0;
    transform: translate3d(0, -50%, 0);
    display: block;
    max-width: 100%;
    height: auto;
    img{
      display: inherit;
      max-width: inherit;
      height: inherit;
    }
  }
  &--no-size{
    width: auto;
    max-width: unset;
    overflow: unset;
    &::before{
      content: unset;
    }
    img{
      position: static;
      transform: unset;
    }
  }
  &__overlay{
    position: absolute;
    top:0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: $spacer-big;
    background-color: rgba(29, 31, 34, 0.8);
    color: #FFF;
    font-family: $body-font-family-secondary;
    line-height: 1.6;
    @media (min-width: $desktop-min){
      font-size: $font-size-regular-desktop;
    }
  }
}
