@import '../variables';

$label-margin-bottom: 0.5rem !default;
$label-color: $c-dark-primary !default;
$label-font-family: $body-font-family-primary !default;
$label-font-weight: $body-font-weight-primary !default;
$label-line-height: 1.5 !default;

.sf-label {
  display: block;
  margin-bottom: $label-margin-bottom;
  color: $label-color;
  font-family: $label-font-family;
  font-weight: $label-font-weight;
  line-height: $label-line-height;
}
