@import "../variables";

.sf-list {
  list-style-type: none;
  padding-left: 0;
  margin: 0;
  .sf-list__item {
    font-size: $font-size-big-mobile;
    @media (min-width: $desktop-min) {
      font-size: $font-size-small-desktop;
    }
  }
}
