@import "../variables";

$loader__spinner-color: $c-primary !default;
$loader__overlay-color: white !default;

.sf-loader {
  position: relative;
  width: 100%;
  height: 100%;
  &__overlay {
    background: $loader__overlay-color;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__spinner {
    stroke: $c-primary;
  }
  &--top {
    .sf-loader__overlay {
      align-items: flex-start;
      box-sizing: border-box;
      padding-top: 50px;
    }
  }
}
