@import '../variables';

$loader__spinner-color: $c-accent-primary;
$loader__overlay-color: white;

.sf-loader {
  position: relative;
  width: 100%;
  height: 100%;
  &__overlay {
    background: $loader__overlay-color;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__spinner {
    stroke: $c-accent-primary;
  }
}        
        
