@import "../variables";

$mega-menu__title-font-family: $heading-font-family !default;
$mega-menu__title-font-size: $font-size-big-mobile !default;
$mega-menu__title-font-size-desktop: $font-size-extra-big-desktop !default;
$mega-menu__title-font-weight: 500 !default;
$mega-menu__title-line-height: 1.6 !default;
$mega-menu__section-padding: 4rem !default;

%title {
  padding: $spacer-big 0;
  font-family: $mega-menu__title-font-family;
  font-size: $mega-menu__title-font-size;
  font-weight: $mega-menu__title-font-weight;
  line-height: $mega-menu__title-line-height;

  @media (min-width: $desktop-min) {
    margin-bottom: $spacer-big;
    font-size: $mega-menu__title-font-size-desktop;
  }
}

.sf-mega-menu-column {
  &__title {
    margin-bottom: $spacer-medium;
  }
}

.sf-mega-menu {
  overflow: hidden;

  @media (min-width: $desktop-min) {
    display: flex;
    justify-content: space-between;
  }

  &__section {
    display: flex;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    transition: transform 150ms ease-in-out;

    &--is-active {
      transform: translateX(-100%);
      @media (min-width: $desktop-min) {
        flex-direction: column;
        transform: translateX(0);
      }
    }

    @media (min-width: $desktop-min) {
      padding: 0 $mega-menu__section-padding;
    }
  }

  &__custom-section {
    padding: $spacer-big;
    @media (min-width: $desktop-min) {
      display: flex;
      justify-content: space-between;
      width: 100%;
      padding: 0 $mega-menu__section-padding;
      border-left: 2px solid $c-light;
    }
  }
  &__sidebar,
  &__content {
    box-sizing: border-box;
    flex: 0 0 100%;
    width: 100%;
  }

  &__sidebar-content {
    display: flex;
    box-sizing: border-box;
    justify-content: space-between;
    width: 100%;
  }
  &__headers {
    display: flex;
    flex-direction: column;
    @media (min-width: $desktop-min) {
      display: none;
    }
  }
  &__title {
    @extend %title;
  }
  &__list-item {
    padding: 0.5rem 0;
    @media (min-width: $desktop-min) {
      padding: 0;
    }
  }
  &__menu-item {
    padding: 0.5rem 0;
    font-weight: $mega-menu__title-font-weight;
    color: $c-dark;
    border-bottom: 1px solid $c-light;
      @media (min-width: $desktop-min) {
        border: none;
    }
  }
}
