@import "../variables";

$mega-menu__background-color: $c-white !default;
$mega-menu__padding-desktop: 2.5rem !default;

.sf-mega-menu {
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  width: 100%;
  padding: $mega-menu__padding-desktop;
  background-color: $mega-menu__background-color;

  &-column {
    display: flex;
    width: 100%;
  }
}
