@import '../variables';

$menu-item-color: $c-gray !default;
$menu-item-font-family: $body-font-family-secondary !default;
$menu-item-font-size: $font-size-big-mobile !default;
$menu-item-font-size-desktop: $font-size-regular-desktop !default;
$menu-item-font-weight: $body-font-weight-secondary !default;
$menu-item-line-height: 1.6 !default;

.sf-menu-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: $menu-item-color;
  font-family: $menu-item-font-family;
  font-size: $menu-item-font-size;
  font-weight: $menu-item-font-weight;
  line-height: $menu-item-line-height;
  @media screen and (min-width: $desktop-min) {
    font-size: $menu-item-font-size-desktop;
  }
  &__count {
    margin-left: auto;
  }
  &__mobile-nav-icon {
    display: flex;
    margin-left: $spacer-big;
    @media screen and (min-width: $desktop-min) {
      display: none;
    }
  }
}

