@import '../variables';

$modal-background-color: $c-white !default;
$modal-width: 430px !default;
$modal-height: auto !default;
$modal-padding: 2.5em 5em !default;
$modal-border: solid 1px rgba($c-black, 0.5) !default;

.sf-modal {
  &__container {
    position: fixed;
    top: 50%;
    left: 50%;
    z-index: 1;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-content: space-between;
    box-sizing: border-box;
    background-color: $modal-background-color;
    width: $modal-width;
    max-width: 100%;
    height: $modal-height;
    padding: $modal-padding;
    border: $modal-border;
  }
  &__close {
    background: none;
    border: none;
    position: absolute;
    right: 20px;
    top: 20px;
    cursor: pointer;
    &:focus {
      outline: none;
    }
  }
}
