@import '../variables';
$notification__message-padding-left: 0.625rem !default;
$notification--warning-color: #d12727 !default;
$notification--alert-color: #0468db !default;
$notification-padding: $spacer-big !default;
$notification__title-font-size: $h2-font-size-desktop !default;
.sf-notification {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    box-sizing: border-box;
    border-radius: 15px;
    padding: $notification-padding;
    &__container {
        position: relative;
        background: rgba(0, 0, 0, 0.8);
        color: $c-white;
        @media screen and (min-width: $desktop-min) {
            display: flex;
            flex-direction: row;
            align-items: center;
            width: 500px;
            min-width: 25%;
            border: 0;
            box-shadow: 0px 8px 11px rgba(0, 0, 0, 0.1);
        }
    }
    &__content {
        font-family: $body-font-family-primary;
        font-style: normal;
        font-weight: $body-font-weight-primary;
        font-size: $notification__title-font-size;
        line-height: 24px;
        letter-spacing: 0.02em;
        @media (min-width: $desktop-min) {
            font-size: $notification__title-font-size;
        }
    }
    &__title {
        font-weight: 600;
        line-height: 1.38;
    }
    &__message {
        margin-top: 5px;
        line-height: 1.64;
        font-weight: 300;
    }
    &__icon {
        display: none;
        @media (min-width: $desktop-min) {
            display: block;
            padding: $spacer;
        }
    }
    &__close {
        position: absolute;
        right: 4px;
        top: 4px;
        @media (min-width: $desktop-min) {
            font-size: $notification__title-font-size;
            right: 10px;
            top: 10px;
        }
    }
    &--info {
        background-color: $c-dark-primary;
    }
    &--alert {
        background-color: $notification--alert-color;
    }
    &--warning {
        background-color: $notification--warning-color;
    }
    &--success {
        background-color: $c-green-primary;
    }
}