@import "../variables";

$notification-max-width-desktop: 35rem !default;
$notification-border-radius-desktop: 5px !default;
$notification-font-family: $body-font-family-primary !default;
$notification-font-family-desktop: $body-font-family-secondary !default;
$notification-font-size: $font-size-regular-desktop !default;
$notification-font-weight: $body-font-weight-secondary !default;
$notification-font-weight-desktop: $body-font-weight-primary !default;
$notification-box-shadow-desktop: 0 8px 11px rgba(0, 0, 0, 0.1) !default;
$notification__title-font-size-desktop: $font-size-big-desktop !default;
$notification__title-font-weight: 300 !default;
$notification__title-font-weight-desktop: 700 !default;
$notification__action-font-weight: 500 !default;

.sf-notification {
  $this: &;
  position: relative;
  box-sizing: border-box;
  display: flex;
  align-items: flex-start;
  padding: $spacer-big;
  padding-right: $spacer-big * 5;
  font-family: $notification-font-family;
  font-size: $notification-font-size;
  font-weight: $notification-font-weight;
  line-height: 1.6;
  opacity: 0.8;
  @media (min-width: $desktop-min) {
    max-width: $notification-max-width-desktop;
    align-items: center;
    padding: $spacer-medium;
    border-radius: $notification-border-radius-desktop;
    font-family: $notification-font-family-desktop;
    font-weight: $notification-font-weight-desktop;
    opacity: 1;
    box-shadow: $notification-box-shadow-desktop;
  }
  &__title {
    display: inline;
    font-weight: $notification__title-font-weight;
    &::after {
      content: " ";
      @media (min-width: $desktop-min) {
        content: none;
      }
    }
    @media (min-width: $desktop-min) {
      display: block;
      font-size: $notification__title-font-size-desktop;
      font-weight: $notification__title-font-weight-desktop;
    }
  }
  &__action {
    display: none;
    @media (min-width: $desktop-min) {
      display: inline;
      padding: 0;
      margin-left: $spacer-big;
      border: 0;
      color: inherit;
      background-color: transparent;
      font: inherit;
      text-decoration: underline;
      outline: none;
    }
  }
  &__icon {
    display: none;
    @media (min-width: $desktop-min) {
      display: block;
      margin-right: $spacer-big;
    }
  }
  &__close {
    position: absolute;
    right: $spacer-big;
    top: $spacer-big;
    cursor: pointer;
    @media (min-width: $desktop-min) {
      right: $spacer-medium;
      top: $spacer-medium;
    }
  }
  @each $name, $pair in $colors-map {
    $bg: map-get($pair, "bg");
    $color: map-get($pair, "text");
    &--#{$name} {
      background-color: $bg;
      color: $color;
      #{$this}__icon {
        fill: $color;
      }
    }
  }
}
