@import "../variables";

$pagination-font-family: $body-font-family-secondary !default;
$pagination-font-size: $font-size-big-mobile !default;
$pagination-font-size-desktop: $font-size-big-desktop !default;
$pagination-font-weight: $body-font-weight-secondary !default;
$pagination-line-height: 1.6 !default;
$pagination__item-margin: 0 ($spacer-big / 4) !default;
$pagination__item-margin-desktop: 0 ($spacer-big / 2) !default;
$pagination__item-color: $c-text-muted !default;
$pagination__button--current-color: $c-text !default;
$pagination__button--navigation-margin: 3rem !default;
$pagination__button-transition: color 150ms ease-in-out,
  border-color 150ms ease-in-out !default;

.sf-pagination {
  font-family: $pagination-font-family;
  font-size: $pagination-font-size;
  font-weight: $pagination-font-weight;
  line-height: $pagination-line-height;
  @media screen and (min-width: $desktop-min) {
    font-size: $pagination-font-size-desktop;
  }
  &__list {
    display: flex;
    align-items: center;
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  &__item {
    display: flex;
    align-items: center;
    margin: $pagination__item-margin;
    color: $pagination__item-color;
    @media screen and (min-width: $desktop-min) {
      margin: $pagination__item-margin-desktop;
    }
  }
  &__button {
    padding: 0;
    border: 0;
    background-color: transparent;
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
    line-height: inherit;
    cursor: pointer;
    color: inherit;
    outline: none;
    border-bottom: 1px solid transparent;
    transition: $pagination__button-transition;
    &--prev {
      margin-right: $pagination__button--navigation-margin;
    }
    &--next {
      margin-left: $pagination__button--navigation-margin;
    }
    &--current {
      color: $pagination__button--current-color;
      border-color: $pagination__button--current-color;
    }
    &[disabled] {
      cursor: default;
      opacity: 0.7;
    }
  }
}
