@import "../variables";

$property-font-family: $body-font-family-secondary !default;
$property-font-size: $font-size-regular-mobile !default;
$property-font-size-desktop: $font-size-regular-desktop !default;
$property-font-weight: $body-font-weight-secondary !default;
$property-line-height: 1.6 !default;
$property__name-color: $c-gray-variant !default;
$property__value-font-weight: 500 !default;
$property__value-font-weight-desktop: $body-font-weight-secondary !default;

.sf-property {
  $this: &;

  font-family: $property-font-family;
  font-size: $property-font-size;
  font-weight: $property-font-weight;
  line-height: 1.6;
  @media screen and (min-width: $desktop-min) {
    font-size: $property-font-size-desktop;
  }
  &__name {
    margin-right: $spacer;
    color: $property__name-color;
  }
  &__value {
    font-weight: $property__value-font-weight;
    @media screen and (min-width: $desktop-min) {
      font-weight: $property__value-font-weight-desktop;
    }
  }
  &--full-width {
    display: flex;
    justify-content: space-between;
    align-content: center;
    #{$this}__name {
      text-transform: uppercase;
    }
  }
}
