@import '../variables';

$product-card-horizontal-padding-content: $spacer-small !default;
$product-card-horizontal-padding: $spacer-medium !default;
$product-card-horizontal-padding-desktop: $spacer-big !default;
$product-card-horizontal__image-max-width: 85px !default;
$product-card-horizontal__image-max-width-desktop: 140px !default;
$product-card-horizontal__price-font-weight: 500 !default;

.sf-product-card-horizontal {
  $this: &;
  position: relative;
  display: flex;
  box-sizing: border-box;
  padding: $product-card-horizontal-padding-content;
  &:hover {
    #{$this}__wishlist-icon {
      opacity: 1;
    }
    #{$this}__picture {
        opacity: 0;
        &:nth-child(even){
          opacity: 1;
        }
      }
  }
  &__image-wrapper {
    position: relative;
    max-width: $product-card-horizontal__image-max-width;
    width: 100%;
    @media (min-width: $desktop-min) {
      max-width: $product-card-horizontal__image-max-width-desktop;
    }
  }
  &__image,
  &__picture{
    transition: opacity 150ms ease-in-out;
    &:nth-child(even){
      position: absolute;
      top: 0;
      left: 0;
      opacity: 0;
    }
  }
  &__main {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
  }
  &__header {
    width: 100%;
    padding: 0 $product-card-horizontal-padding-desktop*2 0 $product-card-horizontal-padding;
    @media (min-width: $desktop-min) {
      display: flex;
      padding: 0 0 0 $product-card-horizontal-padding-desktop;
      justify-content: space-between;
    }
  }
  &__price {
      font-weight: $product-card-horizontal__price-font-weight;
  }
  &__wishlist-icon {
    position: absolute;
    right: $product-card-horizontal-padding-content;
    padding: 0;
    border: 0;
    background-color: transparent;
    cursor: pointer;
    outline: none;
    transition: opacity 150ms ease-in-out;
    @media (min-width: $desktop-min) {
      opacity: 0;
      top: $product-card-horizontal-padding-content;
      right: $product-card-horizontal-padding-content;
    }
    &#{$this}--on-wishlist {
      opacity: 1;
    }
  }
  &__title {
    color: $c-text;
    @media (max-width: $desktop-min) {
      font-size: $font-size-small-desktop;
      font-weight: $body-font-weight-primary;
    }
  }
  &__description {
    margin: 0;
  }
  &__details {
    display: flex;
    flex: 1;
    align-items: flex-end;
    justify-content: space-between;
    padding-left: $product-card-horizontal-padding;
    @media (min-width: $desktop-min) {
      flex-direction: column;
      align-items: flex-start;
      padding: 0 $product-card-horizontal-padding-desktop;
    }
  }
  &__property {
    &:last-of-type {
      margin-top: $spacer;
    }
    @media (max-width: $desktop-min) {
      .sf-property__name {
        display: none;
      }
    }
  }
  &__reviews {
    display: flex;
    &-count {
      text-decoration: underline;
    }
  }
  &__rating {
    padding-right: $spacer;
  }
  &__actions {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end;
    .sf-button {
      padding-bottom: $product-card-horizontal-padding-desktop;
    }
  }
}
