@import '../variables';

:root {
  --product-card-horizontal-padding-content: var(--spacer-small);
  --product-card-horizontal-padding: var(--spacer-medium);
  --product-card-horizontal-padding-desktop: var(--spacer-big);
  --product-card-horizontal__image-max-width: 85px;
  --product-card-horizontal__image-max-width-desktop: 140px;
  --product-card-horizontal__price-font-weight: 500;
}

.sf-product-card-horizontal {
  $this: &;
  box-sizing: border-box;
  position: relative;
  display: flex;
  padding: var(--product-card-horizontal-padding-content);
  &:hover {
    #{$this}__picture {
        opacity: 0;
        &:nth-child(even){
          opacity: 1;
        }
      }
  }
  &__image-wrapper {
    position: relative;
    max-width: var(--product-card-horizontal__image-max-width);
    width: 100%;
    @media (min-width: $desktop-min) {
      max-width: var(--product-card-horizontal__image-max-width-desktop);
    }
  }
  &__image,
  &__picture{
    transition: opacity 150ms ease-in-out;
    &:nth-child(even){
      position: absolute;
      top: 0;
      left: 0;
      opacity: 0;
    }
  }
  &__main {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
  }
  &__header {
    width: 100%;
    padding: 0 calc(var(--product-card-horizontal-padding-desktop)*2) 0 var(--product-card-horizontal-padding);
    @media (min-width: $desktop-min) {
      display: flex;
      padding: 0 0 0 var(--product-card-horizontal-padding-desktop);
      justify-content: space-between;
    }
  }
  &__price {
      font-weight: var(--product-card-horizontal__price-font-weight);
  }
  &__wishlist-icon {
    position: absolute;
    right: var(--product-card-horizontal-padding-content);
    padding: 0;
    border: 0;
    background-color: transparent;
    cursor: pointer;
    outline: none;
    transition: opacity 150ms ease-in-out;
    &#{$this}--on-wishlist {
      opacity: 1;
    }
  }
  &__title {
    color: var(--c-text);
    @media (max-width: $desktop-min) {
      font-size: var(--font-size-small-desktop);
      font-weight: var(--body-font-weight-primary);
    }
  }
  &__description {
    margin: 0;
  }
  &__details {
    display: flex;
    flex: 1;
    align-items: flex-end;
    justify-content: space-between;
    padding-left: var(--product-card-horizontal-padding);
    @media (min-width: $desktop-min) {
      flex-direction: column;
      align-items: flex-start;
      padding: 0 var(--product-card-horizontal-padding-desktop);
    }
  }
  &__property {
    &:last-of-type {
      margin-top: var(--spacer);
    }
    @media (max-width: $desktop-min) {
      .sf-property__name {
        display: none;
      }
    }
  }
  &__reviews {
    display: flex;
    &-count {
      text-decoration: underline;
    }
  }
  &__rating {
    padding-right: var(--spacer);
  }
  &__actions {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end;
    .sf-button {
      padding-bottom: var(--product-card-horizontal-padding-desktop);
    }
  }
}
