@import "../variables";

$price-font-family: $body-font-family-primary !default;
$price-font-size: $font-size-big-mobile !default;
$price-font-size-desktop: $font-size-big-desktop !default;
$price-font-weight: $body-font-weight-secondary !default;
$price-line-height: 1.6 !default;
$price__old-font-size: $font-size-small-mobile !default;
$price__old-font-size-desktop: $font-size-small-desktop !default;
$price--big-font-size: $font-size-big-desktop !default;
$price--big-font-size-desktop: $font-size-extra-big-desktop !default;
$price--big__old-font-size: $font-size-regular-mobile !default;
$price--big__old-font-size-desktop: $font-size-regular-desktop !default;

.sf-price {
  $this:&;
  font-family: $price-font-family;
  line-height: $price-line-height;
  font-weight: $price-font-weight;
  font-size: $price-font-size;
  @media (min-width: $desktop-min) {
    font-size: $price-font-size-desktop;
  }
  &__regular {
    text-decoration: none;
  }
  &__special {
    color: $c-danger;
    text-decoration: none;
    margin-right: $spacer-small;
  }
  &__old {
    color: $c-gray;
    font-size: $price__old-font-size;
    @media (min-width: $desktop-min) {
      font-size: $price__old-font-size-desktop;
    }
    text-decoration: line-through;
  }
  &--big{
    font-size: $price--big-font-size;
    @media (min-width: $desktop-min) {
      font-size: $price--big-font-size-desktop;
    }
    #{$this}__old{
      font-size: $price--big__old-font-size;
      @media (min-width: $desktop-min) {
        font-size: $price--big__old-font-size-desktop;
      }
    }
  }
}
