@import "../variables";

$product-card-max-width: 200px!default;
$product-card-max-width-desktop: 240px!default;
$product-card-padding:$spacer-small!default;
$product-card-padding-desktop:$spacer-big!default;
$product-card-hover-box-shadow: 0px 4px 35px rgba(168, 172, 176, 0.19) !default;
$product-card__image-background-color: $c-bg-primary !default;
$product-card__image-blend-mode: darken !default;

.sf-product-card {
  $this: &;
  position: relative;
  box-sizing: border-box;
  max-width: $product-card-max-width;
  padding: $product-card-padding;
  background-color: $c-white;
  transition: box-shadow 150ms ease-in-out;
  @media (min-width: $desktop-min){
    max-width: $product-card-max-width-desktop;
    padding: $product-card-padding-desktop;
  }
  &:hover{
    @media (min-width: $desktop-min) {
      box-shadow: $product-card-hover-box-shadow;
    }
    #{$this}__wishlist-icon{
      opacity: 1;
    }
  }
  &__title{
    font-family: $body-font-family-secondary;
    font-size: $font-size-regular-mobile;
    font-weight: 300;
    line-height: 1.6;
    margin: $spacer-small 0;
    @media (min-width: $desktop-min){
      margin: $spacer 0 $spacer-small;
      font-size: $font-size-regular-desktop;
    }
  }
  &__image{
    display: flex;
    align-items: center;
    align-content: center;
    background-color: $product-card__image-background-color;
    img {
      max-width: 100%;
      mix-blend-mode: $product-card__image-blend-mode;
      background-color: $c-light-primary;
    }
  }
  &__reviews{
    display: flex;
    align-items: center;
  }
  &__rating {
    display: inline-flex;
  }
  &__reviews-count {
    font-size: $font-size-regular-mobile;
    margin-left: 0.5rem;
  }
  &__wishlist-icon{
    position: absolute;
    top: $product-card-padding * 4;
    right: $product-card-padding * 4;
    z-index: 1;
    padding: 0;
    border: 0;
    background-color: transparent;
    cursor: pointer;
    outline: none;
    transition: opacity 150ms ease-in-out;
    @media (min-width: $desktop-min){
      opacity: 0;
      top: $product-card-padding-desktop * 2;
      right: $product-card-padding-desktop * 2;
    }
    &#{$this}--on-wishlist{
      opacity: 1;
    }
  }
}
