@import "../variables";
$product-card-max-width: 200px !default;
$product-card-max-width-desktop: 240px !default;
$product-card-padding: $spacer-small !default;
$product-card-padding-desktop: $spacer-big !default;
$product-card-hover-box-shadow: 0px 4px 35px rgba(168, 172, 176, 0.19) !default;
$product-card__image-background-color: $c-light !default;
$product-card__image-blend-mode: darken !default;
$product-card__pictures-height: 180px !default;
$product-card__pictures-height-desktop: 250px !default;
.sf-product-card {
  $this: &;
  position: relative;
  box-sizing: border-box;
  max-width: $product-card-max-width;
  padding: $product-card-padding;
  background-color: $c-white;
  &::after {
    content: "";
    @media (min-width: $desktop-min) {
      transition: box-shadow 150ms ease-in-out;
    }
  }
  &:hover {
    @media (min-width: $desktop-min) {
      z-index: 1;
    }
    &::after {
      @media (min-width: $desktop-min) {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: -1;
        content: "";
        box-shadow: $product-card-hover-box-shadow;
      }
    }
    #{$this}__picture {
      &:last-child{
        opacity: 1;
        transform: translateX(-100%);
      }
    }
    #{$this}__wishlist-icon {
      opacity: 1;
    }
    #{$this}__add-button {
      opacity: 1;
    }
  }
  @media (min-width: $desktop-min) {
    max-width: $product-card-max-width-desktop;
    padding: $product-card-padding-desktop;
  }
  &__link {
    outline: none;
  }
  &__title {
    font-family: $body-font-family-secondary;
    font-size: $font-size-regular-mobile;
    font-weight: 300;
    line-height: 1.6;
    margin: $spacer-small 0;
    @media (min-width: $desktop-min) {
      margin: $spacer 0 $spacer-small;
      font-size: $font-size-regular-desktop;
    }
  }
  &__image-wrapper {
    position: relative;
  }
  &__pictures {
    display: flex;
    overflow: hidden;
  }
  &__picture{
    flex: 0 0 100%;
  }
  &__image,
  &__picture{
    background-color: $product-card__image-background-color;
    img {
      mix-blend-mode: $product-card__image-blend-mode;
    }
  }
  &__add-button {
    display: none;
    @media (min-width: $desktop-min) {
      position: absolute;
      cursor: pointer;
      transform: translateY(-50%);
      right: 1rem;
      opacity: 0;
      display: flex;
      padding: $spacer-medium;
      &--icons-enter-active {
        animation: bounce .4s;
      }
      &--icons-leave-active {
        animation: bounce .4s reverse;
      }
    }
  }
  &__reviews {
    display: flex;
    align-items: center;
  }
  &__rating {
    display: inline-flex;
  }
  &__reviews-count {
    font-size: $font-size-regular-mobile;
    margin-left: 0.5rem;
  }
  &__wishlist-icon {
    position: absolute;
    top: $product-card-padding * 4;
    right: $product-card-padding * 4;
    padding: 0;
    border: 0;
    background-color: transparent;
    cursor: pointer;
    outline: none;
    transition: opacity 150ms ease-in-out;
    @media (min-width: $desktop-min) {
      opacity: 0;
      top: $product-card-padding-desktop * 2;
      right: $product-card-padding-desktop * 2;
    }
    &#{$this}--on-wishlist {
      opacity: 1;
    }
  }
}
@keyframes bounce {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}
