@import '../variables';

$product-option-font-family: $body-font-family-secondary !default;
$product-option-font-size: $font-size-regular-mobile  !default;
$product-option-font-size-desktop: $font-size-regular-desktop !default;
$product-option-font-weight: $body-font-weight-secondary !default;
$product-option-line-height: 1.6 !default;
$product-option__color-size: 1.125rem !default;

.sf-product-option {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: $product-option-font-family;
  font-size: $product-option-font-size;
  font-weight: $product-option-font-weight;
  line-height: $product-option-line-height;
  @media screen and (min-width: $desktop-min) {
    font-size: $product-option-font-size-desktop;
  }
  &__label {
    flex-grow: 1;
  }
  &__color {
    width: $product-option__color-size;
    height: $product-option__color-size;
    margin-right: $spacer-big;
    border: 1px solid $c-gray-variant;
  }
}
