@import "../variables";

$rating__icon-positive-fill: $c-primary !default;
$rating__icon-negative-fill: $c-dark !default;

.sf-rating {
  display: flex;
  &__icon-positive {
    --icon-color: #{$rating__icon-positive-fill};
  }
  &__icon-negative {
    --icon-color: #{$rating__icon-negative-fill};
  }
}
