@import "../variables";

$radio-font-family: $body-font-family-secondary !default;
$radio-font-size: $font-size-extra-small-desktop !default;
$radio-font-weight: $body-font-weight-primary !default;
$radio-line-height: 1.6 !default;
$radio--is-active-background: $c-light;
$radio__checkmark-size: 1.4375rem !default;
$radio__checkmark-border-color: $c-gray-variant !default;
$radio--is-active__checkmark-border-color: $c-primary !default;
$radio__label-font-size: $font-size-big-desktop !default;
$radio__label-font-weight: 500 !default;

.sf-radio{
  $this: &;
  display: flex;
  font-family: $radio-font-family;
  font-size: $radio-font-size;
  font-weight: $radio-font-weight;
  line-height: $radio-line-height;
  transition: background-color 0.25s cubic-bezier(1, 0.5, 0.8, 1);
  &.is-active{
    background-color: $radio--is-active-background;
  }
  &--transparent{
    &.is-active{
      background-color: transparent;
    }
  }
  &__input{
    position: absolute;
    opacity: 0;
  }
  &__container{
    flex: 1;
    display: flex;
    padding: $spacer-big;
    cursor: pointer;
    &:hover{
      #{$this}__checkmark{
        border: 1px solid $c-primary;
        .is-active & {
          border: 9px solid $c-primary;
        }
      }
    }
  }
  &__checkmark{
    box-sizing: border-box;
    width: $radio__checkmark-size;
    height: $radio__checkmark-size;
    border: 1px solid $radio__checkmark-border-color;
    border-radius: 50%;
    transition: border 0.25s cubic-bezier(1, 0.5, 0.8, 1);
    .is-active &{
      border: 9px solid $radio--is-active__checkmark-border-color;
    }
  }
  &__content{
    flex: 1;
    margin: 0 0 0 $spacer-big;
  }
  &__label{
    display: flex;
    font-size: $radio__label-font-size;
    font-weight: $radio__label-font-weight;
  }
  &__description{
    margin: $spacer-medium 0 0 0;
  }
}
