@import '../variables';

$rating__icon-positive-fill : $c-green-primary;
$rating__icon-negative-fill : $c-dark-primary;

.sf-rating {
  &__icon-positive {
    fill: $rating__icon-positive-fill;
  }
  &__icon-negative {
    fill: $rating__icon-negative-fill;
  }
}
