@import '../variables';

$review__div_tags-margin-bottom: $spacer-medium !default;
$review__div_tags-display-inline-block: inline-block !default;
$reivew__margin-left: $spacer-medium !default;
$review__author-text-transform: capitalize !default;
$review__author-font-weight: 450 !default;
$review__author-font-size: $font-size-extra-big-desktop !default;
$review__author-font-family: $body-font-family-primary !default;
$review__author-color: $c-text-primary !default;
$review__date-text-transform: capitalize !default;
$review__date-font-weight: $body-font-weight-primary !default;
$review__date-font-size: $font-size-small-desktop !default;
$review__date-font-family: $body-font-family-secondary !default;
$review__date-color: $c-dark-secondary !default;
$review__message-font-weight: $body-font-weight-primary !default;
$review__message-font-size: $font-size-big-desktop !default;
$review__message-color: $c-dark-secondary !default;
$review__message_read_more-font-weight: $body-font-weight-primary !default;
$review__message_read_more-font-size: $font-size-big-desktop !default;
$review__message_read_more-color: $c-green-primary !default;
$review__message_hide-font-weight: $body-font-weight-primary !default;
$review__message_hide-font-size: $font-size-big-desktop !default;
$review__message_hide-color: $c-green-primary !default;

.sf-review {
    position: relative;
    &__author {
        text-transform: $review__author-text-transform;
        font-weight: $review__author-font-weight;
        font-size: $review__author-font-size;
        font-family: $review__author-font-family;
        color: $review__author-color;
        margin-bottom: $review__div_tags-margin-bottom;
    }
    &__rating {
        display: $review__div_tags-display-inline-block;
    }
    &__info {
        margin-bottom: $review__div_tags-margin-bottom;
    }
    &__date {
        text-transform: $review__date-text-transform;
        font-weight: $review__date-font-weight;
        font-size: $review__date-font-size;
        color: $review__date-color;
    }
    &__message {
        font-weight: $review__message-font-weight;
        font-size: $review__message-font-size;
        color: $review__message-color;
    }
    &__message_read_more {
        font-weight: $review__message_read_more-font-weight;
        font-size: $review__message_read_more-font-size;
        color: $review__message_read_more-color;
    }
    &__message_hide {
        font-weight: $review__message_hide-font-weight;
        font-size: $review__message_hide-font-size;
        color: $review__message_hide-color;
    }
    &__display-inline-block {
        display: $review__div_tags-display-inline-block;
    }
    &__margin-left {
        margin-left: $reivew__margin-left; 
    }
}