@import '../variables';

.sf-row {
  @media screen and (min-width: $desktop-min){
    display: flex;
    margin: 40px 0;
  }
}

.sf-row-column{
  margin-top: $spacer-big;
  @media screen and (min-width: $desktop-min){
    flex: 1;
    display: flex;
    flex-direction: column;
    margin-top: 0;
  }
  & + & {
    @media screen and (min-width: $desktop-min) {
      margin-left: $spacer-extra-big;
    }
  }
  & > * {
    @media screen and (min-width: $desktop-min) {
      flex: 1;
    }
  }
}
