@import '../variables';

.sf-row {
  display: flex;
  flex-wrap: wrap;
}

.sf-row-column{
  flex: 0 0 100%;
  display: flex;
  flex-direction: column;
  @media screen and (min-width: $desktop-min){
    flex: 1;
  }
  & + & {
    margin-left: 0;
    @media screen and (min-width: $desktop-min){
      margin-left: 40px;
    }
  }
  & > * {
    flex: 1;
  }
}
