@import '../variables';

$sf-row-spacer-y: $spacer-extra-big!default;
$sf-row-spacer-x: $spacer-extra-big!default;

.sf-row {
  @media screen and (min-width: $desktop-min){
    display: flex;
    margin: $sf-row-spacer-y 0;
  }
}

.sf-row-column{
  margin-top: $sf-row-spacer-y / 2;
  @media screen and (min-width: $desktop-min){
    flex: 1;
    display: flex;
    flex-direction: column;
    margin-top: 0;
  }
  & + & {
    @media screen and (min-width: $desktop-min) {
      margin-left: $sf-row-spacer-x;
    }
  }
  & > * {
    @media screen and (min-width: $desktop-min) {
      flex: 1;
    }
  }
}
