.sf-scrollable {
    --content-height: 2rem;

    &__content {
        max-height: var(--content-height);
        max-width: 13.5rem;
        overflow-y: scroll;
    }
    &__button {
        margin-top: 1rem;
    }

}