@import "~simplebar/dist/simplebar.min.css";
@import "../variables";

.sf-scrollable {
  --max-height: 5rem;
  &__content {
    max-height: var(--max-height);
    .simplebar-scrollbar:before {
      width: 0.25rem;
      background-color: $c-dark;
      border-radius: 10px;
    }
    .simplebar-visible:before {
      opacity: 1;
    }
  }
  &__button {
    margin-top: $spacer;
  }
}
