@import '../variables';

$select-option-padding: 0.75rem 1.875rem !default;

$select-color-primary: $c-green-primary !default;
$select-color-secondary: $c-light-primary !default;

$select-option-font-size: $font-size-big-mobile !default;
$select-option-font-family: $body-font-family-secondary !default;

.sf-select-option {
  display: flex;
  align-items: center;
  padding: $select-option-padding;
  user-select: none;
  &--active{
    color: #FFF;
    background-color: $select-color-primary;
    &:after{
      flex: 0 0 7px;
      height: 14px;
      margin-left: auto;
      border: 0px solid #FFF;
      border-width: 0px 2px 2px 0px;
      transform: rotate(45deg) translateX(calc(-7px / 2));
      content: "";
    }
  }
  &:hover{
    outline: 1px solid $select-color-primary;
  }
}
