@import '../variables';

$select-color-primary: $c-green-primary !default;
$select-color-secondary: $c-light-primary !default;

$select-font-size: $font-size-big-mobile !default;
$select-font-family: $body-font-family-secondary !default;

$select-option-padding: 0.75rem 1.875rem;

$select-color-primary: $c-green-primary;
$select-color-secondary: $c-light-primary;

$select-option-font-size: $font-size-big-mobile;
$select-option-font-family: $body-font-family-secondary;

.sf-select-option {
  display: flex;
  align-items: center;
  padding: $select-option-padding;
  user-select: none;
  &--active{
    color: #FFF;
    background-color: $select-color-primary;
  }
  &:hover{
    outline: 1px solid $select-color-primary;
  }
}

.sf-select {
  position: relative;
  user-select: none;
  white-space: nowrap;
  &:focus{
    outline: 0;
  }

  &__selected {
    background-color: #FFF;
    @at-root :focus &{}
    &:after{
      flex: 0 0 7px;
      height: 7px;
      margin-left: auto;
      border: 0px solid $c-dark-primary;
      border-width: 0px 2px 2px 0px;
      transform: rotate(45deg) translateX(calc(-7px / 2));
      content: "";
    }
    &:hover{
      outline: 0px;
    }
  }

  &__options {
    position: absolute;
    top: calc(100% + 20px);
    z-index: 100;
    width: 100%;
    background-color: #FFF;
    outline: 0;
    box-shadow: 0px 4px 11px rgba(157, 157, 157, 0.21);
  }

  &--bordered{

    .sf-select__selected{
      border: 1px solid $select-color-secondary;
    }
  }

  &--underlined{

    .sf-select__selected{
      border-bottom: 1px solid $select-color-secondary;
    }
  }
}
