@import "../variables";

$select-option-padding-y: 0.75rem !default;
$select-option-padding-x: 1.875rem !default;
$select-option-padding-y-desktop: 0.75rem !default;
$select-option-padding-x-desktop: 0.75rem !default;
$select-color: $c-text !default;
$select-color-primary: $c-light !default;
$select-color-active: $c-primary !default;
$select-color-invalid: #d12727 !default;
$select-font-family: $body-font-family-secondary !default;
$select-font-size: $font-size-big-mobile !default;
$select-font-size-desktop: $font-size-big-desktop !default;
$select-font-weight: $body-font-weight-secondary !default;
$select-line-height: 1.6 !default;
$select__label-focus-font-size: $font-size-small-mobile !default;
$select__label-focus-font-size-desktop: $font-size-extra-small-desktop !default;
$select__label-transition: all 350ms ease-in-out !default;
$select__bar-transition: all 150ms ease-in-out !default;
$select__error-message-font-family: $body-font-family-primary !default;
$select__error-message-font-size: $font-size-small-mobile !default;
$select__cancel-color: #a3a5ad !default;

@mixin move-label-up {
  top: calc((#{$select__label-focus-font-size / 2}) - 5px);
  font-size: $select__label-focus-font-size;
  @media screen and (min-width: $desktop-min) {
    font-size: $select__label-focus-font-size-desktop;
  }
}

.sf-select-option {
  padding: $select-option-padding-y $select-option-padding-x;
  user-select: none;
  @media screen and (min-width: $desktop-min) {
    padding: $select-option-padding-y-desktop $select-option-padding-x-desktop;
  }
  & + & {
    border-top: 1px solid $select-color-primary;
    @media screen and (min-width: $desktop-min) {
      border-top: 0;
    }
  }
  &--active {
    background-color: $select-color-primary;
  }
  &:hover {
    @media screen and (min-width: $desktop-min) {
      background-color: lighten($select-color-primary, 3%);
    }
  }
  @at-root .sf-select--bordered & {
    padding: $select-option-padding-y $select-option-padding-x;
  }
}
.sf-select {
  $this: &;
  box-sizing: border-box;
  margin-top: 5px;
  color: $select-color;
  font-family: $select-font-family;
  font-size: $select-font-size;
  font-weight: $select-font-weight;
  line-height: $select-line-height;
  outline: none;
  @media screen and (min-width: $desktop-min) {
    font-size: $select-font-size-desktop;
  }
  &__label {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    transition: $select__label-transition;
    &::after {
      color: $select-color-active;
    }
  }
  &__selected {
    display: flex;
    align-content: center;
    min-height: 28px;
    padding: 0.75rem 1px;
    &:hover {
      background-color: transparent;
    }
  }
  &__dropdown {
    position: fixed;
    top: auto;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 3;
    box-sizing: border-box;
    background-color: #fff;
    @media screen and (min-width: $desktop-min) {
      position: absolute;
      top: 100%;
      bottom: auto;
      left: 0;
      right: 0;
      box-shadow: 0 8px 11px rgba(0, 0, 0, 0.1);
    }
  }
  &__options {
    margin: 0;
    padding: 0;
    overflow: auto;
    list-style-type: none;
    &::-webkit-scrollbar {
      width: 0;
    }
  }
  &__cancel {
    box-sizing: border-box;
    padding: $select-option-padding-y 0;
    background-color: $select-color-primary;
    color: $select__cancel-color;
    font-size: $select-font-size;
    &:hover {
      background-color: $select-color-primary;
    }
    @media screen and (min-width: $desktop-min) {
      display: none;
    }
  }
  &__error-message {
    margin-top: 5px;
    color: $select-color-invalid;
    font-family: $select__error-message-font-family;
    font-size: $select__error-message-font-size;
  }
  &__overlay {
    @media screen and (min-width: $desktop-min) {
      display: none;
    }
  }

  &--bordered {
    #{$this}__selected {
      padding: $select-option-padding-y $select-option-padding-x;
      border: 1px solid $select-color-primary;
    }
    #{$this}__label {
      left: calc(#{$select-option-padding-x} - 6px);
      padding: 6px;
      transition: unset;
    }
    &#{$this}--is-active {
      #{$this}__label {
        top: 50%;
        font-size: $select-font-size;
        @media screen and (min-width: $desktop-min) {
          font-size: $select-font-size-desktop;
        }
      }
    }
    &#{$this}--is-selected {
      #{$this}__label {
        top: 50%;
        font-size: $select-font-size;
        opacity: 0;
        @media screen and (min-width: $desktop-min) {
          font-size: $select-font-size-desktop;
        }
      }
    }
  }
  &--underlined {
    #{$this}__selected {
      border-bottom: 1px solid $select-color-primary;
    }
  }

  &--is-active,
  &--is-selected {
    #{$this}__label {
      @include move-label-up;
    }
  }
  &--is-active {
    #{$this}__label {
      color: $select-color-active;
    }
  }
  &--is-required {
    #{$this}__label {
      &::after {
        content: " *";
        color: $select-color-active;
      }
    }
  }

  &-enter-active {
    animation: sf-select-mobile 150ms;
    @media screen and (min-width: $desktop-min) {
      animation: sf-select-dekstop 150ms;
    }
  }
  &-leave-active {
    animation: sf-select-mobile 150ms reverse;
    @media screen and (min-width: $desktop-min) {
      animation: sf-select-dekstop 150ms reverse;
    }
  }
}

@keyframes sf-select-desktop {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes sf-select-mobile {
  0% {
    transform: translate(0, 100%);
  }
  100% {
    transform: translate(0, 0);
  }
}
