@import "../variables";

$select-option-padding-y: 0.75rem !default;
$select-option-padding-x: 1.875rem !default;
$select-color-primary: $c-light-primary !default;
$select-color-accent: $c-accent-primary !default;
$select-color-invalid: #d12727 !default;
$select-font-size: 1rem !default;
$select-font-size-sub: 0.6rem !default;
$select__label-transition: all 0.3s ease-in-out !default;

@mixin for-desktop {
  @media screen and (min-width: $desktop-min) {
    @content;
  }
}

.sf-select {
  $this: &;
  &-option {
    padding: $select-option-padding-y $select-option-padding-x;
    user-select: none;
    @include for-desktop {
      padding: $select-option-padding-y 0;
    }
    & + & {
      border-top: 1px solid $select-color-primary;
      @include for-desktop {
        border-top: 0;
      }
    }
    &--active {
      background-color: $select-color-primary;
    }
    &:hover {
      @include for-desktop {
        background-color: lighten($select-color-primary, 3%);
      }
    }
  }
  box-sizing: border-box;
  font-size: $select-font-size;
  &:focus {
    outline: 0;
  }
  &__label {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    transition: $select__label-transition;
  }
  &__selected {
    min-height: 20px; // TODO: use js to set height
    padding: $select-option-padding-y 0;
    &:hover {
      background-color: transparent;
    }
  }
  &__overlay{
    @include for-desktop {
      display: none;
    }
  }
  &__dropdown {
    position: fixed;
    top: auto;
    bottom: 0;
    left: 0;
    z-index: 3;
    box-sizing: border-box;
    width: 100%;
    background-color: #fff;
    @include for-desktop {
      position: absolute;
      top: 100%;
      bottom: auto;
      box-shadow: 0 8px 11px rgba(0, 0, 0, 0.1);
    }
  }
  &__error-message {
    padding-top: $spacer-small;
    color: $select-color-invalid;
    font-size: $select-font-size-sub;
  }
  &__options {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: auto;
    &::-webkit-scrollbar{
      width: 0;
    }
  }
  &__cancel {
    box-sizing: border-box;
    width: 100%;
    padding: $select-option-padding-y 0;
    background-color: $select-color-primary;
    color: #a3a5ad;
    font-size: $select-font-size;
    text-transform: none;
    &:focus {
      outline: 0;
    }
    &:hover {
      background-color: $select-color-primary;
    }
    @include for-desktop {
      display: none;
    }
  }

  &--bordered {
    #{$this}__selected {
      padding: $select-option-padding-y $select-option-padding-x;
      border: 1px solid $select-color-primary;
    }
    #{$this}-option {
      padding: $select-option-padding-y $select-option-padding-x;
    }
    #{$this}__label {
      left: calc(#{$select-option-padding-x} - 6px);
      padding: 6px;
    }
    &#{$this}--is-active{
      #{$this}__label {
        top: 50%;
        font-size: initial;
        color: inherit;
      }
    }
    &#{$this}--is-selected {
      #{$this}__label {
        display: none;
      }
    }
  }
  &--underlined {
    #{$this}__selected {
      border-bottom: 1px solid $select-color-primary;
    }
  }

  &--is-active,
  &--is-selected {
    #{$this}__label {
      top: 0;
      color: inherit;
      font-size: $select-font-size-sub;
    }
  }
  &--is-active {
    #{$this}__label {
      color: $select-color-accent;
    }
  }
  &--is-required {
    #{$this}__label {
      &::after {
        content: " *";
        color: $select-color-accent;
      }
    }
  }
  &-enter-active {
    animation: sf-select--mobile 0.15s;
    @include for-desktop {
      animation: sf-select--dekstop 0.15s;
    }
  }
  &-leave-active {
    animation: sf-select--mobile 0.15s reverse;
    @include for-desktop {
      animation: sf-select--dekstop 0.15s reverse;
    }
  }
}

@keyframes sf-select--desktop {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes sf-select--mobile {
  0% {
    transform: translate(0, 100%);
  }
  100% {
    transform: translate(0, 0);
  }
}
