@import '../variables';

$section-margin-y: $spacer-extra-big * 3 !default;
$section-margin-y--mobile: $spacer-extra-big !default;

$section__content-margin-top: $spacer-extra-big * 1.5 !default;
$section__content-margin-top--mobile: $spacer-big !default;

.sf-section {
  margin: $section-margin-y--mobile 0;

 @media screen and (min-width: $desktop-min){
   margin: $section-margin-y 0;
 }
 &__content{
   margin-top: $section__content-margin-top--mobile;

   @media screen and (min-width: $desktop-min) {
     margin-top: $section__content-margin-top;
   }
 }
}
