@import '../variables';

$section-margin-y: $spacer-big * 3 !default;
$section-margin-y-desktop: 10rem !default;
$section__content-margin-top: $spacer-big !default;
$section__content-margin-top-desktop: $spacer-extra-big * 1.5 !default;

.sf-section {
  margin: $section-margin-y 0;
  @media screen and (min-width: $desktop-min) {
    margin: $section-margin-y-desktop 0;
  }
  &__content {
    margin-top: $section__content-margin-top;
    @media screen and (min-width: $desktop-min) {
      margin-top: $section__content-margin-top-desktop;
    }
  }
}
