@import "../variables";

$sidebar-width: 20rem !default;
$sidebar-width-desktop: 25.5rem !default;
$sidebar-padding: $spacer-extra-big !default;
$sidebar-padding-desktop: $spacer-extra-big !default;
$sidebar-background-color: $c-white !default;
$sidebar__title-margin-bottom: 1.5rem !default;

.sf-sidebar {
  $this: &;
  &__aside {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    box-sizing: border-box;
    width: $sidebar-width;
    height: 100%;
    background-color: $sidebar-background-color;
    @media (min-width: $desktop-min) {
      width: $sidebar-width-desktop;
    }
  }
  &__content{
    overflow-y: auto;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: $sidebar-padding;
    @media (min-width: $desktop-min) {
      padding: $sidebar-padding-desktop;
    }
    &::-webkit-scrollbar {
      width: 0;

    }
  }
  &__title {
    margin-bottom: $sidebar__title-margin-bottom;
  }
  &__circle-icon {
    position: absolute;
    right: 3.25rem / 2 * -1;
    top: 4.925rem;
    @media (min-width: $desktop-min) {
      top: 5.625rem;
    }
  }
  &--right {
    #{$this}__aside {
      left: auto;
      right: 0;
    }
    #{$this}__circle-icon {
      left: 3.25rem / 2 * -1;
    }
  }
  &--mobile-only {
    #{$this}__circle-icon {
      display: none;
    }
  }
  &--has-scroll-lock {
    overflow: hidden;
  }
}
