@import '../variables';

$sidebar-background : $c-white !default;
$sidebar-padding    : 3rem !default;

.sf-sidebar {
  &__aside{
    position: fixed;
    top: 0;
    left: 0;
    width: 320px;
    height: 100%;
    background: $sidebar-background;
    box-sizing: border-box;
    box-shadow: 0px 4px 56px rgba(87, 87, 87, 0.32);
    z-index: 3;
  }
  &__button {
    position: absolute;
    right: -1.625rem;
    padding: 10px;
    top: 3rem;
  }
  &__content {
    overflow-y: scroll;
    height: 100vh;
    width: 100%;
    padding: $sidebar-padding;
    box-sizing: border-box;
    &::-webkit-scrollbar{
      width: 0;
    }
  }
  &--right {
    .sf-sidebar__aside {
      left: auto;
      right: 0;
    }
    .sf-sidebar__button {
      left: -1.625rem;
    }
  }
  &--mobile-only {
    &__button {
      display: none
    }
  }
}
