@import "../variables";

$card-margin-left-desktop: $spacer-big * 5!default;

@mixin for-desktop {
  @media screen and (min-width: $desktop-min) {
    @content;
  }
}

.sf-sliding-section {
  $this: &;
  @include for-desktop {
    display: flex;
  }
  &__static,
  &__sliding {
    flex: 1;
  }
  &__static {
    overflow: hidden;
    transition: height 150ms ease-in-out;
  }
  &__sliding {
    padding: 0 $spacer-big;
    @include for-desktop {
      margin-left: $card-margin-left-desktop;
    }
  }
  &__mobile-bar{
    padding: $spacer-medium 0;
    display: none;
    @include for-desktop {
      display: none;
    }
  }
  &__close{
    padding: 0;
    border: 0;
    background-color: transparent;
    cursor: pointer;
  }
  &--has-scroll-lock{
    overflow: hidden;
  }
  &--is-active{
    #{$this}{
      &__static{
        height: 0!important;
      }
      &__mobile-bar{
        display: block;
      }
    }
  }
}
