@import '../variables';

.sf-sticky {
  @media (min-width: $desktop-min){
    position: sticky;
    top: 0;
    width: 100%;
  }
}
// For position:static non supported browsers
.sf-sticky--sticky {
  @media (min-width: $desktop-min) {
    position: fixed;
    top: 0;
  }
}
.sf-sticky--bound {
  @media (min-width: $desktop-min) {
    position: absolute;
    top: auto;
    bottom: 0;
  }
}
