@import '../variables';

$steps__active-line-height-mobile: 0.1875rem;
$steps__active-line-height-desktop: 0.125rem;
$steps__active-line-color: $c-dark;
$steps-border: 0.0625rem solid #f1f2f4;

$steps__step-font-weight: 500;
$steps__step-font-size: 0.75rem;
$steps__step-font-color: $c-gray-variant;
$steps__step-padding: 1.25rem 0;
$steps__step-text-transform: uppercase;

.sf-steps {
  &__header {
    position: relative;
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
    border-bottom: $steps-border;

    &-step {
      position: relative;
      padding: $steps__step-padding;
      font-size: $steps__step-font-size;
      color: $steps__step-font-color;
      font-weight: $steps__step-font-weight;
      text-transform: $steps__step-text-transform;
      flex: 1;
      cursor: pointer;

      span {
        position: relative;
        text-align: center;
        display: block;
      }

      &-current {
        color: $c-dark;
      }

      &-disabled {
        cursor: not-allowed;
      }
    }
  }

  &__progress {
    position: absolute;
    content: '';
    display: block;
    height: $steps__active-line-height-mobile;
    bottom: -$steps__active-line-height-mobile / 2;
    left: 0;
    background-color: $steps__active-line-color;
    transform-origin: 0 50%;
    transition: transform 150ms ease-in-out;

    @media screen and (min-width: $desktop-min) {
      height: $steps__active-line-height-desktop;
      bottom: -$steps__active-line-height-desktop / 2;
    }
  }

  &__content {
    padding: 2.5rem 0 0 0;

    @media screen and (min-width: $desktop-min) {
      padding: 5rem 0 0 0;
    }
  }
}
