@import "../variables";

$store-locator__font-family-primary: $body-font-family-primary !default;

$store-locator__list-width-desktop: 33% !default;
$store-locator__list-max-width-desktop: 26.25rem !default;
$store-locator__list-width-mobile: 100% !default;

$store-locator__map-width-desktop: 66% !default;
$store-locator__map-max-width-desktop: 43.75rem !default;
$store-locator__map-min-height-desktop: 34.375rem !default;
$store-locator__map-width-mobile: 100% !default;
$store-locator__map-min-height-mobile: 26.875rem !default;

$store__media-width: 5.125rem !default;
$store__media-height: 7rem !default;
$store__media-margin: 0 1.25rem 0 0 !default;

$store__item-font-size: $font-size-extra-small-desktop !default;

$store__name-font-size: $font-size-regular-desktop !default;
$store__name-font-weight: $h1-font-weight-desktop !default;

$store__color-primary: $c-dark !default;
$store__color-secondary: $c-gray-variant !default;

$store__font-family-primary: $body-font-family-primary !default;
$store__font-family-secondary: $body-font-family-secondary !default;

.sf-store-locator {
  font-family: $store-locator__font-family-primary;

  &__title {
    margin-bottom: 0.625rem;
  }

  &__wrapper {
    display: flex;
    flex-flow: column-reverse nowrap;
    justify-content: flex-start;
    align-items: flex-start;

    @media screen and (min-width: $desktop-min) {
      flex-flow: row nowrap;
    }
  }

  &__list {
    width: $store-locator__list-width-mobile;

    @media screen and (min-width: $desktop-min) {
      width: $store-locator__list-width-desktop;
      max-width: $store-locator__list-max-width-desktop;
      margin-right: 2.5rem;
    }
  }
  &__map-wrapper {
    width: $store-locator__map-width-mobile;
    min-height: $store-locator__map-min-height-mobile;
    position: relative;

    @media screen and (min-width: $desktop-min) {
      width: $store-locator__map-width-desktop;
      max-width: $store-locator__map-max-width-desktop;
      min-height: $store-locator__map-min-height-desktop;
    }

    &-map {
      // Workaround to known bug about min-height / height interaction in Chrome / Firefox
      position: absolute;
      height: 100%;

      &-my-location-btn {
        a {
          display: flex;
          align-items: center;
          justify-content: center;

          &:hover {
            display: flex;
          }
        }
      }
    }

    .sf-loader {
      position: absolute;
    }
  }

  .sf-store {
    .sf-divider {
      margin: 7px 0 7px auto;
    }

    &__first-divider {
      display: none;
      max-width: unset;
      margin: 8px 0;
    }

    &:first-of-type {
      .sf-store__first-divider {
        display: block;
      }
    }

    &__desktop-divider {
      display: none;
    }

    @media screen and (min-width: $desktop-min) {
      .sf-divider {
        max-width: 100%;
      }
      &__desktop-divider {
        display: block;
      }
      &__mobile-divider {
        display: none;
      }
      &__first-divider {
        margin-top: 0;
        width: calc(100% + 2.5rem);
      }
    }

    &__item {
      display: flex;
      flex-flow: row nowrap;
      justify-content: flex-start;
      align-items: flex-start;
      font-size: $store__item-font-size;

      &-media {
        width: $store__media-width;
        height: $store__media-height;
        margin: $store__media-margin;
        overflow: hidden;
        cursor: pointer;
      }

      &-info {
        flex: 1;

        &-heading {
          @media screen and (min-width: $desktop-min) {
            display: flex;
            flex-flow: row nowrap;
            justify-content: space-between;
          }

          &-name {
            font-size: $store__name-font-size;
            color: $store__color-primary;
            font-family: $store__font-family-secondary;
            font-weight: $store__name-font-weight;
          }

          &-distance {
            color: $store__color-secondary;
            span {
              color: $store__color-primary;
            }

            @media screen and (min-width: $desktop-min) {
              width: 80px;
            }
          }
        }

        &-address {
          color: $store__color-secondary;
          margin-bottom: 1.25rem;
        }

        &-phone,
        &-email {
          display: flex;
          flex-flow: row nowrap;
          justify-content: flex-start;
          align-items: center;
          margin-bottom: 0.625rem;

          span {
            font-family: $store__font-family-secondary;
            margin-left: 0.3125rem;
            font-weight: 300;
          }
        }
      }
    }
  }
}
