@import "../variables";

// $component__block-property: value;

$sf-steps__active-line-height-mobile: 0.1875rem;
$sf-steps__active-line-height-desktop: 0.125rem;
$sf-steps__active-line-color: #1d1f22;
$sf-steps__default-border: 0.0625rem solid #f1f2f4;

$sf-steps__step-font-weight: 500;
$sf-steps__step-font-size: 0.75rem;
$sf-steps__step-font-color: $c-gray-secondary;


%sf-store-active-line {
  position: absolute;
  content: "";
  display: block;
  height: $sf-steps__active-line-height-mobile;
  width: 100%;
  bottom: -$sf-steps__active-line-height-mobile /2;
  left: 0;
  background-color: $sf-steps__active-line-color;

  @media screen and (min-width: $desktop-min) {
    height: $sf-steps__active-line-height-desktop;
    bottom: -$sf-steps__active-line-height-desktop /2;
  }
}

.sf-steps {
  &__steps {
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
    border-bottom: $sf-steps__default-border;

    &-step {
      position: relative;
      padding: 1.25rem 0;
      font-size: $sf-steps__step-font-size;
      color: $sf-steps__step-font-color;
      font-weight: $sf-steps__step-font-weight;
      text-transform: uppercase;
      flex: 1;
      cursor: pointer;

      &:last-of-type {
        &.sf-steps__steps-step-current {
          span:after {
            display: none;
          }
          &:after {
            @extend %sf-store-active-line;
          }
        }
      }

      span {
        position: relative;
        text-align: right;
        display: block;
        width: 50%;
        transform: translate(25%);
      }

      &-done {
        &:after {
          @extend %sf-store-active-line;
        }
      }

      &-current {
        color: $c-dark-primary;

        span {
          &:after {
            @extend %sf-store-active-line;
            width: calc(100% + 25%);
            bottom: -(1.25rem + ($sf-steps__active-line-height-mobile / 2));
            left: -25%;

            @media screen and (min-width: $desktop-min) {
              bottom: -(1.25rem + ($sf-steps__active-line-height-desktop / 2));
            }
          }
        }
      }

      &-disabled {
        cursor: not-allowed;
      }
    }
  }
  &__wrapper {
    padding: 2.5rem 0 0 0;

    @media screen and (min-width: $desktop-min) {
      padding: 5rem 0 0 0;
    }
  }
}
