@import '../variables';

$sf-tabs-navigation-font-family: $body-font-family-secondary !default;
$sf-tabs-navigation-font-size: $font-size-big-desktop !default;
$sf-tabs-navigation-font-size-mobile: $font-size-big-mobile !default;

$sf-tabs-navigation-padding: 1.563rem !default;
$sf-tabs-navigation-padding-mobile: 1rem !default;

$sf-tabs-navigation-border-width: 2px !default;

$sf-tabs-navigation-color: $c-gray-secondary !default;
$sf-tabs-navigation-color-hover: $c-dark-primary !default;
$sf-tabs-navigation-color-active: $c-dark-primary !default;


.sf-tabs-navigation {
  font-family: $sf-tabs-navigation-font-family;
  width: 100%;

  &__list {
    display: flex;
    justify-content: space-between;
    font-size: $sf-tabs-navigation-font-size;
    padding: 0;
    border-bottom-style: solid;
    border-bottom-width: $sf-tabs-navigation-border-width;
    border-bottom-color: $sf-tabs-navigation-color;

    @media screen and (max-width: $mobile-max){
      font-size: $sf-tabs-navigation-font-size-mobile;
    }
  }

  &__item {
    list-style-type: none;
    padding-top: $sf-tabs-navigation-padding;
    padding-bottom: calc(#{$sf-tabs-navigation-padding} + #{$sf-tabs-navigation-border-width});
    color: $sf-tabs-navigation-color;
    cursor: pointer;
    position: relative;
    top: $sf-tabs-navigation-border-width;

    @media screen and (max-width: $mobile-max){
      padding-top: $sf-tabs-navigation-padding-mobile;
      padding-bottom: calc(#{$sf-tabs-navigation-padding-mobile} + #{$sf-tabs-navigation-border-width});
    }

    &:hover {
      color: $sf-tabs-navigation-color-hover;
      border-bottom-width: $sf-tabs-navigation-border-width;
      border-bottom-style: solid;
      border-bottom-color: $sf-tabs-navigation-color-hover;
    }

    p {
      margin: 0;
    }
  }

  &--active {
    border-bottom-width: $sf-tabs-navigation-border-width;
    border-bottom-style: solid;
    border-bottom-color: $sf-tabs-navigation-color-active;
    color: $sf-tabs-navigation-color-active;
  }

}