@import '../variables';

$sf-tabs-title-font-family: $body-font-family-secondary !default;
$sf-tabs-title-font-size: $font-size-regular-desktop !default;


$sf-tabs-title-padding: $spacer-big !default;

$sf-tabs-title-border-width: 2px !default;

$sf-tabs-title-color: $c-gray-secondary !default;
$sf-tabs-title-color-hover: $c-dark-primary !default;
$sf-tabs-title-color-active: $c-dark-primary !default;

$sf-tabs-content-font-family: $body-font-family-primary !default;

.tabs {
  font-family: $sf-tabs-title-font-family;
  display: flex;
  flex-wrap: wrap;
  position: relative;

  &__border {
    position: absolute;
    z-index: -1;
    width: 100%;
    top: calc(2*#{$sf-tabs-title-padding} + #{$sf-tabs-title-border-width} + #{$font-size-regular-desktop} + 3px);
    border-bottom: $sf-tabs-title-border-width solid $sf-tabs-title-color;

    @media (max-width: $mobile-max) {
      top: calc(2*#{$sf-tabs-title-padding} + #{$sf-tabs-title-border-width} + #{$body-font-size-mobile} + 2px);
    }
  }

  &__title {
    order: 1; // Put the labels first
    display: block;
    padding: $sf-tabs-title-padding 5px calc(#{$sf-tabs-title-padding} + #{$sf-tabs-title-border-width}) 0;
    cursor: pointer;
    color: $sf-tabs-title-color;
    border-bottom: $sf-tabs-title-border-width solid $sf-tabs-title-color;
    margin-right: 2rem;

    &:hover {
      color: $sf-tabs-title-color-hover;
    }

    &--active {
      border-bottom: $sf-tabs-title-border-width solid $sf-tabs-title-color-active;
      color: $sf-tabs-title-color-active;
    }
  }

  &__content {
    order: 99; // Put the tabs last
    flex-grow: 1;
    width: 100%;
    display: none;
    background: #fff;
    font-family: $sf-tabs-content-font-family;
  }
}

.tabs__title--active+.tabs__content {
  display: block;
}

@media (max-width: 45em) {

  .tab__title,
  .tab__content {
    order: initial;
  }

  .tab__title {
    width: 100%;
    margin-right: 0;
    margin-top: 0.2rem;
  }
}