@import "../variables";

$tabs-border-color: $c-light !default;
$tabs-font-family: $body-font-family-secondary !default;
$tabs-font-size: $font-size-regular-mobile !default;
$tabs-font-size-desktop: $font-size-regular-desktop !default;
$tabs-font-weight: $body-font-weight-secondary !default;
$tabs-line-height: 1.6 !default;
$tabs__title-padding-y: $spacer-big !default;
$tabs__title-color: $c-gray-variant !default;
$tabs__title-color--active: $c-dark !default;
$tabs__title-color--hover: $c-dark !default;
$tabs__title-font-size: $font-size-big-mobile !default;
$tabs__title-font-size-desktop: $font-size-big-desktop !default;
$tabs__content-padding-y: 3 * $spacer-big !default;

@mixin for-desktop{
  @media screen and (min-width: $desktop-min){
    @content;
  }
}

.sf-tabs{
  $this: &;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  font-family: $tabs-font-family;
  font-size: $tabs-font-size;
  font-weight: $tabs-font-weight;
  line-height: $tabs-line-height;
  @include for-desktop{
    font-size: $tabs-font-size-desktop;
  }
  &__title{
    display: flex;
    flex-basis: 100%;
    justify-content: space-between;
    align-items: center;
    padding: calc(#{$tabs__title-padding-y} - 5px) 0;
    border-bottom: 1px solid $tabs-border-color;
    color: $c-dark;
    cursor: pointer;
    transition: border-color 150ms ease-in-out, color 150ms ease-in-out;
    font-size: $tabs__title-font-size;
    @include for-desktop{
      flex-basis: auto;
      margin-right: 2rem;
      margin-bottom: -2px;
      padding: $tabs__title-padding-y 0;
      border-width: 2px;
      border-color: transparent;
      color: $c-gray-variant;
      font-size: $tabs__title-font-size-desktop;
    }
    &--active{
      border-color: transparent;
      @include for-desktop{
        z-index: 1;
        border-width: 2px;
        border-color: $c-dark;
        color: $c-dark;
      }
      & + #{$this}__content{
        display: block;
        border-bottom: 1px solid $tabs-border-color;
        @include for-desktop{
          border-bottom: 0;
        }
      }
    }
    &:hover{
      @include for-desktop {
        color: $c-dark;
      }
    }
  }
  &__content{
    display: none;
    flex-basis: 100%;
    padding: ($tabs__content-padding-y / 2) 0;
    @include for-desktop{
      order: 99;
      padding: $tabs__content-padding-y 0;
      border-top: 2px solid $tabs-border-color;
    }
  }
  &__chevron{
    @include for-desktop{
      display: none;
    }
  }
}
