@import "../variables";

$sf-tabs__title-padding-y: $spacer-big !default;
$sf-tabs__content-padding-y: 3 * $spacer-big !default;
$sf-tabs__title-color: $c-gray-secondary !default;
$sf-tabs__title-color--active: $c-dark-primary !default;
$sf-tabs__title-color--hover: $c-dark-primary !default;
$sf-tabs-border-color: $c-light-primary !default;
$sf-tabs__title-font-size: $font-size-regular-desktop !default;
$sf-tabs__title-font-family: $body-font-family-secondary !default;
$sf-tabs__content-font-family: $body-font-family-primary !default;

@mixin for-desktop{
  @media screen and (min-width: $desktop-min){
    @content;
  }
}

.sf-tabs{
  $this: &;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  font-family: $sf-tabs__content-font-family;
  line-height: 1.6;
  &__title{
    display: flex;
    flex-basis: 100%;
    justify-content: space-between;
    align-items: center;
    padding: calc(#{$sf-tabs__title-padding-y} - 5px) 0;
    border-bottom: 1px solid $sf-tabs-border-color;
    color: $c-dark-primary;
    font-family: $sf-tabs__title-font-family;
    font-size: $sf-tabs__title-font-size;
    cursor: pointer;
    transition: border-color 150ms ease-in-out, color 150ms ease-in-out;
    @include for-desktop{
      flex-basis: auto;
      margin-right: 2rem;
      margin-bottom: -2px;
      padding: $sf-tabs__title-padding-y 0;
      border-width: 2px;
      border-color: transparent;
      color: $c-gray-secondary;
    }
    &--active{
      border-color: transparent;
      @include for-desktop{
        z-index: 1;
        border-width: 2px;
        border-color: $c-dark-primary;
        color: $c-dark-primary;
      }
      & + #{$this}__content{
        display: block;
        border-bottom: 1px solid $sf-tabs-border-color;
        @include for-desktop{
          border-bottom: 0;
        }
      }
    }
    &:hover{
      @include for-desktop {
        color: $c-dark-primary;
      }
    }
  }
  &__content{
    display: none;
    flex-basis: 100%;
    padding: ($sf-tabs__content-padding-y / 2) 0;
    @include for-desktop{
      order: 99;
      padding: $sf-tabs__content-padding-y 0;
      border-top: 2px solid $sf-tabs-border-color;
    }
  }
  &__chevron{
    @include for-desktop{
      display: none;
    }
  }
}
