@import "../variables";

$top-bar-height: 2.5rem !default;
$top-bar-hidden-max-width: $desktop-min !default;
$top-bar-background-color: $c-light !default;
$top-bar-horizontal-padding: $spacer-extra-big !default;

.sf-topbar {
  width: 100%;
  height: $top-bar-height;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  padding: 0px $top-bar-horizontal-padding;
  background-color: $top-bar-background-color;
  &__center {
    font-size: $font-size-small-desktop;
  }
}
@media only screen and (max-width: $top-bar-hidden-max-width) {
  .sf-topbar {
    display: none;
  }
}
