@import 'variables/colors';
@import 'variables/breakpoints';
@import 'variables/typography';
@import 'variables/layout';
@import '../../sfui.scss';

// Button
$button-padding: 0.5rem 1.7rem !default;
$button-c-text-primary: $c-text-on-dark !default;
$button-c-bg-primary: $c-green-primary !default;
$button-c-text-secondary: $c-text-on-dark !default;
$button-c-bg-secondary: $c-dark-primary !default;

