@import '../../../../css/variables';

$sf-filter-item-padding: $spacer 0;
$sf-filter-item-font-size: $font-size-big-mobile;
$sf-filter-item-font-family: $body-font-family-secondary;

.sf-filter-item {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: $sf-filter-item-padding;
    font-size: $sf-filter-item-font-size;
    font-family: $sf-filter-item-font-family;
    &__label {
        flex-grow: 1;
    }
    &__color {
        width: 1.125rem;
        height: 1.125rem;
        background: black;
        margin-right: $spacer-big;
        border: 1px solid $c-gray-secondary;
    }
    &--active, &:hover {
        text-decoration: underline;
        font-weight: 500;
        cursor: pointer;
    }
}
