<div class="vsf-bottom-navigation">
  <div class="vsf-bottom-navigation-elements">
    <router-link to="/">
      </router-link><div class="vsf-bottom-navigation-element" :class="{ 'active': true }">
        <img src="../../assets/home.svg" alt="nav-home" class="vsf-bottom-navigation-element-img"/>
      </div>
    </router-link>
    <router-link to="/">
      </router-link><div class="vsf-bottom-navigation-element">
        <img src="../../assets/search.svg" alt="nav-search" class="vsf-bottom-navigation-element-img"/>
      </div>
    </router-link>
    <router-link to="/">
      </router-link><div class="vsf-bottom-navigation-element">
        <img src="../../assets/heart.svg" alt="nav-wishlist" class="vsf-bottom-navigation-element-img"/>
      </div>
    </router-link>
    <router-link to="/">
      </router-link><div class="vsf-bottom-navigation-element">
        <img src="../../assets/profile.svg" alt="nav-profile" class="vsf-bottom-navigation-element-img"/>
      </div>
    </router-link>
  </div>
  <div class="vsf-bottom-navigation-element cart-button">
      <div
        class="vsf-bottom-navigation-cart-button"
      >
        <img src="../../assets/cart.svg" alt="nav-cart" class="vsf-bottom-navigation-element-img"/>
      </div>
  </div>
</div>