.e-page {
    width: 100%;
    display: flex;
    flex-flow: column;

    &-component {
        padding: 20px;

        &,
        &--icons {
            flex: 1;
            overflow: auto;
        }

        &--icons{
            padding: 50px;
            overflow: hidden;
        }
    }

    &-controls {
        // TODO: do draggabble controls container
        border-top: 1px solid rgb(205, 205, 205);
        height: 50vh;
        overflow: auto;
    }

    &-examples {
        position: relative;
        height: 100vh;
        width: 100vw;
        overflow: hidden;
        display: flex;
        font-size: 16px;

        .sidebar {
            position: relative;
            flex-shrink: 0;
            width: 200px;
            padding: 20px;
            background-color: rgb(246, 249, 252);
            -webkit-box-shadow: inset -6px 0px 24px -22px rgba(66, 68, 90, 1);
            -moz-box-shadow: inset -6px 0px 24px -22px rgba(66, 68, 90, 1);
            box-shadow: inset -6px 0px 24px -22px rgba(66, 68, 90, 1);

            &-collapsed{
                margin-left: -140px;
                color: transparent;
                pointer-events: none;
                text-indent: -9999px;
            }

            &-toggle {
                position: absolute;
                right: 20px;
                top: 20px;
                pointer-events: auto;
                color: #000;

                &-collapsed {
                    transform: rotate(180deg);
                }
            }

            &-heading {
                margin-bottom: 10px;
                font-weight: bold;
                padding-right: 30px;
            }

            &-list{
                font-size: 14px;
                list-style: disc;
                padding-left: 14px;

                li,
                a {
                    &.active,
                    &.router-link-active{
                        text-decoration: underline;
                        color: #48bb78;
                    }

                    &:hover {
                        text-decoration: underline;
                    }
                }
            }
        }
    }

    .controls {
        $borderColor: rgb(244 244 245);

        .heading {
            padding: 4px 10px;

            &-wrapper {
                background-color: rgb(244 244 245);
            }
        }
        table {
            width: 100%;
            font-size: 15px;
        }

        thead {
            th,
            td {
                padding: 4px 10px;
                border-bottom: 1px solid $borderColor;
                border-right: 1px solid $borderColor;
            }
        }

        select,
        input[type="range"],
        input[type="text"] {
            min-width: 200px;
            border-radius: 5px;
            font-size: 16px;
        }

        select,
        input[type="text"] {
            border: 1px solid rgb(229, 231, 235);
        }

        .value {
            vertical-align: middle;
            padding: 6px 10px;
        }

        .description,
        .required,
        .propType,
        .propDefaultValue {
            padding-left: 10px;
            padding-right: 10px;
            font-size: 13px;
        }

        .propType span{
            font-size: 11px;
            border-radius: 3px;
            padding: 2px 4px;
            display: inline-block;
            background-color: rgb(244 244 245);
            font-family:Consolas,Monaco,Lucida Console,Liberation Mono,DejaVu Sans Mono,Bitstream Vera Sans Mono,Courier New, sans-serif;
        }

        .description{
            width: 100%;
            color:rgb(145, 145, 145);
        }

        .props {
            td {
                border-bottom: 1px solid $borderColor;
                border-left: 1px solid $borderColor;

                &:first-child {
                    padding: 4px 10px;
                    font-size: 13px;
                    white-space: nowrap;
                    border-left: none;
                }
            }
        }


        .switch {
            &-wrapper {
                display: flex;
                align-items: center;
            }
            position: relative;
            display: inline-block;
            width: 60px;
            height: 24px;

            input {
                display: none;

                &:checked + .slider {
                    background-color: rgb(2, 187, 77);

                    &:before {
                        -webkit-transform: translateX(36px);
                        -ms-transform: translateX(36px);
                        transform: translateX(36px);
                    }
                }
            }

            .slider {
                background-color: rgb(212 212 216);
                position: absolute;
                cursor: pointer;
                inset: 0;
                -webkit-transition: .4s;
                transition: .4s;
                border-radius: 24px;

                &:before {
                    position: absolute;
                    content: "";
                    height: 16px;
                    width: 16px;
                    left: 4px;
                    bottom: 4px;
                    background-color: white;
                    -webkit-transition: .4s;
                    transition: .4s;
                    border-radius: 50%;
                }
            }
        }
    }

    [data-tooltip] {
        position: relative;

        &::after {
            position: absolute;
            pointer-events: none;
            opacity: 0;
            color: black;
            content: attr(data-tooltip);
            left: 50%;
            top: calc(100% + 10px);
            border-radius: 3px;
            box-shadow: 0 0 5px 2px rgba(100, 100, 100, 0.6);
            background-color: #fff;
            z-index: 10;
            padding: 2px;
            font-size: 14px;
            width: 10px;
            overflow: hidden;
            transform: translateY(-20px) translateX(-50%);
            transition: all 150ms cubic-bezier(.25, .8, .25, 1);
        }

        &:hover::after {
            width: auto;
            opacity: 1;
            transform: translateY(0) translateX(-50%);
            transition-duration: 300ms;
        }
    }
}
