@mixin for-mobile {
  @media (max-width: 1023px) {
    @content;
  }
}
@mixin for-desktop {
  @media (min-width: 1024px) {
    @content;
  }
}
.sb-mega-menu {
  &__promo {
    flex: 0 0 43.125rem!important;
  }
  &__banners {
    display: flex;
    flex-direction: column;
    padding: var(--spacer-base);
    @include for-desktop {
      flex-direction: row;
      padding: 0;
    }
  }
  &__banner{
    &:first-child{
      margin: 0 0 var(--spacer-sm) 0;
      @include for-desktop {
        margin: 0 var(--spacer-sm) 0 0;
      }
    }
  }
}
