.intro {
  padding: 0 10px;
  box-sizing: border-box;
  line-height: 1.5em;
  h1 {
    font-size: 1.5em;
    padding-bottom: 15px;
    margin-bottom: 10px;
    color: #5ECE7B;
    border-bottom: 1px solid lightgray;
  }
  ul, ol {
    padding-left: 17px;
  }
  a {
    color: black;
    text-decoration: underline;
    &:hover {
      color: #5ECE7B;
    }
  }
}
