/**
 * Use on global scope
 */
html,
body {
  margin: 0;
  padding: 0;
}
#home {
  padding: 1rem;
  font: 300 0.875rem/1.6 "Roboto", serif;
  color: #1D1F22;
  h1,
  h2,
  h3 {
    padding: 0;
    margin: 0;
    font: 300 1rem/1.4 "Raleway", sans-serif;
  }
  h1{
    padding: 0 0 1rem 0;
    border: solid #F1F2F3;
    border-width: 0 0 1px 0;
    color: #5ece7b;
    font-size: 1.75rem;
    font-weight: 600;
  }
  h2 {
    font-size: 1rem;
    font-weight: 500;
  }
  a {
    color: inherit;
  }
  ul,
  ol{
    padding: 0 0 0 1rem;
  }
}
