@import '../../../css/variables';

$sf-radio__checkmark-border-color: $c-gray-secondary !default;
$sf-radio__checkmark-border-color--checked: $c-green-primary !default;

.sf-radio {
  &__container {
    display: flex;
    align-items: center;
  }

  &__input {
      display: none;
  }

  &__checkmark {
      height: 23px;
      width: 23px;
      border: 1px solid $sf-radio__checkmark-border-color;
      border-radius: 50%;
      margin: 10px;
      box-sizing: border-box;
  }

  &__label {
      height: 100%;
  }

  &--checked {
    .sf-radio__checkmark {
        border: 9px solid $sf-radio__checkmark-border-color--checked;
    }
  }
}
