@import '../../../css/variables';

$radio__checkmark-size:  1.438rem !default;
$radio__checkmark-border-color: $c-gray-secondary !default;
$radio__checkmark-border-width: 0.0625rem !default;
$radio__checkmark-border-color--checked: $c-green-primary !default;
$radio__checkmark-border-width--checked:  0.5625rem !default;
$radio__checkmark-margin: 0.625rem !default;

$radio__container-align-items: flex-start !default;
$radio__container-background-color--checked: $c-light-primary !default;

.sf-radio {
  &__container {
    display: flex;
    align-items: $radio__container-align-items;
    padding: $radio__checkmark-margin 0;
  }

  &__input {
      display: none;
  }

  &__checkmark {
      min-width: $radio__checkmark-size;
      min-height: $radio__checkmark-size;
      border: $radio__checkmark-border-width solid $radio__checkmark-border-color;
      border-radius: 50%;
      margin: 0 $radio__checkmark-margin;
      box-sizing: border-box;
      cursor: pointer;
  }

  &__label {
      height: 100%;
      line-height: 100%;
  }

  &--checked {
    background-color: $radio__container-background-color--checked;

    .sf-radio__checkmark {
        border: $radio__checkmark-border-width--checked solid $radio__checkmark-border-color--checked;
    }

  }

  &--center {
    .sf-radio__container {
      align-items: center;
    }
  }

}
