@import '../../../css/variables';

$sf-radio__checkmark-size:  1.438rem !default;
$sf-radio__checkmark-border-color: $c-gray-secondary !default;
$sf-radio__checkmark-border-width: 0.0625rem !default;
$sf-radio__checkmark-border-color--checked: $c-green-primary !default;
$sf-radio__checkmark-border-width--checked:  0.5625rem !default;
$sf-radio__checkmark-margin: 0.625rem !default;

$sf-radio__container-align-items: center !default;

.sf-radio {
  &__container {
    display: flex;
    align-items: $sf-radio__container-align-items;
  }

  &__input {
      display: none;
  }

  &__checkmark {
      min-width: $sf-radio__checkmark-size;
      min-height: $sf-radio__checkmark-size;
      border: $sf-radio__checkmark-border-width solid $sf-radio__checkmark-border-color;
      border-radius: 50%;
      margin: $sf-radio__checkmark-margin;
      box-sizing: border-box;
      cursor: pointer;
  }

  &__label {
      height: 100%;
  }

  &--checked {
    .sf-radio__checkmark {
        border: $sf-radio__checkmark-border-width--checked solid $sf-radio__checkmark-border-color--checked;
    }
  }

  &--align-top {
    .sf-radio__container {
      align-items: flex-start;
    }
  }

  &--align-bottom {
    .sf-radio__container {
      align-items: flex-end;
    }
  }
}
