@import '../../../css/variables';

$sf-filter-padding: $spacer 0;
$sf-filter-font-size: $font-size-big-mobile;
$sf-filter-font-family: $body-font-family-secondary;

.sf-filter {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: $sf-filter-padding;
    font-size: $sf-filter-font-size;
    font-family: $sf-filter-font-family;
    &__label {
        flex-grow: 1;
    }
    &__color {
        width: 1.125rem;
        height: 1.125rem;
        background: black;
        margin-right: $spacer-big;
    }
    &--active {
        text-decoration: underline;
    }
}
