@import '../../../css/variables';
.row{
  display: flex;
  max-width: 740px;
  margin: auto;
  padding-top: 140px;
  padding-bottom: 1140px;
  @media (max-width: 480px){
    display: block;
  }
}
.sf-sticky{
  width: 100%;
}
.sf-sticky--sticky{
  position: fixed;
  top: 0;
}
.sf-sticky--bound{
  position: absolute;
  top: auto;
  bottom: 0;
}