@import '../../../css/variables';

// TEST
.row {
  display: flex;
  margin: auto;
  max-width: 600px;
  @media (max-width: 480px){
    display: block;
  }
  background-color: #F2F;
}
.col{
  flex: 1 1 100%;
  padding: .95rem;
  margin: 1rem;
  @media (max-width: 720px){
    padding: 0;
  }
}
// TEST

.sf-sticky {
  //position: sticky;
  //top: 0;
  background-color: gray;
  width: 100%;
  &--sticky{
    position: fixed;
    top: 0;
    background-color: yellow;
  }
  &--bound{
    position: absolute;
    top: auto;
    bottom: 0;
    background-color: greenyellow;
  }
}
