@import "../../helpers";

.sf-add-to-cart {
  display: flex;
  &__button {
    --button-font-weight: var(--font-semibold);
    --button-width: 100%;
    align-items: center;
    order: var(--add-to-cart-button-order);
    &:disabled {
      color: var(--c-text-disabled);
    }
  }
  &__select-quantity {
    flex: none;
    margin: var(--add-to-cart-select-quantity-margin, 0 0 0 var(--spacer-xs));
    &--disabled {
      .sf-button:disabled {
        --button-color: var(--c-text-disabled);
      }
    }
  }

  @include for-desktop {
    --add-to-cart-button-order: 1;
    --add-to-cart-select-quantity-margin: 0 var(--spacer-sm) 0 0;
    --add-to-cart-select-quantity-display: flex;
  }
}
