@import "../../helpers";

.sf-banner {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: var(--banner-justify-content, left);
  background-color: var(--banner-background-color, transparent);
  background-position: var(--banner-background-position, center);
  background-repeat: var(--banner-background-repeat, no-repeat);
  background-size: var(--banner-background-size, cover);
  background-image: var(--background-image);
  color: var(--banner-color, var(--c-text));
  width: var(--banner-size, var(--banner-width, 100%));
  min-height: var(--banner-size, var(--banner-min-height, 14rem));
  padding: var(--banner-padding, 3rem 0 0 var(--spacer-sm));
  @include font(
    --banner-font,
    normal,
    var(--h1-font-size),
    1.2,
    var(--font-family-secondary)
  );
  &__container {
    display: flex;
    justify-content: left;
    flex-direction: column;
    color: var(--banner__container-color, var(--c-text));
  }
  &__subtitle {
    font-size: var(--font-2xs);
    --banner-font-line-height: 1.4;
    letter-spacing: 0.1px;
    margin: var(--banner-subtitle-margin, 0 0 0.6875rem 0);
  }
  &__title {
    --banner__container-color: var(--c-link);
    text-transform: var(--banner-title-transform, none);
    margin: var(--banner-title-margin, 0);
  }
  &__description {
    display: none;
  }
  &__call-to-action {
    display: none;
  }
  &__bullets {
    display: none;
  }
  @include for-desktop {
    --background-image: var(--background-desktop-image);
    &__title {
      --banner-font-size: var(--h1-font-size);
    }
    &__description {
      display: block;
      --banner-font-size: var(--font-base);
      --banner-font-weight: var(--font-light);
    }
    &__call-to-action {
      display: block;
      --button-width: 10.75rem;
      --banner-font-size: var(--font-base);
      --banner-font-weight: var(--font-semibold);
    }
    &__bullets {
      display: flex;
      flex-direction: row;
      justify-content: center;
      margin: 0 0 3.125rem 0;
    }
  }
  &--right {
    // justify-content: right;
    padding: 0 3.125rem calc(50%) 0;
  }
  &--slim {
    --banner-min-height: 25rem;
  }
}
