@import "../../helpers";

.sf-bar {
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: var(--bar-height, 3.125rem);
  padding: var(--bar-padding, 0 var(--spacer-big));
  background-color: var(--bar-background, var(--c-light));
  font: var(
    --bar-font,
    font(
      --bar,
      500,
      var(--font-size-big),
      1.6,
      var(--body-font-family-secondary)
    )
  );

  &__icon {
    --icon-width: 0.875rem;
  }

  @include for-desktop {
    --bar-font-size: var(--font-size-regular);
  }
}
