@import "../../helpers";

.sf-bottom-modal {
  position: var(--bottom-modal-position, fixed);
  width: var(--bottom-modal-width, 100%);
  top: var(--bottom-modal-top);
  bottom: var(--bottom-modal-bottom, 0);
  transform: var(--bottom-modal-transform);
  --characteristic-description-font-size: var(--font-base);
  @include for-mobile {
    --characteristic-description-font-weight: var(--font-semibold);
  }
  @include for-desktop {
    --list-item-margin: 0 var(--spacer-sm);
    --button-text-transform: capitalize;
    --characteristic-description-font-size: var(--font-sm);
  }
  &__container {
    box-sizing: border-box;
    position: relative;
    z-index: 1;
    padding: var(--bottom-modal-container-padding);
    background: var(--bottom-modal-background, var(--c-white));
    @include font(
      --bottom-modal-container-font,
      var(--font-light),
      var(--font-base),
      1.6,
      var(--font-family-primary)
    );
    @include for-desktop {
      height: var(--bottom-modal-height);
      padding: var(
        --bottom-modal-container-padding,
        var(--spacer-base) var(--spacer-2xl)
      );
    }
  }
  &__title {
    --heading-title-font-weight: var(--font-normal);
    padding: var(
      --bottom-modal-title-padding,
      var(--spacer-sm) var(--spacer-lg)
    );
    color: var(--bottom-modal-title-color, var(--c-text));
    text-align: var(--bottom-modal-title-text-align, center);
    @include for-mobile {
      --heading-title-font-size: var(--font-xs);
      --heading-title-font-weight: var(--font-bold);
    }
  }
  &__close-desktop {
    position: absolute;
    top: var(--spacer-xs);
    right: var(--spacer-xs);
    --button-background: var(--c-black);
  }
  &__close {
    --button-background: var(--_c-light-primary);
    --button-color: var(--c-text-muted);
  }
  &-enter-active {
    animation: var(
      --bottom-modal-animation-enter,
      bottom-modal var(--bottom-modal-time, 150ms)
    );
    @include for-desktop {
      --bottom-modal-time: 300ms;
    }
  }
  &-leave-active {
    animation: var(
      --bottom-modal-animation-leave,
      bottom-modal var(--bottom-modal-time, 150ms) reverse
    );
    @include for-desktop {
      --bottom-modal-time: 300ms;
    }
  }
}

@keyframes bottom-modal {
  0% {
    transform: translate3d(0, 100%, 0);
  }
  100% {
    transform: translate3d(0, 0, 0);
  }
}
