@import '../../helpers';

.sf-call-to-action {
  display: flex;
  flex-direction: var(--call-to-action-flex-direction, column);
  align-items: center;
  align-content: center;
  justify-content: var(--call-to-action-justify-content);
  padding: var(
    --call-to-action-padding,
    var(--spacer-big) var(--spacer-medium)
  );
  background-color: var(--call-to-action-background, var(--c-black));
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: var(--call-to-action-color, var(--c-on-dark));
  font: var(
    --call-to-action-font,
    font(
      --call-to-action,
      300,
      var(--font-size-extra-big),
      1.6,
      var(--body-font-family-secondary)
    )
  );

  &__title {
    font: var(
      --call-to-action-title-font,
      font(
        --call-to-action-title,
        500,
        var(--font-size-big),
        1.4,
        var(--body-font-family-secondary)
      )
    );
  }

  &__description {
    display: var(--call-to-action-description-display, none);
    margin: var(--call-to-action-description-margin);
  }

  &__button {
    margin: var(--call-to-action-button, var(--spacer-big) 0 0 0);
    white-space: nowrap;
  }

  &__text-container {
    margin: var(--call-to-action-text-container);
  }

  &--light {
    --call-to-action-background: var(--c-light);
    --call-to-action-color: var(--c-light);
  }

  @include for-desktop {
    --call-to-action-flex-direction: row;
    --call-to-action-padding: 3.4rem 8.75rem;
    --call-to-action-font-size: var(--font-size-big);
    --call-to-action-title-font-size: var(--h1-font-size);
    --call-to-action-justify-content: space-between;
    --call-to-action-description-margin: var(--spacer-big) 0 0 0;
    --call-to-action-description-display: block;
    --call-to-action-text-container: 0 var(--spacer-big) 0 0;
  }
}
