@import "../../helpers";

.sf-call-to-action {
  display: flex;
  box-sizing: border-box;
  flex-direction: var(--call-to-action-flex-direction, column);
  align-items: var(--call-to-action-align-items);
  justify-content: var(--call-to-action-justify-content, left);
  min-height: var(--call-to-action-min-height, 16.75rem);
  background-color: var(--call-to-action-background-color, rgba(0, 0, 0, 0.8));
  background-position: var(--call-to-action-background-position, center);
  background-repeat: var(--call-to-action-background-repeat, no-repeat);
  background-size: var(--call-to-action-background-size, cover);
  background-image: var(--call-to-action-background-image);
  color: var(--call-to-action-color);
  padding: var(--call-to-action-padding, 1.625rem);
  &__text-container {
    display: flex;
    width: var(--call-to-action-text-container-width);
    justify-content: left;
    flex-direction: column;
    margin: var(--call-to-action-text-container-margin);
  }
  &__title {
    @include font(
      --call-to-action-title-font,
      var(--font-semibold),
      var(--h2-font-size),
      1.2,
      var(--font-family-secondary)
    );
    letter-spacing: 0.1px;
    text-transform: var(--call-to-action-title-text-transform, none);
    color: var(
      --call-to-action-color,
      var(--call-to-action-title-color, var(--c-on-primary))
    );
    margin: var(--call-to-action-title-margin, 0 0 var(--spacer-sm) 0);
  }
  &__description {
    @include font(
      --call-to-action-description-font,
      var(--font-light),
      var(--font-base),
      1.8,
      var(--font-family-primary)
    );
    color: var(
      --call-to-action-color,
      var(--call-to-action-description-color, var(--c-on-primary))
    );
    margin: var(--call-to-action-description-margin, 0 0 var(--spacer-sm) 0);
  }
  &__button {
    height: var(--call-to-action-button-height, auto);
    width: var(--call-to-action-button-min-width, auto);
    @include font(
      --call-to-action-button-font,
      var(--font-semibold),
      var(--font-base),
      1.2,
      var(--font-family-secondary)
    );
    color: var(
      --call-to-action-color,
      var(--call-to-action-button-color, var(--c-on-primary))
    );
    margin: var(--call-to-action-button-margin, var(--spacer-sm) 0 0 0);
  }
  @include for-desktop {
    --call-to-action-flex-direction: row;
    --call-to-action-justify-content: space-between;
    --call-to-action-align-items: center;
    --call-to-action-min-height: 12.625rem;
    --call-to-action-title-font-size: var(--h2-font-size);
    --call-to-action-padding: 3.75rem 6.25rem;
    --call-to-action-text-container-width: calc(75%);
    --call-to-action-button-height: 3.25rem;
    --call-to-action-button-min-width: 10.75rem;
    --call-to-action-button-margin: 0;
  }
}
