@import "../../helpers";

// .sf-characteristic {
//   display: flex;
//   align-items: center;
//   &__icon {
//     display: flex;
//     align-items: center;
//     justify-content: center;
//     margin: var(--characteristic-margin, 0 calc(var(--spacer-big) / 2) 0 0);
//   }
//   &__title {
//     font: var(
//       --characteristic-title-font,
//       font(
//         --characteristic-title,
//         500,
//         var(--font-size-regular),
//         1.6,
//         var(--body-font-family-secondary)
//       )
//     );
//   }
//   &__description {
//     font: var(
//         --characteristic-description-font,
//         font(
//             --characteristic-description,
//             300,
//             var(--font-size-small),
//             1.6,
//             var(--body-font-family-primary)
//         )
//     );
//   }
//   @include for-desktop {
//     --characteristic-margin: 0 var(--spacer-big) 0 0;
//   }
// }
