@import '../../variables';

:root {
    --characteristic-font-family: var(--body-font-family-primary);
    --characteristic-font-size: var(--font-size-small);
    --characteristic-font-weight: var(--body-font-weight-secondary);
    --characteristic-line-height: 1.6;
    --characteristic__icon-margin-right: var(--spacer-big);
    --characteristic__title-font-family: var(--body-font-family-secondary);
    --characteristic__title-font-size: var(--font-size-regular);
    --characteristic__title-font-weight: 500;
}

.sf-characteristic {
    display: flex;
    align-items: center;
    font-family: var(--characteristic-font-family);
    font-size: var(--characteristic-font-size);
    font-weight: var(--characteristic-font-weight);
    line-height: var(--characteristic-line-height);

    &__icon {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-right: calc(var(--characteristic__icon-margin-right) / 2);
    }

    &__title {
        font-family: var(--characteristic__title-font-family);
        font-size: var(--characteristic__title-font-size);
        font-weight: var(--characteristic__title-font-weight);
    }
}

@media screen and (min-width: $desktop-min) {
    .sf-characteristic {
        &__icon {
            margin-right: var(--characteristic__icon-margin-right);
        }
    }
}