@import "../../helpers";
.sf-dropdown {
  position: var(--dropdown-position, fixed);
  top: var(--dropdown-top);
  bottom: var(--dropdown-bottom);
  transform: var(--dropdown-transform);  
  &__container {
    position: var(--dropdown-container-position, relative);
    top: var(--dropdown-container-top);
    bottom: var(--dropdown-container-bottom);
    width: var(--dropdown-container-width, 100%);
    z-index: 1;
    background: var(--dropdown-background, var(--c-white));
    box-shadow: var(--dropdown-box-shadow);
    @include for-desktop($breakpoint)  {
      box-shadow: var(
        --dropdown-box-shadow,
        0px 4px 11px rgba(var(--c-dark-base), 0.1)
      );
    }
  }
  &__overlay {
    @include for-desktop($breakpoint)  {
      display: none;
    }
  }
  &__title {
    padding: var(--dropdown-title-padding, var(--spacer-sm) var(--spacer-lg));
    color: var(--c-primary);
    @include font(
      --dropdown-title-font,
      var(--font-weight--normal),
      var(--font-size--sm),
      1.2,
      var(--font-family--secondary)
    );
    text-align: center;
  }
  &__cancel {
    --button-background: var(--c-light);
    --button-color: var(--c-text-muted);
    &:hover {
      --button-background: var(--c-light-primary);
    }
  }
  &__title {
    @include for-desktop($breakpoint)  {
      --button-display: none;
      display: none;
    }
  }
  &--up {
    @include for-desktop($breakpoint)  {
      --dropdown-bottom: 0;
      .sf-dropdown__container {
        --dropdown-container-position: absolute;
        --dropdown-container-bottom: 3.125rem;
      }
    }
  }
  &-enter-active {
    animation: var(--dropdown-animation-enter, dropdown 150ms);
  }
  &-leave-active {
    animation: var(--dropdown-animation-leave, dropdown 150ms reverse);
  }
}
@keyframes dropdown {
  0% {
    transform: translate3d(0, 100%, 0);
  }
  100% {
    transform: translate3d(0, 0, 0);
  }
}
@include for-desktop($breakpoint)  {
  @keyframes dropdown {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
}
