@import "../../helpers";

.sf-filter {
  --checkbox-container-width: 100%;

  display: flex;
  align-items: center;
  justify-content: space-between;
  font: var(
    --filter-font,
    font(
      --filter,
      400,
      var(--font-size-regular),
      1.6,
      var(--body-font-family-secondary)
    )
  );
  cursor: pointer;
  &__label {
    margin: var(--filter-label-margin, 0 0 0 var(--spacer-big));
  }
  &__count {
    margin: var(--filter-count-margin, 0 0 0 auto);
  }
  &--active {
    --filter-font-weight: 500;
  }
}
