@import "../../helpers";
.sf-filter {
  --checkbox-order: 1;
  --checkbox-border-radius: 100%;
  width: 100%;
  &__color {
    margin: var(--filter-color-margin, 0 var(--spacer-sm) 0 0);
  }
  &__label {
    display: var(--filter-label-display, flex);
    align-items: var(--filter-label-align-items, center);
    margin: var(--filter-label-margin, 0);
    color: var(--filter-label-color, var(--_c-dark-secondary));
    @include font(
      --filter-label-font,
      var(--font-normal),
      var(--font-base),
      1.4,
      var(--font-family-secondary)
    );
    text-decoration: var(--filter-label-text-decoration);
    transition: transform 150ms ease-in-out;
    transform: var(--filter-label-transform);
    transform-origin: center left;
  }
  &__count {
    display: var(--filter-count-display);
    margin: var(--filter-count-margin, 0 var(--spacer-sm) 0 auto);
    color: var(--filter-count-color);
    @include font(
      --filter-count-font,
      var(--font-normal),
      var(--font-sm),
      1.4,
      var(--font-family-secondary)
    );
  }
  @include for-desktop {
    --checkbox-border-radius: 0;
    --checkbox-order: 0;
    --filter-color-margin: 0;
    --filter-label-margin: 0 0 0 var(--spacer-sm);
    --filter-count-margin: 0 0 0 auto;
    --filter-label-font-size: var(--font-sm);
    --filter-count-font-size: var(--font-sm);
  }
  &.is-active {
    --filter-label-color: var(--c-text);
    @include for-desktop {
      --filter-label-text-decoration: underline;
    }
  }
  &.is-color {
    @include for-desktop {
      --checkbox-display: none;
      --filter-label-display: none;
      --filter-count-display: none;
    }
  }
}
