@import "../../helpers";
 
.sf-filter {
 --checkbox-order: 1;
 --checkbox-border-radius: 100%;
 width: 100%;
 &__label {
   margin: var(--filter-label-margin, 0 0 0 var(--spacer-sm));
   @include font(
     --filter-label-font,
     var(--font-medium),
     var(--font-base),
     1.4,
     var(--font-family-secondary)
   );
   text-decoration: var(--filter-label-text-decoration);
   transition: transform 150ms ease-in-out;
   transform: var(--filter-label-transform);
 }
 &__count {
   margin: var(--filter-count-margin, 0 var(--spacer-sm) 0 auto);
   @include font(
     --filter-count-font,
     var(--font-normal),
     var(--font-sm),
     1.4,
     var(--font-family-secondary)
   );
 }
 @include for-desktop {
   --checkbox-border-radius: 0;
   --checkbox-order: 0;
   --filter-count-margin: 0 0 0 auto;
   --filter-label-font-size: var(--font-2xs);
   --filter-count-font-size: var(--font-2xs);
 }
 &--active {
   @include for-desktop {
     --filter-label-text-decoration: underline;
     --filter-label-transform: scale3d(1.4, 1.4, 1);
   }
 }
 &--is-color {
   display: flex;
   align-items: center;
 }
}
 
