@import '../../helpers';

.sf-filter {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font: var(
    --filter-font,
    font(
      --filter,
      400,
      var(--font-size-big),
      1.6,
      var(--body-font-family-secondary)
    )
  );
  cursor: pointer;
  @include for-desktop {
    --filter-font-size: var(--font-size-small);
  }
  .sf-checkbox__container {
    width: 100%;
  }
  &__label {
    margin: var(--filter-label-margin, 0 0 0 var(--spacer-big));
  }
  &__count {
    margin: var(--filter-count-margin, 0 0 0 auto);
  }
  &--active {
    --filter-font-width: 500;
  }
}
