@import '../../variables';

:root {
    --gallery-flex-direction: row;
    --gallery__nav-width: 100px;
    --gallery__nav-margin: 0 var(--spacer-extra-big) 0 0;
    --gallery__item-margin-bottom: var(--spacer-medium);
    --gallery__item-opacity: .5;
    --gallery__item-transition: opacity .15s linear;
    --gallery__item-mobile-size: 10px;
    --gallery__item-mobile-background: var(--c-gray-variant);
    --gallery__item-mobile--selected-background: var(--c-primary);
    --gallery__stage-width: 400px;
    --gallery__stage-cursor: zoom-in;
}

.sf-gallery {
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: var(--gallery-flex-direction);
    position: relative;
    justify-content: center;
    margin-bottom: var(--gallery__item-mobile-size);

    &__thumbs {
        z-index: 2;
        position: absolute;
        width: auto;
        margin: 0;
        padding: 0;
        display: inline-flex;
        bottom: var(--gallery__item-mobile-size);
    }

    &__item {
        cursor: pointer;
        opacity: var(--gallery__item-opacity);
        transition: var(--gallery__item-transition);
        margin-right: var(--gallery__item-margin-bottom);

        &:last-of-type {
            margin-right: 0;
        }

        &::before {
            content: "";
            display: block;
            height: var(--gallery__item-mobile-size);
            width: var(--gallery__item-mobile-size);
            background: var(--gallery__item-mobile-background);
            border-radius: 50%;
        }

        &--selected {
            cursor: auto;
            opacity: 1;

            &::before {
                background: var(--gallery__item-mobile--selected-background);
            }
        }
    }

    &__stage {
        width: var(--gallery__stage-width);
        max-width: 100%;
        overflow: hidden;
        user-select: none;
    }

    &__thumb {
        display: none;
    }

    &__big-image {
        max-width: 100%;
        width: auto;
        height: auto;
        cursor: var(--gallery__stage-cursor);
    }

    img {
        user-select: none;
    }

    .glide {
        &__slides {
            margin: 0;
        }
    }
}

.sf-gallery__zoom {
    z-index: 1;
    position: absolute;
    overflow: hidden;

    img {
        transform: scale(2)
    }
}

@media screen and (min-width: $desktop-min) {
    .sf-gallery {
        margin-bottom: 0;

        &__thumbs {
            position: static;
            display: block;
            width: var(--gallery__nav-width);
            margin: var(--gallery__nav-margin);
            left: auto;
            bottom: auto;
            overflow-y: auto;
        }

        &__item {
            margin: 0 0 var(--gallery__item-margin-bottom);

            &:last-of-type {
                margin-bottom: 0;
            }

            &::before {
                display: none;
            }
        }

        &__thumb {
            display: block;
            width: 100%;
            height: auto;
        }
    }
}
