@import '../../helpers';

.sf-gallery {
  position: relative;
  display: flex;
  width: var(--gallery-width, 100%);
  flex-direction: var(--gallery-flex-direction, row);
  justify-content: center;
  margin: var(--gallery-margin, 0 0 0.625rem 0);
  text-align: var(--gallery-text-align, center);

  &__thumbs {
    position: absolute;
    bottom: var(--gallery-thumbs-bottom, 0.625rem);
    display: inline-flex;
    order: var(--gallery-thumbs-order);
    width: var(--gallery-thumbs-width, auto);
    margin: var(--gallery-thumbs-margin, 0);
    padding: var(--gallery-thumbs-padding, 0);
  }

  &__item {
    margin: var(--gallery-item-margin, 0 var(--spacer-medium) 0 0);
    transition: var(--gallery-item-transition, opacity 0.15s linear);
    opacity: var(--gallery-item-opacity, 0.5);
    cursor: var(--gallery-item-cursor, pointer);

    &:last-of-type {
      --gallery-item-margin: 0;
    }

    &::before {
      content: "";
      display: var(--gallery-item-display, block);
      height: var(--gallery-item-height, var(--gallery-item-size, 10px));
      width: var(--gallery-item-width, var(--gallery-item-size, 10px));
      background: var(--gallery-item-background, var(--c-gray-variant));
      border-radius: var(--gallery-item-border-radius, 50%);
    }

    &--selected {
      --gallery-item-opacity: 1;
      --gallery-item-cursor: 0;

      &::before {
        --gallery-item-background: var(--c-primary);
      }
    }
  }

  &__stage {
    width: var(--gallery-stage-width, 400px);
    max-width: var(--gallery-stage-max-width, 100%);
    overflow: var(--gallery-stage-overflow, hidden);
    user-select: none;
  }

  &__thumb {
    display: var(--gallery-thumb-display, none);
    width: var(--gallery-thumb-width);
    height: var(--gallery-thumb-height);
  }

  &__big-image {
    max-width: var(--gallery-big-image-max-width, 100%);
    width: var(--gallery-big-image-width, auto);
    height: var(--gallery-big-image-height, auto);
    cursor: var(--gallery-big-image-cursor);
    &--has-zoom {
      --gallery-big-image-cursor: zoom-in;
    }
  }

  img {
    user-select: none;
  }

  .glide {
    &__slides {
      margin: var(--gallery-glide-slides-margin, 0);
    }
  }

  @include for-desktop {
    --gallery-margin: 0;
    --gallery-item-margin: 0 0 var(--spacer-medium) 0;
    --gallery-item-display: none;
    --gallery-thumb-display: block;
    --gallery-thumb-width: 100%;
    --gallery-thumb-height: auto;
    
    &__thumbs {
      --gallery-thumbs-bottom: auto;
      --gallery-thumbs-order: -1;
      --gallery-thumbs-width: 100px;
      --gallery-thumbs-margin: 0 var(--spacer-extra-big) 0 0;
      position: static;
      display: block;
      left: auto;
      overflow-y: auto;
    }
  }
}

.sf-gallery__zoom {
  position: absolute;
  z-index: var(--gallery-zoom-index, 1);
  img {
    transform: var(
      --gallery-zoom-image-transform,
      translate3d(0, -50%, 0) scale(2)
    );
  }
}