@import "../../helpers";

.sf-notification {
  --icon-color: var(--c-white);
  position: relative;
  display: flex;
  align-items: var(--notification-align-items, flex-start);
  box-sizing: border-box;
  max-width: var(--notification-max-width);
  padding: var(
    --notification-padding,
    var(--spacer-big) calc(var(--spacer-big) * 5) var(--spacer-big)
    var(--spacer-big)
  );
  box-shadow: var(--notification-box-shadow);
  border-radius: var(--notification-border-radius);
  background: var(--notification-background);
  color: var(--notification-color, var(--c-white));
  font: var(
    --notification-font,
    font(
      --notification,
      400,
      var(--font-size-big),
      1.6,
      var(--body-font-family-primary)
    )
  );
  opacity: var(--notification-opacity, 0.8);
  @include for-desktop {
    --notification-padding: var(--spacer-medium);
    --notification-align-items: center;
    --notification-max-width: 35rem;
    --notification-font-size: var(--font-size-regular);
    --notification-font-width: var(--body-font-weight-primary);
    --notification-box-shadow: 0 8px 11px rgba(0, 0, 0, 0.1);
    --notification-border-radius: 5px;
    --notification-opacity: 1;
    --notification-title-font-size: var(--font-size-big);
    --notification-title-font-width: 700;
    --notification-action-padding: 0;
    --notification-action-margin: 0 0 0 var(--spacer-big);
    --notification-action-border: 0;
    --notification-action-background: transaprent;
    --notification-action-font: inherit;
    --notification-action-text-decoration: underline;
    --notification-icon-margin: 0 var(--spacer-big) 0 0;
    --notification-close-top-position: var(--spacer-medium);
    --notification-close-right-position: var(--spacer-medium);
    --notification-action-display: inline;
    --notification-action-outline: none;
    --notification-icon-display: block;
    --notification-title-display: block;
  }
  &__title {
    display: var(--notification-title-display, inline);
    font: var(
      --notification-title-font,
      font(
        --notification-title,
        300,
        var(--font-size-big),
        1.6,
        var(--body-font-family-primary)
      )
    );
    &::after {
      content: " ";
    }
    @include for-desktop {
      &::after {
        content: none;
      }
    }
  }
  &__action {
    display: var(--notification-action-display, none);
    margin: var(--notification-action-margin);
    padding: var(--notification-action-padding);
    border: var(--notification-action-border);
    background-color: var(--notification-action-background);
    color: var(--notification-action-color);
    font: var(--notification-action-font);
    text-decoration: var(--notification-action-text-decoration);
    outline: var(--notification-action-outline);
  }
  &__icon {
    display: var(--notification-icon-display, none);
    margin: var(--notification-icon-margin);
  }
  &__close {
    position: absolute;
    right: var(--notification-close-right-position, var(--spacer-big));
    top: var(--notification-close-top-position, var(--spacer-big));
    cursor: pointer;
  }
  @each $color, $map in $colors-map {
    $primary: map-get($map, "primary");
    &.color-#{$color} {
      --notification-background: #{$primary};
    }
  }
}
