@import '../../variables';

:root {
  --options-font-family: var(--body-font-family-secondary);
  --options-font-size: var(--font-size-regular);
  --options-font-weight: 500;
  --options-line-height: 1.6;
  --options-transition: all .3s ease-in-out;
  --options__label-margin-bottom: .5rem;
  --options__label-font-size: var(--font-size-big);
  --options__option-size: 2rem;
  --options__option-margin: .75rem;
  --options__option-text-color: #bdbdbd;
  --options__option--selected-text-color: var(--c-text);

  @media screen and (min-width: $desktop-min) {
    --options-font-size: var(--font-size-small);
    --options__label-font-size: var(--font-size-regular);
    --options__option-color-size: 1rem;
  }
}

.sf-options {
  display: flex;
  flex-wrap: wrap;
  font-family: var(--options-font-family);
  font-size: var(--options-font-size);
  font-weight: var(--options-font-weight);

  &__wrapper {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
  }

  &__option {
    &-text,
    &-color,
    &-image {
      display: flex;
      justify-content: center;
      align-items: center;
      min-width: var(--options__option-size);
      min-height: var(--options__option-size);
      transition: var(--options-transition);
    }

    &-text {
      color: var(--options__option-text-color);

      &--selected,
      &:hover,
      &:focus {
        color: var(--options__option--selected-text-color);
        background-color: rgba(241, 242, 243, 1);
      }
    }

    &-image {
      background-repeat: no-repeat;
      background-position: center;
      background-size: 100%;
    }

    &-color,
    &-image {
      &-check {
        position: absolute;
        top: -30%;
        bottom: 0;
        left: 60%;
        right: 0;
        height: 23px;
        width: 23px;
        opacity: 0;
        transition: var(--options-transition);
        background-image: url("/packages/shared/icons/check.svg");
        background-repeat: no-repeat;
        background-position: center;
        background-color: var(--c-primary);
        border-radius: 50%;
      }

      &-wrapper {
        position: relative;
      }

      &--selected + &-check,
      &-wrapper:hover > &-check {
        opacity: 1;
      }
    }
  }

  &__option-container {
    cursor: pointer;
    display: flex;
    align-items: center;
    margin-right: var(--options__option-margin);

    &:last-child {
      margin-right: 0;
    }
  }

  &__label {
    margin-bottom: var(--options__label-margin-bottom);
    font-size: var(--options__label-font-size);
  }
}

@media screen and (min-width: $desktop-min) {
  .sf-options {
    &__option {
      &-color,
      &-image {
        min-width: var(--options__option-color-size);
        min-height: var(--options__option-color-size);
      }

      &-color,
      &-image {
        &--selected + &-check,
        &-wrapper:hover > &-check {
          opacity: 0;
        }

        &--selected,
        &:hover,
        &:focus {
          min-width: calc(var(--options__option-color-size) * 2);
          min-height: calc(var(--options__option-color-size) * 2);
          box-shadow: 0 4px 4px -2px #c8c9cb;
        }
      }
    }
  }
}
