@import '../../variables';
.sf-options {
  display: flex;
  flex-wrap: var(--options-wrap, wrap);
  font: var(--options-font, font(--options, 500, var(--font-size-regular), 0, var(--body-font-family-secondary)));
  @include for-desktop {
    --options-option-check-opacity: 0;
    --options-font-size: var(--font-size-small);
    --options-label-font-size: var(--font-size-regular);
  }
  &__wrapper {
    display: flex;
    flex-wrap: var(--options-wrapper-wrap, wrap);
    width: var(--options-wrapper-width, 100%);
  }
  &__option {
    &-text,
    &-color,
    &-image {
      display: flex;
      justify-content: center;
      align-items: center;
      min-width: var(--options-option-min-width, var(--options-option-size, 2rem));
      min-height: var(--options-option-min-height, var(--options-option-size, 2rem));
      transition: var(--options-option-transition, all .3s ease-in-out);
      box-shadow: var(--options-option-box-shadow);
    }
    &-text {
      color: var(--options-option-text-color, #bdbdbd);
      background: var(--options-option-text-background);
      &--selected,
      &:hover,
      &:focus {
        --options-option-text-color: var(--c-text);
        --options-option-text-background: rgba(241, 242, 243, 1);
      }
    }
    &-image {
      background-repeat: no-repeat;
      background-position: center;
      background-size: 100%;
    }
    &-color,
    &-image {
      @include for-desktop {
        --options-option-size: 1rem;
      }
      &-check {
        position: absolute;
        top: var(--options-option-check-top, -30%);
        bottom: var(--options-option-check-bottom, 0);
        left: var(--options-option-check-left, 60%);
        right: var(--options-option-check-right, 0);
        height: var(--options-option-check-height, var(--options-option-check, 23px));
        width: var(--options-option-check-width, var(--options-option-check, 23px));
        opacity: var(--options-option-check-opacity, 0);
        transition: var(--options-option-transition, all .3s ease-in-out);
        background-image: var(--options-option-check-url, url("/packages/shared/icons/check.svg"));
        background-repeat: no-repeat;
        background-position: center;
        background-color: var(--options-option-check-background, var(--c-primary));
        border-radius: var(--options-option-check-border-radius, 50%);
      }
      &-wrapper {
        position: relative;
      }
      &--selected + &-check,
      &-wrapper:hover > &-check {
        --options-option-check-opacity: 1;
      }
      &--selected,
      &:hover,
      &:focus {
        @include for-desktop {
          --options-option-size: calc(var(--options-option-size) * 2);
          --options-option-box-shadow: 0 4px 4px -2px #c8c9cb;
        }
      }
    }
  }
  &__option-container {
    cursor: pointer;
    display: flex;
    align-items: center;
    margin: var(--options-option-container-margin, 0 .75rem 0 0);
    &:last-child {
      --options-option-container-margin: 0;
    }
  }
  &__label {
    font: var(--options-label-font, font(--options-label, 500, var(--font-size-big), 1.6, var(--body-font-family-secondary)));
    margin: var(--options-label-margin, 0 0 .5rem 0);
  }
}
