@import '../../helpers';

.sf-pagination {
  font: var(
    --pagination-font,
    font(
      --pagination,
      400,
      var(--font-size-big),
      1.6,
      var(--body-font-family-secondary)
    )
  );
  @include for-desktop {
    --pagination-item-margin: 0 calc(var(--spacer-big) / 2);
  }
  &__list {
    display: flex;
    align-items: center;
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  &__item {
    display: flex;
    align-items: center;
    margin: var(--pagination-item-margin, 0 calc(var(--spacer-big) / 4));
    color: var(--pagination-item-color, var(--c-text-muted));
  }
  &__button {
    padding: var(--pagination-button-padding, 0);
    border: var(--pagination-button-padding, 0);
    font: var(
      --pagination-font,
      font(
        --pagination,
        400,
        var(--font-size-big),
        1.6,
        var(--body-font-family-secondary)
      )
    );
    margin: var(--pagination-button-margin);
    background-color: transparent;
    color: var(--pagination-button-color, inherit);
    border-bottom: var(
      --pagination-button-border-bottom,
      1px solid transparent
    );
    outline: none;
    opacity: var(--pagination-button-opacity);
    transition: var(
      --pagination-button-transition,
      color 150ms ease-in-out,
      border-color 150ms ease-in-out
    );
    cursor: var(--pagination-button-cursor, pointer);
    &--prev {
      --pagination-button-margin: 0 3rem 0 0;
    }
    &--next {
      --pagination-button-margin: 0 0 0 3rem;
    }
    &--current {
      --pagination-button-color: var(--c-text);
      --pagination-button-border-bottom: 1px solid var(--c-text);
    }
    &:disabled {
      --pagination-button-cursor: default;
      --pagination-button-opacity: 0.7;
    }
  }
}
