@import "../../helpers";

.sf-product-option {
  display: var(--product-option-display, flex);
  align-items: var(--product-option-align-items, center);
  justify-content: var(--product-option-justify-content, space-between);
  font: var(
    --product-option-font,
    font(
      --product-option-font,
      var(--body-font-weight-secondary),
      var(--font-size-regular),
      1.6,
      var(--body-font-family-secondary)
    )
  );

  &__label {
    flex-grow: 1;
  }
  &__color {
    width: var(
      --product-option-color-width,
      var(--product-option-color-size, 1.125rem)
    );
    height: var(
      --product-option-color-height,
      var(--product-option-color-size, 1.125rem)
    );
    margin: var(--product-option-color-margin, 0 var(--spacer-big) 0 0);
    border: var(--product-option-color-border, 1px solid var(--c-gray-variant));
  }
}
