@import "../../helpers";

.sf-range {
  --range-height: 7px; 
  position: relative;
  width: var(--range-width, 100%);
  height: var(--range-height);
  margin: var(--spacer-xl);
  background-color: var(--c-light);
  border: none;
  box-shadow: none;
  .noUi {
    &-handle {
      width: var(--range-handle-width, var(--range-handle-size, 33px));
      height: var(--range-handle-width, var(--range-handle-size, 33px));
      border-radius: var(--range-handle-border-radius, 50%);
      transform: var(--range-handle-transform, translate3d(0, -20%, 0));
      box-shadow: none;
      @include border(--range-handle-border, 1px, solid, var(--c-primary));
      @include background(--range-handle-background, var(--c-white));
      &::before,
      &::after {
        display: none;
      }
      &:focus {
        outline: none;
      }
      &.noUi-active .noUi-touch-area {
        --range-handle-background: var(--c-primary);
      }
    }
    &-connect {
      background: var(--range-connect-background, var(--c-primary));
    }
    &-connects {
      margin: 0 var(--range-tooltips-padding);
      width: calc(100% + var(--range-tooltips-padding) * 2);
    }
    &-touch-area {
      background: var(--range-handle-background);
      border-radius: var(--range-handle-border-radius, 50%);
      &:hover {
        --range-handle-background: var(--c-primary-variant);
      }
    }
    &-tooltip {
      bottom: var(--range-tooltip-bottom, -120%);
      color: var(--range-tooltip-color, var(--c-secondary-variant));
      @include font(
        --range-tooltip-font,
        var(--font-weight--normal),
        var(--font-size--xs),
        1.2,
        (--font-family--secondary)
      );
      @include border(--range-tooltip-border, 0, none, var(--c-primary));
    }
  }
  &[disabled="disabled"] {
    .noUi {
      &-handle {
        --range-handle-border-color: var(--c-text-disabled);
      }
      &-connect {
        --range-connect-background: var(--c-text-disabled);
      }
      &-touch-area:hover {
        --range-handle-background: var(--c-base);
      }
      &-tooltip {
        display: none;
      }
    }
  }
}
.noUi-vertical {
  --range-height: 300px;
  --range-width: 7px;
  --range-handle-transform: translate3d(20%, 0, 0);
  .noUi-connect {
    height: var(--range-height);
    width: var(--range-width);
  }
}
