@import "../../helpers";

.sf-radio {
  display: var(--radio-display, flex);
  transition: var(
    --radio-transition,
    background-color 0.25s cubic-bezier(1, 0.5, 0.8, 1)
  );

  &.is-active {
    background: var(--radio-background, var(--c-light));
  }

  &__label {
    display: var(--radio-label-display, flex);
    font: var(
      --radio-label-font,
      font(
        --radio-label,
        500,
        var(--font-size-big),
        1.6,
        var(--body-font-family-secondary)
      )
    );
  }

  &__checkmark {
    box-sizing: border-box;
    width: var(--radio-checkmark-width, var(--radio-checkmark-size, 1.4375rem));
    height: var(
      --radio-checkmark-height,
      var(--radio-checkmark-size, 1.4375rem)
    );
    border: var(--radio-checkmark-border, 1px solid var(--c-gray-variant));
    border-radius: 50%;
    transition: var(
      --radio-checkmark-transition,
      border 0.25s cubic-bezier(1, 0.5, 0.8, 1)
    );
    .is-active & {
      --radio-checkmark-border: 9px solid var(--c-primary);
    }
  }

  &__input {
    position: absolute;
    opacity: 0;
  }

  &__container {
    display: var(--radio-container-display, flex);
    flex: 1;
    padding: var(--radio-container-padding, var(--spacer-big));
    cursor: var(--radio-container-cursor, pointer);
    &:hover {
      --radio-checkmark-border: 1px solid var(--c-primary);
      .is-active & {
        --radio-checkmark-border: 9px solid var(--c-primary);
      }
    }
  }

  &__content {
    flex: 1;
    margin: var(--radio-content-margin, 0 0 0 var(--spacer-big));
  }

  &__description {
    margin: var(--radio-description-margin, var(--spacer-medium) 0 0 0);
    font: var(
      --radio-description-font,
      font(
        --radio-description,
        var(--body-font-weight-primary),
        var(--font-size-small),
        1.6,
        var(--body-font-family-secondary)
      )
    );
  }

  &--transparent {
    &.is-active {
      --radio-background: transparent;
    }
  }

  @include for-desktop {
    --radio-description-font-size: var(--font-size-regular);
    --radio-label-font-size: var(--font-size-big);
  }
}
