@import "../../helpers";
.sf-radio {
  display: var(--radio-display, flex);
  transition: var(
    --radio-transition,
    background-color 0.25s cubic-bezier(1, 0.5, 0.8, 1)
  );
  &__label {
    display: var(--radio-label-display, flex);
    @include font(
      --radio-label-font,
      var(--font-normal),
      var(--h4-font-size),
      normal,
      var(--font-family-secondary)
    );
  }
  &__checkmark {
    box-sizing: border-box;
    width: var(--radio-checkmark-size, 1.5rem);
    height: var(--radio-checkmark-size, 1.5rem);
    box-shadow: var(--radio-checkmark-box-shadow);
    @include border(
      --radio-checkmark-border,
      1px,
      solid,
      var(--c-gray-variant)
    );
    border-radius: var(--radio-checkmark-border-radius, 100%);
    transition: var(
      --radio-checkmark-transition,
      border 0.25s cubic-bezier(1, 0.5, 0.8, 1)
    );
    .sf-radio--is-active & {
      --radio-checkmark-border-width: 9px;
      --radio-checkmark-border-color: var(--c-primary);
    }
  }
  &__input {
    position: absolute;
    opacity: 0;
  }
  input {
    &:focus + .sf-radio__container {
      --radio-checkmark-box-shadow: 0 0 2px 2px rgb(59, 153, 252);
    }
  }
  &__container {
    display: var(--radio-container-display, flex);
    align-items: var(--radio-container-align-items);
    flex: 1;
    padding: var(
      --radio-container-padding,
      var(--spacer-sm) var(--spacer-lg) var(--spacer-sm) var(--spacer-sm)
    );
    cursor: var(--radio-container-cursor, pointer);
    &:hover {
      --radio-checkmark-border-color: var(--c-primary);
    }
  }
  &__content {
    flex: 1;
    margin: var(--radio-content-margin, 0 0 0 var(--spacer-sm));
  }
  &__details {
    margin: var(--radio-details-margin, var(--spacer-xs) 0 0 0);
    color: var(--radio-details-color, var(--c-text-muted));
    @include font(
      --radio-details-font,
      var(--font-light),
      var(--font-xs),
      1.2,
      var(--font-family-secondary)
    );
  }
  &__description {
    margin: var(--radio-description-margin, var(--spacer-xs) 0 0 0);
    @include font(
      --radio-description-font,
      var(--font-light),
      var(--font-xs),
      1.6,
      var(--font-family-primary)
    );
  }
  &--is-active {
    background: var(--radio-background, var(--c-light));
  }
  &--transparent {
    &.sf-radio--is-active {
      --radio-background: transparent;
    }
  }
  @include for-desktop {
    --radio-container-padding: var(--spacer-sm);
  }
}
