@import '../../variables';

:root {
    --radio-font-family: var(--body-font-family-secondary);
    --radio-font-size: var(--font-size-small);
    --radio-font-weight: var(--body-font-weight-primary);
    --radio-line-height: 1.6;
    --radio-transition: background-color .25s cubic-bezier(1, .5, .8, 1);
    --radio__label-font-size: var(--font-size-extra-big);
    --radio__label-font-weight: 500;
    --radio__label-line-height: 1.3;
    --radio__checkmark-transition: border 0.25s cubic-bezier(1, .5, .8, 1);
    --radio__checkmark-size: 1.4375rem;
    --radio__checkmark-color-primary: var(--c-primary);
    --radio__checkmark-color-secondary: var(--c-gray-variant);
    --radio--active-background: var(--c-light);

    @media screen and (min-width: $desktop-min) {
        --radio-font-size: var(--font-size-extra-small);
        --radio__label-font-size: var(--font-size-big);
    }
}

.sf-radio {
    $this: &;
    font-family: var(--radio-font-family);
    font-size: var(--radio-font-size);
    font-weight: var(--radio-font-weight);
    line-height: var(--radio-line-height);
    transition: var(--radio-transition);

    &__input {
        display: none;
    }

    &__container {
        display: flex;
        padding: var(--spacer-big);
        cursor: pointer;
    }

    &__checkmark {
        flex: 0 0 var(--radio__checkmark-size);
        height: var(--radio__checkmark-size);
        border: 1px solid var(--radio__checkmark-color-secondary);
        border-radius: 50%;
        box-sizing: border-box;
        transition: var(--radio__checkmark-transition);

        &.is-active {
            border: 9px solid var(--radio__checkmark-color-primary);
        }

        &:hover {
            border-color: var(--radio__checkmark-color-primary);
        }
    }

    &__content {
        margin-left: var(--spacer-big);
    }

    &__label {
        font-size: var(--radio__label-font-size);
        font-weight: var(--radio__label-font-weight);
        line-height: var(--radio__label-line-height);
    }

    &__description {
        margin: var(--spacer-medium) 0 0 0;
    }

    &.is-active {
        background-color: var(--radio--active-background);
    }

    &--transparent {
        &#{$this}.is-active {
            background-color: transparent;
        }
    }
}
