@import "../../helpers";

.sf-review {
  position: relative;
  display: var(--review-display, block);
  &__icon {
    --icon-size: 0.85rem;
    --icon-color: var(--c-primary);
    margin: var(--review-icon-margin, 0 var(--spacer-xs) 0 0);
  }
  &__author {
    display: flex;
    align-items: center;
    color: var(--review-author-color, var(--c-text));
    @include font(
      --review-author-font,
      var(--font-medium),
      var(--font-sm),
      1.6,
      var(--font-family-primary)
    );
    text-transform: var(--review-author-text-transform, capitalize);
  }
  &__rating {
    display: var(--review-rating-display, inline-block);
  }
  &__info {
    margin: var(--review-info-margin, var(--spacer-xs) 0 var(--spacer-sm) 0);
  }
  &__date {
    display: inline;
    margin: var(--review-date-margin, 0 0 0 var(--spacer-xs));
    text-transform: var(--review-date-text-transform, capitalize);
    color: var(--review-date-color, var(--c-text));
    @include font(
      --review-date-font,
      var(--font-normal),
      var(--font-sm),
      1.6,
      var(--font-family-secondary)
    );
  }
  &__message {
    display: var(--review-message-display, block);
    color: var(--review-message-color, var(--c-text));
    @include font(
      --review-message-font,
      var(--font-light),
      var(--font-base),
      1.6,
      var(--font-family-primary)
    );
  }
  &__read-more {
    padding: 0;
    background: var(--review-read-more-background, transparent);
    color: var(--review-read-more-color, var(--c-text));
    @include font(
      --review-read-more-font,
      var(--font-medium),
      var(--font-xs),
      1.6,
      var(--font-family-secondary)
    );
    text-decoration: var(--review-read-more-text-decoration, underline);
    cursor: var(--review-read-more-cursor, pointer);
  }
  @include for-desktop {
    --review-message-display: inline;
  }
}
