@import "../../helpers";
.sf-review {
  position: relative;
  display: var(--review-display, block);
  &__author {
    margin: var(--review-author-margin, 0 0 var(--spacer-medium) 0);
    font: var(
      --review-author-font,
      font(
        --review-author-font,
        500,
        var(--font-size-extra-big),
        1.6,
        var(--body-font-family-primary)
      )
    );
    text-transform: var(--review-author-text-transform, capitalize);
    color: var(--review-author-color, var(--c-text));
  }
  &__rating {
    display: var(--review-rating-display, inline-block);
  }
  &__info {
    margin: var(--review-info-margin, 0 0 var(--spacer-medium) 0);
  }
  &__date {
    text-transform: var(--review-date-text-transform, capitalize);
    font: var(
      --review-date-font,
      font(
        --review-date-font,
        var(--body-font-weight-primary),
        var(--font-size-regular),
        1.6,
        var(--body-font-family-secondary)
      )
    );
    color: var(--review-date-color, var(--c-dark-variant));
  }
  &__message {
    display: inline;
    color: var(--review-message-color, var(--c-dark-variant));
    font: var(
      --review-message-font,
      font(
        --review-message-font,
        var(--body-font-weight-primary),
        var(--font-size-big),
        1.6,
        var(--body-font-family-secondary)
      )
    );
  }
  &__read-more {
    font: var(
      --review-read-more-font,
      font(
        --review-read-more-font,
        var(--body-font-weight-primary),
        var(--font-size-big),
        1.6,
        var(--body-font-family-primary)
      )
    );
    color: var(--review-read-more-color, var(--c-primary));
    background: var(--review-read-more-background, transparent);
    border: var(--review-read-more-border, none);
    cursor: var(--review-read-more-cursor, pointer);
  }
  @include for-desktop {
    --review-author-font-size: var(--font-size-big);
    --review-date-font-size: var(--font-size-small);
    --review-message-font-size: var(--font-size-regular);
    --review-read-more-font-size: var(--font-size-regular);
  }
}
