@import "~simplebar/dist/simplebar.min";
@import "../../helpers";
.sf-scrollable {
  &__content {
    overflow-y: scroll;
    max-height: var(
      --scrollable-max-height,
      var(--_scrollable-max-height, 5rem)
    );
    .simplebar-scrollbar:before {
      width: 4px;
      background: var(--c-gray-variant);
      border-radius: 10px;
    }
  }
  &.is-open {
    --scrollable-max-height: auto;
  }
  &__view-all {
    margin: var(--scrollable-button-margin, var(--spacer-sm) 0 0 0);
  }

  ::-webkit-scrollbar {
    background-color: var(--c-white);
    width: 12px;
  }

  /* background of the scrollbar except button or resizer */
  ::-webkit-scrollbar-track {
      background-color: var(--c-white);
  }

  /* scrollbar itself */
  ::-webkit-scrollbar-thumb {
      background-color: #babac0;
      border-radius: var(--spacer-sm);
      border: var(--spacer-2xs) solid var(--c-white);
  }

  /* set button(top and bottom of the scrollbar) */
  ::-webkit-scrollbar-button {
      display: none;
  }
}
