@import "../../helpers";
.sf-scrollable {
  &__content {
    overflow-y: auto;
    max-height: var(
      --scrollable-max-height,
      var(--_scrollable-max-height, 5rem)
    );
  }
::-webkit-scrollbar {
  width: 0;
  height: 0;
}
scrollbar-color: var(--c-text-muted) transparent;
scrollbar-width: thin;
::-webkit-scrollbar-thumb {
  background: var(--c-text-muted);
  border-radius: 0.625rem;
  &:hover {
    background: var(--c-link); 
  }
}
&:hover {
  ::-webkit-scrollbar {
    width: 0.3125rem;
    height: 0.3125rem;
  }
}
  &.is-open {
    --scrollable-max-height: auto;
  }
  &__view-all {
    margin: var(--scrollable-button-margin, var(--spacer-sm) 0 0 0);
  }
}
