@import "../../helpers";
.sf-scrollable {
  &__content {
    overflow-y: scroll;
    max-height: var(
      --scrollable-max-height,
      var(--_scrollable-max-height, 5rem)
    );
  }
  ::-webkit-scrollbar-thumb:hover {
  background: #555; 
}
  &.is-open {
    --scrollable-max-height: auto;
  }
  &__view-all {
    margin: var(--scrollable-button-margin, var(--spacer-sm) 0 0 0);
  }
}
