@import "~simplebar/dist/simplebar.min";
@import "../../helpers";
.sf-scrollable {
  &__content {
    overflow-y: scroll;
    max-height: var(
      --scrollable-max-height,
      var(--_scrollable-max-height, 5rem)
    );
    .simplebar-scrollbar:before {
      width: 4px;
      background: var(--c-gray-variant);
      border-radius: 10px;
    }
  }
  &.is-open {
    --scrollable-max-height: auto;
  }
  &__view-all {
    margin: var(--scrollable-button-margin, var(--spacer-sm) 0 0 0);
  }

  &::-webkit-scrollbar {
    background-color: #fff;
    width: 16px;
  }

  /* background of the scrollbar except button or resizer */
  &::-webkit-scrollbar-track {
      background-color: #fff;
  }

  /* scrollbar itself */
  &::-webkit-scrollbar-thumb {
      background-color: #babac0;
      border-radius: 16px;
      border: 4px solid #fff;
  }

  /* set button(top and bottom of the scrollbar) */
  &::-webkit-scrollbar-button {
      display:none;
  }
}
