@import "../../helpers";
.sf-section {
  margin: var(
    --section-margin,
    calc(var(--spacer-lg) * 2) 0 var(--spacer-lg) 0
  );
  &__content {
    margin: var(--section-content-margin, calc(var(--spacer-lg) * 2) 0 0 0);
  }
  @include for-desktop($breakpoint)  {
    --section-margin: var(--spacer-3xl) 0;
    --section-content-margin: var(--spacer-2xl) 0 0 0;
  }
}
