@import "../../helpers";

.sf-select {
  position: relative;
  box-sizing: border-box;
  width: var(--select-width);
  height: var(--select-height, 2.625rem);
  padding: var(--select-padding, var(--spacer-sm) 0 0 0);
  color: var(--select-color, var(--c-text));  
  cursor: default;  
  &__label {
    position: absolute;
    top: var(--select-label-top, 50%);
    left: var(--select-label-left, 0);
    height: 0.625rem;
    color: var(--select-label-color, inherit);
    transition: var(
      --select-label-transition,
      top 150ms linear,
      font-size 150ms linear
    );
    @include font(
      --select-label-font,
      var(--font-weight--normal),
      var(--font-weight--xs),
      1,
      var(--font-family--secondary)
    );
    &::after {
      content: var(--select-label-required);
      color: var(--select-label-color, var(--c-primary));
    }
  }
  &__cancel {
    --button-background: var(--c-light);
    --button-color: var(--c-dark-variant);
    &:hover {
      --button-background: var(--c-light);
    }
  }
  &__dropdown {
    width: 100%;
    height: 1.625rem;    
    overflow: auto;
    box-shadow: none;  
    background: var(--c-white);    
    @include border(--select-dropdown-border, 0 0 1px 0, solid, var(--c-secondary));
  }
  &__option {
    padding: var(--select-option-padding, 0);            
    @include background(
      --select-option-background,
      var(--c-white)
    ); 
    @include font(
      --select-option-font,
      var(--font-weight--normal),
      var(--font-size--base),
      1,
      var(--font-family--secondary)
    ); 
  }
  .sf-select__dropdown:active .sf-select__placeholder {
    display: var(--select-placeholder-display, none);
  }
  &__label .sf-select__dropdown:active  {
    top: 0;
  }
  &::-ms-expand {
    display: none;
  }
  &--underlined {
    --select-border-width: 0 0 1px 0;
    --select-border-color: var(--c-light);
  }
  &--is-selected {
    --select-label-top: 0;
    --select-label-font-size: var(--font-xs);
  }
  &--is-invalid {
    --select-border-color: var(--c-danger);
  }
  &--is-active {
    --chevron-color: var(--c-primary);
    --select-label-color: var(--c-text-muted);
    --select-border-color: var(--c-primary);
  }
  &--is-disabled {
    --chevron-color: var(--c-text-disabled);
    --select-color: var(--c-text-disabled);
    --select-border-color: var(--c-text-disabled);
    --select-label-color: var(--c-text-disabled);
  }
  &--is-required {
    --select-label-required: " *";
  }
  &--no-chevron {
    --chevron-display: none;
  }
}