@import "../../helpers";
// todo: after replace <input> to <SfInput> we can remove @mixin placeholder and @mixin iconPosition
// @mixin placeholder {
//   &::-webkit-input-placeholder {
//     @content;
//   }
//   &::-moz-placeholder {
//     @content;
//   }
//   &:-ms-input-placeholder {
//     @content;
//   }
// }
// @mixin iconPosition {
//   flex-direction: var(--search-bar-icon-flex-direction, row);
//   .sf-search-bar__input {
//     --search-bar-input-text-align: center;
//     &::placeholder {
//       text-align: center;
//     }
//   }
// }
.sf-search-bar {
  box-sizing: border-box;
  position: relative;
  display: var(--search-bar-display, flex);
  align-items: center;
  background: var(--search-bar-background);
  padding: var(--search-bar-padding);
  width: var(--search-bar-width);
  height: var(--search-bar-height, 2rem);
  // &__icon {
  //   --icon-size: 1.25rem;
  //   position: absolute;
  //   bottom: var(--spacer-xs);
  //   right: var(--search-bar-icon-right, 0);
  //   display: var(--search-bar-icon-display, block);
  // }
  &__input {   
    --input-bar-display: none;
    --input-padding: 0;
    --input-font-size: var(--font-base);
    --input-label-font-size: var(--font-sm);
    --input-label-color: var(--c-secondary-variant);
    // --input-label-transform: none;    
    --input-label-transition: 0.2s ease-in;  
    position: relative;
    flex-grow: 1;
    // color: var(--search-bar-placeholder-color, var(--c-secondary-variant));    
    background: transparent;
    text-align: var(--search-bar-input-text-align);
    width: 100%;
    height: 100%;
    // .sf-input__label{
    //   - 
    // } 
    // @include font(
    //   --search-bar-font,
    //   var(--font-normal),
    //   var(--font-sm),
    //   1.6,
    //   var(--font-family-secondary)
    // );
    @include border(
      --search-bar-border,
      0 0 2px 0,
      solid,
      var(--c-dark-variant)
    );
    // @include placeholder {
    //   color: var(--search-bar-placeholder-color, var(--c-gray));
    //   transition: var(--search-bar-placeholder-transition, color 0.2s ease-in);
    //   font: inherit;
    // }
    input:focus {
      & ~ * {
        --input-label-color: transparent;
        --input-label-top: 50%;
        --input-label-font-size: var(--font-sm);
      }
    }
    &.sf-input--has-text {
      --input-label-display: none;
    }
    &::-webkit-search-cancel-button {
      opacity: 0;
    }
    // &[type="search"] {
    //   -webkit-appearance: none;
    // }
    &::-ms-clear {
      opacity: 0;
    }
  }
  // &--position-center {
  //   @include iconPosition();
  // }
  &--no-icon {
    --search-bar-icon-display: none;
  }
  @include for-desktop {
    --search-bar-width: 20rem;
  }
}
