@import "../../helpers";
.sf-search-bar {  
  --input-width: var(--search-bar-width);
  --input-height: var(--search-bar-height, 2rem); 
  --input-margin: 0;
  --input-padding: 0;  
  --input-border-width: 0;
  --input-font-size: var(--font-base);
  --input-label-font-size: var(--font-sm);
  --input-label-color: var(--c-secondary-variant);  
  --input-label-transition: 0.2s ease-in; 
  box-sizing: border-box;
  position: relative;
  display: var(--search-bar-display, flex);
  flex-grow: 1; 
  align-items: center;
  background: var(--search-bar-background, transparent);       
  text-align: var(--search-bar-input-text-align);
  width: 100%;
  height: 100%;  
  @include border(
    --search-bar-border,
    0 0 1px 0,
    solid,
    var(--c-secondary-variant)
  );
  &.sf-input {    
    input:focus{
      --search-bar-border: 0;
    }
    &__icon {
      --input-icon-left: unset;
      --input-icon-transition: none;
      right: 0;    
    }
    &--has-text {
      --input-label-display: none;
    }
  }
  input::-webkit-search-cancel-button {
    opacity: 0;
  }
  &::-ms-clear {
    opacity: 0;
  }  
  &--no-icon {
    .sf-input__icon {
      display: none;
    }    
  }
  &--position-center {
    --search-bar-input-text-align: center;  
    .sf-input__wrapper {
      justify-content: center;
    }
  }
  @include for-desktop($breakpoint)  {
    --search-bar-width: 20rem;
  }
}
