@import '../../variables';

:root {
    --section-margin-y: calc(var(--spacer-big) * 3);
    --section__content-margin-top: var(--spacer-big);

    @media screen and (min-width: $desktop-min) {
        --section-margin-y: 10rem;
        --section__content-margin-top: calc(var(--spacer-extra-big) * 1.5);
    }
}

.sf-section {
    margin: var(--section-margin-y) 0;

    &__content {
        margin-top: var(--section__content-margin-top);
    }
}
