@import '../../helpers';

@mixin placeholder {
  &::-webkit-input-placeholder {
    @content;
  }
  &::-moz-placeholder {
    @content;
  }
  &:-ms-input-placeholder {
    @content;
  }
}
@mixin iconPosition {
  flex-direction: var(--search-bar-icon-flex-direction, row);
  .sf-search-bar__input {
    --search-bar-input-text-align: left;
    &::placeholder {
      text-align: left;
    }
    &:focus {
      & ~ .sf-search-bar__clear-icon {
        --search-bar-clear-icon-padding: 0 1.5rem 0 0;
      }
    }
  }
}
.sf-search-bar {
  box-sizing: border-box;
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: var(--search-bar-flex-direction, row-reverse);
  height: var(--search-bar-height, var(--search-bar-size, 2.25rem));
  width: var(--search-bar-width, var(--search-bar-size, 100%));
  padding: var(--search-bar-padding, 0 0.9375rem);
  background: var(--search-bar-background, var(--c-light));
  border-radius: var(--search-bar-border-radius, 1.6875rem);
  &__input {
    position: relative;
    border: var(--search-bar-input-border, none);
    flex-grow: 1;
    background: transparent;
    text-align: var(--search-bar-input-text-align, center);
    outline: none;
    @include placeholder {
      color: var(--search-bar-placeholder-color, var(--c-dark));
      transition: var(--search-bar-placeholder-transition, color 0.2s ease-in);
    }
    &:focus {
      & ~ .sf-search-bar__clear-icon {
        --search-bar-clear-icon-position: absolute;
        --search-bar-clear-icon-opacity: 1;
        --search-bar-clear-icon-padding: 0 0.4rem 0 0;
        --search-bar-clear-icon-right: 0.9375rem;
      }
      @include placeholder {
        color: var(--search-bar-placeholder-color-focus, var(--c-gray));
      }
    }
    &::-webkit-search-cancel-button {
      opacity: 0;
    }
    &::-ms-clear {
      opacity: 0;
    }
  }
  &__clear-icon {
    position: var(--search-bar-clear-icon-position, absolute);
    right: var(--search-bar-clear-icon-right, 0.9375rem);
    padding: var(--search-bar-clear-icon-padding, 0 0.4rem 0 0);
    opacity: var(--search-bar-clear-icon-opacity, 0);
    transition: var(--search-bar-clear-icon-transition, all 0.2s ease-in);
  }
  &__icon{
    display: var(--search-bar-icon-display, block)
  }
  &--secondary {
    --search-bar-background: var(--c-light-variant);
  }
  &--position-right {
    @include iconPosition();
  }
  &--no-icon{
    --search-bar-icon-display: none
  }
  @include for-desktop {
    --search-bar-width: 20rem;
  }
}
