@import "../../helpers";

@mixin placeholder {
  &::-webkit-input-placeholder {
    @content;
  }
  &::-moz-placeholder {
    @content;
  }
  &:-ms-input-placeholder {
    @content;
  }
}
@mixin iconPosition {
  flex-direction: var(--search-bar-icon-flex-direction, row);
  .sf-search-bar__input {
    --search-bar-input-text-align: center;
    &::placeholder {
      text-align: center;
    }
  }
}

.sf-search-bar {
  box-sizing: border-box;
  position: relative;
  display: flex;
  align-items: center;
  height: var(--search-bar-height, var(--search-bar-size, 2.25rem));
  width: var(--search-bar-width, var(--search-bar-size, 100%));
  background: var(--search-bar-background);

  &__icon {
    --icon-size: 1.25rem;
    position: absolute;
    top: 0.3rem;
    right: 0rem;
    display: var(--search-bar-icon-display, block);
  }

  &__input {
    position: relative;
    flex-grow: 1;
    background: transparent;
    text-align: var(--search-bar-input-text-align);
    outline: none;

    @include font(
      --search-bar-font,
      var(--font-normal),
      var(--font-sm),
      1.6,
      var(--font-family-secondary)
    );

    @include border(
      --seach-bar-border, 
      0 0 2px 0,
      solid, 
      var(--c-dark-variant)
    );

    @include placeholder {
      color: var(--search-bar-placeholder-color, var(--c-gray));
      transition: var(--search-bar-placeholder-transition, color 0.2s ease-in);
    }
    &:focus {
      @include placeholder {
        color: var(--search-bar-placeholder-color-focus, transparent);
      }
    }
    &::-webkit-search-cancel-button {
      opacity: 0;
    }
    &::-ms-clear {
      opacity: 0;
    }
  }
  &--position-center {
    @include iconPosition();
  }
  &--no-icon {
    --search-bar-icon-display: none;
  }
  @include for-desktop {
    --search-bar-width: 20rem;
  }
}
