@import "../../helpers";

.sf-select-option {
  display: block;
  box-sizing: border-box;
  padding: var(
    --select-option-padding,
    var(--spacer-xs)
  );
  @include border(--select-option-border, 1px 0 0 0, solid, var(--c-light));
  background: var(--select-option-background);
  color: inherit;
  @include font(
    --select-option-font,
    var(--font-light),
    var(--font-sm),
    1,
    var(--font-family-primary)
  );

  &--is-active {
    --select-option-background: var(--c-light);
  }

  @include for-desktop {
    &:hover {
      --select-option-background: rgba(var(--c-gray-base), 0.1);
    }
  }
}

.sf-select {
  position: relative;
  box-sizing: border-box;
  width: var(--select-width);
  height: var(--select-height);
  color: var(--select-color, var(--c-text));
  cursor: default;

  &__label {
    position: absolute;
    top: var(--select-label-top, 50%);
    left: var(--select-label-left, var(--spacer-2xs));
    color: var(--select-label-color, inherit);
    transform: var(
      --select-label-transform,
      translate3d(0, calc(var(--select-label-top, 50%) * -1), 0)
    );
    transition: var(
      --select-label-transition,
      top 150ms linear,
      font-size 150ms linear
    );
    @include font(
      --select-label-font,
      var(--font-normal),
      var(--font-lg),
      1,
      var(--font-family-secondary)
    );
    opacity: var(--select-label-opacity);

    &::after {
      content: var(--select-label-required);
      color: var(--select-label-color, var(--c-primary));
    }
  }

  &__chevron {
    position: absolute;
    right: var(--spacer-xs);
    top: 50%;
    transform: translate3d(0, -50%, 0);
  }

  &__selected {
    --product-option-font-size: var(--font-lg);
    --select-option-font-size: var(--font-lg);
    box-sizing: border-box;
    display: flex;
    align-items: center;
    padding: var(
      --select-padding,
      var(--spacer-sm) var(--spacer-xs) var(--spacer-xs) var(--spacer-2xs)
    );
    // I know it's look's like magic but we need it now :(
    min-height: calc(
      calc(var(--spacer-sm) + var(--spacer-xs)) + var(--select-label-font-size, var(--font-lg))
    );
    margin: var(--select-margin, 0 0 var(--spacer-xs) 0);
    background: var(--select-background);
    color: inherit;
    @include border(--select-border, 0 0 1px 0, solid, transparent);
  }

  &__dropdown {
    box-sizing: border-box;
    position: var(--select-dropdown-position, fixed);
    top: var(--select-dropdown-top, auto);
    left: 0;
    bottom: var(--select-dropdown-bottom, 0);
    z-index: var(--select-dropdown-z-index, 1);
    width: 100%;
    background: var(--select-dropdown-background, var(--c-white));
    box-shadow: var(
      --select-dropdown-box-shadow,
      0 4px 11px rgba(var(--c-dark-base), 0.1)
    );
  }

  &__options {
    overflow: auto;
    margin: 0;
    padding: 0;
    list-style-type: none;
    &::-webkit-scrollbar {
      width: 0;
    }
  }

  &__error-message {
    --select-border-color: var(--c-danger);
    color: var(--select-error-message-color, var(--c-danger));
    @include font(--select-error-message, var(--font-normal), var(--font-xs), 1, var(--font-family-secondary));
  }

  &__cancel {
    --button-background: var(--c-light);
    --button-color: var(--c-dark-variant);

    &:hover {
      --button-background: var(--c-light);
    }
  }

  &--underlined {
    --select-border-color: var(--c-light);
  }

  &--is-selected {
    --select-label-top: 0;
    --select-label-font-size: var(--font-2xs);
  }

  &--is-active {
    --chevron-color: var(--c-primary);
    --select-label-color: var(--c-text-muted);
    --select-border-color: var(--c-primary);
  }

  &--is-disabled {
    --chevron-color: var(--c-text-disabled);
    --select-border-color: var(--c-text-disabled);
    --select-label-color: var(--c-text-disabled);
  }

  &--is-required {
    --select-label-required: " *";
  }

  &-enter-active {
    animation: var(--select-animation-enter, ssmobile 150ms);
  }

  &-leave-active {
    animation: var(--select-animation-leave, ssmobile 150ms reverse);
  }

  @include for-desktop {
    --select-dropdown-position: absolute;
    --select-dropdown-top: 100%;
    --select-dropdown-bottom: auto;
    --select-animation-enter: ssdesktop 150ms;
    --select-animation-leave: ssdesktop 150ms reverse;
  }
}

@keyframes ssdesktop {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes ssmobile {
  0% {
    transform: translate(0, 100%);
  }
  100% {
    transform: translate(0, 0);
  }
}
