@import "../../helpers";

.sf-steps {
  &__header {
    position: relative;
    width: 100%;
    display: flex;
    box-shadow: 0px 4px 11px rgba(29, 31, 34, 0.1);
  }
  &__step {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    padding: var(--steps-step-padding, var(--spacer-sm) var(--spacer-2xs));
    @include font(
      --step-font,
      var(--font-normal),
      var(--font-sm),
      1.6,
      var(--font-family-secondary)
    );
    color: var(--steps-step-color, var(--c-link));
    flex: 1;
    cursor: var(--steps-step-cursor, pointer);
    &--current,
    &--done {
      --steps-step-color: var(--c-text);
      --steps-step-cursor: default;
      @include font(
        --step-font,
        var(--font-semibold),
        var(--font-sm),
        1.6,
        var(--font-family-secondary)
      );
    }
    &--done {
      --steps-step-cursor: pointer;
    }
    &--disabled {
      --steps-step-cursor: not-allowed;
    }
  }
  &__progress {
    content: "";
    position: absolute;
    left: 0;
    bottom: var(--steps-progress-bottom, -0.09375rem);
    display: block;
    height: var(--steps-progress-height, 0.188rem);
    background: var(--steps-progress-background, var(--c-primary));
    transform-origin: 0 50%;
    transition: var(--steps-progress-transition, transform 150ms ease-in-out);
  }
  &__title {
    text-align: center;
  }
  @include for-desktop {
    --steps-step-color: var(--c-text-muted);
    &__header {
      box-shadow: none;
      @include border(--steps-border, 0 0 0.125rem 0, solid, var(--c-light));
    }
    &__step {
      --steps-step-padding: 0 0 var(--spacer-xs) 0;
      @include font(
        --step-font,
        var(--font-normal),
        var(--font-lg),
        1.6,
        var(--font-family-secondary)
      );
      &--current,
      &--done {
        --steps-step-after-background: var(--c-black);
      }
      &::after {
        content: "";
        position: absolute;
        border-radius: 100%;
        bottom: -0.22rem;
        left: 49%;
        width: 0.375rem;
        height: 0.375rem;
        background: var(--steps-step-after-background, transparent);
      }
    }
    &__progress {
      --steps-progress-background: var(--c-dark);
      --steps-progress-height: 0.125rem;
    }
  }
}
