@import "../../helpers";
.sf-sticky {
  @include for-desktop($breakpoint)  {
    position: var(--sticky-position, sticky);
    top: var(--sticky-top, 0);
    bottom: var(--sticky-bottom, auto);
    &--sticky {
      --sticky-position: fixed;
      --sticky-top: 0;
    }
    &--bound {
      --sticky-position: absolute;
      --sticky-top: auto;
      --sticky-bottom: 0;
    }
  }
}
