@import '../../variables';

:root {
  --steps__active-line-height: .1875rem;
  --steps__active-line-color: var(--c-dark);
  --steps-border: .0625rem solid #f1f2f4;

  --steps__step-font-weight: 500;
  --steps__step-font-size: .75rem;
  --steps__step-font-color: var(--c-gray-variant);
  --steps__step-padding: 1.25rem 0;
  --steps__step-text-transform: uppercase;

  @media screen and (min-width: $desktop-min) {
    --steps__active-line-height: .125rem;
  }
}

.sf-steps {
  &__header {
    position: relative;
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
    border-bottom: var(--steps-border);

    &-step {
      position: relative;
      padding: var(--steps__step-padding);
      font-size: var(--steps__step-font-size);
      color: var(--steps__step-font-color);
      font-weight: var(--steps__step-font-weight);
      text-transform: var(--steps__step-text-transform);
      flex: 1;
      cursor: pointer;

      span {
        position: relative;
        text-align: right;
        display: block;
      }

      &-current {
        color: var(--c-dark);
      }

      &-disabled {
        cursor: not-allowed;
      }
    }
  }

  &__progress {
    content: "";
    position: absolute;
    display: block;
    height: var(--steps__active-line-height);
    bottom: calc(var(--steps__active-line-height) / -2);
    left: 0;
    background-color: var(--steps__active-line-color);
    transform-origin: 0 50%;
    transition: transform 150ms ease-in-out;
  }

  &__content {
    padding: 2.5rem 0 0 0;
  }
}

@media screen and (min-width: $desktop-min) {
  .sf-steps {
    &__content {
      padding: 5rem 0 0 0;
    }

    &__progress {
      bottom: calc(var(--steps__active-line-height) / -2);
    }
  }
}
