// @import "../../helpers";

// .sf-steps {
//   &__header {
//     position: relative;
//     width: 100%;
//     display: flex;
//     flex-flow: var(--steps-flex-flow, row nowrap);
//     justify-content: var(--steps-justify-content, flex-start);
//     align-items: var(--steps-align-items, center);
//     border: var(--steps-border, 1px solid var(--c-light));
//     border-width: var(--steps-border-width, 0 0 1px 0);
//   }
//   &__step {
//     position: relative;
//     padding: var(--steps-step-padding, 1.25rem 0);
//     font: var(
//       --steps-step-font,
//       font(
//         --steps-step-font,
//         500,
//         0.75rem,
//         1.6,
//         var(--body-font-family-primary)
//       )
//     );
//     color: var(--steps-step-color, var(--c-gray-variant));
//     text-transform: var(--steps-step-text-transform, uppercase);
//     flex: 1;
//     cursor: var(--steps-step-cursor, pointer);
//     &--current {
//       --steps-step-color: var(--c-dark);
//     }
//     &--disabled {
//       --steps-step-cursor: not-allowed;
//     }
//   }
//   &__progress {
//     content: "";
//     position: absolute;
//     left: 0;
//     bottom: var(--steps-progress-bottom, -0.09375rem);
//     display: block;
//     height: var(--steps-progress-height, 0.1875rem);
//     background: var(--steps-progress-background, var(--c-dark));
//     transform-origin: 0 50%;
//     transition: var(--steps-progress-transition, transform 150ms ease-in-out);
//   }
//   &__title {
//     position: relative;
//     display: block;
//     text-align: center;
//   }
//   &__content {
//     padding: var(--steps-content-padding, 2.5rem 0 0 0);
//   }
//   @include for-desktop {
//     --steps-progress-height: 0.125rem;
//     --steps-content-padding: 5rem 0 0 0;
//     --steps-progress-bottom: -0.09375rem;
//   }
// }
