@import "../../helpers";
.sf-toast {
  position: var(--toast-position, fixed);
  display: flex;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding: var(--toast-padding, var(--spacer-2xl));
  z-index: var(--toast-z-index, 5);
  pointer-events: none;
  &--top {
    flex-direction: column;
  }
  &--bottom {
    flex-direction: column-reverse;
  }
  &__item {
    display: var(--toast-item-display, inline-flex); ;
    color: var(--toast-item-color, var(--c-white));
    background-color: var(--toast-item-background-color);
    pointer-events: auto;
    padding: var(--toast-item-padding, var(--spacer-xs) var(--spacer-base));
    margin: var(--toast-item-bottom-margin, 0 0 var(--spacer-xs) 0);
    box-shadow: var(
      --toast-item-box-shadow,
      0 4px 11px rgba(var(--c-dark-base), 0.1)
    );
    border-radius: var(--toast-item-border-radius, 5px);
    opacity: var(--toast--item-opacity, 0.8);
    @include font(
      --toast-item-font,
      var(--font-weight--normal),
      var(--font-size--sm),
      1.6,
      var(--font-family--primary)
    );
    @each $color, $map in $colors-map {
      $primary: map-get($map, "primary");
      &.color-#{$color} {
        --toast-item-background-color: #{$primary};
      }
    }
    &--top, &--bottom {
      align-self: center;
    }
    &--top-right, &--bottom-right {
      align-self: flex-end;
    }
    &--top-left, &--bottom-left {
      align-self: flex-start;
    }
  }
  @include for-mobile {
    --toast-padding: 0;
    --toast-border-radius: 0;
    --toast-item-padding: var(--spacer-base);
    --toast-item-display: block;
    &__item {
      text-align: center;
      &--top-right, &--bottom-right, &--top, &--bottom, &--top-left, &--bottom-left {
        align-self: inherit;
      }
    }
  }
}
