// $component__block-property: value;

.sf-image-overlay {
  position: absolute;
  top: 0;
  left: 0;

  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: rgba(29, 31, 34, 0.8);
  color: #FFF;
}
