@import '../../css/variables';

.vsf-banner {
  display: flex;
  flex-direction: column;
  padding: $spacing-big;
  background-size: cover;
  &__subtitle {
    margin-bottom: $spacing-small;
  }
  &__title {
    margin-top: $spacing-small;
    text-transform: uppercase;
  }
  &__description {
    @media ( max-width: $tablet-max ) {
      display: none;
    }
  }
}