on:
  workflow_dispatch:
    inputs:
      generate-changelog:
        description: 'Pick enter for pre-release or exit for production changeset'
        required: true
        default: 'enter'
        type: choice
        options:
          - enter
          - exit

jobs:
  generation-changelog-on-trigger:
    runs-on: ubuntu-latest
    if: ${{ startsWith( github.ref, "refs/heads/v2-release" ) }}
    permissions:
      contents: write
    steps:
      - name: Checkout code
        uses: actions/checkout@v3
      - name: Install Node.js
        uses: actions/setup-node@v3
        with:
          node-version-file: '.node-version'
          cache: 'yarn'
      - name: Install dependencies
        run: yarn --immutable
      - name: Set if trigger is release-candidate or production var
        id: vars
        run: echo "tag=$(echo ${{ inputs.generate-changelog == 'enter' && 'rc' }}" >> $GITHUB_OUTPUT
      - name: Change changeset pre based on trigger output
        run: yarn changeset pre ${{ inputs.generate-changelog }} ${{ steps.vars.outputs.tag }}
        # push commit with file mode for changeset
      - uses: stefanzweifel/git-auto-commit-action@v4
        with:
          commit_message: Auto merge of ".changeset/pre.json" file
          file_pattern: '.changeset/pre.json'
