@import '../../../css/variables';

$modal-background-color                    : $c-white;
$modal-width                               : 430px;
$modal-height                              : auto;
$modal-padding                             : 2.5em 5em;

$modal__overlay-background-color           : $c-black;
$modal__overlay-opacity                    : 0.8;

$modal__title-font-family                  : $heading-font-family;
$modal__title-font-size                    : $body-font-size-desktop;
$modal__subtitle-font-family               : $heading-font-family;
$modal__subtitle-font-size                 : $body-font-size-desktop;

$modal__call-to-action-font-size           : 0.875rem !default;
$modal__call-to-action-background-color    : $c-dark-primary !default;

.sf-modal {
  &__overlay {
    background: $modal__overlay-background-color;
    opacity: $modal__overlay-opacity;
    z-index: 0;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
  &__container {
    display: flex;
    flex-direction: column;
    align-content: space-between;
    box-sizing: border-box;
    background-color: $modal-background-color;
    position: absolute;
    width: $modal-width;
    height: $modal-height;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: $modal-padding;
  }
  &__cross {
    border: none;
    width: 30px;
    height: 30px;
    position: absolute;
    right: 10px;
    top: 10px;
  }
  &__title {
    font-family: $modal__title-font-family;
    font-size: $modal__title-font-size;
  }
  &__subtitle {
    font-family: $modal__subtitle-font-family;
    font-size: $modal__subtitle-font-size;
  }
  &__content {

  }
  &__button {
    font-size: $modal__call-to-action-font-size;
    background-color: $modal__call-to-action-background-color;
    width: 100%;
  }
}        
        
