@import '../../../css/variables';

$modal-background-color                    : $c-white;
$modal-width                               : 430px;
$modal-height                              : auto;
$modal-padding                             : 2.5em 5em;
$modal-border                              : solid 1px rgba($c-black, 0.5);

$modal__overlay-background-color           : $c-black;
$modal__overlay-opacity                    : 0.8;

.sf-modal {
  display: flex;
  justify-content: center;
  align-content: center;
  height: 100%;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: -1;
  &--visible {
    z-index: 0;
  }
  &__overlay {
    background: $modal__overlay-background-color;
    opacity: $modal__overlay-opacity;
    z-index: 0;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
  &__container {
    align-self: center;
    display: flex;
    flex-direction: column;
    align-content: space-between;
    box-sizing: border-box;
    background-color: $modal-background-color;
    position: absolute;
    width: $modal-width;
    height: $modal-height;
    padding: $modal-padding;
    border: $modal-border;
  }
  &__cross {
    border: none;
    width: 30px;
    height: 30px;
    position: absolute;
    right: 20px;
    top: 20px;
    cursor: pointer;
    &:focus {
      outline: none;
    }
    img {
      filter: invert(0.3);
      width: 100%;
    }
  }
}        
        
